.main_container
{
    overflow: hidden;

    width: 100%;

    background-color: #ff5645;
}
.activity_banner_wrapper
{
    overflow: hidden;

    width: 1200px;
    height: 445px;
}
.activity_banner_wrapper img{
    display: block;
    width: 1920px;
    height: 445px;
}
.activity_main_wrapper
{
    position: relative;

    width: 1240px;
    height: 1320px;
    margin: 40px auto 80px;

    border-radius: 15px;
    background: url(../../img/activity/activity_1602_shareorder_bg_1_00000.png) #f8ecca no-repeat;
    background-position: 50% 30%;
    background-size: 85%;
    box-shadow: 5px 5px 80px rgba(0,0,0,.7);
}
.activitydate
{
    font-size: 24px;

    position: absolute;
    top: 83px;
    left: 58%;

    display: inline;

    color: #000;
}
.activitydescribe
{
    font-size: 18px;
    line-height: 32px;

    position: absolute;
    top: 190px;
    right: 170px;

    width: 725px;
}
.activity_main_wrapper .share
{
    position: relative;
    top: 590px;

    width: 670px;
    margin: 0 auto;
}
.share li
{
    display: inline-block;

    width: 115px;
    height: 160px;
    margin: 0 45px;

    text-align: center;
}
.share li a span
{
    display: block;

    width: 115px;
    height: 115px;

    background-image: url(../../img/sprite/socialicon_108_108_00000.png);
}
.share li a label
{
    display: block;

    margin: 10px 0;
}
.share li a:hover
{
    color: red;
}
.share .wechat span
{
    background-position: 0 0;
}
.share .weibo span
{
    background-position: -125px 0;
}
.share .qzone span
{
    background-position: -245px 0;
}
.rules
{
    font-size: 18px;
    line-height: 30px;

    position: relative;
    top: 730px;

    width: 875px;
    margin: 0 auto;
}
.qrcode
{
    position: absolute;
    right: 165px;
    bottom: 150px;

    width: 140px;
    height: 140px;
}
.qrcode img
{
    display: block;

    width: 100%;
    height: 100%;
}
