.main_container{
	width: 100%;
/*	min-width: 1150px;*/
	background-color: #ff5645;
	overflow: hidden;
	background: url(../../img/activity/activity_1603_bg_1_00000.jpg);
	background-position:center;
	background-size: 100%;
	background-repeat: no-repeat;
}
.activityrules{
	margin: 33rem auto 0;
	width: 31rem;
}
.activitymustknow{
	margin: 6.5rem auto 0;
	width: 31rem;
}
.activitylist li{
	display: block;
	margin: 0.4rem 0;
	overflow: hidden;
}
.activitylist span{
	float: left;
	margin: 0 0.5rem 0 0;
	width: 1rem;
	height: 1rem;
	line-height: 1rem;
	text-align: center;
	border-radius: 50%;
	background-color: #f7d96f;
	font-size: 0.6rem;
}
.activitylist p{
	float: left;
	width: 29rem;
	line-height: 1.1rem;
	font-size: 0.7rem;
	color: #efefef;
	position: relative;
	bottom: 0.2rem;
}