.main_container
{
    position: relative;

    overflow: hidden;

    width: 100%;
    height: 59rem;

    background: url(../../img/m/activity/activity_1603_bg_1_00000.jpg);
    background-color: #ff5645;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.activityrules
{
    width: 13rem;
    height: 16rem;
    margin: 0 auto 0;
}
.activitymustknow
{
    position: relative;

    width: 100%;
    margin: 6rem 0 0 0;
/*	top: 6rem;*/
}
.activitymustknow ul
{
    width: 13rem;
    margin: 0 auto;
}
.activitylist li
{
    display: block;
    overflow: hidden;

    margin: .4rem 0;
}
.activitylist span
{
    font-size: .5rem;
    line-height: .6rem;

    float: left;

    width: .6rem;
    height: .6rem;
    margin: 0 .5rem 0 0;

    text-align: center;

    border-radius: 50%;
    background-color: #f7d96f;
}
.activityrules .activitylist span
{
    color: #21b6ba;
}
.activitymustknow .activitylist span
{
    color: #addbdb;
}

.activityprocedure
{
    position: relative;

    width: 15rem;
    height: 7.6rem;
    margin: 11rem auto 0;
}
.activityprocedure ul
{
    width: 100%;
    height: 100%;
}
.activityprocedure li
{
    font-size: .6rem;
    line-height: .6rem;

    position: absolute;

    display: inline-block;

    color: #25b0bf;
}
.activitylist p
{
    font-size: .6rem;
    line-height: .8rem;

    position: relative;

    float: left;

    width: 11rem;

    word-break: break-all;

    color: #efefef;
}
.activityprocedure .step_1
{
    top: 3rem;
    left: .5rem;
}
.activityprocedure .step_2
{
    position: relative;
    bottom: .3rem;
    left: 3rem;

    width: 4.2rem;
}
.activityprocedure .step_3
{
    top: 3rem;
    left: 6rem;
}
.activityprocedure .step_4
{
    top: 0;
    left: 9rem;
}
.activityprocedure .step_5
{
    top: 3rem;
    left: 11.4rem;
}
.qrcode
{
    width: 100%;
}
.qrcode
{
    display: block;

    width: 3rem;
    height: 3rem;
    margin: 0 auto;
}
