.main_container
{
    overflow: hidden;

    width: 100%;

    background-color: #ff5645;
}
.activity_main_wrapper
{
    position: relative;

    width: 100%;
    height: 56rem;
    margin: 0 auto;

    background-image: url(../../img/m/activity/activity_1692_bg_1_00000.png);
    background-repeat: no-repeat;
    background-position: 50% 1%;
    background-size: 92%;
}
.activity_main_wrapper h5
{
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.4rem;

    position: absolute;

    width: 100%;
    height: 1.4rem;

    text-align: center;

    color: #fff;
}
.title_activitydate
{
    top: 1.6rem;
}
.title_share
{
    top: 17.2rem;
}
.title_rules
{
    top: 27.4rem;
}
.activity_banner_wrapper
{
    overflow: hidden;

    width: 100%;
}
.activity_banner_wrapper img
{
    width: 100%;
}

.activitydate
{
    position: absolute;
    top: 3.5rem;

    width: 100%;
}
.activitydate p
{
    font-size: .8rem;
    font-weight: bold;

    display: block;

    width: 100%;

    text-align: center;

    color: #000;
}
.activitydescribe
{
    font-size: .8rem;
    line-height: 1.1rem;

    position: relative;
    top: 6.5rem;

    width: 76%;
    margin: 0 auto;
}
.share
{
    position: relative;
    top: 12.5rem;

    width: 80%;
    margin: 0 auto;
}
.share li
{
    display: inline-block;

    width: 4rem;
    height: 5rem;
    margin: 0 .5rem;

    text-align: center;
}
.share li a span
{
    display: block;

    width: 3.5rem;
    height: 3.2rem;
    margin: 0 auto;

    background-image: url(../../img/m/sprite/socialicon_108_108_00000.png);
    background-size: 10rem;
}
.share li a label
{
    font-size: .7rem;

    display: block;

    margin: 10px 0;
}
.share li a:hover
{
    color: red;
}
.share .wechat span
{
    background-position: 0 0;
}
.share .weibo span
{
    background-position: -3.3rem 0;
}
.share .qzone span
{
    background-position: -6.6rem 0;
}
.rules
{
    font-size: .7rem;
    line-height: 1.2rem;

    position: relative;
    top: 17rem;

    width: 80%;
    margin: 0 auto;
}
.qrcode
{
    position: absolute;
    bottom: 3.5rem;

    width: 100%;
    height: 2rem;
    margin: 0 auto 3rem;
}
.qrcode img
{
    display: block;

    width: 5rem;
    height: 5rem;
    margin: 0 auto;
}
