/*
xww add
*/


/*popup div*/

.popupDiv {
	/* width: 860px; */
	position: absolute;
	z-index: 1201;
	top: 100px;
	left: 50%;
	margin-left: -430px;
	background: #fafafa;
	border-radius: 5px;
	box-shadow: 1px 5px 5px #1b1a1a;
	width: 860px;
}


/*popup window*/

.popupWin {
	/*position: fixed;*/
	position: absolute;
	width: 100%;
	height: 100%;
	padding-top: 300px;
	z-index: 1201
}

.popupShade {
	position: fixed;
	z-index: 11;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #000;
	filter: Alpha(Opacity=80);
	/* IE */
	-moz-opacity: 0.8;
	/* Moz + FF */
	opacity: 0.8;
	z-index: 1200;
}

.loadingimg {
	position: fixed;
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 300px;
	z-index: 10003;
}

.loadingimg img {
	display: inline-block;
	margin: 30% 0 0 0;
}

.loadinglayer {
	background: gray;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 7;
	opacity: 0.5;
	z-index: 10002;
	filter: alpha(opacity=50);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}

.loadingimg_roundborder {
	display: block;
	margin: 0 auto;
	width: 180px;
	height: 180px;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 0 0 30px #fff;
	border-radius: 50%;
}

.loadingimg_roundborder label {
	display: block;
	font-size: 14px;
	color: #333;
}

.shade {
	position: fixed;
	z-index: 99;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #000;
	filter: Alpha(Opacity=80);
	/* IE */
	-moz-opacity: 0.8;
	/* Moz + FF */
	opacity: 0.8;
}

.stepbox {
	position: absolute;
	top: 200px;
	left: 50%;
	z-index: 100;
	border: 1px solid #dedede;
	border-radius: 5px;
	box-shadow: 1px 1px 5px #6d6d6d;
	background: #fafafa;
	padding: 20px;
}

.login_close {
	cursor: pointer;
	float: right;
	right: 35px;
	position: relative;
	top: 0px;
}

.alert_close {
	cursor: pointer;
	float: right;
	right: -15px;
	position: relative;
	top: -15px;
}

/* 10.10 add QQ online server */

.server_online_main_im {
	position: fixed;
	right: 0;
	top: 50%;
	z-index: 99999;
	/*width: 110px;
	height: 250px;*/
}

.server_online_main_im .qq_a {
	display: block;
	width: 106px;
	height: 116px;
	font-size: 14px;
	color: #0484cd;
	text-align: center;
	position: relative;
}

.server_online_main_im .qq_a span {
	bottom: 5px;
	position: absolute;
	width: 90px;
	left: 10px;
}

.server_online_main_im .qq_hover_c {
	width: 70px;
	height: 70px;
	border-radius: 35px;
	position: absolute;
	left: 18px;
	top: 10px;
	overflow: hidden;
	z-index: 9;
}

.server_online_main_im .qq_container {
	z-index: 99;
	position: absolute;
	width: 109px;
	height: 118px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: 1px solid #dddddd;
	background: url(../img/qqserver/qq-icon-bg.png) no-repeat center 8px;
}

.server_online_main_im .img_qq {
	max-width: 60px;
	display: block;
	position: absolute;
	left: 6px;
	top: 3px;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.server_online_main_im .im_qq:hover .img_qq {
	max-width: 70px;
	left: 1px;
	top: 8px;
	position: absolute;
}

.server_online_main_im .im_main {
	border: 1px solid #62b651;
	border-radius: 10px;
	background: #f9fafb;
	display: none;
}

.server_online_main_im .im_main .im_tel {
	text-align: center;
	width: 109px;
	/*height: 125px;*/
	border-bottom: 1px solid #ddd;
}

.server_online_main_im .im_main .im_tel ul li {
	font-weight: bold;
	font-size: 12px;
	border-bottom: 1px dashed #ddd;
}

.server_online_main_im .im_main .im_tel ul li:last-child {
	border: none;
}

.server_online_main_im .im_main .im_tel ul li h4 {
	font-weight: bold;
	line-height: 30px;
}

.server_online_main_im .im_main .im_tel .tel_num,
.server_online_main_im .im_main .im_tel .qq_num a {
	font-family: Arial;
	font-weight: bold;
	color: #62b651;
}

.server_online_main_im .im_main .im_tel h4 a {
	color: #333;
}

.server_online_main_im .im_main .im_tel .tel_num:hover,
.server_online_main_im .im_main .im_tel .qq_num a:hover,
.server_online_main_im .im_main .im_tel h4 a:hover {
	color: #e66d15;
}

.server_online_main_im .im_main .im_footer {
	position: relative;
}

.server_online_main_im .im_main .weixing_container {
	width: 55px;
	height: 47px;
	border-right: 1px solid #dddddd;
	background: #f5f5f5;
	border-bottom-left-radius: 10px;
	background: url(../img/qqserver/weixing-icon.png) no-repeat center center;
	float: left;
}

.server_online_main_im .im_main .weixing_show {
	width: 112px;
	background: #ffffff;
	border-radius: 10px;
	border: 1px solid #62b651;
	position: absolute;
	left: -125px;
	top: -112px;
	box-sizing: border-box;
}

.server_online_main_im .im_main .weixing_show .weixing_arrow {
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent transparent transparent #ffffff;
	border-width: 6px;
	left: 110px;
	top: 125px;
	position: absolute;
	z-index: 2;
}

.server_online_main_im .im_main .weixing_show .weixing_arrow_big {
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent transparent transparent #62b651;
	border-width: 8px;
	left: 110px;
	top: 123px;
	position: absolute;
}

.server_online_main_im .im_main .weixing_show .weixing_ma {
	width: 104px;
	height: 103px;
	padding-left: 5px;
	padding-top: 5px;
	box-sizing: border-box;
}

.server_online_main_im .im_main .weixing_show .weixing_txt {
	position: relative;
	width: 100px;
	margin: 0 auto 10px;
	text-align: center;
}

.server_online_main_im .im_main .go_top {
	width: 50px;
	height: 47px;
	background: #f5f5f5;
	border-bottom-right-radius: 10px;
	background: url(../img/qqserver/toTop-icon.png) no-repeat center center;
	float: right;
}

.server_online_main_im .im_main .go_top a {
	display: block;
	width: 52px;
	height: 47px;
}

.server_online_main_im .close_im {
	position: absolute;
	right: 10px;
	top: -12px;
	z-index: 100;
	width: 24px;
	height: 24px;
}

.server_online_main_im .close_im a {
	display: block;
	width: 24px;
	height: 24px;
	background: url(../img/qqserver/close_im.png) no-repeat left top;
}

.server_online_main_im .close_im a:hover {
	text-decoration: none;
}

.server_online_main_im .open_im {
	position: absolute;
	right: 0;
	padding: 14px 7px;
	cursor: pointer;
	border-top-left-radius: 4px;
	/*border-bottom-left-radius: 4px;*/
	background: #70ca5d;
}

.server_online_main_im .open_im div {
	width: 26px;
	height: 132px;
	background: #70ca5d url(../img/qqserver/open_im.png) no-repeat 0 0;
}

.server_online_main_im .open_im:hover div {
	background: #70ca5d url(../img/qqserver/open_im.png) no-repeat -27px 0;
}