@charset "utf-8";
/*~~~~~~~~~~login~~~~~~~~~~*/

.login_body {
	background: #FFF url('../img/index_GB.jpg') center fixed;
	font-family: Microsoft YaHei, Verdana, sans-serif, 宋体;
	/*	min-height:650px;*/
	min-width: 1150px;
}

.login_main_container {
	width: 640px;
	height: 100%;
	overflow: hidden;
	background-color: #fff;
	border: 1px solid #d0d1d2;
	margin: 7em auto;
}

.login_main_container h2 {
	font-size: 24px;
	margin: 27px
}

.login_from {
	overflow: hidden;
}

.login_from .lf_left {
	width: 221px;
	float: left;
	background-color: #fff;
	margin-left: 25px
}

.login_from .lf_left a{
	display: block;
	width: 220px;
	height: 45px;
}

.login_from .lf_left a span{
	float: left;
	margin: 0 10px 0 20px;
	width: 30px;
	height: 45px;
	line-height: 45px;
	font-size: 25px;
	color: #fff;
}

.login_from .lf_left a label{
	float: left;
	height: 45px;
	line-height: 49px;
	color: #fff;
	font-size: 16px;
	font-weight: lighter;
	font-family: 'helvetica';
}
.login_from .weixin{
	background-color: #019916;
}

.login_from .weibo{
	background-color: #d73d32;
}

.login_from .qq{
	background-color: #00adef;
}


.login_from .lf_left a:before{
	position: absolute;
}

.login_from .lf_left ul li {
	margin-bottom: 5px;
}

.login_from .lf_middle {
	width: 1px;
	height: 148px;
	float: left;
	background-color: #dddddd;
	margin: 0 29px;
}

.login_from .lf_right {
	width: 318px;
	float: left;
}

.login_from .lf_center {
	margin: 0 177px;
}

.login_from .lf_right ul li {
	margin-bottom: 9px;
}

.login_from .lf_right form input.login_input {
	padding: 12px 10px 11px !important;
	width: 100%;
	max-width: none !important;
	display: inline-block;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 3px #ddd;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 2px !important;
	resize: none;
	font-size: 16px;
	margin-bottom: 9px;
	color: #333;
}

.login_from .lf_right form .login_btn {
	width: 100%;
	height: 43px;
	background-color: #6ba72b!important;
	line-height: 43px;
	text-align: center;
	border-radius: 2px!important;
	font-size: 16px;
	border: none;
	color: #fff;
	font-family: Microsoft YaHei, Verdana, sans-serif, 宋体;
	cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
}

.login_from .lf_right form .login_btn:hover {
	color: #333;
}

.login_from .lf_right form .login_btn a {
	color: #fff;
	display: inline-block;
	width: 100%;
}

.login_from .lf_right form .login_btn a:hover {
	color: #333;
}

.login_from .lf_right form .login_btn a:active {
	color: #557e1f;
}

.lf_des {
	margin-top: 30px;
	padding: 20px 25px;
	background: #f7f7f7;
	font-size: 13px;
	line-height: 1.7;
	border-top: 1px solid #dddddd;
}

.lf_des a {
	color: #0a88d3;
	text-decoration: none;
	cursor: pointer;
}


/*~~~~~~~~~~bindandlogin~~~~~~~~~~*/

.sso_main_container {
	width: 100%;
	height: 760px;
	background: url(../img/bm_bg_00000.jpg);
	overflow: hidden;
    min-width: 1150px;
}

.sso_bindandlogin_wrapper {
	margin: 60px auto;
	padding: 15px;
	width: 1170px;
	height: 560px;
	background-color: #fff;
	position: relative;
}

.sso_header_wrapper h5 {
	margin: 0 0 10px 0;
	padding: 0 0 0 16px;
}

.sso_bindandlogin_wrapper .dash_92c153 {
	width: 12%;
}

.sso_dialogue_wrapper {
	margin: 0 auto;
	width: 550px;
	position: relative;
	right: 0;
}

.sso_dialogue_wrapper.active {
	right: 240px;
	-webkit-transition: right 0.5s;
	-moz-transition: right 0.5s;
	-ms-transition: right 0.5s;
}

.sso_avatar_item {
	display: block;
	margin: 80px auto 50px;
	width: 100px;
	height: 100px;
	position: relative;
}

.sso_avatar_item img {
	width: 100%;
	border-radius: 50%;
	overflow: hidden;
}

.sso_avatar_item span {
	display: block;
	width: 45px;
	height: 45px;
	line-height: 45px;
	text-align: center;
/*	background-image: url(../img/sprite/imgsprite_yb3_wbl_00000.png);*/
	position: absolute;
	bottom: -6px;
	right: -10px;
	border-radius: 50%;
	font-size: 28px;
	color: #fff;
}

.sso_avatar_item .wechat {
	background-position: -210px -345px;
	background-color: #229916;
}

.sso_avatar_item .qq {
	background-position: -255px -345px;
	background-color: #26adee;
}

.sso_avatar_item .weibo {
	background-position: -300px -345px;
	background-color: #fa414e;
}

.sso_nickname_item {
	display: block;
	margin: 0 0 65px 0;
	width: 100%;
	text-align: center;
	font-size: 16px;
}

.sso_btn_wrapper {
	width: 100%;
}

.sso_btn_wrapper a {
	display: block;
	margin: 40px auto;
	width: 335px;
	height: 40px;
	border: 1px solid #7bba33;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
}
.sso_hollow_btn:hover{
	border: 1px solid #B5DE87;
}
.sso_hollow_btn:active{
	border: 1px solid #B5DE87;
	background-color: #B5DE87;
	color: #fff;
}
.sso_solid_btn:active{
	background-color: #5D8C26;
}

.sso_solid_btn {
	background-color: #7bba33;
	color: #fff;
}

.sso_hollow_btn {
	color: #559c10;
}

.sso_login_wrapper {
	width: 550px;
	position: absolute;
	top: 40px;
	right: 0;
	opacity: 0;
	z-index: -1;
}

.sso_login_wrapper.active {
	z-index: 0;
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-ms-transition: opacity 0.5s;
}

.sso_login_wrapper ul {
	margin: 160px auto 0;
	width: 510px;
}

.sso_login_wrapper ul li {
	margin: 50px 0;
	height: 50px;
}

.sso_login_wrapper ul li label {
	display: inline-block;
	margin: 0 15px 0 0;
	vertical-align: middle;
	font-size: 14px;
}

.sso_login_wrapper ul li>div {
	display: inline-block;
	width: 340px;
	height: 100%;
	position: relative;
}

.sso_login_wrapper ul li input {
	display: block;
	padding: 0 0 0 40px;
	width: 295px;
	height: 100%;
	font-size: 15px;
	background-color: #faffbd;
	border: 1px solid #ccc;
	font-family: 'Microsoft yahei'
}

.sso_login_wrapper ul li input::-webkit-input-placeholder {
	color: #555;
}

.sso_login_wrapper ul li input::-moz-input-placeholder {
	color: #555;
}

.sso_login_wrapper ul li input::-ms-input-placeholder {
	color: #555;
}

.sso_login_wrapper ul li div span {
	display: block;
	position: absolute;
	left: 15px;
	top: 17px;
	font-size: 18px;
	color: #999;
}


/*~~~~~~~~~~resetpassword~~~~~~~~~~*/

.reset_password_container {
	padding: 50px 0 250px;
	background: url("../img/index_GB.jpg") repeat center center;
	min-width: 1150px;
}

.reset_password {
	position: relative;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 15px 20px;
	width: 1080px;
	height: 570px;
	background-color: #fff;
	border: 1px solid #d0d1d2;
}

.reset_password .bread_nav {
	padding-bottom: 15px;
	color: #3C3C3C;
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px solid #d0d1d2;
}

.reset_password .close {
	position: absolute;
	right: 15px;
	top: 0;
	color: #3c3c3c;
	font-size: 30px;
}

.reset_password .close:hover,
.reset_password .close:focus {
	color: #a8d361;
	outline: none;
}

.reset_nav {
	margin: 40px auto;
	width: 690px;
	height: 34px;
}

.reset_nav .nav li {
	box-sizing: border-box;
	display: inline-block;
	float: left;
	padding-top: 6px;
	height: 34px;
	width: 230px;
	text-align: center;
	font-size: 14px;
	color: #aaa;
	background-color: #eee;
}

.reset_nav .nav li div {
	display: inline-block;
	margin-right: 5px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #aaa;
	color: #fff;
	vertical-align: middle;
}

.nav li.current {
	color: #609c01;
}

.nav li.current > div {
	background-color: #a0d350;
}

.nav li.current.special_bg {
	background: #dcefbe url("../img/access/right_green_arrow.jpg") no-repeat right center;
}

.nav li.gray_bg {
	background: #eee url("../img/access/right_gray_arrow.jpg") no-repeat right center;
}

.nav li.gray_arrow {
	background: #eee url("../img/access/right_gray_arrow1.jpg") no-repeat right center;
}

.nav li.finished {
	background-color: #dcefbe;
}

.reset_password .form_group {
	width: 210px;
	margin: 0 415px;
}

.reset_password .form_group input {
	border: 1px solid #ccc;
	border-radius: 2px;
	box-shadow: 0 1px 3px #ddd inset;
	box-sizing: border-box;
	display: inline-block;
	font-size: 14px;
	color: #919191;
	max-width: none;
	padding: 12px 10px 11px;
	resize: none;
	width: 205px;
	height: 45px;
}

.reset_password .form_group input#auth_code {
	width: 65px;
	height: 40px;
}

.reset_password .form_group input:focus {
	color: #3C3C3C;
}

.reset_password .btn {
	width: 110px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	border-radius: 4px;
}

.reset_password .next,
.reset_password .success {
	margin: 40px auto;
	background-color: #a0d350;
	color: #fff;
	border: 1px solid #6ea11f;
}

.reset_password .next:hover {
	background-color: #e7b54b;
	border: 1px solid #e9a81d;
}

.reset_password .next:active {
	color: #a97913;
}

.reset_password .success:hover {
	background-color: #e7b54b;
	border: 1px solid #e9a81d;
}

.reset_password .success:active {
	color: #a97913;
}

.mail_check {
	display: none;
}

.mobile_check,
.mail_check {
	margin: 0 400px 10px;
	width: 335px;
	font-size: 14px;
}

.mobile_check li,
.mail_check li {
	height: 40px;
}

li.method {
	font-weight: bold;
}

.form_group.inline {
	width: 335px;
}

.form_group.inline form {
	display: inline-block;
	margin-right: 12px;
}

.send_identifying_code {
	display: inline-block;
	font-size: 12px;
	background-color: #eee;
	color: #919191;
	height: 40px !important;
}

.reset_password .gray_line {
	margin: 30px auto;
	width: 100%;
	border-top: 1px solid #d0d1d2;
}

.change_method {
	margin-left: 15px;
}

.change_method a {
	text-decoration: underline;
}

.change_method a:focus {
	outline: none;
}

.set_new_password {
	position: relative;
	margin: 0 auto;
	width: 335px;
	font-size: 14px;
}

.set_new_password .form_group {
	margin: 0 auto;
	width: 100%;
}

.form_group .input_inline {
	margin: 25px 0;
}

.form_group .input_inline label {
	display: inline-block;
}

.form_group .input_inline input {
	display: inline-block;
}

.set_new_password .help_block {
	color: #919191;
	font-size: 12px;
	left: 290px;
	position: absolute;
	top: 50px;
	width: 250px;
}

.reset_password a:focus {
	outline: none;
}

.success_info {
	text-align: center;
	height: 35px;
	line-height: 35px;
}

.success_info a {
	color: #6ea11f;
	text-decoration: underline;
}

.success_info img {
	display: inline-block;
	margin-right: 10px;
	vertical-align: middle;
}


/*~~~~~~~~~~404 500~~~~~~~~~~*/

.error_con {
	width: 900px;
	overflow: hidden;
	background-color: #fff;
	border: 1px solid #d0d1d2;
	margin: 50px auto;
}

.error_con h3 {
	background-color: #a0d350;
	height: 40px;
	line-height: 40px;
	color: #fff;
}

.error_con h3 span {
	margin-left: 20px;
}

.error_main {
	overflow: hidden;
	width: 700px;
	margin: 50px auto;
}

.error_main .error_right {
	float: left;
	width: 220px;
	height: 140px;
	background: url('../img/access/404_bg.jpg') no-repeat;
	margin-top: 40px;
}

.error_main .error_right_500 {
	float: left;
	width: 220px;
	height: 140px;
	background: url('../img/access/505_bg.jpg') no-repeat;
	margin-top: 40px;
}

.error_main .error_middle {
	float: left;
	height: 225px;
	width: 1px;
	background-color: #a0d350;
	margin: 0 50px;
}

.error_main .error_left {
	float: left;
	font-size: 16px;
	color: #333;
	line-height: 45px;
	max-width: 360px;
}

.error_main .error_left p {
	font-size: 12px;
	line-height: 20px;
}

.error_main .error_left h6 {
	font-size: 24px;
	color: #a0d350;
}

.error_main .error_left p a {
	color: #a0d350;
}
