@charset 'utf-8';
.left_content_wrapper
{
    float: left;

    width: 19%;
    margin: 20px 0 0 15px;
}

.right_content_wrapper
{
    float: right;

    width: 79%;
    margin: 20px 0 0 0;
}

.nav_wrapper li a:hover
{
    border-bottom: 4px solid #2790b2;
}

.agb_banner_wrapper
{
    position: relative;

    overflow: hidden;

    width: 100%;
    height: 320px;
/*	min-width: 1200px;*/
}

.agb_banner_wrapper p
{
    font-size: 24px;

    position: relative;
    z-index: 1;

    padding: 18px 0 22px 0;

    text-align: center;

    color: #fff;
}

.agb_banner_wrapper p b
{
    font-size: 1.2em;
}

.agb_banner_wrapper a
{
    position: relative;
    z-index: 1;
}

.agb_banner_wrapper .sentence_2
{
    font-size: 17px;

    opacity: .8;
}

.agb_banner_wrapper .customize
{
    font-size: 15px;
    line-height: 30px;

    display: block;

    width: 140px;
    height: 30px;
    margin: 25px auto;

    text-align: center;

    color: #fff;
    background: #94a520;
}

.agb_bannermenu_wrapper
{
    position: relative;
    z-index: 1;

    width: 540px;
    height: 47px;
    margin: 0 auto;
    padding: 0 110px;

    background: rgba(255, 255, 255, .8);
}

.agb_bannermenu_wrapper li
{
    float: left;

    margin: 0 30px;
    padding: 10px 15px;
}

.agb_bannermenu_wrapper li a
{
    font-size: 18px;

    color: #77706d;
}

.agb_bannermenu_wrapper .active
{
    color: #d95151;
    border-bottom: 3px solid #d95151;
}

.agb_bannermenu_wrapper .active a
{
    color: #d95151;
}

.agb_bannermain_wrapper
{
    position: absolute;
    top: 0;

    width: 100%;
    padding: 50px 0 0 0;
}

.agb_bannermain_wrapper li,
.agb_bannermain_wrapper li img
{
    position: absolute;
    z-index: -1;
    top: 0;

    display: block;
}

.agb_bannermain_wrapper li
{
    width: 100%;
    padding: 90px 0 0 0;
}

.agb_bannermain_wrapper .active
{
    z-index: 0;
}

.agb_banner_mask
{
    position: absolute;
    top: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, .5);
}

.agb_banner_mask:after
{
    display: block;
    clear: both;

    content: '';
}

/*photo book list banner slide*/
.photo_banner_slide
{
    position: relative;

    width: 100%;
    min-width: 1200px;
    height: 320px;
}

.photo_banner_slide ul li > div
{
    position: relative;

    width: 100%;
    height: 320px;
}

.photo_banner_slide .swiper-button-prev, .photo_banner_slide .swiper-button-next
{
    position: absolute;
    top: 50%;

    width: 50px;
    height: 50px;

    background: url('../img/index/banner_slide_arrows.png') no-repeat;
}

.photo_banner_slide .swiper-button-prev
{
    left: 5%;

    background-position: 0 0;
}

.photo_banner_slide .swiper-button-prev:hover
{
    left: 5%;

    background-position: 0 -50px;
}

.photo_banner_slide .swiper-button-next
{
    right: 5%;

    background-position: -50px 0;
}

.photo_banner_slide .swiper-button-next:hover
{
    right: 5%;

    background-position: -50px -50px;
}

.photo_banner_slide .swiper-pagination-bullet-active
{
    opacity: 1;
    background: #6eb362;
}

/*~~~~~~~~~~mian_container~~~~~~~~~~*/

.mian_container
{
    width: 100%;
    min-width: 1200px;
}

.filter_item
{
    width: 90%;
    padding: 4%;

    background: #fff;
}

.filter_item:after
{
    display: block;
    clear: both;

    content: '';
}

.module_title_item h5
{
    font-size: 18px;
    font-weight: bolder;
    font-weight: lighter;

    margin: 0 0 10px 0;
    padding: 5px 0 0 10px;

    color: #787878;
}

.module_title_item span
{
    float: left;

    width: 30px;
    height: 30px;

    background: url('../img/sprite/imgsprite_yb3_wbl_00000.png');
}

.module_title_item .filterbyclass_icon
{
    background-position: 3px -43px;
}

.module_title_item .filterbystyle_icon
{
    background-position: -30px -45px;
}

.module_title_item .agbmain_icon
{
    background-position: -63px -46px;
}

.filter_item ul
{
    overflow: auto;

    margin: 15px 0;
}

.filter_item ul .active
{
    color: #fff;
    border: 1px solid #92c153;
    background: #92c153;
}

.filter_item ul .active:hover
{
    color: #fff;
}

/*.filter_item ul li
{
		float: left;
}*/

.filter_item ul li a
{
    font-size: 15px;

    display: block;
    float: left;

    min-width: 5em;
    margin: 0 0 2% 2%;
    padding: 1% 2%;

    text-align: center;

    color: #787878;
    border: 1px solid #c3c3c3;
    border-radius: 5px;
}

.filter_item ul li a:hover
{
    color: #92c153;
    border: 1px solid #92c153;
}

.agbcover_wrapper
{
    position: relative;

    overflow: auto;

	/*min-height: 800px;*/
    min-height: 900px;
    padding: 20px;

    background: #fff;
}

.agbcover_wrapper ul
{
    margin: 0 0 4em 0;
}

.agbcover_wrapper ul li
{
    position: relative;

    float: left;

    width: 168px;
    margin: 4% 0 0 0;
}

.agbcover_wrapper .bookcover
{
    position: relative;

    display: block;

    width: 123px;
    height: 180px;
    margin: 0 auto;

    border-radius: 5px;
    background: #868686;
}

.agbcover_wrapper .bookcover img
{
    width: 100%;
    height: 100%;

    transition: all .3s linear;
    -ms-transform: rotateY(0deg);
        transform: rotateY(0deg);
    -ms-transform-origin: 0 0;
        transform-origin: 0 0;

    border-radius: 5px;
}

.agbcover_wrapper .bookcover:hover img
{
    transform: rotateY(-20deg);
    -ms-transform-origin: 0 0;
        transform-origin: 0 0;
}

.agbcover_wrapper .bookcover span
{
    line-height: 30px;

    position: absolute;
    z-index: 1;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    border-radius: 0 20px 20px 0;
    background: url(../img/autographbook_bg.png);
}

.agbcover_wrapper .bookcover label
{
    display: block;

    width: 100%;
    height: 5px;
}

.agbcover_wrapper label
{
    font-size: 20px;

    margin: 5px 0;

    color: #5b5b5b;
}

.agbcover_wrapper .agbcover_title
{
    font-size: 14px;
    font-weight: lighter;

    display: block;

    width: 100%;
    margin: 10px 0 5px;

    cursor: pointer;
    text-align: center;

    color: #000;
}

.agbcover_wrapper .agbcover_title:hover
{
    text-decoration: underline;
}

.agbcover_wrapper .agbcover_title:before
{
    clear: both;

    content: '《';
}

.agbcover_wrapper .agbcover_title:after
{
    clear: both;

    content: '》';
}

.agbcover_yearbook_item .bookcover span
{
    background: rgba(1, 163, 59, .5);
}

.agbcover_yearbook_item .bookcover label
{
    background: #00a23a;
}

.agbcover_yearbook_item .agbcover_title
{
    color: #01a33b;
}

.agbcover_classreunion_item .bookcover span
{
    background: rgba(0, 161, 190, .5);
}

.agbcover_classreunion_item .bookcover label
{
    background: #00a1be;
}

.agbcover_classreunion_item .agbcover_title
{
    color: #00a1be;
}

.agbcover_almanac_item .bookcover span
{
    background: rgba(255, 67, 56, .5);
}

.agbcover_almanac_item .bookcover label
{
    background: #ff4338;
}

.agbcover_almanac_item .agbcover_title
{
    color: #ff4338;
}

.agbcover_picturebook_item .bookcover span
{
    background: rgba(247, 168, 0, .5);
}

.agbcover_picturebook_item .bookcover label
{
    background: #f7a800;
}

.agbcover_picturebook_item .agbcover_title
{
    color: #f7a800;
}

.agbcover_comesfrom
{
    font-size: .8em;

    position: absolute;
    left: -1em;

    display: block;

    width: 1em;
    margin: 60px 0 0 0;
}

.agbcover_price span
{
    margin: 0 0 0 20px;

    color: #888;
}

.beginproduce
{
    font-size: 12px;

    display: block;

    width: 88px;
    margin: 10px auto;
    padding: 5px;

    text-align: center;

    color: #fff;
    background: #92c153 none repeat scroll 0 0;
}

.beginproduce:hover
{
    background: #92c000;
}

.agbcover_wrapper ul:after
{
    display: block;
    clear: both;

    content: '';
}

.agbcover_loadmore
{
    bottom: 5%;

    height: 60px;

    text-align: center;
}

.agbcover_loadmore a
{
    line-height: 30px;

    display: block;

    width: 10em;
    margin: 10px auto 5px;

    color: #000;
    border-radius: 5px;
}

.agbcover_loadmore span
{
    display: block;

    width: 20px;
    height: 30px;
    margin: 0 auto;

    background: url(../img/sprite/imgsprite_yb3_wbl_00000.png) -3px -75px;
}

.agbcover_loadmore a:hover
{
    color: #222;
}

.agbcover_loadmore a:active
{
    color: #555;
    box-shadow: 2px 2px 6px #eee inset;
}

.left_content_wrapper .filter_style
{
    background: #f5f5f5;
}

.left_content_wrapper .filter_style .filter_item
{
    box-sizing: border-box;
    width: 100%;
    padding: 0;

    border: 1px solid #d4d4d4;
    background: #fff;
}

.filter_style .module_title_list h5
{
    font-size: 16px;
    line-height: 35px;

    height: 35px;
    padding: 0 20px;

    color: #fff;
    background: #92c153;
}

.filter_style .filter_item ul
{
    overflow: hidden;

    margin: 0;
}

.filter_style .filter_item ul li
{
    line-height: 35px;

    display: block;
    float: none;

    height: 36px;
}

.filter_style .filter_item ul li a
{
    font-size: 14px;

    display: block;
    float: none;

    margin: 0;
    padding: 0 20px;

    text-align: left;

    color: #333;
    border: none;
    border-bottom: 1px solid #f2f2f2;
    border-radius: 0;
}

.filter_style .filter_item ul li a i
{
    display: inline-block;

    width: 16px;
    margin-right: 12px;

    text-align: center;

    color: #999;
}

.filter_style .filter_item ul li a::after
{
    font-size: 14px;

    float: right;

    content: '>';

    color: #aaa;
}

.filter_style .filter_item ul li a.active
{
    color: #92c153;
    background: #fff;
}

.filter_style .filter_item ul li a.active i,
.filter_style .filter_item ul li a.active::after
{
    color: #92c153;
}

.filter_style .filter_item ul li a:hover,
.filter_style .filter_item ul li a:hover i,
.filter_style .filter_item ul li a:hover::after
{
    color: #92c153;
}

.left_content_wrapper .hot_sale
{
    margin: 15px 0;

    border-top: 2px solid #92c153;
    border-right: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    border-left: 1px solid #d4d4d4;
    background: #fff;
}

.left_content_wrapper .hot_sale h5
{
    font-size: 16px;
    font-weight: bold;
    line-height: 35px;

    height: 35px;
    padding: 0 20px;

    color: #333;
}

.left_content_wrapper .hot_sale .hot_sale_list
{
    margin: 10px 0 10px 6px;
}

.hot_sale .hot_sale_list li
{
    display: inline-block;

    margin: 0 5px 10px;
}

.hot_sale .hot_sale_list li a
{
    position: relative;

    display: block;
    overflow: hidden;

    padding: 5px 5px 2px;

    text-align: center;

    border: 1px solid #eaeaea;
}

.hot_sale .hot_sale_list li a img
{
    width: 80px;
    height: 101px;
}

.hot_sale .hot_sale_list li a span
{
    position: absolute;
    top: -18px;
    left: -18px;

    width: 63px;
    height: 63px;
}

.hot_sale .hot_sale_list li a .first
{
    background: url('../img/booklist/NO.1.png') no-repeat center;
}

.hot_sale .hot_sale_list li a .second
{
    background: url('../img/booklist/NO.2.png') no-repeat center;
}

.hot_sale .hot_sale_list li a .third
{
    background: url('../img/booklist/NO.3.png') no-repeat center;
}

.hot_sale .hot_sale_list li a .fourth
{
    background: url('../img/booklist/NO.4.png') no-repeat center;
}

.hot_sale .hot_sale_list li a .fifth
{
    background: url('../img/booklist/NO.5.png') no-repeat center;
}

.hot_sale .hot_sale_list li a .sixth
{
    background: url('../img/booklist/NO.6.png') no-repeat center;
}

.hot_sale .hot_sale_list li a .seventh
{
    background: url('../img/booklist/NO.7.png') no-repeat center;
}

.hot_sale .hot_sale_list li a .eighth
{
    background: url('../img/booklist/NO.8.png') no-repeat center;
}

.hot_sale .hot_sale_list li a .ninth
{
    background: url('../img/booklist/NO.9.png') no-repeat center;
}

.agbcover_wrapper ul li .sold
{
    font-size: 12px;

    text-align: center;
}

.agbcover_wrapper ul li .sold span
{
    color: #ff5757;
}

.agbcover_wrapper ul li .preview_book
{
    font-size: 12px;

    display: block;

    width: 88px;
    margin: 10px auto;
    padding: 5px;

    text-align: center;

    color: #fff;
    background: #92c153 none repeat scroll 0 0;
}

.agbcover_wrapper ul li .preview_book:hover
{
    background: #92c000;
}

.tpl_sort_box
{
    position: absolute;
    top: 25px;
    right: 25px;
}


/*~~~~~~~~~~booklist_detail.html~~~~~~~~~~*/

.main_content_container.for_book_detail
{
    width: 100%;
    min-width: 1200px;

    background: #f6f6f6;
}

.book_details_box
{
    box-sizing: border-box;
    width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

.book_details_box .bread_nav
{
    line-height: 30px;

    height: 30px;
    padding-left: 15px;
}

.book_details_box .bread_nav li
{
    font-size: 14px;

    display: inline-block;

    color: #666;
}

.book_details_box .bread_nav li a
{
    color: #666;
}

.book_details_box .bread_nav li a:hover
{
    color: #a0d350;
}

.book_details_box .main_detail
{
    background-color: #fff;
}

.book_details_box .basic_info
{
    margin: 10px 0 0;
    padding: 15px;
}

.book_details_box .basic_info .book_img
{
    display: inline-block;

    width: 377px;

    text-align: center;
}

.book_details_box .basic_info .book_img .bd
{
    overflow: hidden;

    width: 375px;
    height: 375px;

    border: 1px solid #ccc;
}

.book_details_box .basic_info .book_img .bd li
{
    width: 375px;
    height: 375px;
}

.book_details_box .basic_info .book_img .bd a
{
    position: relative;

    display: block;

    width: 375px;
    height: 375px;
    margin: 0;
    padding: 0;

    cursor: default;
}

.book_details_box .basic_info .book_img .bd a.cover
{
    position: relative;

    display: block;

    width: 300px;
    height: 331px;
    margin: 0 auto;
    padding: 38px 0 0 75px;

    cursor: pointer;
}

.book_details_box .basic_info .book_img .bd img
{
    max-width: 375px;
    max-height: 375px;
}

.book_details_box .basic_info .book_img .bd .cover img
{
    width: 100%;
    height: 100%;
}

.book_img .hd li
{
    line-height: 55px;

    display: inline-block;
    overflow: hidden;

    width: 60px;
    height: 60px;
    margin: 15px 3px;

    cursor: pointer;

    border: 1px solid #ccc;
}

.book_img .hd li.on
{
    border: 2px solid #9cd65d;
}

.book_img .hd li:hover
{
    border: 2px solid #e7b54b;
}

.book_img .hd li img
{
    width: 50px;
    height: 50px;

    vertical-align: middle;
}

.book_img .hd li.cover img
{
    margin: 6px 0 5px 11px;
}

.book_details_box .basic_info .book_text
{
    display: inline-block;

    box-sizing: border-box;
    width: 686px;
    margin: 0 0 0 20px;
    padding: 0;

    vertical-align: top;
}

.basic_info .book_text .item
{
    font-size: 14px;

    display: block;
    float: none;

    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 5px 0;

    color: #666;
    border-top: 1px solid #ccc;
}

.basic_info .book_text .item:first-child
{
    padding: 0 0 10px;

    border: none;
}

.basic_info .book_text .item > div
{
    display: block;
    clear: both;
    overflow: visible;

    height: 40px;
}

.basic_info .book_text .name
{
    font-size: 16px;
    font-weight: bold;

    display: inline-block;

    margin-bottom: 8px;
}

.basic_info .book_text .tpl_info
{
    font-size: 12px;
    line-height: 25px;

    display: inline;
}

.basic_info .book_text .tpl_info span
{
    margin: 0 3px;
}

.basic_info .book_text .tpl_info .pic_num
{
    color: #e22929;
}

.basic_info .book_text .tpl_describe
{
    font-size: 12px;
    line-height: 1.8em;

    min-height: 30px;
    padding: 0 10px 0 0;

    text-align: justify;
}

.basic_info .book_text dl dd
{
    line-height: 30px;
}

.basic_info .book_text .price dt,
.basic_info .book_text .sold dt,
.basic_info .book_text .deliver dt
{
    line-height: 30px;

    float: left;

    width: 58px;
}

.basic_info .book_text .sold dt.cm_fl
{
    margin-left: 25px;
}

.basic_info .book_text .price dd
{
    float: left;
}

.basic_info .book_text .price dd strong
{
    font-size: 16px;
    font-weight: bold;

    color: #e22929;
}

.basic_info .book_text .price dd i
{
    width: 16px;
    height: 16px;
    margin: 0 0 0 8px;
    padding: 0 15px;

    background: url('../img/icon/red_bag.jpg') no-repeat center;
}

.basic_info .book_text .deliver dd span
{
    font-size: 14px;

    color: #666;
}

.basic_info .book_text .price dl dd span
{
    color: #f0754b;
}

.basic_info .book_text .sold span
{
    color: #e22929;
}

.basic_info .book_text .page_num,
.basic_info .book_text .cover
{
    margin: 5px 0;
}

.basic_info .book_text .page_num dt,
.basic_info .book_text .page_num dd,
.basic_info .book_text .cover dt,
.basic_info .book_text .cover dd,
.basic_info .book_text .size dt,
.basic_info .book_text .size dd
{
    line-height: 20px;

    float: left;
}

.basic_info .book_text .page_num dd,
.basic_info .book_text .cover dd,
.basic_info .book_text .size dd
{
    font-size: 12px;

    position: relative;

    width: 45px;
    height: 20px;
    margin: 0 5px;

    cursor: pointer;
    text-align: center;

    border: 1px solid #ccc;
}

.basic_info .book_text .page_num dd
{
    cursor: default;
}

.basic_info .book_text .page_num .tips
{
    width: auto;

    border: 0;
}

.basic_info .book_text .page_num .tips span
{
    font-size: 14px;

    color: #e22929;
}

.basic_info .book_text .size dd,
.basic_info .book_text .cover dd
{
    position: relative;

    width: 115px;
}

.basic_info .book_text .cover dd .bind_style,
.basic_info .book_text .size dd .print_size
{
    position: absolute;
    z-index: 1;
    bottom: 20px;
    left: -17px;

    display: none;

    width: 150px;
}

.basic_info .book_text .cover dd .bind_style img,
.basic_info .book_text .size dd .print_size img
{
    width: 100%;

    border-radius: 100%;
}

.basic_info .book_text .cover dd:hover .bind_style,
.basic_info .book_text .size dd:hover .print_size
{
    display: block;
}

.basic_info .book_text .page_num dd:hover,
.basic_info .book_text .cover dd:hover,
.basic_info .book_text .size dd:hover
{
    color: #000;
}

.basic_info .book_text .page_num dd.selected,
.basic_info .book_text .cover dd.selected,
.basic_info .book_text .size dd.selected
{
    color: #000;
    border: 2px solid #e22929;
}

.basic_info .book_text dd .icon
{
    position: absolute;
    right: 0;
    bottom: 0;

    display: none;

    border-bottom: 14px solid #e22929;
    border-left: 17px solid transparent;
}

.basic_info .book_text dd.selected .icon
{
    display: block;
}

.basic_info .book_text dd .icon i
{
    font-size: 12px;

    position: absolute;
    top: 4px;
    right: -1px;

    color: #fff;
}

.basic_info .book_text .item .num dd
{
    margin: 0 5px;
}

.basic_info .book_text .btn_wrap a
{
    line-height: 40px;

    display: inline-block;

    width: 150px;
    height: 40px;
    margin: 10px;

    text-align: center;

    color: #fff;
    border: 1px solid #ce4346;
    border-radius: 4px;
    background-color: #e22929;
    box-shadow: 0 2px 2px #aaa;
}

.basic_info .book_text .btn_wrap .auto_edit
{
    margin: 10px 10px 10px 59px;
}

.basic_info .book_text .btn_wrap .freely_edit
{
    width: 100px;

    border: 1px solid #c26f2d;
    background-color: #e08241;
}

.basic_info .book_text .btn_wrap .auto_edit:hover
{
    background-color: #ce4346;
}

.basic_info .book_text .btn_wrap .auto_edit:active
{
    background-color: #ae4346;
}

.basic_info .book_text .btn_wrap .freely_edit:hover
{
    background-color: #c26f2d;
}

.basic_info .book_text .btn_wrap .freely_edit:active
{
    background-color: #a26f2d;
}

.book_details_box .detail_more,
.book_details_box .more_tpl
{
    font-size: 14px;

    overflow: hidden;

    color: #666;
    border: 1px solid #e7e7e7;
}

.book_details_box .detail_more .hd,
.book_details_box .more_tpl .parhd
{
    clear: both;
    overflow: visible;

    height: 35px;

    background-color: #fff;
}

.book_details_box .detail_more .hd ul li,
.book_details_box .more_tpl .parhd ul li
{
    line-height: 35px;

    position: relative;

    float: left;

    min-width: 120px;
    height: 35px;
    padding: 0 10px;

    border-right: 1px solid #e7e7e7;
}

.book_details_box .detail_more .hd ul li a,
.book_details_box .more_tpl .parhd ul li a
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;

    width: 100%;

    text-align: center;

    color: #333;
}

.book_details_box .detail_more .hd ul li.on a,
.book_details_box .more_tpl .parhd ul li.on a
{
    z-index: 1;

    color: #81d42f;
    border-bottom: 2px solid #81d42f;
}

.book_details_box .detail_more .bd,
.book_details_box .more_tpl .parbd
{
    border-top: 2px solid #e7e7e7;
}

.book_details_box .product_detail
{
    width: 100%;
    margin: 0 auto;
    padding: 0;

    text-align: center;
}

.book_details_box .product_detail > div
{
    margin: 20px 0 40px;
}

.book_details_box .product_detail div h2
{
    font-size: 24px;

    color: #777;
}

.book_details_box .product_detail div small
{
    color: #a6a6a6;
}

.book_details_box .arrow_down_line
{
    position: relative;

    width: 90%;
    margin: 10px auto 25px;

    border-top: 1px solid #d1d1d1;
}

.book_details_box .arrow_down_line::before
{
    position: absolute;
    left: 50%;

    box-sizing: border-box;
    height: 13px;
    margin-top: -1px;
    margin-left: -12px;

    content: ' ';

    border-top: 11px solid #fff;
    border-right: 12px solid #d1d1d1;
    border-bottom: 0;
    border-left: 12px solid #d1d1d1;
}

.book_details_box .arrow_down_line::after
{
    position: absolute;
    left: 50%;

    margin-left: -13px;

    content: ' ';

    border-top: 12px solid transparent;
    border-right: 13px solid #fff;
    border-left: 13px solid #fff;
}

.product_detail .standard .standard_info
{
    font-size: 16px;

    width: 85%;/*NEWYB-1615*/
    margin: 25px auto 0;
}

.standard .standard_info ul li
{
    line-height: 35px;

    display: inline-block;

    box-sizing: border-box;
	/*padding-left: 4%;*/
    width: 44%;
    height: 35px;
    margin: 0 2%;

    text-align: left;

    border-bottom: 1px dotted #c9c9c9;
}

.standard .standard_info ul li label
{
    color: #8f8f8f;
}

.standard .standard_info ul li label::before
{
    display: inline-block;

    width: 14px;
    height: 14px;
    margin: 0 15px 0 0;

    content: ' ';
    vertical-align: middle;

    background-color: #81d42f;
}

.books_really .imgs_dis ul li
{
    position: relative;

    display: block;

    width: 1126px;
    height: 750px;
    margin: 0 auto;
    padding: 0;
}

.pages_display .pages,
.using_scene .scene_dis
{
    margin: 40px auto 0;
}

.pages_display .pages .cover,
.pages_display .pages .backcover
{
    position: relative;

    width: 441px;
    height: 602px;
    margin: 50px auto;

    background: url('../img/booklist/inner_page_cover_bg.png') no-repeat 0;
}

.pages_display .pages .cover img,
.pages_display .pages .backcover img
{
    position: absolute;
    top: -7px;
    left: 0;

    box-sizing: border-box;
    width: 425px;
    height: 602px;

    box-shadow: 0 0 3px #ccc;
}

.pages_display .pages .backcover
{
    background: url('../img/booklist/inner_page_backcover_bg.png') no-repeat 0;
}

.pages_display .pages .backcover img
{
    position: absolute;
    right: 0;
    left: auto;
}

.pages_display .pages .inner_page
{
    position: relative;

    display: block;

    width: 862px;
    height: 601px;
    margin: 50px auto;

    background: url('../img/booklist/inner_page_bg.jpg') no-repeat 0;
}

.pages_display .pages .inner_page::after
{
    position: absolute;
    top: 10px;
    left: 50%;

    width: 44px;
    height: 580px;
    margin-left: -22px;

    content: ' ';

    background: url('../img/booklist/inner_page_shadow.png') no-repeat 0;
}

.pages_display .pages .inner_page .left,
.pages_display .pages .inner_page .right
{
    float: left;

    box-sizing: border-box;
    width: 50%;
    margin-left: -1px;
    padding: 10px 0;
}

.pages_display .pages .inner_page .left
{
    text-align: right;
}

.pages_display .pages .inner_page .right
{
    text-align: left;
}

.pages_display .pages .inner_page img
{
    width: 410px;
    height: 580px;
}

.using_scene .scene_dis ul li
{
    display: block;

    margin: 20px 0;
}


/*cover details*/

.cover .cover_info
{
    clear: both;
    overflow: visible;
}

.cover .cover_info .item,
.sizing_explain .size_info .item
{
    display: inline-block;
    float: none;

    width: 49%;
    margin: 0;
}

.cover .cover_info .item:last-child,
.sizing_explain .size_info .item:last-child
{
    margin-left: -15px;
}

.cover .cover_info .item h2
{
    margin: 25px 0;

    color: #666;
}

.cover .cover_info .item img,
.sizing_explain .size_info .item img
{
    margin: 0 0 25px 117px;
}

.sizing_explain .size_info .item:last-child img
{
    margin: 0 0 25px;
}

.sizing_explain .size_info .item:last-child p
{
    padding-left: 130px;

    text-align: left;
}

.cover .cover_info .item p
{
    font-size: 14px;
    line-height: 2em;
}


/*print details*/

.print .print_info .item
{
    position: relative;

    display: inline-block;
    float: none;

    width: 45%;
    height: 400px;
    margin: 0;
}

.print .print_info .item img
{
    margin: 25px auto 0;
}

.print .print_info .item .quality
{
    font-size: 18px;
    line-height: 110px;

    position: absolute;
    right: 47px;
    bottom: 15px;

    width: 110px;
    height: 110px;

    color: #cc625e;
    border: 5px solid #cccdcd;
    border-radius: 50%;
    background: #fff;
	/* Old browsers */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2Y1ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU3ZTciIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
	/* FF3.6+ */
	/* Chrome,Safari4+ */
	/* Chrome10+,Safari5.1+ */
	/* Opera 11.10+ */
	/* IE10+ */
    background: linear-gradient(to bottom, #fff 0%, #f5f6f6 51%, #e5e7e7 100%, #fff 100%);
	/* W3C */
}

.print .print_info h2
{
    margin: 25px 0 15px;

    color: #595959;
}

.print .print_info p
{
    font-size: 14px;
    line-height: 2em;
}


/*装订方式*/

.binding .binding_info
{
    margin: 35px 0;
}

.binding .binding_info .describe
{
    display: inline-block;

    margin: 15px 40px 0 0;

    text-align: left;
    vertical-align: top;
}

.binding .binding_info .describe h2
{
    line-height: 2em;

    color: #333;
}

.binding .binding_info .describe h2 span
{
    font-size: 16px;
}

.binding .binding_info .describe p
{
    font-size: 14px;
    line-height: 2em;
}

.binding .binding_info .binding_show
{
    width: 80%;
    margin: 30px auto 20px;
    padding: 20px 0;

    border-radius: 6px;
    background-color: #fdfdfd;
}


/*更多模板轮播图*/

.book_details_box .more_tpl
{
    margin: 30px 0;
}

.book_details_box .more_tpl > .agbcover_wrapper
{
    min-height: inherit;
    padding: 0;
}

.more_tpl .book_slide .tempWrap
{
    margin: 0 auto;
}

.book_details_box .book_slide .sbd ul
{
    width: 1038px;
    margin: 0 auto;
}

.book_details_box .book_slide .sbd ul li
{
    margin: 25px 0;
}

.book_details_box .book_slide .shd ul
{
    width: 210px;
    margin: 5px auto 20px;

    text-align: center;
}

.book_details_box .book_slide .shd ul li
{
    line-height: 30px;

    display: inline-block;

    box-sizing: border-box;
    width: auto;
    min-width: 60px;
    height: 30px;
    margin: 0 5px;

    border: 1px solid #e0e0e0;
}

.book_details_box .book_slide .shd ul li a
{
    color: #999;
}

.book_details_box .book_slide .shd ul li span
{
    cursor: default;
}


/*模板内页*/

.book_details_box .page_detail .caption
{
    margin: 45px auto 30px;

    text-align: center;
}

.book_details_box .page_detail .page_list
{
    padding: 0 75px 0 77px;
}

.book_details_box .page_detail .page_list li
{
    display: inline-block;

    width: 410px;
    margin: 0 35px 15px;

    text-align: center;
}

.book_details_box .page_detail .page_list li img
{
    width: 408px;
    height: 578px;
    margin: 15px auto 8px;

    border: 1px solid #ddd;
}

.book_details_box .page_detail .page_list li h5
{
    font-size: 16px;

    text-align: center;
}

.book_details_box .page_detail .more_pages
{
    margin: 15px 0 35px;

    text-align: center;
}

.book_details_box .page_detail .more_pages a
{
    color: #666;
}

.book_details_box .page_detail .more_pages a:hover
{
    color: #e7b54b;
}

.book_details_box .page_detail .more_pages span
{
    margin: 0 5px;

    color: #81d42f;
}

.book_details_box .page_detail .more_pages i
{
    display: block;

    width: 23px;
    height: 27px;
    margin: 8px auto 0;

    background: url('../img/icon/next_btn2.png') no-repeat;
}


/*销售记录*/

.book_details_box .sold_record table
{
    font-size: 12px;

    position: relative;

    width: 100%;
    margin: 0;
    padding: 0;

    text-align: center;
}

.sold_record .table_head
{
    font-size: 12px;
    line-height: 45px;

    height: 45px;
    padding: 0 30px;

    color: #666;
    border-bottom: 1px solid #c9c9c9;
}

.sold_record .table_head span
{
    float: left;

    width: 210px;

    text-align: center;
}

.sold_record .table_main
{
    margin: 0 0 25px;
    padding: 0 35px;

    color: #333;
}

.sold_record table tbody tr
{
    line-height: 45px;

    height: 45px;

    border-bottom: 1px dotted #c9c9c9;
}

.sold_record table tbody tr td
{
    width: 221px;
}

.book_details_box .table_footer
{
    margin: 0 auto 35px;

    text-align: center;
}

/*用户评论*/

.book_details_box .user_comments,
.book_details_box .consult
{
    font-size: 12px;

    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0 35px;

    color: #666;
}

.user_comments .table_main,
.consult .table_main
{
    margin: 0 0 20px;
}

.user_comments .table_main .com_item,
.consult .table_main .com_item
{
    margin: 0 0 10px;
    padding: 10px 0;

    border-bottom: 1px dotted #c9c9c9;
}

.user_comments .table_main .com_item .name,
.user_comments .table_main .com_item .time
{
    line-height: 30px;

    display: block;
    float: left;

    height: 35px;
}

.user_comments .table_main .com_item .time
{
    float: right;
}

.user_comments .table_main .com_item .content
{
    position: relative;

    clear: both;

    box-sizing: border-box;
    margin: 0 0 5px;
    padding: 20px;

    background-color: #f6f6f6;
}

.user_comments .table_main .com_item .content::before
{
    position: absolute;
    top: -8px;
    left: 20px;

    display: block;

    width: 0;
    height: 0;

    content: ' ';

    border-right: 8px solid transparent;
    border-bottom: 8px solid #f6f6f6;
    border-left: 8px solid transparent;
}

.user_comments .table_main .com_item .content p
{
    line-height: 1.8em;

    word-break: break-all;

    color: #333;
}

.user_comments .table_main .com_item .share p
{
    line-height: 30px;

    display: block;

    height: 30px;

    text-align: right;
}

.user_comments .table_main .com_item .share a
{
    color: #73bf28;
}

.user_comments .table_main .com_item .share a:hover,
.user_comments .table_main .com_item .share a:active
{
    color: #e7b54b;
}


/*用户评论 图片*/

.user_comments .com_item .bask_img
{
    position: relative;

    margin: 10px 0;
}

.com_item .bask_img .item
{
    position: relative;

    display: inline-block;
    float: none;

    width: 40px;
    height: 40px;
    margin: 0 4px 0 0;
    padding: 0;

    cursor: url(../img/booklist/cur_zin.cur), pointer;

    border: 1px solid #ddd;
}

.com_item .bask_img .item.cur
{
    position: relative;

    border: 2px solid #9cd65d;
}

.com_item .bask_img .item.cur::after
{
    position: absolute;
    bottom: -6px;
    left: 14px;

    width: 0;
    height: 0;

    content: ' ';

    border-top: 6px solid #9cd65d;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}

.com_item .bask_img .item img
{
    width: 40px;
    height: 40px;
}

.com_item .bask_show
{
    display: none;
}

.com_item .bask_show .img_show
{
    line-height: 455px;

    position: relative;

    width: 455px;
    height: 455px;

    text-align: center;

    background-color: #fff;
}

.com_item .bask_show .img_show .center
{
    max-width: 455px;
    max-height: 455px;

    cursor: url(../img/booklist/cur_zout.cur), pointer;
    vertical-align: middle;
}

.com_item .bask_show .img_show .left
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;

    width: 33.3%;

    cursor: url(../img/booklist/cur_left.cur), pointer;
}

.com_item .bask_show .img_show .right
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    width: 33.3%;

    cursor: url(../img/booklist/cur_right.cur), pointer;
}


/*发表咨询*/

.consult .btn_wrap button
{
    margin: 25px 0 0;

    background-color: #f6f6f6;
}

.consult .table_main .com_item
{
    margin: 0;
}

.consult .table_main .com_item .user,
.consult .table_main .com_item .time
{
    line-height: 30px;

    display: inline-block;

    min-width: 120px;
    height: 35px;
    margin: 0;
    padding: 0;

    color: #999;
}

.consult .table_main .com_item .answer
{
    margin: 5px 0;
}

.consult .table_main .com_item .question p,
.consult .table_main .com_item .answer p
{
    line-height: 1.8em;

    display: block;

    word-break: break-all;

    color: #333;
}

.consult .table_main .com_item .answer p
{
    color: #f60;
}

.consult .post_comment
{
    margin: 0 0 35px;

    border: 1px solid #c9c9c9;
}

.consult .mod_title
{
    height: 32px;

    background-color: #efefef;
}

.consult .mod_title h2
{
    font-size: 16px;
    line-height: 32px;

    padding-left: 10px;

    color: #555;
}

.consult .post_comment .mod_content
{
    padding: 0 20px 20px;
}

.post_comment .mod_content .form_item
{
    margin: 15px 0;
}

.post_comment .mod_content .form_item label
{
    line-height: 35px;

    height: 35px;
}

.post_comment .mod_content .form_item input
{
    width: 125px;
    height: 25px;

    border: 1px solid #ccc;
}

.post_comment .mod_content .form_act_side textarea
{
    line-height: 18px;

    display: block;

    width: 1000px;
    padding: 5px;

    resize: vertical;

    border: 1px solid #ccc;
}

.post_comment .mod_content .word_count
{
    font-size: 12px;
    line-height: 25px;

    float: right;

    margin-right: 60px;

    color: #666;
}

.post_comment .mod_content .test_code input
{
    width: 45px;

    vertical-align: middle;
}

.post_comment .mod_content .test_code span img
{
    width: 78px;
    height: 25px;

    vertical-align: middle;
}

.post_comment .mod_content .form_item button
{
    background-color: #f6f6f6;
}

.post_comment .mod_content .form_item a
{
    color: #0563c3;
}

/*3.11 tpl showcase page style*/
.tplshowcase_wrapper
{
    position: relative;

    overflow: hidden;

    width: 100%;
    margin: 0;
    padding: 0;

    background-color: #f4f4f4;
}

.tplshowcase_wrapper .tplshowcase_con
{
    width: 1280px;
    margin: 0 auto;
}

.tplshowcase_wrapper .tplshowcase_con .tpl_tab
{
    position: relative;

    width: 100%;
    margin: 20px 0;

    box-shadow: 0 3px 6px -2px rgba(0,0,0,.3);
}

.tplshowcase_con .tpl_tab .classify
{
    font-size: 18px;
    line-height: 60px;

    position: relative;
    z-index: 1;

    box-sizing: border-box;
    width: 100%;
    height: 60px;
    margin: 0;
    padding: 0 20px;

    color: #333;
    border-width: 1px;
    border-style: solid;
    border-color: #ddddda #ddddda #ededed #ddddda;
    background-color: #fff;
}


.tpl_tab .classify ul
{
    display: inline-block;

    height: 100%;

    vertical-align: top;
}

.tpl_tab .classify li
{
    float: left;

    width: 80px;

    text-align: center;
}

.tpl_tab .classify li a
{
    font-size: 15px;

    padding: 3px 10px;

    color: #333;
    border-radius: 4px;
}

.discussion_list .tpl_tab .classify > ul li a
{
    font-size: 12px;
    line-height: 28px;

    display: inline-block;

    width: 58px;
    height: 28px;
    margin: 16px 0;
    padding: 0 0 0 5px;

    background: transparent url('../img/ia/topic_label.png') no-repeat 0;
}

.discussion_list .tpl_tab .classify li.on a,
.discussion_list .tpl_tab .classify li a:hover
{
    color: #779c31;
    background-color: transparent;
}

.tpl_tab .classify li.on a,
.tpl_tab .classify li a:hover
{
    color: #fff;
    background-color: #b2d265;
}

.tplshowcase_con .tpl_tab .filter_panel
{
    position: relative;

    float: right;

    width: 150px;
    margin-top: 8px;
}

.tplshowcase_con .tpl_tab .filter_panel .dropdown_menu
{
    font-size: 16px;
    line-height: 38px;

    overflow: hidden;

    height: 40px;
    padding: 0;

    cursor: pointer;
    text-align: center;

    color: #535353;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    background-color: #f5f5f5;
    text-shadow: 1px 1px 0 #fff;
}

.filter_panel .dropdown_menu .icon-angle-down
{
    margin-right: 7px;
}

.tplshowcase_con .tpl_tab .filter_panel .dropdown_box
{
    position: absolute;
    z-index: 98;
    right: 0;
    left: 0;

    display: none;
    overflow: hidden;

    width: 100%;

    text-align: left;

    border-radius: 0 0 3px 3px;
    background-color: #fff;
    box-shadow: 0 10px 35px rgba(0,0,0,.3);
}

.tpl_tab .classify .filter_panel:hover .dropdown_box
{
    display: block;
}

.filter_panel .dropdown_box .options
{
    width: 140px;
}

.filter_panel .dropdown_box .options li
{
    line-height: 47px;

    position: relative;

    float: left;

    box-sizing: border-box;
    width: 140px;
    height: 47px;
    padding: 0 13px;

    border-bottom: 1px dotted #e5e5e5;
}

.filter_panel .dropdown_box .options li a
{
    font-size: 15px;

    padding: 2px 7px 3px 7px;

    border-radius: 3px;
}

.filter_panel .dropdown_box .options li a:hover,
.filter_panel .dropdown_box .options li.current a
{
    color: #fff;
    background-color: #08c;
}

.tplshowcase_con .tpl_tab .make_book
{
    font-size: 15px;
    font-weight: 600;
    line-height: 40px;

    position: relative;

    display: block;
    float: right;

    width: 148px;
    height: 40px;
    margin-top: 8px;
    padding: 0;

    cursor: pointer;
    transition: color .2s ease-out 0s;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    text-transform: uppercase;

    color: #fff;
    border: 1px solid #cf7e00;
    border-radius: 3px;
    background: linear-gradient(#ff9c03, #e98d00) repeat scroll 0 0 / 100% auto #ff9c03;
    background-color: #ff9c03;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .2) inset, 0 1px 2px rgba(0, 0, 0, .05);
    text-shadow: 0 -1px 0 #cf7e00;
}

.tplshowcase_con .tpl_tab .make_book:hover
{
    color: #fff;
    background: #e98d00;
}

.tplshowcase_con .tpl_tab .make_book i
{
    margin-left: 5px;
}

.tpl_tab .selected_tpl
{
    position: relative;

    box-sizing: border-box;
    width: 100%;
    height: 60px;
    padding: 0 20px;

    border-right: 1px solid #ddddda;
    border-left: 1px solid #ddddda;
    background-color: #fafafa;
}

.tpl_tab .selected_tpl > span
{
    font-size: 18px;
    line-height: 60px;

    display: inline-block;

    width: 126px;

    text-align: right;
    vertical-align: top;

    color: #333;
}

.selected_tpl .tpl_label
{
    display: inline-block;

    width: 76%;
}

.selected_tpl .tpl_label .option
{
    font-size: 14px;
    line-height: 30px;

    position: relative;

    float: left;

    box-sizing: border-box;
    width: auto;
    height: 30px;
    margin: 15px 10px;
    padding: 0 5px;

    cursor: default;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    color: #9ac600;
    border: 1px solid #9ac600;
    border-radius: 2px;
}

.selected_tpl .tpl_label .option a
{
    font-size: 12px;
    line-height: 13px;

    position: absolute;
    top: -5px;
    right: -5px;

    width: 13px;
    height: 13px;

    text-align: center;

    color: #fff;
    border-radius: 100%;
    background-color: #9ac600;
}

.tplshowcase_list_wrapper
{
    position: relative;

    width: 100%;
    margin: 0;
}

.tplshowcase_list_item
{
    float: left;

    width: 300px;
    margin: 0 5px 20px 5px;

    border-radius: 5px;
    background: #fdfdfd;
    box-shadow: 0 3px 6px -2px rgba(0,0,0,.3);
}
.tplshowcase_list_item .tpl_info
{
    line-height: 58px;

    height: 58px;

    border-bottom: 1px solid #ededef;
}

.tplshowcase_wrapper .tpl_info .tpl_type,
.tplshowcase_wrapper .tpl_info .header
{
    font-size: 14px;
    line-height: 28px;

    display: inline-block;
    overflow: hidden;

    width: 28px;
    height: 28px;
    margin: 14px 10px 14px 14px;

    text-align: center;
    vertical-align: top;

    color: #fff;
    border-radius: 100%;
    background-color: #b2d265;
}

.tplshowcase_wrapper .tpl_info .header img
{
    width: 100%;
    height: 100%;
}

.tplshowcase_list_item .tpl_info .num,
.tplshowcase_list_item .tpl_info .caption
{
    font-size: 14px;

    display: inline-block;
    overflow: hidden;

    width: 125px;

    text-align: left;
    white-space: nowrap;
       text-overflow: ellipsis;
    word-break: keep-all;

    color: #333;

    -o-text-overflow: ellipsis;
}

.tplshowcase_list_item .tpl_info .caption
{
    width: 226px;
}

.tplshowcase_list_item .tpl_info .chose
{
    font-size: 14px;
    line-height: 26px;

    float: right;

    width: 52px;
    height: 26px;
    margin: 16px 16px 16px 0;

    text-align: center;
    letter-spacing: 3px;

    color: #8aaf07;
    border: 1px solid #9ac600;
    border-radius: 3px;
    background: none;
}

.tplshowcase_list_item .tpl_info .chose.active
{
    color: #fff;
    border: 1px solid #b2d265;
    background-color: #b2d265;
}


.tplshowcase_list_item .img
{
    position: relative;

    display: block;
    overflow: hidden;

    width: 100%;
}

.discussion_list .tplshowcase_list_item .img
{
    box-sizing: border-box;
    width: 100%;
    padding: 10px 10px 0 10px;
}

.discussion_list .tplshowcase_list_item .img img
{
    display: block;

    width: 100%;
}

.discussion_list .tplshowcase_list_item .article
{
    font-size: 12px;
    line-height: 1.8;

    overflow: hidden;

    box-sizing: border-box;
    max-height: 115px;
    margin: 0 10px 10px;
    padding: 5px;

    word-break: break-all;

    color: #666;
    background-color: #f4f4f4;
}

.tplshowcase_list_item .img:after
{
    display: block;
    clear: both;
    overflow: hidden;

    content: '';
}

.tplshowcase_list_item .img div
{
    position: relative;

    display: block!important;
    overflow: hidden;
}

.tplshowcase_list_item .img .double img
{
    display: block;
    float: left;

    width: 50%;
}

.fancybox-inner .double img,
.fancybox-inner .single img
{
    display: block;
    float: left;

    width: 409px;
}

.fancybox-inner .double::after,
.tplshowcase_list_item .img .double::after
{
    position: absolute;
    top: 0;
    left: 50%;

    width: 27px;
    height: 100%;
    margin-left: -27px;

    content: ' ';

    background: url('../img/booklist/doubletpl_shadow.png') no-repeat 0;
}

.tplshowcase_list_item .img .single.cover
{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 7px 6px;

    background: url('../img/booklist/inner_page_cover_bg.png') no-repeat 0;
    background-size: contain;
}

.tplshowcase_list_item .img .single.backcover
{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 7px 6px;

    background: url('../img/booklist/inner_page_backcover_bg.png') no-repeat 0;
    background-size: contain;
}

.tplshowcase_list_item .img .single img
{
    float: left;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.tplshowcase_list_item .img .single.cover img
{
    margin: -8px 0 0 -5px;
}

.tplshowcase_list_item .img .single.backcover img
{
    margin: -8px 0 0 5px;
}

.tplshowcase_list_item .img span
{
    position: absolute;
    top: 0;

    display: block;

    width: 100%;
    height: 100%;
}

.tplshowcase_list_item .img span:hover
{
    background-color: rgba(255, 255, 255, .2);
}

.tplshowcase_list_item .actbar
{
    line-height: 54px;

    height: 54px;

    border-top: 1px solid #ededef;
}

.tplshowcase_list_item .actbar > li > a
{
    float: left;
    overflow: hidden;

    margin: 0 10px;

    color: #aaadbc;
}

.tplshowcase_list_item .actbar > li > a:hover
{
    color: #8aaf07;
}

.tplshowcase_list_item .actbar .share
{
    position: relative;

    float: right;
}

.tplshowcase_list_item .actbar .share i
{
    font-size: 22px;
}

.tplshowcase_list_item .actbar .share:hover .common_sharelist_wrapper
{
    top: 45px;
    left: -51px;

    display: block;

    width: 152px;
    min-height: 45px;
    padding: 8px;
}

@media only screen and (max-width: 1024px)
{
    .tplshowcase_list_item .actbar .share:hover .common_sharelist_wrapper
    {
        left: -100px;
    }

    .tplshowcase_wrapper .tplshowcase_list_item .actbar .share .common_sharelist_wrapper::before,
    .tplshowcase_wrapper .tplshowcase_list_item .actbar .share .common_sharelist_wrapper::after
    {
        left: 118px;
    }
}

.tplshowcase_list_item .actbar .share .common_sharelist_wrapper li,
.tplshowcase_list_item .actbar .share .common_sharelist_wrapper a
{
    width: 26px;
    height: 26px;
}

.tplshowcase_list_item .actbar a i
{
    font-size: 20px;

    margin: 0 5px;
}

.t.tplshowcase_list_item .actbar a span
{
    display: inline-block;

    width: 3em;
}

/*3.11 showcase tpl detail*/
.tplshowcase_detail
{
    position: relative;

    width: 895px;
    margin: 0 auto;
}

.tplshowcase_detail .tpl_info,
.tplshowcase_detail .tpl_comment
{
    position: relative;

    box-sizing: border-box;
    margin: 0 0 25px;
    padding: 10px;

    border: 1px solid #dad9d8;
    border-radius: 2px;
    background-color: #fff;
    box-shadow: 0 3px 6px -2px rgba(0,0,0,.3);
}

.tplshowcase_detail .tpl_info .title
{
    line-height: 70px;

    position: relative;

    width: 100%;
    height: 70px;

    text-align: center;

    border-bottom: 1px solid #cce68e;
}

.tplshowcase_detail .tpl_info .title .num
{
    font-size: 18px;
    line-height: 56px;

    display: inline-block;

    height: 56px;

    vertical-align: top;

    color: #90c132;
}

.tplshowcase_detail .tpl_info .tpl_img
{
    position: relative;

    width: 100%;
    padding: 45px 0 40px;
}

.tpl_info .tpl_img .page
{
    position: relative;

    margin: 0 auto;
}
.tpl_img .page.cover,
.tpl_img .page.backcover
{
    width: 441px;
    height: 602px;

    background: url('../img/booklist/inner_page_cover_bg.png') no-repeat 0;
}

.tpl_img .page.backcover
{
    background: url('../img/booklist/inner_page_backcover_bg.png') no-repeat 0;
}

.tpl_img .page.cover img ,
.tpl_img .page.backcover img
{
    position: absolute;
    top: -7px;
    left: 0;

    box-sizing: border-box;
    width: 425px;
    height: 602px;

    box-shadow: 0 0 3px #ccc;
}

.tpl_img .page.backcover img
{
    position: absolute;
    right: 0;
    left: auto;
}

.tpl_img .page.double
{
    position: relative;

    width: 862px;
    height: 601px;

    background: url('../img/booklist/inner_page_bg.jpg') no-repeat 0;
}

.tpl_img .page.double::after
{
    position: absolute;
    top: 10px;
    left: 50%;

    width: 44px;
    height: 580px;
    margin-left: -22px;

    content: ' ';

    background: url('../img/booklist/inner_page_shadow.png') no-repeat 0;
}

.tpl_img .page.double .left ,
.tpl_img .page.double .right
{
    float: left;

    box-sizing: border-box;
    width: 50%;
    margin-left: -1px;
    padding: 10px 0;
}

.tpl_img .page.double .left
{
    text-align: right;
}

.tpl_img .page.double .right
{
    text-align: left;
}

.tplshowcase_detail .actbar
{
    line-height: 40px;

    position: relative;

    width: 380px;
    height: 40px;
    margin: 0 auto 30px;
}

.tplshowcase_detail .actbar > div
{
    position: relative;

    float: left;

    width: 50%;

    text-align: center;
}

.tplshowcase_detail .actbar > div > a
{
    font-size: 30px;

    color: #c3c5d0;
}

.tplshowcase_detail .actbar .praise a:hover,
.tplshowcase_detail .actbar .praise a.active
{
    color: #f00;
}

.tplshowcase_detail .actbar .share > a:hover,
.tplshowcase_detail .actbar .share > a.active
{
    color: #8aaf07;
}

.tplshowcase_detail .actbar .share:hover .common_sharelist_wrapper
{
    top: 42px;
    left: 6px;

    display: block;
}

.tplshowcase_wrapper .actbar .share .common_sharelist_wrapper::before
{
    position: absolute;
    z-index: 1;
    top: -17px;
    left: 45%;

    width: 0;
    height: 0;

    content: ' ';

    border-right: 9px solid transparent;
    border-bottom: 9px solid #fff;
    border-left: 9px solid transparent;
}

.tplshowcase_wrapper .actbar .share .common_sharelist_wrapper::after
{
    position: absolute;
    top: -18px;
    left: 45%;

    width: 0;
    height: 0;

    content: ' ';

    border-right: 9px solid transparent;
    border-bottom: 9px solid #ddd;
    border-left: 9px solid transparent;
}

.tplshowcase_detail .ybarticle_articleguide_wrapper
{
    padding: 0 25px;
}


/*~~~~~~~~~~discussion_topicdetail.html~~~~~~~~~~*/

.discussion_main_wrapper
{
    width: 980px;
    margin: 0 auto;
}

.discussion_topichaeder_wrapper
{
    overflow: hidden;

    width: 100%;
    padding: 0 0 10px 0;

    background-color: #fff;
}

.discussion_topichaeder_wrapper .avatar
{
    float: left;

    width: 70px;
    height: 75px;

    border: 1px solid #e9e9e9;
    border-radius: 2px;
}

.discussion_topichaeder_wrapper .avatar img
{
    display: inline-block;

    width: 100%;
    height: 100%;
}

.ybarticle_topictitle_wrapper
{
    float: left;

    margin: 0 0 0 20px;

    color: #555;
}

.ybarticle_topictitle_wrapper h6
{
    font-size: 15px;

    margin: 0 0 8px 0;
}

.ybarticle_topictitle_wrapper p
{
    font-size: 12px;
}

.ybarticle_topictags_wrapper
{
    font-size: 12px;
    line-height: 15px;

    overflow: hidden;

    min-height: 15px;
}

.ybarticle_topictags_wrapper label
{
    line-height: 34px;

    float: left;
}

.ybarticle_topictags_wrapper div
{
    float: left;

    margin: 0 10px;
}

.ybarticle_topictags_wrapper div a
{
    float: left;

    height: 15px;
    margin: 5px;
    padding: 5px;

    color: #fff;
    background-color: #c0c0c0;
}

.discussion_article_wrapper
{
    margin: 0 0 20px 0;
    padding: 10px;

    border: 1px solid #ddd;
    background-color: #fff;
}

.discussion_topicicon_item
{
    float: right;

    width: 65px;
    height: 65px;
    padding: 10px 0 0 0;
}

.discussion_maintext_wrapper
{
    overflow: hidden;

    padding: 2%;

    background-color: #f4f4f4;
}

.discussion_maintext_wrapper img
{
    display: block;

    margin: 20px auto;
}

.discussion_maintext_wrapper p
{
    font-size: 12px;
    line-height: 26px;

    width: 100%;

    color: #444;
}

.discussion_articleguide_wrapper
{
    background-color: #f5f5f5;
}

.discussion_articleguide_wrapper ul
{
    line-height: 40px;

    overflow: hidden;

    width: 100%;
    height: 40px;
    margin: 0 auto;
}

.discussion_articleguide_wrapper ul li:first-child
{
    float: left;
}

.discussion_articleguide_wrapper ul li
{
    font-size: 13px;

    float: right;

    width: 50%;

    text-align: center;

    color: #9e9b9e;
}

.discussion_articleguide_wrapper ul li a
{
    display: block;

    width: 100%;
    height: 100%;

    transition: all .5s;

    color: #9e9b9e;
}

.discussion_articleguide_wrapper ul li a:hover
{
    transition: all .5s;

    background-color: #d8d8d8;
}

.discussion_articleguide_wrapper ul li a i
{
    display: inline-block;

    margin: auto 10px;
}

.discussion_articleguide_wrapper ul li a label
{
    display: inline-block;

    cursor: pointer;
}

.discussion_praise_wrapper
{
    position: relative;

    width: 100%;
    height: 100px;

    text-align: center;

    background-color: #fff;
}

.discussion_praise_wrapper a
{
    font-size: 12px;

    position: relative;

    display: inline-block;

    width: auto;
    margin: 27px 0;
    padding: 15px 65px;

    transition: all .5s;

    color: #fff;
    border: 1px solid #93dd6c;
    border-radius: 50px;
    background-color: #93dd6c;
}

.discussion_praise_wrapper .active
{
    transition: all .5s;

    color: #93dd6c;
    background-color: #fff;
}

/*.discussion_praise_wrapper a:hover {
    background-color: #70CA5D;
}*/

.discussion_praise_wrapper label
{
    line-height: 100px;

    position: absolute;
    top: 0;

    display: block;

    width: 100%;
    height: 50px;

    border-bottom: 1px dotted #000;
}

.discussion_comment_wrapper
{
    padding: 15px;

    background-color: #fff;
}

.discussion_loginhint_wrapper
{
    font-size: 12px;

    color: #333;
}

.discussion_loginhint_wrapper a
{
    color: #00c3b6;
}

.discussion_statistics_wrapper
{
    font-size: 16px;
}

.discussion_statistics_wrapper span
{
    font-size: 25px;

    color: #00c3b6;
}

.discussion_commentlist_wrapper
{
    overflow: hidden;

    margin: 10px 0;

    border-top: 1px solid #e5e5e5;
}

.discussion_commentlist_wrapper li
{
    overflow: hidden;

    margin: 30px 0;
}

.discussion_commentlist_wrapper .avatar
{
    float: left;

    width: 10%;
}

.discussion_commentlist_wrapper .avatar img
{
    display: block;

    margin: 0 auto;
}

.discussion_commentlist_wrapper div
{
    font-size: 12px;

    float: left;

    width: 90%;
}

.discussion_commentlist_wrapper p
{
    margin: 0 0 10px 0;
}

.discussion_commentlist_wrapper div a
{
    margin: 0 10px 0 0;

    color: #00c3b6;
}

.discussion_comentlistempty_wrapper
{
    display: none;
}

.discussion_comentlistempty_wrapper img
{
    display: block;

    width: 50px;
    margin: 0 auto;
}

.discussion_comentlistempty_wrapper p
{
    font-size: 11px;

    width: 100%;
    margin: 10px 0;

    text-align: center;

    color: #999;
}

.discussion_comentlistempty_wrapper p a
{
    font-size: 12px;

    text-align: center;

    color: #00c3b6;
}
