@charset "UTF-8";
.edit_group{
    font-size: 14px;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    color: #4991bc;
}

.edit_group .tools{
    position: absolute;
    border: 3px solid #4991bc;
    border-radius: 6px;
    text-align: center;
    padding: 8px;
    width: auto;
    box-sizing: border-box;
    bottom: -110px;
    white-space: nowrap;
}
.edit_group .tools .arrow{
    position: absolute;
    left: 50%;
    top: -25px;
    margin-left: -18px;
    border-left: 19px solid transparent;
    border-right: 19px solid transparent;
    border-bottom: 25px solid #4991bc;
}
.edit_group .tools .arrow::before{
    content: " ";
    position: absolute;
    left: -5px;
    top: 5px;
    margin-left: -10px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid #fff;
}
.edit_group .tools li{
    display: inline-block;
    width: 74px;
    margin: 0;
    text-align: center;
    cursor: pointer;
    transition: all .35s ease-in-out;
}
.edit_group .tools li .ybiconfont{
    font-size: 24px;
    text-align: center;
}
.edit_group .tools li:hover{
    color: #405972;
}
.edit_group .tools li.active,
.edit_group .tools li:active{
    color: #80b6eb;
}
.edit_group .range{
    position: absolute;
    left: -10px;
    top: -10px;
    padding: 10px;
    width: 100%;
    height: 100%;
    border: 1px solid #4991bc;
    box-sizing: content-box;
}
.edit_group .range .cl{
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 100%;
    border: 1px solid #4991bc;
    box-sizing: border-box;
}
.edit_group .range .top{
    top: -8px;
    left: 50%;
    margin-left: -8px;
}
.edit_group .range .right{
    top: 50%;
    right: -8px;
    margin-top: -8px;
}
.edit_group .range .bottom{
    bottom: -8px;
    left: 50%;
    margin-left: -8px;
}
.edit_group .range .left{
    top: 50%;
    left: -8px;
    margin-top: -8px;
}