@font-face {
  font-family: 'ybiconfont';
  src: url('//at.alicdn.com/t/font_1457004547_5054178.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1457004547_5054178.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1457004547_5054178.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1457004547_5054178.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1457004547_5054178.svg#ybiconfont') format('svg'); /* iOS 4.1- */
}
                    