@charset "utf-8";

/*3.6 yb_banner*/
.yb_banner .banner_slide {
	position: relative;
	width: 100%;
	min-width: 1280px;
	height: 445px;
}

.yb_banner .banner_slide .hd {
	z-index: 1;
	position: absolute;
	left: 50%;
	bottom: 20px;
	margin-left: -55px;
	width: 110px;
	height: 10px;
	text-align: center;
}

.banner_slide .hd ul li {
	display: inline-block;
	margin: 0 10px;
	text-indent: -9999px;
	background-color: transparent;
	width: 10px;
	height: 10px;
	border: 1px solid #fff;
	border-radius: 100%;
	cursor: pointer;
}

.banner_slide .hd ul li.on {
	background-color: #fff;
	border: 1px solid #fff;
}

.yb_banner .banner_slide .bd li > div {
	position: relative;
	width: 100%;
	min-width: 1280px;
	height: 445px;
}

.yb_banner .banner_slide .bd li .photo_book {
	background: #fff url("../img/index/yb_banner_photo.jpg") no-repeat center top;
}

.yb_banner .banner_slide .bd li .interact_book {
	background: #fff url("../img/index/yb_banner_interact.jpg") no-repeat center top;
}

.yb_banner .banner_slide .bd li .activity {
	background: #fff url("../img/index/yb_banner_activity.jpg") no-repeat center top;
}

.yb_banner .banner_slide .bd li .photo_book .describe {
	position: absolute;
	left: 55%;
	bottom: 95px;
	width: 470px;
	height: 260px;
	background: url("../img/index/make_pb_btn.png") no-repeat 0 0;
}

.yb_banner .banner_slide .bd li .photo_book .describe a {
	position: absolute;
	left: 134px;
	bottom: 6px;
	width: 200px;
	height: 66px;
}

.yb_banner .banner_slide .bd li .interact_book .describe {
	position: absolute;
	left: 53%;
	bottom: 80px;
	width: 570px;
	height: 260px;
	background: url("../img/index/make_ib_btn.png") no-repeat 0 0;
}

.yb_banner .banner_slide .bd li .interact_book .describe a {
	position: absolute;
	left: 184px;
	bottom: 7px;
	width: 200px;
	height: 66px;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
	position: absolute;
	top: 50%;
	width: 50px;
	height: 50px;
	background: url("../img/index/banner_slide_arrows.png") no-repeat;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
	position: absolute;
	top: 50%;
	width: 50px;
	height: 50px;
	background: url("../img/index/banner_slide_arrows.png") no-repeat;
}

.yb_banner .swiper-button-prev{
	left: 5%;
	background-position: 0 0;
}

.yb_banner .swiper-button-prev:hover{
	left: 5%;
	background-position: 0 -50px;
}

.yb_banner .swiper-button-next{
	right: 5%;
	background-position: -50px 0;
}

.yb_banner .swiper-button-next:hover{
	right: 5%;
	background-position: -50px -50px;
}
.yb_banner .swiper-pagination-bullet-active{
	opacity: 1;
	background: #6eb362;
}
/*main con book category*/
.bk_category {
	position: relative;
	margin: 0;
	padding: 20px 0;
	width: 100%;
	overflow: hidden;
}

.bk_category .photo,
.bk_category .interact {
	float: left;
	width: 50%;
	text-align: center;
}

.bk_category > div > h1 {
	margin: 20px 0 10px;
	width: 600px;
	font-size: 30px;
}

.bk_category > div > p {
	margin: 15px 0;
	width: 600px;
	font-size: 18px;
}

.bk_category .img_figure {
	position: relative;
	margin: 15px 10px;
}

.bk_category .img_figure img {
	width: 590px;
	height: 350px;
}

.bk_category .img_figure .btn_bg {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 590px;
	height: 350px;
	background: rgba(0, 0, 0, .6);
}

.bk_category .img_figure .btn_bg a {
	display: block;
	margin: 140px auto;
	width: 200px;
	height: 60px;
	line-height: 56px;
	text-align: center;
	font-size: 24px;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 4px;
	box-sizing: border-box;
}

.bk_category .img_figure:hover .btn_bg {
	display: block;
}

.bk_category .img_figure:hover .btn_bg a {
	animation: btnSlideUp .5s ease;
	-webkit-animation: btnSlideUp .5s ease;
	-moz-animation: btnSlideUp .5s ease;
}

@keyframes btnSlideUp {
	from {
		margin-top: 350px;
		opacity: 0;
	}
	to {
		margin-top: 140px;
		opacity: 1;
	}
}

@-webkit-keyframes btnSlideUp {
	from {
		margin-top: 350px;
		opacity: 0;
	}
	to {
		margin-top: 140px;
		opacity: 1;
	}
}

@-moz-keyframes btnSlideUp {
	from {
		margin-top: 350px;
		opacity: 0;
	}
	to {
		margin-top: 140px;
		opacity: 1;
	}
}

@-ms-keyframes btnSlideUp {
	from {
		margin-top: 350px;
		opacity: 0;
	}
	to {
		margin-top: 140px;
		opacity: 1;
	}
}

.bk_category .detail_step {
	margin: 15px 0 0;
	width: 100%;
	height: auto;
	background-color: #f5f5f5;
	clear: both;
}

.bk_category .detail_step .photo_step,
.bk_category .detail_step .interact_step {
	position: relative;
	margin: 0 auto;
	width: 1200px;
}

.bk_category .detail_step .photo_step .arrow,
.bk_category .detail_step .interact_step .arrow {
	position: absolute;
	top: -20px;
	content: " ";
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 20px solid #f5f5f5;
}

.bk_category .detail_step .photo_step .arrow {
	left: 278px;
}

.bk_category .detail_step .interact_step .arrow {
	right: 278px;
}

.bk_category .detail_step .photo_step.active .arrow,
.bk_category .detail_step .interact_step.active .arrow {
	animation: arrowSlideUp .5s ease;
	-webkit-animation: arrowSlideUp .5s ease;
	-moz-animation: arrowSlideUp .5s ease;
}

.bk_category .detail_step ul {
	width: 100%;
	overflow: hidden;
	clear: both;
}

.bk_category .detail_step ul li {
	position: relative;
	float: left;
	width: 18%;
}

.bk_category .photo_step.active ul li,
.bk_category .interact_step.active ul li {
	animation: stepSlideRight .5s ease;
	-webkit-animation: stepSlideRight .5s ease;
	-moz-animation: stepSlideRight .5s ease;
}

.bk_category .detail_step ul .next {
	width: 9%;
}

.bk_category .detail_step ul li div {
	margin: 35px auto 15px;
	width: 90px;
	height: 90px;
	background: url("../img/index/step_icons.png") no-repeat;
}

.bk_category .photo_step ul .one div {
	background-position: -18px 0;
}

.bk_category .photo_step ul .two div {
	background-position: -254px 0;
}

.bk_category .photo_step ul .three div {
	background-position: -378px 0;
}

.bk_category .photo_step ul .four div {
	background-position: -495px 0;
}

.bk_category .photo_step ul .next div {
	background-position: -138px 0;
}

.bk_category .interact_step ul .one div {
	background-position: -18px -95px;
}

.bk_category .interact_step ul .two div {
	background-position: -254px -95px;
}

.bk_category .interact_step ul .three div {
	background-position: -378px -95px;
}

.bk_category .interact_step ul .four div {
	background-position: -495px -95px;
}

.bk_category .interact_step ul .next div {
	background-position: -138px -95px;
}

.bk_category .detail_step ul li p {
	margin: 15px 0 35px;
	text-align: center;
	font-size: 24px;
}

.bk_category .photo_step ul li p{
	color: #6fb463;
}

.bk_category .interact_step ul li p{
	color: #63a0b4;
}

@keyframes stepSlideRight {
	from {
		left: -100px;
		opacity: 0;
	}
	to {
		left: 0;
		opacity: 1;
	}
}

@-webkit-keyframes stepSlideRight {
	from {
		left: -100px;
		opacity: 0;
	}
	to {
		left: 0;
		opacity: 1;
	}
}

@-moz-keyframes stepSlideRight {
	from {
		left: -100px;
		opacity: 0;
	}
	to {
		left: 0;
		opacity: 1;
	}
}

@-ms-keyframes stepSlideRight {
	from {
		left: -100px;
		opacity: 0;
	}
	to {
		left: 0;
		opacity: 1;
	}
}

@keyframes arrowSlideUp {
	from {
		top: 20px;
		opacity: 0;
	}
	to {
		top: -20px;
		opacity: 1;
	}
}

@-webkit-keyframes arrowSlideUp {
	from {
		top: 20px;
		opacity: 0;
	}
	to {
		top: -20px;
		opacity: 1;
	}
}

@-moz-keyframes arrowSlideUp {
	from {
		top: 20px;
		opacity: 0;
	}
	to {
		top: -20px;
		opacity: 1;
	}
}

@-ms-keyframes arrowSlideUp {
	from {
		top: 20px;
		opacity: 0;
	}
	to {
		top: -20px;
		opacity: 1;
	}
}

/*yb hot tpl list*/
.yb_hot_tpl {
	position: relative;
	margin: 0 auto;
	padding: 20px 0 0;
	width: 100%;
	border-bottom: 1px solid #e0e0e0;
}

.yb_hot_tpl h1,
.show_case h1 {
	display: block;
	margin: 0;
	width: 100%;
	text-align: center;
	font-size: 30px;
}

.yb_hot_tpl .tpl_list {
	position: relative;
	margin: 45px 0 10px;
	width: 100%;
}

.yb_hot_tpl .tpl_list .item {
	margin: 0 auto;
	width: 1280px;
	height: 285px;
	text-align: center;
	background: url("../img/index/hot_tpl_bg.png") no-repeat 0 68px;
	overflow: hidden;
	clear: both;
}

.tpl_list .item ul li {
	display: inline-block;
	float: none;
	position: relative;
	margin: 0 30px;
	width: 120px;
	height: 220px;
}

.tpl_list .item ul li img {
	display: block;
	width: 120px;
	height: 170px;
	clear: both;
	border-radius: 8px;
	box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.2);
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
}

.tpl_list .item ul li .book_mask {
	display: block;
	margin: 0;
	padding: 0;
	background: url(../img/autographbook_bg.png) no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 170px;
	border-radius: 8px;
	overflow: hidden;
	cursor: pointer;
}

.tpl_list .item ul li .book_mask .more {
	position: absolute;
	margin: 0;
	bottom: -580px;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	padding: 10px 10px 0 13px;
	color: #fff;
	font-size: 14px;
	box-sizing: border-box;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-o-transition: all 0.6s;
	transition: all 0.6s;
}

.tpl_list .item ul li .book_mask .more .book_info {
	height: 110px;
	font-size: 12px;
	overflow: hidden;
	text-align: justify;
	white-space: normal;
	line-height: 1.5em;/*NEWYB-1129*/
}

.tpl_list .item ul li .book_mask .more .btn_preview {
	position: absolute;
	bottom: 5px;
	left: 24px;
	margin: 5px auto;
	width: 70px;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
	border: 1px solid rgba(255, 255, 255, 0.43);
	color: rgba(255, 255, 255, 0.8);
	text-align: center;
}

.tpl_list .item ul li .book_mask .more .btn_preview:hover {
	color: rgba(255, 255, 255, 0.8);
	border: 1px solid #ffffff;
}

.tpl_list .item ul li .book_mask:hover .more {
	bottom: 0;
}

.tpl_list .item ul li .book_mask:hover .more .book_info {
	-webkit-animation: desSlideUp 1s;
	-o-animation: desSlideUp 1s;
	animation: desSlideUp 1s;
}

@-webkit-keyframes desSlideUp {
	from {
		margin-top: 100px;
		opacity: 0;
	}
	to {
		margin-top: 0;
		opacity: 1;
	}
}

@-moz-keyframes desSlideUp {
	from {
		margin-top: 100px;
		opacity: 0;
	}
	to {
		margin-top: 0;
		opacity: 1;
	}
}

@-ms-keyframes desSlideUp {
	from {
		margin-top: 100px;
		opacity: 0;
	}
	to {
		margin-top: 0;
		opacity: 1;
	}
}

/*show case*/
.show_case {
	position: relative;
	padding: 30px 0;
	width: 100%;
	/*border-bottom: 1px solid #e0e0e0;*/
}

.show_case .bask_book_slide {
	position: relative;
	margin: 30px auto;
	width: 1280px;
	min-width: 1280px;
	text-align: center;
}

.bask_book_slide .prev,
.bask_book_slide .next {
	position: absolute;
	top: 50%;
	margin-top: -43px;
	width: 50px;
	height: 86px;
	cursor: pointer;
}

.bask_book_slide .prev {
	left: 0;
	background: url("../img/index/show_case_slide_arrow.jpg") no-repeat 0;
}

.bask_book_slide .next {
	right: 0;
	background: url("../img/index/show_case_slide_arrow.jpg") no-repeat -50px 0;
}

.bask_book_slide .bd > div {
	margin: 0 auto;
}

.bask_book_slide .bd ul {
	margin: 0 auto;
	min-width: 1200px;
}

.bask_book_slide .bd li {
	position: relative;
	margin: 10px 15px;
	padding: 0;
	width: 370px;
	border: 1px solid #e0e0e0;
	/*box-sizing: border-box;*/
}

.bask_book_slide .bd li .bask_img {
	width: 370px;
	height: 400px;
}

.bask_book_slide .bd li .bask_img img{
	 width: 370px;
	 height: 400px;
}

.bask_book_slide .bd li .bask_img:hover .btn_bg{
	display: block;
}

.bask_book_slide .bd li .bask_img .btn_bg{
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 370px;
	height: 400px;
	background: rgba(0, 0, 0, .6);
}

.bask_book_slide .bd li .bask_img .btn_bg a{
	display: block;
	margin: 170px auto;
	width: 200px;
	height: 60px;
	line-height: 56px;
	text-align: center;
	font-size: 24px;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 4px;
	box-sizing: border-box;
}

.bask_book_slide .bd li .bask_img:hover .btn_bg a{
	animation: goSeeBtnSlideUp .5s ease;
}

@keyframes goSeeBtnSlideUp {
	from{
		margin-top: 400px;
		opacity: 0;
	}
	to{
		margin-top: 170px;
		opacity: 1;
	}
}

@-webkit-keyframes goSeeBtnSlideUp {
	from{
		margin-top: 400px;
		opacity: 0;
	}
	to{
		margin-top: 170px;
		opacity: 1;
	}
}

@-moz-keyframes goSeeBtnSlideUp {
	from{
		margin-top: 400px;
		opacity: 0;
	}
	to{
		margin-top: 170px;
		opacity: 1;
	}
}

@-ms-keyframes goSeeBtnSlideUp {
	from{
		margin-top: 400px;
		opacity: 0;
	}
	to{
		margin-top: 170px;
		opacity: 1;
	}
}

.bask_book_slide .bd li .base_info {
	display: block;
	margin: 0;
	padding: 0 15px;
	width: 100%;
	height: 45px;
	line-height: 45px;
	box-sizing: border-box;
}

.bask_book_slide .bd li .base_info .name {
	display: inline-block;
	float: left;
	font-size: 16px;
	color: #333;
	max-width: 245px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.bask_book_slide .bd li .base_info .time {
	float: right;
	font-size: 12px;
	color: #999;
}

.bask_book_slide .bd li .detail_info {
	margin: 0 0 10px;
	padding: 0 15px;
	width: 100%;
	box-sizing: border-box;
}

.bask_book_slide .bd li .detail_info .header {
	float: left;
	width: 65px;
	height: 65px;
	background-color: #f5f5f5;
}

.bask_book_slide .bd li .detail_info .header img {
	width: 65px;
	height: 65px;
}

.bask_book_slide .bd li .detail_info .comment,
.bask_book_slide .bd li .detail_info .use_tpl {
	display: block;
	margin: 0;
	padding: 0 0 0 80px;
	width: 100%;
	text-align: left;
	font-size: 12px;
	line-height: 30px;
	color: #333;
	box-sizing: border-box;
}

.bask_book_slide .bd li .detail_info .comment{
	word-break: break-all;
}

.bask_book_slide .bd li .detail_info .use_tpl a {
	color: #6fb463;
}

.bask_book_slide .bd li .detail_info .use_tpl a:hover,
.bask_book_slide .bd li .detail_info .use_tpl a:active {
	color: #e7b54b;
}

.stock_time {
	position: relative;
	margin: 0;
	padding: 30px 0 50px;
	width: 100%;
}

.stock_time div {
	margin: 0 auto;
	width: 280px;
	text-align: center;
}

.stock_time div h2 {
	font-size: 24px;
	color: #666;
	line-height: 45px;
}

.stock_time div p {
	margin: 15px 0;
	font-size: 14px;
	color: #999;
	line-height: 35px;
}

.stock_time div img {
	display: block;
	margin: 0;
}
