@charset 'utf-8';

/*3.6 yb_banner*/
.yb_banner
{
    position: relative;

    width: 100%;
    min-width: 1150px;
    height: 445px;
}

.yb_banner .banner_slide
{
    position: relative;

    width: 100%;
    height: 100%;
}

.yb_banner .banner_slide .hd
{
    position: absolute;
    z-index: 1;
    bottom: 20px;
    left: 50%;

    width: 110px;
    height: 10px;
    margin-left: -55px;

    text-align: center;
}

.banner_slide .hd ul li
{
    display: inline-block;

    width: 10px;
    height: 10px;
    margin: 0 10px;

    cursor: pointer;
    text-indent: -9999px;

    border: 1px solid #fff;
    border-radius: 100%;
    background-color: transparent;
}

.banner_slide .hd ul li.on
{
    border: 1px solid #fff;
    background-color: #fff;
}

.yb_banner .banner_slide .bd li > div
{
    position: relative;

    width: 100%;
    min-width: 1150px;
    height: 445px;
}

.yb_banner .banner_slide .bd li .photo_book
{
    background: #fff url('../img/index/yb_banner_photo.jpg') no-repeat center top;
}

.yb_banner .banner_slide .bd li .interact_book
{
    background: #fff url('../img/index/yb_banner_interact.jpg') no-repeat center top;
}

.yb_banner .banner_slide .bd li .activity
{
    background: #fff url('../img/index/yb_banner_activity.jpg') no-repeat center top;
}

.yb_banner .banner_slide .bd li .photo_book .describe
{
    position: absolute;
    bottom: 95px;
    left: 55%;

    width: 470px;
    height: 260px;

    background: url('../img/index/make_pb_btn.png') no-repeat 0 0;
}

.yb_banner .banner_slide .bd li .photo_book .describe a
{
    position: absolute;
    bottom: 6px;
    left: 134px;

    width: 200px;
    height: 66px;
}

.yb_banner .banner_slide .bd li .interact_book .describe
{
    position: absolute;
    bottom: 80px;
    left: 53%;

    width: 570px;
    height: 260px;

    background: url('../img/index/make_ib_btn.png') no-repeat 0 0;
}

.yb_banner .banner_slide .bd li .interact_book .describe a
{
    position: absolute;
    bottom: 7px;
    left: 184px;

    width: 200px;
    height: 66px;
}

.yb_banner .swiper-button-prev,
.yb_banner .swiper-container-rtl .swiper-button-next
{
    position: absolute;
    top: 50%;

    width: 50px;
    height: 50px;

    background: url('../img/index/banner_slide_arrows.png') no-repeat;
    background-size: 100px;
}
.yb_banner .swiper-button-next,
.yb_banner .swiper-container-rtl .swiper-button-prev
{
    position: absolute;
    top: 50%;

    width: 50px;
    height: 50px;

    background: url('../img/index/banner_slide_arrows.png') no-repeat;
    background-size: 100px;
}

.yb_banner .swiper-button-prev
{
    left: 5%;

    background-position: 0 0;
}

.yb_banner .swiper-button-prev:hover
{
    left: 5%;

    background-position: 0 -50px;
}

.yb_banner .swiper-button-next
{
    right: 5%;

    background-position: -50px 0;
}

.yb_banner .swiper-button-next:hover
{
    right: 5%;

    background-position: -50px -50px;
}
.yb_banner .swiper-pagination-bullet-active
{
    opacity: 1;
    background: #6eb362;
}
/*main con book category*/
.bk_category
{
    position: relative;

    overflow: hidden;

    width: 100%;
    padding: 20px 0;
}

.bk_category .photo,
.bk_category .interact
{
    float: left;

    width: 50%;

    text-align: center;
}

.bk_category > div > h1
{
    font-size: 30px;

    width: 600px;
    margin: 20px 0 10px;

    text-align: center;
}

.bk_category > div > p
{
    font-size: 18px;

    width: 600px;
    margin: 15px 0;
}

.bk_category .img_figure
{
    position: relative;

    margin: 15px 10px;
}

.bk_category .img_figure img
{
    width: 590px;
    height: 350px;
}

.bk_category .img_figure .btn_bg
{
    position: absolute;
    top: 0;
    left: 0;

    display: none;

    width: 590px;
    height: 350px;

    background: rgba(0, 0, 0, .6);
}

.bk_category .img_figure .btn_bg a
{
    font-size: 24px;
    line-height: 56px;

    display: block;

    box-sizing: border-box;
    width: 200px;
    height: 60px;
    margin: 140px auto;

    text-align: center;

    color: #fff;
    border: 2px solid #fff;
    border-radius: 4px;
}

.bk_category .img_figure:hover .btn_bg
{
    display: block;
}

.bk_category .img_figure:hover .btn_bg a
{
    -webkit-animation: btnSlideUp .5s ease;
       -moz-animation: btnSlideUp .5s ease;
            animation: btnSlideUp .5s ease;
}

@keyframes btnSlideUp
{
    from
    {
        margin-top: 350px;

        opacity: 0;
    }
    to
    {
        margin-top: 140px;

        opacity: 1;
    }
}

@-webkit-keyframes btnSlideUp
{
    from
    {
        margin-top: 350px;

        opacity: 0;
    }
    to
    {
        margin-top: 140px;

        opacity: 1;
    }
}

.bk_category .detail_step
{
    clear: both;

    width: 100%;
    height: auto;
    margin: 15px 0 0;

    background-color: #f5f5f5;
}

.bk_category .detail_step .photo_step,
.bk_category .detail_step .interact_step
{
    position: relative;

    width: 1200px;
    margin: 0 auto;
}

.bk_category .detail_step .photo_step .arrow,
.bk_category .detail_step .interact_step .arrow
{
    position: absolute;
    top: -20px;

    width: 0;
    height: 0;

    content: ' ';

    border-right: 20px solid transparent;
    border-bottom: 20px solid #f5f5f5;
    border-left: 20px solid transparent;
}

.bk_category .detail_step .photo_step .arrow
{
    left: 278px;
}

.bk_category .detail_step .interact_step .arrow
{
    right: 278px;
}

.bk_category .detail_step .photo_step.active .arrow,
.bk_category .detail_step .interact_step.active .arrow
{
    -webkit-animation: arrowSlideUp .5s ease;
       -moz-animation: arrowSlideUp .5s ease;
            animation: arrowSlideUp .5s ease;
}

.bk_category .detail_step ul
{
    clear: both;
    overflow: hidden;

    width: 100%;
}

.bk_category .detail_step ul li
{
    position: relative;

    float: left;

    width: 18%;
}

.bk_category .photo_step.active ul li,
.bk_category .interact_step.active ul li
{
    -webkit-animation: stepSlideRight .5s ease;
       -moz-animation: stepSlideRight .5s ease;
            animation: stepSlideRight .5s ease;
}

.bk_category .detail_step ul .next
{
    width: 9%;
}

.bk_category .detail_step ul li div
{
    width: 90px;
    height: 90px;
    margin: 35px auto 15px;

    background: url('../img/index/step_icons.png') no-repeat;
}

.bk_category .photo_step ul .one div
{
    background-position: -18px 0;
}

.bk_category .photo_step ul .two div
{
    background-position: -254px 0;
}

.bk_category .photo_step ul .three div
{
    background-position: -378px 0;
}

.bk_category .photo_step ul .four div
{
    background-position: -495px 0;
}

.bk_category .photo_step ul .next div
{
    background-position: -138px 0;
}

.bk_category .interact_step ul .one div
{
    background-position: -18px -95px;
}

.bk_category .interact_step ul .two div
{
    background-position: -254px -95px;
}

.bk_category .interact_step ul .three div
{
    background-position: -378px -95px;
}

.bk_category .interact_step ul .four div
{
    background-position: -495px -95px;
}

.bk_category .interact_step ul .next div
{
    background-position: -138px -95px;
}

.bk_category .detail_step ul li p
{
    font-size: 24px;

    margin: 15px 0 35px;

    text-align: center;
}

.bk_category .photo_step ul li p
{
    color: #6fb463;
}

.bk_category .interact_step ul li p
{
    color: #63a0b4;
}

@keyframes stepSlideRight
{
    from
    {
        left: -100px;

        opacity: 0;
    }
    to
    {
        left: 0;

        opacity: 1;
    }
}

@-webkit-keyframes stepSlideRight
{
    from
    {
        left: -100px;

        opacity: 0;
    }
    to
    {
        left: 0;

        opacity: 1;
    }
}

@keyframes arrowSlideUp
{
    from
    {
        top: 20px;

        opacity: 0;
    }
    to
    {
        top: -20px;

        opacity: 1;
    }
}

@-webkit-keyframes arrowSlideUp
{
    from
    {
        top: 20px;

        opacity: 0;
    }
    to
    {
        top: -20px;

        opacity: 1;
    }
}

/*yb hot tpl list*/
.yb_hot_tpl
{
    position: relative;

    width: 100%;
    margin: 0 auto;
    padding: 20px 0 0;

    border-bottom: 1px solid #e0e0e0;
}

.yb_hot_tpl h1,
.show_case h1
{
    font-size: 30px;

    display: block;

    width: 100%;
    margin: 0;

    text-align: center;
}

.yb_hot_tpl .tpl_list
{
    position: relative;

    width: 100%;
    margin: 45px 0 10px;
}

.yb_hot_tpl .tpl_list .item
{
    clear: both;
    overflow: hidden;

    width: 100%;
    height: 285px;
    margin: 0 auto;

    text-align: center;

    background: url('../img/index/hot_tpl_bg.png') no-repeat center 90%;
}

.tpl_list .item ul li
{
    position: relative;

    display: inline-block;
    float: none;

    width: 120px;
    height: 220px;
    margin: 0 30px;
}

.tpl_list .item ul li img
{
    display: block;
    clear: both;

    box-sizing: border-box;
    width: 120px;
    height: 170px;

    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 8px;
    box-shadow: 0 3px 5px 1px rgba(0, 0, 0, .2);
}

.tpl_list .item ul li .book_mask
{
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    overflow: hidden;

    width: 100%;
    height: 170px;
    margin: 0;
    padding: 0;

    cursor: pointer;

    border-radius: 8px;
    background: url(../img/autographbook_bg.png) no-repeat;
}

.tpl_list .item ul li .book_mask .more
{
    font-size: 14px;

    position: absolute;
    bottom: -580px;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px 10px 0 13px;

    transition: all .6s;

    color: #fff;
    background-color: rgba(0, 0, 0, .6);
}

.tpl_list .item ul li .book_mask .more .book_info
{
    font-size: 12px;
    line-height: 1.5em;/*NEWYB-1129*/

    overflow: hidden;

    height: 110px;

    text-align: justify;
    white-space: normal;
}

.tpl_list .item ul li .book_mask .more .btn_preview
{
    font-size: 14px;
    line-height: 25px;

    position: absolute;
    bottom: 5px;
    left: 24px;

    width: 70px;
    height: 25px;
    margin: 5px auto;

    text-align: center;

    color: rgba(255, 255, 255, .8);
    border: 1px solid rgba(255, 255, 255, .43);
}

.tpl_list .item ul li .book_mask .more .btn_preview:hover
{
    color: rgba(255, 255, 255, .8);
    border: 1px solid #fff;
}

.tpl_list .item ul li .book_mask:hover .more
{
    bottom: 0;
}

.tpl_list .item ul li .book_mask:hover .more .book_info
{
    -webkit-animation: desSlideUp 1s;
            animation: desSlideUp 1s;
}

@-webkit-keyframes desSlideUp
{
    from
    {
        margin-top: 100px;

        opacity: 0;
    }
    to
    {
        margin-top: 0;

        opacity: 1;
    }
}

/*show case*/
.show_case
{
    position: relative;

    width: 100%;
    min-width: 1150px;
    padding: 30px 0;
	/*border-bottom: 1px solid #e0e0e0;*/
}

.show_case .bask_book_slide
{
    position: relative;

    width: 100%;
    min-width: 1150px;
    margin: 30px auto;

    text-align: center;
}

.bask_book_slide .prev,
.bask_book_slide .next
{
    position: absolute;
    top: 50%;

    width: 50px;
    height: 86px;
    margin-top: -43px;

    cursor: pointer;
}

.bask_book_slide .prev
{
    left: 0;

    background: url('../img/index/show_case_slide_arrow.jpg') no-repeat 0;
}

.bask_book_slide .next
{
    right: 0;

    background: url('../img/index/show_case_slide_arrow.jpg') no-repeat -50px 0;
}

.bask_book_slide .bd > div
{
    position: relative;

    width: 1150px;
    margin: 0 auto;
}

.bask_book_slide .bd ul
{
    min-width: 1150px;
    margin: 0 auto;
}

.bask_book_slide .bd li
{
    position: relative;

    float: left;

    width: 350px;
    margin: 10px 15px;
    padding: 0;

    border: 1px solid #e0e0e0;
	/*box-sizing: border-box;*/
}

.bask_book_slide .bd li .bask_img
{
    position: relative;

    width: 100%;
    height: 100%;
}

.bask_book_slide .bd li .bask_img img
{
    display: block;

    width: 100%;
}

.bask_book_slide .bd li .bask_img:hover .btn_bg
{
    display: block;
}

.bask_book_slide .bd li .bask_img .btn_bg
{
    position: absolute;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, .6);
}

.bask_book_slide .bd li .bask_img .btn_bg a
{
    font-size: 24px;
    line-height: 56px;

    display: block;

    box-sizing: border-box;
    width: 200px;
    height: 60px;
    margin: 170px auto;

    text-align: center;

    color: #fff;
    border: 2px solid #fff;
    border-radius: 4px;
}

.bask_book_slide .bd li .bask_img:hover .btn_bg a
{
    -webkit-animation: goSeeBtnSlideUp .5s ease;
            animation: goSeeBtnSlideUp .5s ease;
}

@keyframes goSeeBtnSlideUp
{
    from
    {
        margin-top: 400px;

        opacity: 0;
    }
    to
    {
        margin-top: 170px;

        opacity: 1;
    }
}

@-webkit-keyframes goSeeBtnSlideUp
{
    from
    {
        margin-top: 400px;

        opacity: 0;
    }
    to
    {
        margin-top: 170px;

        opacity: 1;
    }
}

.bask_book_slide .bd li .base_info
{
    line-height: 45px;

    display: block;

    box-sizing: border-box;
    width: 100%;
    height: 45px;
    margin: 0;
    padding: 0 15px;
}

.bask_book_slide .bd li .base_info .name
{
    font-size: 16px;

    display: inline-block;
    float: left;
    overflow: hidden;

    max-width: 245px;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #333;
}

.bask_book_slide .bd li .base_info .time
{
    font-size: 12px;

    float: right;

    color: #999;
}

.bask_book_slide .bd li .detail_info
{
    box-sizing: border-box;
    width: 100%;
    margin: 0 0 10px;
    padding: 0 15px;
}

.bask_book_slide .bd li .detail_info .header
{
    float: left;

    width: 65px;
    height: 65px;

    background-color: #f5f5f5;
}

.bask_book_slide .bd li .detail_info .header img
{
    width: 65px;
    height: 65px;
}

.bask_book_slide .bd li .detail_info .comment,
.bask_book_slide .bd li .detail_info .use_tpl
{
    font-size: 12px;
    line-height: 30px;

    display: block;

    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0 0 0 80px;

    text-align: left;

    color: #333;
}

.bask_book_slide .bd li .detail_info .comment
{
    word-break: break-all;
}

.bask_book_slide .bd li .detail_info .use_tpl a
{
    color: #6fb463;
}

.bask_book_slide .bd li .detail_info .use_tpl a:hover,
.bask_book_slide .bd li .detail_info .use_tpl a:active
{
    color: #e7b54b;
}

.stock_time
{
    position: relative;

    width: 100%;
    min-width: 1150px;
    margin: 0;
    padding: 30px 0 50px;
}

.stock_time div
{
    width: 280px;
    margin: 0 auto;

    text-align: center;
}

.stock_time div h2
{
    font-size: 24px;
    line-height: 45px;

    color: #666;
}

.stock_time div p
{
    font-size: 14px;
    line-height: 35px;

    margin: 15px 0;

    color: #999;
}

.stock_time div img
{
    display: block;

    margin: 0;
}
.footer.new .ft_copyright .ft_mobile a
{
    display: inline;
}
