@charset "utf-8";

.yb-error {
	width: 100%;
	text-align: center;
	margin: 2em auto;
}

.yb-error img {
	width: 50%;
}

.yb-error p {
	font-size: 1.5em;
	margin: 7px 0 0;
}

.yb-error p.yb-error-sub {
	font-size: 1em;
	width: 80%;
	margin: 0 auto;
}

.yb-error a.error-return, .yb-error a.error-btn {
	display: block;
	width: 30%;
	height: 2em;
	line-height: 2em;
	text-align: center;
	color: #fff;
	background-color: #007ce5;
	margin: 2em auto;
	border-radius: 4px;
}

.yb-error a.error-btn {
	margin-left: .3em;
}

.yb-error a.error-return:hover, .yb-error a.error-btn:hover, .yb-error a.error-return:focus, .yb-error a.error-btn:focus {
	color: black;
	background-color: #c3c3c3;
}

.yb-error a.error-return span, .yb-error a.error-btn span {
	margin-right: .5em;
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	transform: scaleX(-1);
	/*filter: fliph; /!*IE*!/*/
	/*transform:rotate(270deg);*/
}

.yb-error .yb-500-btn {
	margin: 0 18%;
	width: 100%;
}
/*login and register*/
.login-index {
	background: url("../img/m/yb-bg.jpg") no-repeat;
	height: 100%;
	position: relative;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	min-height: 100%;
}

.logo {
	background: url("../img/m/img_sprite_00000.png") no-repeat;
	width: 235px;
	height: 50px;
	margin: 4em auto;
}

.login-register {
	margin: 2em auto;
}

.login-register a:hover {
	color: #0888e6;
}

.login-red, .login-find-ps {
	color: #fff;
}

.login-find-ps {
	float: right;
}

.third-login {
	text-align: center;
	margin: 2em auto;
}

.login-info {
	color: #fff;
}

.third-login ul {
	margin: 0 auto;
}

.third-login p {
	font-size: 1em;
	margin-bottom: 10px;
}

.third-login ul li {
	margin: 0 auto;
	padding: 0;
}

.third-login ul li a {
	display: block;
	width: 4.5em;
	height: 2.5em;
	color: #fff;
	line-height: 2.5em;
}

.third-login ul li a:hover {
	color: #fff;
}

.third-login .btn {
	padding: 1px;
}

.btn-weibo {
	background-color: #ff5555;
}

.btn-renren {
	background-color: #448aca;
}

.btn-qq {
	background-color: #7ecef4
}

.btn-wechat {
	background-color: #50a000;
}

.sns {
	background: url("../img/m/icon-sns.png") no-repeat;
	width: 25px;
	height: 26px;
	float: left;
	margin: 7px 0 0 2px
}

.sns.weibo {
	background-position: 0 0;
}

.sns.renren {
	background-position: 0 -23px;
}

.sns.qq {
	background-position: 0 -48px;
}

.sns.wechat {
	background-position: 0 -75px;
}

.clear-padding {
	margin: 0;
	padding: 0;
}

.fix-userinfo.container {
	margin: 1em auto;
	width: 100%;
	padding: 0;
	font-size: 0.875em;
	line-height: 1.5em;
}

.fix-userinfo button {
	width: 100%;
	display: block;
}

.service-protocol {
	color: #fff;
	margin: 1em auto;
	width: 100%;
	text-align: center;
}
/*bind*/
.user-center-bind .list-group .list-group-item, .user-center-tool .list-group .list-group-item {
	border-left: none;
	border-right: none;
	border-radius: 0;
}

.user-center-bind .list-group .list-group-item span{
	font-size: .875em;
}

.user-center-bind a {
	color: #3c3c3c;
	display: block;
	font-size: .875em;
}
.bind {
	background: url("../img/m/icon-bind.png") no-repeat;
	width: 20px;
	height: 20px;
	float: left;
	margin: 2px;
	background-size: 40px 140px;
}

.bind.active {
	background-position-x: -20px;
}

.photo-icon {
	background-position: 0 -2px;
}

.email-icon {
	background-position: 0 -25px;
}

.qq-icon {
	background-position: 0 -48px;
}

.renren-icon {
	background-position: 0 -72px;
}

.weibo-icon {
	background-position: 0 -95px;
}

.wechat-icon {
	background-position: 0 -120px;
}

.set-username {
	margin: 2em!important;
}

.set-username p,
.change-ps-ok p{
	margin-bottom: 10px;
}

.set-username textarea {
	height: 15em;
	padding: .5em 12px;
	overflow: auto;
	word-break: break-all;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #555;
	font-size: 14px;
	line-height: 1.42857;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}