@charset "utf-8";

/*~~~~~~~~~~404 500~~~~~~~~~~*/
.yb-error {
    width: 100%;
    text-align: center;
    margin: 2em auto;
}

.yb-error img {
    width: 50%;
    vertical-align: baseline;
}

.yb-error p {
    font-size: 1.5em;
    margin: 0;
}

.yb-error p.yb-error-sub {
    font-size: 1em;
    width: 80%;
    margin: 0 auto;
}

.yb-error a.error-return, .yb-error a.error-btn {
    display: block;
    width: 30%;
    height: 2em;
    line-height: 2em;
    text-align: center;
    color: #fff;
    background-color: #007ce5;
    margin: 2em auto;
    border-radius: 4px;
}

.yb-error a.error-btn {
    margin-left: .3em;
}

.yb-error a.error-return:hover, .yb-error a.error-btn:hover, .yb-error a.error-return:focus, .yb-error a.error-btn:focus {
    color: black;
    background-color: #c3c3c3;
}

.yb-error a.error-return span, .yb-error a.error-btn span {
    margin-right: .5em;
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}

.yb-error .yb-500-btn {
    margin: 0 18%;
    width: 100%;
}

/*~~~~~~~~~~login and register~~~~~~~~~~*/

.login-index {
    background: url("../img/m/access/yb-bg.jpg") no-repeat;
    height: 100%;
    position: relative;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 100%;
}

.logo {
    background: url("../img/m/sprite/img_sprite_00000.png") no-repeat;
    width: 235px;
    height: 50px;
    margin: 4em auto;
}

.login-register {
    margin: 2em auto;
}

.login-register a:hover {
    color: #0888e6;
}

.login-red, .login-find-ps {
    color: #fff;
}

.login-find-ps {
    float: right;
}

.third-login {
    text-align: center;
    margin: 2em auto;
}

.login-info {
    color: #fff;
}

.third-login ul {
    margin: 0 auto;
}

.third-login p {
    font-size: 1em;
    margin-bottom: 10px;
}

.third-login ul li {
    margin: 0 auto;
    padding: 0;
}

.third-login ul li a {
    display: block;
    width: 4.5em;
    height: 2.5em;
    color: #fff;
    line-height: 2.5em;
}

.third-login ul li a:hover {
    color: #fff;
}

.third-login .btn {
    padding: 1px;
}

.btn-weibo {
    background-color: #ff5555;
}

.btn-renren {
    background-color: #448aca;
}

.btn-qq {
    background-color: #7ecef4
}

.btn-wechat {
    background-color: #50a000;
}


.third-login span.ybiconfont{
    font-size: 20px;
    line-height: 35px;
    margin-right: 2px;
    vertical-align: middle;
}

.third-login span.icon-qq{
    font-size: 18px;
}
/*.sns {
    background: url("../img/m/sprite/icon-sns.png") no-repeat;
    width: 25px;
    height: 26px;
    float: left;
    margin: 7px 0 0 2px
}

.sns.weibo {
    background-position: 0 0;
}

.sns.renren {
    background-position: 0 -23px;
}

.sns.qq {
    background-position: 0 -48px;
}

.sns.wechat {
    background-position: 0 -75px;
}*/

.clear-padding {
    margin: 0;
    padding: 0;
}

.service-protocol {
    color: #fff;
    margin: 1em auto;
    width: 100%;
    text-align: center;
}

/*~~~~~~~~~~sso~~~~~~~~~~*/
.sso_dialogue_wrapper {
    margin: 0 auto;
    width: 95%;
    height: 20px;
}

.sso_avatar_item {
    display: block;
    margin: 30px auto;
    width: 30%;
    position: relative;
}

.sso_avatar_item img {
    display: block;
    width: 100%;
    border-radius: 50%;
}

.sso_avatar_item span {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 100%;
    background-color: #50a000;
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
}

.sso_nickname_item {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
}

.sso_btn_wrapper {
    padding: 0 0 50px 0;
    width: 100%;
}

.sso_btn_wrapper a {
    display: block;
    margin: 3.5em auto 1em;
    padding: 0.4em 0;
    width: 80%;
    border: 1px solid #7bba33;
    text-align: center;
    font-size: 13px;
}

.sso_solid_btn {
    background-color: #7bba33;
    color: #fff;
}

.sso_btn_wrapper .sso_hollow_btn {
    background: #fff;
    color: #7bba33;
    position: relative;
    top: 0;
    z-index: 222;
}

.sso_btn_wrapper .sso_hollow_btn.active {
    top: 160px;
    -webkit-transition: top 0.5s;
    -moz-transition: top 0.5s;
    -ms-transition: top 0.5s;
}

.sso_login_wrapper {
    opacity: 0;
    width: 100%;
    bottom: 90px;
    right: 0;
    position: relative;
    z-index: -1;
}

.sso_login_wrapper.active {
    z-index: 0;
    opacity: 1;
    -webkit-transition: opacity 0.5s 0.5s;
    -moz-transition: opacity 0.5s 0.5s;
    -ms-transition: opacity 0.5s 0.5s
}

.sso_login_wrapper ul {
    margin: 1em auto;
    width: 80%;
}

.sso_login_wrapper ul li {
    margin: 30px 0;
    height: 50px;
    position: relative;
}

.sso_login_wrapper ul li label {
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    font-size: 0.8em;
    font-weight: normal;
}

.sso_login_wrapper ul li > div {
    display: block;
    margin: 10px 0;
    width: 100%;
    height: 100%;
    background-color: #faffbd;
    border: 1px solid #ccc;
    position: relative;
}

.sso_login_wrapper ul li input {
    display: block;
    padding: 0 0 0 1%;
    width: 99%;
    height: 2em;
    background-color: #faffbd;
    border: none;
    position: absolute;
    font-size: 1em;
    font-family: 'Microsoft yahei';
}

.sso_login_wrapper ul li input::-webkit-input-placeholder {
    color: #ccc;
}

.sso_login_wrapper ul li input::-moz-input-placeholder {
    color: #ccc;
}

.sso_login_wrapper ul li input::-ms-input-placeholder {
    color: #ccc;
}

.sso_login_wrapper ul li div span {
    display: block;
    width: 1em;
    height: 1em;
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 11px;
    color: #bbb;
    z-index: 1;
}

.sso_avatar_item .wechat {
    background-position: 2px -70px;
    background-color: #019916;
}

.sso_avatar_item .qq {
    background-position: 3px -43px;
    background-color: #00adef;
}

.sso_avatar_item .weibo {
    background-position: 2px 7px;
    background-color: #ff414e;
}

/*~~~~~~~~~~find password~~~~~~~~~~*/
.choose-way > div {
    border: 1px solid #3c3c3c;
    margin: 1em;
    padding: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
}

.choose-way > div.not-support {
    border-color: #D4D4D4;
}

.choose-way > div.not-support a {
    color: #D4D4D4;
}

.choose-way > div.support a {
    color: #3c3c3c;
}

.choose-way p {
    margin-bottom: 10px;
    font-size: 0.875em;
}

.choose-way img {
    vertical-align: baseline;
}

.change-ps .id_code {
    width: 35%;
    float: left;
}

.id_code_img {
    float: left;
    margin: 0 1em;
    width: 5em;
    height: 2em;
}