@charset "utf-8";

/*~~~~~~~~~~interactivebooklist_wrapper~~~~~~~~~~*/
.choosetype_wrapper {
    width: 100%;
    background: #fff;
    border-top: 1px solid #ddd;
    position: relative;
}

.choosetype_wrapper ul {
    margin: 0 auto;
    width: 100%;
    background-color: #fff;
}

.choosetype_wrapper ul li {
    float: left;
    padding: 5px 0;
    width: 25%;
    height: 100px;
}

.choosetype_wrapper ul li span {
    display: block;
    margin: 10px auto 5px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #c0c0c0;
    text-align: center;
    line-height: 60px;
}

.choosetype_wrapper ul li span img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

.choosetype_wrapper ul li .active {
    background: #afde70;
}

.choosetype_wrapper a {
    display: block;
    width: 100%;
    height: 100%;
}

.choosetype_wrapper ul li label {
    display: block;
    width: 100%;
    font-size: 1em;
    text-align: center;
    color: #888;
    font-weight: normal;
}

.choosetype_wrapper span {
    background-position-y: -88px;
}

.choosetype_wrapper .active span {
    background-color: #afde70;
}

.choosetype_wrapper .active label {
    color: #8fc04e;
}

.booklist_wrapper .choosetype_wrapper {
    margin: 0 0 23px 0;
    overflow: hidden;
}

.booklist_wrapper .swiper-pagination {
    width: 100%;
    position: absolute;
    top: 270px;
}

.booklist_wrapper .swiper-pagination span {
    margin: 0 0 0 10px;
}

.booklist_wrapper .choosetype_wrapper ul {
    border-left: 1px solid #ddd;
}

.booklist_wrapper .choosetype_wrapper ul:before {
    left: 30.5%;
}

.booklist_wrapper .choosetype_wrapper ul:after {
    left: 63.7%;
}

.booklist_wrapper .choosetype_wrapper ul li {
    padding: 5px 0;
    box-sizing: content-box;
    width: 33%;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.booklist_wrapper .choosetype_wrapper ul li:before {
    content: '';
    position: absolute;
}

.booklist_wrapper .choosetype_wrapper ul li span {
    display: block;
    width: 60px;
    height: 60px;
    background-color: #fff;
    background-image: url(../img/m/tpllisticons.png);
    background-size: 300px 120px;
}

.booklist_wrapper .choosetype_wrapper ul .all span {
    background-position: 0 -0;
}

.booklist_wrapper .choosetype_wrapper ul .entertaining span {
    background-position: -60px -0;
}

.booklist_wrapper .choosetype_wrapper ul .graduate span {
    background-position: -120px -0;
}

.booklist_wrapper .choosetype_wrapper ul .allimagebook span {
    background-position: -180px 0;
}

.booklist_wrapper .choosetype_wrapper ul .baby span {
    background-position: -240px -0;
}

.booklist_wrapper .choosetype_wrapper ul .travel span {
    background-position: 0 -60px;
}

.booklist_wrapper .choosetype_wrapper ul .love span {
    background-position: -60px -60px;
}

.booklist_wrapper .choosetype_wrapper ul .party span {
    background-position: -120px -60px;
}

.booklist_wrapper .choosetype_wrapper ul .portrait span {
    background-position: -180px -60px;
}

.booklist_wrapper .choosetype_wrapper ul .family span {
    background-position: -240px -60px;
}

.booklist_wrapper .mybookshelf_main_wrapper li a img {
    background-position: -244px -362px;
}

/*~~~~~~~~~~book details~~~~~~~~~~*/
.book_show_swiper {
    position: relative;
    padding: 0;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
}

.book_show_swiper ul {
    margin: 0;
}

.book_show_swiper .swiper-slide img {
    display: block;
    margin: 0 auto;
    max-width: 188px;
    max-height: 188px;
}

.book_show_swiper .swiper-slide a {
    display: block;
    margin: 0 auto;
    width: 188px;
    height: 188px;
    text-align: center;
}

.book_show_swiper .swiper-slide .cover img {
    position: relative;
    top: 18px;
    left: 18px;
    width: 150px;
    height: 166px;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #77b775;
}

/*book standard*/
.product_detail .standard .standard_info {
    margin: 15px auto 0;
    width: 100%;
    font-size: 14px;
}

.standard .standard_info ul li {
    display: inline-block;
    margin: 0 auto;
    width: 85%;
    height: 35px;
    line-height: 35px;
    text-align: left;
    border-bottom: 1px dotted #c9c9c9;
    box-sizing: border-box;
}

.standard .standard_info ul li label {
    color: #8f8f8f;
    font-weight: normal;
    margin-bottom: 0;
}

.standard .standard_info ul li label::before {
    display: inline-block;
    margin: 0 8px 0 0;
    content: " ";
    width: 10px;
    height: 10px;
    background-color: #81d42f;
    vertical-align: middle;
}

.how_made img {
    display: block;
    margin: 0 auto;
    width: 90%;
}

.pages_display .pages,
.using_scene .scene_dis {
    margin: 40px auto 0;
}

.pages_display .pages .cover,
.pages_display .pages .backcover {
    position: relative;
    margin: 50px auto;
    width: 221px;
    height: 301px;
    background: url("../img/m/book_details/inner_page_cover_bg.png") no-repeat 0;
    background-size: cover;
}

.pages_display .pages .cover img,
.pages_display .pages .backcover img {
    position: absolute;
    left: 0;
    top: -4px;
    width: 213px;
    height: 301px;
    box-shadow: 0 0 3px #ccc;
    box-sizing: border-box;
}

.pages_display .pages .backcover {
    background: url("../img/m/book_details/inner_page_backcover_bg.png") no-repeat 0;
    background-size: contain;
}

.pages_display .pages .backcover img {
    position: absolute;
    right: 0;
    left: auto;
}

.pages_display .pages .inner_page {
    position: relative;
    display: block;
    margin: 50px auto;
    width: 310px;
    height: 217px;
    background: url("../img/m/book_details/inner_page_bg.jpg") no-repeat 0;
    background-size: contain;
}

.pages_display .pages .inner_page::after {
    position: absolute;
    top: 3px;
    left: 50%;
    margin-left: -11px;
    content: " ";
    width: 22px;
    height: 212px;
    background: url("../img/m/book_details/inner_page_shadow.png") no-repeat 0;
    background-size: cover;
}

.pages_display .pages .inner_page .left,
.pages_display .pages .inner_page .right {
    float: left;
    margin-left: -1px;
    padding: 3px 0;
    width: 50%;
    box-sizing: border-box;
}

.pages_display .pages .inner_page .left {
    text-align: right;
}

.pages_display .pages .inner_page .right {
    text-align: left;
}

.pages_display .pages .inner_page img {
    width: 150px;
    height: 212px;
}

.using_scene .scene_dis ul li {
    display: block;
    margin: 20px 5%;
    width: 95%;
}

.using_scene .scene_dis ul li img {
    width: 100%;
}

.sizing_explain .size_info .item {
    display: block;
    margin: 0 auto;
    width: 90%;
}

.sizing_explain .size_info .item img {
    display: block;
    margin: 15px auto;
    width: 202px;
    height: 232px;
}

.sizing_explain .size_info .item:first-child img {
    width: 214px;
    height: 268px;
}

.sizing_explain .size_info .item p {
    font-size: 14px;
    color: #666;
}

/*sold record*/
.book_details_box .sold_record table {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 12px;
    text-align: center;
}

.sold_record .table_head {
    padding: 0;
    color: #666;
    height: 45px;
    line-height: 45px;
    font-size: 12px;
    background-color: #eaeaea;
    border-bottom: 1px solid #c9c9c9;
}

.sold_record .table_head span {
    float: left;
    width: 22%;
    text-align: center;
}

.sold_record .table_head span:last-child {
    width: 34%;
}

.sold_record .table_main {
    margin: 0 0 25px;
    padding: 0;
    color: #333;
    font-size: 12px;
}

.sold_record .table_main table {
    width: 100%;
}

.sold_record table tbody tr {
    height: 45px;
    line-height: 45px;
    border-bottom: 1px dotted #c9c9c9;
}

.sold_record table tbody tr:nth-child(even) {
    background-color: #f7f7f7;
}

.sold_record table tbody tr td {
    width: 22%;
    text-align: center;
}

.sold_record table tbody tr td:last-child {
    width: 34%;
}

/*user comments*/
.book_details_box .user_comments,
.book_details_box .consult {
    margin: 0;
    padding: 0 35px;
    width: 100%;
    font-size: 12px;
    color: #666;
    box-sizing: border-box;
}

.user_comments .table_main,
.consult .table_main {
    margin: 0 0 20px;
}

.user_comments .table_main .com_item,
.consult .table_main .com_item {
    margin: 0;
    padding: 10px 15px;
    border-bottom: 1px dotted #c9c9c9;
    font-size: 12px;
}

.user_comments .table_main .com_item .name,
.user_comments .table_main .com_item .time {
    display: block;
    float: left;
    height: 35px;
    line-height: 30px;
}

.user_comments .table_main .com_item .time {
    float: right;
}

.user_comments .table_main .com_item .content {
    position: relative;
    margin: 0 0 5px;
    padding: 10px;
    background-color: #f6f6f6;
    clear: both;
    box-sizing: border-box;
}

.user_comments .table_main .com_item .content::before {
    display: block;
    position: absolute;
    top: -8px;
    left: 20px;
    content: " ";
    width: 0;
    height: 0;
    border-bottom: 8px solid #f6f6f6;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}

.user_comments .table_main .com_item .content p {
    color: #333;
    line-height: 1.8em;
    word-break: break-all;
}

.user_comments .table_main .com_item .share p {
    display: block;
    height: 30px;
    line-height: 30px;
    text-align: right;
}

.user_comments .table_main .com_item .share a {
    color: #73bf28;
}

.user_comments .table_main .com_item .share a:hover,
.user_comments .table_main .com_item .share a:active {
    color: #e7b54b;
}

/*user comments bask_img*/
.user_comments .com_item .bask_img {
    position: relative;
    margin: 10px 0;
}

.com_item .bask_img .item {
    position: relative;
    display: inline-block;
    float: none;
    margin: 0 4px 0 0;
    padding: 0;
    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
    box-sizing: content-box;
}

.com_item .bask_img .item.cur {
    position: relative;
    border: 2px solid #9cd65d;
    box-sizing: content-box;
}

.com_item .bask_img .item.cur::after {
    position: absolute;
    bottom: -6px;
    left: 14px;
    content: " ";
    width: 0;
    height: 0;
    border-top: 6px solid #9cd65d;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
}

.com_item .bask_img .item img {
    width: 40px;
    height: 40px;
}

.com_item .bask_show {
    display: none;
}

.com_item .bask_show .img_show {
    position: relative;
    width: 100%;
    text-align: center;
    background-color: #fff;
}

.com_item .bask_show .img_show .center {
    max-width: 100%;
    max-height: 285px;
    vertical-align: middle;
}

.com_item .bask_show .img_show .left {
    width: 33.3%;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

.com_item .bask_show .img_show .right {
    width: 33.3%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
}

/*consult*/
.consult .table_main .com_item {
    margin: 0;
}

.consult .table_main .com_item .user,
.consult .table_main .com_item .time {
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 35px;
    line-height: 30px;
    color: #999;
}

.consult .table_main .com_item .time {
    float: right;
}

.consult .table_main .com_item .answer {
    margin: 5px 0;
}

.consult .table_main .com_item .question p,
.consult .table_main .com_item .answer p {
    display: block;
    margin-bottom: 0;
    line-height: 1.8em;
    color: #333;
    word-break: break-all;
}

.consult .table_main .com_item .answer p {
    color: #ff6600;
}

/*tpl inner page*/
.book_details_box .page_detail .caption {
    margin: 20px auto 15px;
    text-align: center;
}

.book_details_box .page_detail img {
    vertical-align: baseline;
}

.book_details_box .page_detail .caption img {
    width: 127px;
}

.book_details_box .page_detail .page_list {
    padding: 0 10px;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.book_details_box .page_detail .page_list li {
    float: left;
    margin: 0;
    padding: 0 8px;
    width: 50%;
    box-sizing: border-box;
    text-align: center;
}

.book_details_box .page_detail .page_list li img {
    margin: 0;
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
}

.book_details_box .page_detail .page_list li h5 {
    margin: 5px 0 15px;
    font-size: 16px;
    text-align: center;
}

.book_details_box .page_detail .more_pages a {
    display: block;
    text-align: center;
    font-size: 14px;
    color: #666;
    width: 60%;
    margin: 0 auto;
    border-radius: 20px;
}

.book_details_box .page_detail .more_pages a:hover {
    background: #f6f6f6;
}

.book_details_box .page_detail .more_pages span {
    margin: 0 5px;
    color: #81d42f;
}

.book_details_box .page_detail .more_pages i {
    display: block;
    width: 23px;
    height: 20px;
    margin: 0 auto;
    background: url("../img/m/book_details/next_btn2.png") no-repeat;
}

/*product detail*/
.product_details_container {
    margin-top: 20px;
}

.product_details_container .product_detail {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.product_detail > div {
    margin: 20px 0 40px;
}

.product_detail div h2,
.product_detail div h4 {
    margin: 0;
    font-size: 16px;
    color: #777;
}

.product_detail div small {
    color: #a6a6a6;
}

.arrow_down_line {
    position: relative;
    width: 85%;
    border-top: 1px solid #d1d1d1;
    margin: 10px auto 20px;
}

.arrow_down_line::before {
    position: absolute;
    left: 50%;
    height: 13px;
    box-sizing: border-box;
    margin-top: -1px;
    margin-left: -12px;
    content: ' ';
    border-top: 11px solid #f6f6f6;
    border-left: 12px solid #d1d1d1;
    border-right: 12px solid #d1d1d1;
    border-bottom: 0;
}

.arrow_down_line::after {
    position: absolute;
    left: 50%;
    margin-left: -13px;
    content: ' ';
    border-top: 12px solid transparent;
    border-left: 13px solid #f6f6f6;
    border-right: 13px solid #f6f6f6;
}

.product_detail.new .arrow_down_line::before {
    border-top: 11px solid #fff;
}

.product_detail.new .arrow_down_line::after {
    border-left: 13px solid #fff;
    border-right: 13px solid #fff;
}

/*cover details*/
.cover .cover_info {
    clear: both;
    overflow: hidden;
}

.cover .cover_info .item {
    display: inline-block;
    width: 49%;
    float: left;
    margin: 0;
}

.cover .cover_info .item h4 {
    margin: 10px 0;
    color: #666;
}

.cover .cover_info .item img {
    margin: 0 0 8px 15px;
    width: 100%;
}

.cover .cover_info .item p {
    width: 90%;
    font-size: 14px;
    line-height: 2em;
    margin: 0 auto;
    text-align: justify;
}

/*print details*/
.print .print_info {
    text-align: center;
}

.print .print_info .item {
    position: relative;
    display: inline-block;
    width: 46%;
    margin: 0;
}

.print .print_info .item img {
    margin: 15px auto 0;
    width: 100%;
}

.print .print_info h4 {
    margin: 10px 0;
    color: #595959;
}

.print .print_info p {
    font-size: 14px;
    line-height: 2em;
}

/*binding detail*/
.binding .binding_info {
    margin: 15px auto;
    width: 90%;
}

.binding .binding_info .describe {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.binding .binding_info .describe h4 {
    color: #333;
    line-height: 2em;
}

.binding .binding_info .describe h4 span {
    font-size: 14px;
}

.binding .binding_info .describe p {
    font-size: 14px;
    line-height: 2em;
    text-align: justify;
}

.binding .binding_info img {
    width: 100%;
}

.binding .binding_info .binding_show {
    margin: 15px auto;
}

/*~~~~~~~~~~yb 3.9 photobooklist_wrapper~~~~~~~~~~*/
.ybwechatheader_wrapper .left_btn.icon-list-ul{
    font-size: 20px;
    line-height: 54px;
    color: #fff;
}

.ybwechatheader_wrapper .left_btn.icon-list-ul:hover,
.ybwechatheader_wrapper .left_btn.icon-list-ul:active{
    color: #fff;
}

.booklist_wrapper .photo_classify.swiper-pagination ,
.booklist_wrapper .ia_classify.swiper-pagination {
    position: relative;
    top: 0;
    margin: 0;
    width: 100%;
    background-color: #f6f6f6;
    overflow: hidden;
    white-space: nowrap;
   /* height: 50px;*/
    overflow-x: scroll;
}

.booklist_wrapper .photo_classify.swiper-pagination::-webkit-scrollbar{
    width: 0;
}

.booklist_wrapper .photo_classify.swiper-pagination span{
    margin: 0 0 5px;
    width: 22%;
    background: #fff;
    color: #333;
    opacity: 1;
    display: inline-block;
    border-radius: 0;
    text-align: center;
    line-height: 50px;
    height: 50px;
    font-size: 14px;
    border-bottom: 1px solid #d1d1d1;
}

.booklist_wrapper .ia_classify.swiper-pagination span{
    margin: 0 0 10px;
    width: 25%;
    background: #fff;
    color: #333;
    opacity: 1;
    display: inline-block;
    border-radius: 0;
    text-align: center;
    line-height: 50px;
    height: 50px;
    font-size: 14px;
    border-bottom: 1px solid #d1d1d1;
}

.photo_classify.swiper-pagination span.swiper-pagination-bullet-active,
.ia_classify.swiper-pagination span.swiper-pagination-bullet-active{
    border-bottom: 2px solid #92c153;
}

.tpl_classify_con{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.6);
    z-index: 999;
}

.tpl_classify_con .classify{
    position: absolute;
    top: 50%;
    left: 5%;
    margin-top: -50%;
    width: 90%;
    background-color: #ebebeb;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px #333;
    box-sizing: border-box;
}

.tpl_classify_con .classify .close{
    position: absolute;
    right: 8px;
    top: 5px;
}

.tpl_classify_con .classify > div{
    width: 90%;
    margin: 30px auto 0;
}

.tpl_classify_con .classify h4{
    margin: 15px 5px 5px;
    font-size: 18px;
    clear: both;
}

.tpl_classify_con .classify ul{
    overflow: hidden;
}

.tpl_classify_con .classify div li{
    float: left;
    margin: 5px 4px;
    width: 64px;
    height: 30px;
    line-height: 28px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.tpl_classify_con .classify div li a{
    color: #333;
    font-size: 14px;
}