@charset "utf-8";

/*~~~~~~~~~~yb old preview book~~~~~~~~~~*/

.ybwechatheader_wrapper.book_tooltip {
	position: absolute;
	top: 0;
	z-index: 1;
	display: none;
	background-color: rgba(0, 0, 0, .4);
}

.ybwechatheader_wrapper.book_tooltip p,
.ybwechatheader_wrapper.book_tooltip a {
	color: #fff;
}


/*.preview_book_container .flipbook-viewport {
	margin: 0;
	padding: 0;
	background: #ddd;
}*/

.preview_book_container .flipbook .page {
	background-position: center center !important;
	background-repeat: no-repeat !important;
	background-size: contain;
	vertical-align: middle;
	background-color: #000;
}

.preview_book_container .flipbook .page div {
	background-position: center center !important;
	background-repeat: no-repeat !important;
	background-size: contain;
	vertical-align: middle;
	background-color: #000;
}

.preview_book_container .tools_wrapper {
	width: 100%;
	height: 3em;
	line-height: 3em;
	background: rgba(0, 0, 0, .4);
	z-index: 1;
	position: absolute;
	bottom: 0;
	display: none;
	color: #fff;
}

.preview_book_container .tools_wrapper .left_btn {
	position: absolute;
	left: 10px;
	top: 0;
	color: #fff;
}

.preview_book_container .tools_wrapper .right_btn {
	position: absolute;
	right: 10px;
	top: 0;
	color: #fff;
}

.tools_wrapper .left_btn:focus,
.tools_wrapper .right_btn:focus {
	color: #9ad44d;
}

.preview_book_container .tools_wrapper span {
	display: block;
	width: 100%;
	height: 100%;
	line-height: 2em;
	position: relative;
	top: 0;
	text-align: center;
	font-size: 24px;
}

.preview_book_container .share_container {
	display: none;
	position: absolute;
	bottom: 0;
	padding: 0 10px;
	width: 100%;
	height: 80px;
	z-index: 1;
	background-color: #fff;
	text-align: center;
	box-sizing: border-box;
}

.share_container .invite-sns-share {
	margin: 5px 0;
}


/*~~~~~~~~~~yb 3.9 preview book~~~~~~~~~~*/

.viewmode_portrait {
	position: relative;
	padding-bottom: 56px;
	width: 100%;
}

.bp_sendcomment_item {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	border-top: 1px solid #d3d3d3;
}

.viewmode_portrait .flipbook-viewport {
	padding: 3em 0 0 0;
}

.viewmode_portrait .bp_flipbook_container {
	height: 286px;
}

.viewmode_portrait .bp_portrait_wrapper {
	display: block;
	position: relative;
	width: 100%;
	background-color: #fff;
}

.viewmode_portrait .bp_landscape_wrapper {
	display: none;
}

.viewmode_landscape {
	width: 100%;
}
.viewmode_landscape .bp_sendcomment_item{
	display: none;
	bottom: 3rem;
	background-color: transparent;
	border: none;
}
.viewmode_landscape .ybwechatheader_wrapper {
	position: absolute;
	background:-webkit-linear-gradient(bottom,transparent,#000);
	-webkit-transition: bottom 1s 2s;
	-moz-transition: bottom 1s 2s;
	transition: bottom 1s 2s;
	z-index: 2;
}

.viewmode_landscape .bp_landscape_wrapper {
	display: block;
	bottom: 0;
	background:-webkit-linear-gradient(top,transparent,#000);
	-webkit-transition: bottom 1s 2s;
	-moz-transition: bottom 1s 2s;
	transition: bottom 1s 2s;
}

.viewmode_landscape .bp_flipbook_container {
	position: fixed;
	height: 100%;
}

.viewmode_landscape .ybwechatheader_wrapper {
	display: block;
	position: absolute;
	z-index: 2;
}

.viewmode_landscape .bp_portrait_wrapper {
	display: none;
}

.viewmode_landscape .share_btn{
	display: none;
}
.bp_iwanttomake_btn{
	display: none;
}
.viewmode_landscape .bp_iwanttomake_btn{
	display: block;
	margin: 10px 0 0 0;
	padding: 0.5rem 1rem;
	height: 1rem;
	line-height: 1rem;
	color: #fff;
	font-size: 1rem;
	background-color: #ff9800;
	border-radius: 15px;
	position: absolute;
	top: 0;
	right: 0;
}
.viewmode_portrait .ybwechatheader_wrapper {
	display: block!important;
	position: fixed;
	top: 0;
	background: transparent;
	z-index: 2;
}

.bp_paginator_item {
	display: block;
	width: 100%;
	text-align: center;
	color: #fff;
}

.viewmode_landscape .bp_paginator_item{
	margin: 0 auto;
	width: 5rem;
	position: relative;
	top: -100%;
	left: 0;
	z-index: 2;
}

.flipbook-viewport {
	margin: 0 auto;
	padding: 1em 0;
	width: 100%;
	position: relative;
}

.flipbook_wrapper {
	margin: 0 auto;
	height: 100%;
	position: relative;
	z-index: 1;
}

.flipbook_wrapper > a {
	display: block;
	width: 20%;
	height: 100%;
	position: absolute;
	top: 0;
}

.flipbook_wrapper > a span {
	display: block;
	margin: 0 auto;
	width: 30px;
	height: 70px;
	background-image: url("../img/m/previewbook/pb_lrarrow.png");
	background-repeat: no-repeat;
	position: relative;
	top: 30%;
}

.flipbook_nextpage_btn {
	right: -20%;
}

.flipbook_prevpage_btn {
	left: -20%;
}

.flipbook_nextpage_btn span {
	background-position: 100% 50%;
}

.flipbook_prevpage_btn span {
	background-position: 0 50%;
	right: 0;
}

.flipbook-viewport .flipbook {
	margin: 0 0 2em 0;
	left: 0 !important;
}

.flipbook_wrapper .flipbook .page-wrapper {
	perspective: 3500px;
	-webkit-perspective: 3500px;
	-moz-perspective: 3500px;
}

.flipbook-viewport .page {
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

.flipbook-viewport .shadow {
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;
	-webkit-box-shadow: 0 0 20px #ccc;
	-moz-box-shadow: 0 0 20px #ccc;
	-o-box-shadow: 0 0 20px #ccc;
	-ms-box-shadow: 0 0 20px #ccc;
	box-shadow: 0 0 20px #ccc;
}

.bp_flipbook_container {
	width: 100%;
	background: url("../img/m/previewbook/pb_bg3-9.jpg") no-repeat;
	background-size: cover;
	overflow: hidden;
}

.bp_portrait_wrapper .bp_bookinfo_item {
	font-size: 14px;
	color: #666;
	text-align: center;
	line-height: 40px;
	background-color: #F6F6F6;
}
.bp_menu_wrapper {
	position: relative;
	overflow: hidden;
	background-color: #F6F6F6;
	border-bottom: 1px solid #e5e5e5;
}

.bp_menu_wrapper li {
	float: left;
	width: 33%;
	text-align: center;
}

.bp_menu_wrapper li a {
	display: block;
	font-size: 12px;
	color: #666;
	text-decoration: none;
}

.bp_menu_wrapper li .comment,
.bp_menu_wrapper li .praise {
	position: relative;
	margin: 0 auto;
	width: 40px;
	height: 45px;
	opacity: 0.5;
}

.bp_menu_wrapper li .praise {
	background-image: url("../img/m/img_sprite_00000.png");
	background-position: -253px -155px;
	opacity: 0.5;
}
.bp_menu_wrapper .donate{
	margin: 0 auto 5px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	background-color: #949494;
	border-radius: 50%;
	color: #fff;
	font-size: 16px;
}
.bp_menu_wrapper .active .donate{
	background-color: #70758c;
}
.bp_menu_wrapper li .active div {
	opacity: 0.9;
}

.bp_menu_wrapper li .comment {
	background-image: url("../img/m/img_sprite_00000.png");
	background-position: -140px -155px;
	opacity: 0.5;
}

.bp_menu_wrapper li .bootstrap-switch {
	margin: 3px 0 10px;
}

.bp_menu_wrapper li p {
	margin-bottom: 10px;
}

.bp_iatab_wrapper {
	position: relative;
}

.bp_iatab_wrapper .up_arrow {
	position: absolute;
	top: -10px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #e0e0e0;
}

.bp_comment_container .up_arrow {
	left: 16.7%;
	margin-left: -10px;
}

.bp_praise_container {
	display: none;
	overflow: hidden;
}
.bp_donatetab_wrapper{
	display: none;
	width: 100%;
	background: #f2f2f2;
}
.bp_donatetab_wrapper .up_arrow {
	right: 50%;
	margin-right: -10px;
}
.bp_donatedperson_wrapper{
	padding: 1% 4%;
}
.bp_donatedperson_wrapper label{
	font-size: 0.8rem;
}
.bp_donatedperson_wrapper ul li{
	width: 70px;
	margin: 3% 0;
}
.bp_donatedperson_wrapper ul li img{
	display: block;
	margin: 0 auto;
	width: 45px;
	height: 45px;
	border-radius: 50%;
}
.bp_donatepannel_wrapper ul li{
	margin: 3% 1% 4% 2%;
	width: 29%;
	height: 4rem;
}
.bp_donatepannel_wrapper ul li:last-child a{
	display: inline-block;
	font-size: 1.1rem;
	line-height: 4rem;
}

.bp_donatedperson_wrapper ul li span{
	display: block;
	font-size: 0.8rem;
	color: #666;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}


.bp_comment_container table {
	margin: 0 auto;
	width: 90%;
	border-bottom: 1px solid #e1e1e1;
}

.bp_comment_container table tr:first-child td:first-child {
	width: 40px;
}

.bp_comment_container table tr:first-child td:last-child {
	width: 72px;
}

.bp_comment_container table tr td div {
	line-height: 50px;
	font-size: 12px;
	color: #999;
}

.bp_comment_container .user_header img {
	width: 30px;
	height: 30px;
	vertical-align: middle;
}

.bp_comment_container table tr td p {
	margin-bottom: 10px;
	font-size: 12px;
	color: #333;
}

.bp_praise_container ul li {
	float: left;
	margin: 10px;
	width: 70px;
}

.bp_praise_container ul li .user_header {
	margin: 5px auto;
	width: 45px;
	height: 45px;
}

.bp_praise_container ul li .user_header img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	vertical-align: middle;
}

.bp_praise_container ul li .user_name {
	max-width: 100%;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.bp_sendcomment_item .input_box {
	position: relative;
	margin: 10px auto;
	width: 90%;
	background-color: #fafafa;
	border: 1px solid #bebebp_iatab_wrapper;
	border-radius: 6px;
	overflow: hidden;
}

.bp_sendcomment_item .input_box input {
	float: left;
	padding: 6px 12px;
	width: 80%;
	height: 35px;
	line-height: 35px;
	font-size: 14px;
	color: #333;
	background-color: #fafafa;
	border: 0;
	border-radius: 0;
	box-sizing: border-box;
}

.bp_sendcomment_item .input_box input[type=text]:focus {
	box-shadow: -1px 1px 0 #fafafa;
	border: 0;
	outline: none;
}

.bp_sendcomment_item .input_box button {
	position: absolute;
	right: 0;
	margin: 3px 0;
	padding: 0;
	width: 20%;
	height: 28px;
	background-color: #fafafa;
	font-size: 20px;
	color: #666;
	border: 0;
	border-left: 1px solid #999;
}

.bp_sendcomment_item .input_box button:hover {
	color: #333;
}

.bp_sendcomment_item .input_box button i {
	display: block;
	margin: 0 auto;
	width: 40px;
	height: 30px;
	background: url("../img/m/previewbook/send_arrow.jpg") no-repeat 0 -2px;
}

.bp_barrage_wrapper {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	pointer-events: none;
}

.bp_barrage_wrapper div {
	position: absolute;
	display: inline-block;
	width: 160px;
}

.bp_barrage_wrapper div p {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.bp_landscape_wrapper {
	position: fixed;
	left: 0;
	bottom: -47px;
	width: 100%;
	background-color: #000;
	z-index: 1;
	overflow: hidden;
}
.bp_landscape_wrapper ul{
	margin: 0 0 0 10px;
}
.bp_landscape_wrapper ul li {
	float: left;
	width: 65px;
	height: 48px;
}
.bp_landscape_wrapper ul li a {
	display: inline-block;
	color: #fff;
}

.bp_landscape_wrapper ul li a p {
	float: left;
	margin: 15px 0;
}

.bp_landscape_wrapper ul li a div {
	float: left;
	margin: 15px 2px 0px 0px;
	width: 20px;
	height: 20px;
	background-image: url("../img/m/img_sprite_00000.png");
	background-size:1200%;
	background-position-y:-73px;
}
.main_container .bp_barrageswitch_item{
	display: none;
	width: 75px;
	height: 2rem;
}

.viewmode_portrait .bp_barrageswitch_item{
	display: block;
	margin: 12px auto;
	width: 2rem;
}

.main_container .bp_barrageswitch_item div{
	background-image: url("../img/m/img_sprite_00000.png");
	background-size:1000%;
	background-position-y: -46px;
	background-position-x: 152px;
	width: 40px;
	height: 30px;
}
.bp_barrageswitch_item .active div{
	background-position-x: 110px;
}
.bp_landscape_wrapper ul .comment div {
	background-position-x: 156px;
}

.bp_landscape_wrapper ul .comment:hover div {
	background-position-x: 137px;
}

.bp_landscape_wrapper ul .praise div {
	background-position-x: 100px;
}

.bp_landscape_wrapper ul .praise:hover div {
	background-position-x: 81px;
}
.bp_landscape_wrapper ul .donate div{
	background-image:none;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
	font-weight: bold;
	background: #fff;
	color: #000;
	border-radius: 50%;
}
.bp_landscape_wrapper ul .donate .active div{
	background-color: orange;
}
.bp_landscape_wrapper ul .share div {
	background-position-x: 60px;
}
.bp_landscape_wrapper ul .share:hover div {
	background-position-x: 44px;
}
.bp_resizebtn_item div{
	background-position-x: 26px;
}
.viewmode_portrait .bp_resizebtn_item{
	display: inline-block;
	position: absolute;
	top: 10px;
	right: 50px;
	width: 40px;
	height: 40px;
	opacity: 0.5;
	background-image: url("../img/m/img_sprite_00000.png");
	background-size: 1000%;
	background-position: -754px -122px;
}


.chapter_slide {
	float: right;
}

.chapter_slide a {
	margin: 0 10px 0 0;
	color: #fff;
	font-size: 15px;
	line-height: 48px;
}

.chapter_slide a:hover,
.chapter_slide a:active {
	color: #e7b54b;
}
.bp_donate_container{
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: -1;
	background-color: rgba(0,0,0,0.6);
	position: fixed;
	-webkit-transition:opacity 0.5s;
	-moz-transition:opacity 0.5s;
	transition:opacity 0.5s;
}
.bp_donate_container.active{
	opacity: 1;
	z-index: 1;
	
}
.bp_donate_wrapper{
	margin: 0 auto;
	background-color: #fff;
	border-radius: 10px;
	top: 10%;
}

.bp_donatedperson_wrapper ul li, .bp_donatepannel_wrapper ul li{
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	position: relative;
}
.bp_donate_wrapper{
	display: block;
	width: 50%;
	padding: 4%;
}
.bp_donate_wrapper h5{
	margin: 0 0 2% 0;
	text-align: center;
	font-size: 1.2rem;
}
.bp_donate_wrapper ul{
	width: 100%;
	overflow: hidden;
}

.bp_donatepannel_wrapper{
	margin: 0 auto;
/*	padding: 5%;*/
	width: 95%;
	background-color: #fff;
}
.bp_donatepannel_wrapper ul{
	margin: 0 auto;
	width: 100%;
}
.bp_donatepannel_wrapper ul li label{
	position: absolute;
	bottom: 0;
	right: 20%;
}
.bp_donatepannel_wrapper ul li a{
	display: block;
	width: 100%;
	height: 100%;
	color: #df7262;
	font-size: 0.5rem;
	border: 2px solid #df7262;
	vertical-align: middle;
}
.bp_donatepannel_wrapper ul .active a{
	background-color: #df7262;
	color: #fff;
}
.bp_donatepannel_wrapper ul li a span{
	font-size: 3rem;
	line-height: 4rem;
}
.bp_donatepannel_wrapper .donatebtn{
	display: block;
	margin: 0 auto;
	padding: 4% 0;
	width: 95%;
	font-size: 1.6rem;
	color: #fff;
	text-align: center;
	background-color: #ff696a;
}
.bp_donatepannel_wrapper .donatebtn:hover{
	background-color: #A54546;
}
.bp_donatepannel_wrapper p{
	margin: 2% 0 0 0;
	text-align: center;
	color: #a1a1a1;
}