@charset "utf-8";

/*公共类*/
.clearfloat {
    clear: both;
}

.hidden {
    display: none;
}

.positionfixed {
    position: fixed;
    top: 0;
}

.mask {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.opacity {
    opacity: 0.3;
    filter: alpha(opacity=30);
    background-color: #000;
}

.form-group > label {
    font-weight: bold;
    font-size: 0.875em;
    margin-bottom: 5px;
}

.form-control {
    box-sizing: border-box;
}

p {
    line-height: 1.5em;
    font-size: 0.875em;
}

.border_top_red {
    border-top: 1px solid #ff781e;
}

.text-red {
    color: red;
}

.cm_color_red {
    color: #eb634c
}

.cm_color_yellow {
    color: #ff8828;
}

.cm_color_green {
    color: #a0d350
}

.color_eb634c {
    color: #eb634c
}

.color_ff8828 {
    color: #ff8828
}

.color_a0d350 {
    color: #a0d350
}

.bg_rgba000 {
    background: rgba(0, 0, 0, 0.6);
}

.bg_000 {
    background: #000;
}

.bg_f5f5f5 {
    background: #f5f5f5;
}

.bg_f6f6f6 {
    background: #f6f6f6;
}

.bg_d5d5d5 {
    background: #d5d5d5;
}

.bg_feae1b {
    background: #feae1b;
}

.bg_efeff4 {
    background: #efeff4;
}

.bg_89c539 {
    background: #89c539;
}

.bg-efeff4 {
    background-color: #efeff4;
}

.bg-feca6b {
    background-color: #feca6b;
}

.bg-ffda98 {
    background-color: #ffda98;
}

.bg-ffefd1 {
    background-color: #ffefd1;
}

.bg-fff {
    background-color: #fff;
}

.bg-f5f5f5 {
    background-color: #f5f5f5;
}


.cm_w_26{
    width:26%;
}

label.error {
    color: red;
    font-size: 12px !important;
    margin-bottom: 9px;
}

.cm_validate_error {
    text-align: center;
    width: 100%;
    display: block;
}

.input_item:after{
    content: "";
    display: block;
    clear: both;
}
.input_btn_item{
    display: block;
    margin: 1em auto;
    width: 70%;
    padding: 0 1.5em;
    height: 2.5em;
    line-height: 2.5em;
    background: #9ad44d;
    color: #fff;
    text-align: center;
}
.input_btn_item[disable='disable']{
    background: #d1d1d1;
}
.input_btn_item:active{
    background: #90CC3D;
    color: #76b522;
}
.form_label_item{
    float: left;
    width: 24%;
    text-align: right;
    font-size: 0.9em;
    line-height: 2em;
}
.input_text_item{
    padding: 0 0.5em;
    height: 2em;
    width: 65%;
}
.gradient_btn{
    padding: 2px 15px;
    min-width: 4em;
    background: -webkit-linear-gradient(top, #fff 0, #f2f2f2 100%);
    background: -moz-linear-gradient(top, #fff 0, #f2f2f2 100%);
    background: -ie-linear-gradient(top, #fff 0, #f2f2f2 100%);
    background: -o-linear-gradient(top, #fff 0, #f2f2f2 100%);
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 5px;
    color: #222;
    font-size: 13px;
}
.gradient_btn:hover{
    color: #000;
}
.gradient_btn:active{
    background: linear-gradient(top, #f2f2f2 0, #fff 100%);
    background: -webkit-linear-gradient(top, #f2f2f2 0, #fff 100%);
    background: -moz-linear-gradient(top, #f2f2f2 0, #fff 100%);
    background: -ie-linear-gradient(top, #f2f2f2 0, #fff 100%);
    background: -o-linear-gradient(top, #f2f2f2 0, #fff 100%);
}

.float-right {
    float: right;
    color: #9e9e9e;
}

.float-right > li {
    padding: 0;
}

.list-magin {
    margin: 2em 0 0;
}

.no-padding {
    padding: 0;
}

.flip-horizontal {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    /*filter: fliph; /!*IE*!/*/
}

.flip-vertical {
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    /*filter: flipv; /!*IE*!/*/
}

/*button样式*/

.button {
    color: #666;
    background-color: #EEE;
    border-color: #EEE;
    font-weight: 300;
    font-size: 16px;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    height: 40px;
    padding: 0 40px;
    margin: 0;
    display: inline-block;
    appearance: none;
    cursor: pointer;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
}

.button:visited {
    color: #666;
}

.button:hover, .button:focus {
    background-color: #f6f6f6;
    text-decoration: none;
    outline: none;
}

.button:active {
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
    text-decoration: none;
    background-color: #eeeeee;
    border-color: #cfcfcf;
    color: #d4d4d4;
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

.button-highlight {
    color: #FFF;
    background-color: #89c539;
    border-color: #89c539;
}

.button-highlight:visited {
    color: #FFF;
}

.button-highlight:hover, .button-highlight:focus {
    color: #FFF;
    background-color: #9AD44D;
    border-color: #9AD44D;
}

.button-highlight:active {
    background-color: #90CC3D;
    border-color: #90CC3D;
    color: #76b522;
}

.button-rounded {
    border-radius: 4px;
}

.button-large {
    font-size: 20px;
    height: 50px;
    line-height: 50px;
    padding: 0 50px;
}

.btn-full {
    width: 96%;
    margin: 0 2%;
}

/** 底部按钮 */

.bottom-tool {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 4em;
    box-shadow: 0 0 5px #9e9e9e;
}

.bottom-tool .bottom-tool-hr {
    border-right: 1px solid #9e9e9e;
    height: 3em;
    left: 50%;
    position: absolute;
    top: 10px;
}

.bottom-tool ul {
    padding: 0;
    margin: 0;
    position: relative;
    /*height: 20%;*/

    display: block;
}

.bottom-tool ul li {
    display: inline-block;
    width: 50%;
    line-height: 4em;
    text-align: center;
    background-color: #fff;
    float: left;
}

.bottom-tool ul li:hover {
    background-color: #9E9E9E;
}

.bottom-tool ul li:hover a {
    color: #fff;
}

.bottom-tool ul li a {
    color: #9E9E9E;
    display: block;
    height: 4em;
}

.bottom-tool ul li a.active {
    color: #89c539;
}

.bottom-tool ul li a span {
    padding-right: .4em;
}


