@charset "utf-8";

/*~~~~~~~~~~公共类~~~~~~~~~~*/
.clearfloat {
	clear: both;
}

.cm_hidden, .hidden {
	display: none !important;
}

.positionfixed {
	position: fixed;
	top: 0;
}

.mask {
	display: none;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
}

.opacity {
	opacity: 0.3;
	filter: alpha(opacity=30);
	background-color: #000;
}

.form-group > label {
	font-weight: bold;
	font-size: 0.875em;
	margin-bottom: 5px;
}

.form-control {
	box-sizing: border-box;
}

p {
	line-height: 1.5em;
	font-size: 0.875em;
}

.border_top_red {
	border-top: 1px solid #ff781e;
}

.text-red {
	color: red;
}

.cm_color_red {
	color: #eb634c
}

.cm_color_yellow {
	color: #ff8828;
}

.cm_color_green {
	color: #a0d350
}

.color_eb634c {
	color: #eb634c
}

.color_ff8828 {
	color: #ff8828
}

.color_a0d350 {
	color: #a0d350
}

.bg_rgba000 {
	background: rgba(0, 0, 0, 0.6);
}

.bg_000 {
	background: #000;
}

.bg_f5f5f5 {
	background: #f5f5f5;
}

.bg_f6f6f6 {
	background: #f6f6f6;
}

.bg_d5d5d5 {
	background: #d5d5d5;
}

.bg_feae1b {
	background: #feae1b;
}

.bg_efeff4 {
	background: #efeff4;
}

.bg_89c539 {
	background: #89c539;
}

.bg-efeff4 {
	background-color: #efeff4;
}

.bg-feca6b {
	background-color: #feca6b !important;
}

.bg-ffda98 {
	background-color: #ffda98 !important;
}

.bg-ffefd1 {
	background-color: #ffefd1 !important;
}

.bg-fff {
	background-color: #fff;
}

.bg-f5f5f5 {
	background-color: #f5f5f5;
}

.cm_w_26 {
	width: 26%;
}

.cm_fl {
	float: left;
}

.cm_fr {
	float: right;
}

.cm_border_none {
	border: 0 !important;
}

.common_mb_60 {
	margin-bottom: 60px;
}

label.error {
	color: red!important;
	font-size: 12px !important;
	margin-bottom: 9px;
	font-weight: normal;
}

.cm_validate_error {
	text-align: center;
	width: 100%;
	display: block;
}

.input_item:after {
	content: "";
	display: block;
	clear: both;
}

.input_btn_item {
	display: block;
	margin: 1em auto;
	width: 70%;
	padding: 0 1.5em;
	height: 2.5em;
	line-height: 2.5em;
	background: #7ccf6c;
	color: #fff;
	text-align: center;
	box-sizing: content-box;
}

.input_btn_item[disable='disable'] {
	background: #d1d1d1;
}

.input_btn_item:active {
	background: #89c27e;
	color: #57bb44;
}

.finishandenter_btn {
	display: block;
	margin: 20px auto;
	width: 225px;
	height: 35px;
	line-height: 35px;
	background: #89c539;
	color: #fff;
	text-align: center;
}

.form_label_item {
	float: left;
	width: 24%;
	text-align: right;
	font-size: 0.9em;
	line-height: 2em;
}

.input_text_item {
	padding: 0 0.5em;
	height: 2em;
	width: 65%;
}

.gradient_btn {
	padding: 2px 15px;
	min-width: 4em;
	background: -webkit-linear-gradient(top, #fff 0, #f2f2f2 100%);
	background: -moz-linear-gradient(top, #fff 0, #f2f2f2 100%);
	background: -ie-linear-gradient(top, #fff 0, #f2f2f2 100%);
	background: -o-linear-gradient(top, #fff 0, #f2f2f2 100%);
	border: 1px solid #ccc;
	text-align: center;
	border-radius: 5px;
	color: #666;
	font-size: 13px;
}

.gradient_btn:hover {
	color: #000;
}

.gradient_btn:active {
	background: linear-gradient(top, #f2f2f2 0, #fff 100%);
	background: -webkit-linear-gradient(top, #f2f2f2 0, #fff 100%);
	background: -moz-linear-gradient(top, #f2f2f2 0, #fff 100%);
	background: -ie-linear-gradient(top, #f2f2f2 0, #fff 100%);
	background: -o-linear-gradient(top, #f2f2f2 0, #fff 100%);
}

.float-right {
	float: right;
	color: #9e9e9e;
}

.float-right > li {
	padding: 0;
}

.list-magin {
	margin: 2em 0 0;
}

.no-padding {
	padding: 0 !important;
}

.flip-horizontal {
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	transform: scaleX(-1);
}

.flip-vertical {
	-moz-transform: scaleY(-1);
	-webkit-transform: scaleY(-1);
	-o-transform: scaleY(-1);
	transform: scaleY(-1);
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus {
	-webkit-animation: glow_blue 0.3s forwards;
	border-color: #fff;
}

.bg_ccc {
	-webkit-animation: bg_ccc 0.3s forwards;
}

.islider-loader {
	display: block;
}

.rotate_45deg {
	-webkit-animation: rotate_45deg 0.3s forwards;
}

@-webkit-keyframes glow_blue {
	0% {
		box-shadow: 0 0 6px transparent;
		border-color: #a9a9a9;
	}
	100% {
		box-shadow: 0 0 6px #1185e7;
		border-color: #1185e7;
	}
}

@-webkit-keyframes bg_ccc {
	0% {
		background: #fff
	}
	100% {
		background: #ccc;
		box-shadow: 0 0 6px #666 inset
	}
}

@-webkit-keyframes rotate_45deg {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(45deg);
	}
}

@-webkit-keyframes rotate_45deg_to_0deg {
	0% {
		transform: rotate(45deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

/*~~~~~~~~~~button样式~~~~~~~~~~*/
.button {
	color: #666;
	background-color: #EEE;
	border-color: #EEE;
	font-weight: 300;
	font-size: 16px;
	font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	text-decoration: none;
	text-align: center;
	line-height: 40px;
	height: 40px;
	padding: 0 40px;
	margin: 0;
	display: inline-block;
	appearance: none;
	cursor: pointer;
	border: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
}

.button:visited {
	color: #666;
}

.button:hover, .button:focus {
	background-color: #f6f6f6;
	text-decoration: none;
	outline: none;
}

.button:active {
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
	text-decoration: none;
	background-color: #eeeeee;
	border-color: #cfcfcf;
	color: #d4d4d4;
	-webkit-transition-duration: 0s;
	transition-duration: 0s;
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

.button-highlight {
	color: #FFF;
	background-color: #7ccf6c;
	border-color: #7ccf6c;
}

.button-highlight:visited {
	color: #FFF;
}

.button-highlight:hover, .button-highlight:focus {
	color: #FFF;
	background-color: #86cf77;
	border-color: #86cf77;
}

.button-highlight:active {
	background-color: #89c27e;
	border-color: #7ccf6c;
	color: #57bb44;
}

.button-rounded {
	border-radius: 4px;
}

.button-large {
	font-size: 20px;
	height: 50px;
	line-height: 50px;
	padding: 0 50px;
}

.btn-full {
	width: 96%;
	margin: 0 2%;
}

/*~~~~~~~~~~底部按钮~~~~~~~~~~*/

.bottom-tool {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 4em;
	box-shadow: 0 0 5px #9e9e9e;
}

.bottom-tool .bottom-tool-hr {
	border-right: 1px solid #9e9e9e;
	height: 3em;
	left: 50%;
	position: absolute;
	top: 10px;
}

.bottom-tool ul {
	padding: 0;
	margin: 0;
	position: relative;
	display: block;
}

.bottom-tool ul li {
	display: inline-block;
	width: 50%;
	line-height: 4em;
	text-align: center;
	background-color: #fff;
	float: left;
}

.bottom-tool ul li:hover {
	background-color: #9E9E9E;
}

.bottom-tool ul li:hover a {
	color: #fff;
}

.bottom-tool ul li a {
	color: #9E9E9E;
	display: block;
	height: 4em;
}

.bottom-tool ul li a.active {
	color: #89c539;
}

.bottom-tool ul li a span {
	padding-right: .4em;
}

/*~~~~~~~~~~通用按钮~~~~~~~~~~*/
.common_btn {
	margin: 0 5px;
	padding: 5px 10px;
	background: -webkit-linear-gradient(top, #fff, #eee);
	background: -moz-linear-gradient(top, #fff, #eee);
	background: -ms-linear-gradient(top, #fff, #eee);
	border-radius: 5px;
	border: 1px solid #ccc;
	color: #000;
	text-decoration: none;
}

.common_btn:active {
	background: -webkit-linear-gradient(top, #eee, #fff);
	background: -moz-linear-gradient(top, #eee, #fff);
	background: -ms-linear-gradient(top, #eee, #fff);
	color: #555;
}

/*~~~~~~~~~~common head~~~~~~~~~~*/
.ybwechatheader_wrapper {
	width: 100%;
	height: 3em;
	background: #8ac280;
	z-index: 1;
	position: relative;
}

.ybwechatheader_wrapper .right_btn, .ybwechatheader_wrapper .left_btn {
	margin: 0 0.5em;
	padding: 0 10px;
	height: 100%;
	line-height: 4em;
	font-size: 14px;
	position: absolute;
	top: 0;
	z-index: 1;
}

.ybwechatheader_wrapper .title {
	font-size: 14px;
	color: #fff;
	text-align: center;
	line-height: 48px;
}

.ybwechatheader_wrapper .right_btn {
	right: 0;
}

.ybwechatheader_wrapper .right_btn:hover,
.ybwechatheader_wrapper .right_btn:focus {
	color: #fff;
}

.ybwechatheader_wrapper .left_btn {
	left: 0;
}

.ybwechatheader_wrapper .add_btn,
.ybwechatheader_wrapper .back_btn,
.ybwechatheader_wrapper .setting_btn,
.ybwechatheader_wrapper .share_btn {
	background-image: url(../img/m/sprite/yb3wechatheader_sprite_img_00000.png);
	background-position-y: -41px;
	background-size: 900%;
	background-repeat-x: no-repeat;
}

.ybwechatheader_wrapper .add_btn {
	width: 50px;
	background-position-x: -32px;
	box-sizing: border-box;
}

.ybwechatheader_wrapper .back_btn {
	position: absolute;
	top: 0;
	width: 50px;
	background-position-x: -74px;
	box-sizing: border-box;
}

.ybwechatheader_wrapper .setting_btn {
	position: absolute;
	top: 0;
	width: 50px;
	background-position-x: -115px;
	box-sizing: border-box;
}

.ybwechatheader_wrapper .share_btn {
	position: absolute;
	top: 0;
	width: 50px;
	background-position-x: -156px;
	box-sizing: border-box;
}

.ybwechatheader_wrapper li:first-child, .ybwechatheader_wrapper a {
	color: #fff;
}

.ybwechatheader_wrapper li:before {
	padding: 0 0 0 5px;
	content: " / "
}

.ybwechatheader_wrapper li:after {
	content: " ";
}

.ybwechatheader_wrapper li:first-child:before {
	content: " ";
}

.ybwechatheader_wrapper p {
	width: 100%;
	height: 100%;
	line-height: 3em;
	position: relative;
	top: 0;
	text-align: center;
	font-size: 1.1em;
	color: #fff;
	max-width: 280px;
	margin: 0 auto;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

@media only screen and (max-width: 320px) {
	.ybwechatheader_wrapper p {
		max-width: 240px;
	}
}

.ybwechatheader_wrapper label {
	margin: 0 1em;
	line-height: 3em;
	/*	font-size: 0.9em;*/
}

.ybwechatheader_wrapper h5 {
	float: left;
	padding: 0 0 0 1em;
	height: 2.5em;
	line-height: 2.5em;
}

.ybwechatheader_wrapper .ok_item {
	float: right;
	margin: 0 0.5em;
	padding: 0 5px;
	width: 2.5em;
	height: 1.5em;
	line-height: 1.5em;
	border-radius: 3px;
	background: #eee;
	text-align: center;
	color: #000;
}

.ybwechat_list_wrapper .enter_btn {
	margin: 6% 2%;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	background-image: url(../img/m/sprite/yb3wechatheader_sprite_img_00000.png);
	background-position-y: -55px;
	background-size: 1250%;
	background-repeat: no-repeat;
	background-position-x: 0;
	right: .25em;
}

.ybwechatheader_wrapper ul {
	margin: 0 0 0 0.5em;
	position: absolute;
	z-index: 1;
}

.ybwechatheader_wrapper li {
	height: 100%;
	line-height: 3.5em;
	font-size: 1em;
	color: #000;
	position: absolute;
	left: 0;
}

.ybwechatbtn_item {
	display: block;
	margin: 0 auto;
	padding: 0.4em 3.5em;
	color: #fff;
	line-height: 1.5em;
	text-align: center;
	font-size: 1em;
	background: #89c539;
}

.ybwechatbtn_item:active {
	background: #90CC3D;
	color: #76b522;
}

.ybwechatbtn_item[disable='disable'] {
	background: #d1d1d1;
}

.add_btn, .accept_button {
	float: right;
	padding: 5px;
	line-height: 1em;
}

/*access*/
.container.fix-userinfo {
	margin: 1em auto;
	width: 100%;
	padding: 0;
	font-size: 0.875em;
	line-height: 1.5em;
}

.fix-userinfo button {
	width: 100%;
	display: block;
}

.set-username {
	margin: 2em;
}

.set-username textarea {
	height: 15em;
	padding: .5em 12px;
	overflow: auto;
	word-break: break-all;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #555;
	font-size: 14px;
	line-height: 1.42857;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	box-sizing: content-box;
}

/*~~~~~~~~~~账号验证~~~~~~~~~~*/

.container.set-code {
	text-align: center;
	padding: 0;
}

.set-code a {
	padding: 0 1.3em;
}

.set-code label {
	float: left;
	line-height: 2em;
	width: 100%;
}

.set-code .user_account {
	width: auto;
	float: none;
	display: inline-block;
	font-weight: normal;
}

.set-code .send-code-buttons {
	margin: 2em 0;
}

.set-code .id_code{
	float: none;
	padding: 0 10px;
	width: 100%;
	height: 40px;
	text-align: left;
	border: 1px solid #b6b6b6;
	box-sizing: border-box;
}

.set-code .send-code-input {
	float: none;
	display: inline-block;
	margin: 0 0 0 .5em;
	width: 75%;
	height: 38px;
	font-size: 14px;
	border: 0;
}

.set-code .fp-set-code-info p {
	font-size: 12px;
	margin-bottom: 10px;
	text-align: center;
	white-space: nowrap;
	color: #999;
}

.send-code {
	margin: 2em 0;
}

.send-code p {
	margin-bottom: 10px;
	font-size: 1em;
	text-align: center;
}

.send-code span{
	font-size: 18px;
	font-weight: bold;
}

.set-code .send-again{
	margin: 2em 0;
}

.set-code .send-again a{
	color: #57bb44;
}

/*~~~~~~~~~~unbind resetpassword~~~~~~~~~~*/
.change-ps p {
	color: #C7C7C7;
	font-size: 0.75em;
	padding: 0 .8em;
}

.change-ps-ok {
	width: 100%;
	margin: 10em auto;
	text-align: center;
}

/*~~~~~~~~~~empty list~~~~~~~~~~*/

.empty_item {
	margin: 1em 0;
}

.empty_item img {
	display: block;
	margin: 0 auto;
	width: 64px;
	height: 64px;
}

.empty_item p {
	margin: 1em 0;
	text-align: center;
	font-size: 0.875em;
	color: #666;
}

.empty_item p a {
	color: #71a033;
}

/*~~~~~~~~~~footer nav~~~~~~~~~~*/
.footer_nav {
	position: fixed;
	bottom: 0;
	padding: 5px 0;
	width: 100%;
	color: #666;
	background-color: #fff;
	overflow: hidden;
	border-top: 1px solid #ddd;
	z-index: 1;
}

.footer_nav ul li {
	float: left;
	padding: 5px 0;
	width: 20%;
	text-align: center;
}

.footer_nav ul li a {
	color: #666;
	font-size: 12px;
}

.footer_nav ul li.active {
	color: #fff;
	background-color: #9ad44d;
	border-radius: 4px;
}

.footer_nav ul li.active a {
	color: #fff;
}

.footer_nav ul li p {
	margin: 0;
}

.footer_nav ul li span {
	display: block;
	margin: 0 auto 3px;
	width: 25px;
	height: 25px;
}

.footer_nav ul li span.home {
	background: url("../img/m/icon/icon_home_gray.png") no-repeat center;
	background-size: cover;
}

.footer_nav ul li.active span.home {
	background: url("../img/m/icon/icon_home_white.png") no-repeat center;
	background-size: cover;
}

.footer_nav ul li span.msg {
	background: url("../img/m/icon/icon_msg_gray.png") no-repeat center;
	background-size: cover;
}

.footer_nav ul li.active span.msg {
	background: url("../img/m/icon/icon_msg_white.png") no-repeat center;
	background-size: cover;
}

.footer_nav ul li span.find {
	background: url("../img/m/icon/icon_find_gray.png") no-repeat center;
	background-size: cover;
}

.footer_nav ul li.active span.find {
	background: url("../img/m/icon/icon_find_white.png") no-repeat center;
	background-size: cover;
}

.footer_nav ul li span.new {
	background: url("../img/m/icon/icon_new_gray.png") no-repeat center;
	background-size: cover;
}

.footer_nav ul li.active span.new {
	background: url("../img/m/icon/icon_new_white.png") no-repeat center;
	background-size: cover;
}

.footer_nav ul li span.bookshelf {
	background: url("../img/m/icon/icon_bookshelf_gray.png") no-repeat center;
	background-size: cover;
}

.footer_nav ul li.active span.bookshelf {
	background: url("../img/m/icon/icon_bookshelf_white.png") no-repeat center;
	background-size: cover;
}

.footer_nav ul li span.my {
	background: url("../img/m/icon/icon_my_gray.png") no-repeat center;
	background-size: cover;
}

.footer_nav ul li.active span.my {
	background: url("../img/m/icon/icon_my_white.png") no-repeat center;
	background-size: cover;
}

/*~~~~~~~~~~add pop new style~~~~~~~~~~*/
.open_new_container {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	background-color: #f6f6f6;
}

.open_new_container.fadeIn {
	animation-duration: .3s;
	-webkit-animation-duration: .3s;
}

.open_new_container.fadeOut {
	animation-duration: .3s;
	-webkit-animation-duration: .3s;
	animation-delay: .1s;
	-webkit-animation-delay: .1s;
}

.open_new_container .close_btn {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 40px;
	line-height: 40px;
	background-color: #fff;
	text-align: center;
	opacity: 1;
}

.open_new_container .close_btn a {
	font-size: 36px;
	color: #9ad44d;
}

.new_option {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}

.new_option.slideInUp {
	animation-duration: .2s;
	-webkit-animation-duration: .2s;
	animation-delay: .1s;
	-webkit-animation-delay: .1s;
}

.new_option.slideOutDown {
	animation-duration: .2s;
	-webkit-animation-duration: .2s;
}

.new_option ul {
	margin: 0;
	padding: 0;
}

.new_option ul li {
	position: absolute;
	display: inline-block;
	margin: 0;
	width: 80px;
	text-align: center;
}

.new_option ul li a img {
	width: 80px;
	height: 80px;
	border-radius: 100%;
	vertical-align: baseline;
}

.new_option ul li a p {
	margin: 0;
	color: #828282;
}

/*~~~~~~~~~~common_title_item~~~~~~~~~~*/
.common_title_item {
	width: 100%;
	height: 3em;
}

.title_wrapper {
	position: fixed;
	z-index: 1;
}

.common_title_item span {
	float: left;
	margin: 0 0 0 10px;
	width: 20px;
	height: 3em;
	background-image: url(../img/m/sprite/titleicon_sprite_img_00000.png);
	background-position-y: -3px;
	background-size: 1400%;
}

.common_title_item label, .common_title_item i {
	float: left;
	margin: 0;
	line-height: 3em;
	color: #83a951;
	font-weight: normal;
}

/*~~~~~~~~~~load more content~~~~~~~~~~*/
.ybwechat_loading_item {
	display: none;
	padding: 1em 0;
	width: 100%;
	font-size: 0.75em;
	clear: both;
}

.ybwechat_loading_item a {
	display: block;
	margin: 0 auto;
	width: 11em;
	height: 3em;
	line-height: 3em;
	color: #9a9a9a;
	text-align: center;
	text-decoration: none;
}

.ybwechat_loading_item a:hover {
	color: #e7b54b;
}

.ybwechat_loading_item label {
	display: block;
	font-weight: normal;
	text-align: center;
}
.ybwechat_loading_item .loadingicon{
	width: 20px;
	height: 20px;
	vertical-align: middle;
}
.show_more {
	display: block;
	margin: 10px 0;
	font-size: 12px;
	color: #666;
	text-align: center;
	text-decoration: none;
}

.show_more:hover,
.show_more:focus {
	color: #e7b54b;
}

/** pullUp pullDown */
.scroll_pulldown {
	position: absolute;
	top: -2.5em;
	left: 0;
	width: 100%;
	height: 50px;
	font-size: 16px;
	color: #999;
	line-height: 50px;
	text-align: center;
}

.scroll_pulldown_icon {
	position: absolute;
	top: -2.5em;
	right: 50%;
	margin-right: 40px;
	width: 50px;
	height: 50px;
	background-image: url(../img/m/icon/pullicon.png);
	background-size: auto 24px;
	background-repeat: no-repeat;
	background-position: center;
	transform: rotate(0deg) translateZ(0);
	-webkit-transform: rotate(0deg) translateZ(0);
	-moz-transform: rotate(0deg) translateZ(0);
	transition: -webkit-transform 0.2s;
	-webkit-transition: -webkit-transform 0.2s;
	-moz-transition: -webkit-transform 0.2s;
}

.scroll_pullup {
	position: absolute;
	bottom: -40px;
	left: 0;
	width: 100%;
	height: 50px;
	font-size: 16px;
	color: #999;
	line-height: 50px;
	text-align: center;
}

.scroll_pullup_icon {
	position: absolute;
	bottom: -40px;
	right: 50%;
	margin-right: 40px;
	width: 50px;
	height: 50px;
	background-image: url(../img/m/icon/pullicon.png);
	background-size: auto 24px;
	background-repeat: no-repeat;
	background-position: center;
	transform: rotate(-180deg) translateZ(0);
	-webkit-transform: rotate(-180deg) translateZ(0);
	-moz-transform: rotate(-180deg) translateZ(0);
	transition: -webkit-transform 0.2s;
	-webkit-transition: -webkit-transform 0.2s;
	-moz-transition: -webkit-transform 0.2s;
}

.scroll_pulldown_flip {
	transform: rotate(-180deg) translateZ(0);
	-webkit-transform: rotate(-180deg) translateZ(0);
	-moz-transform: rotate(-180deg) translateZ(0);
}

.scroll_pullup_flip {
	transform: rotate(-180deg) translateZ(0);
	-webkit-transform: rotate(0deg) translateZ(0);
	-moz-transform: rotate(0deg) translateZ(0);
}

/** loading.. **/

.loading {
	display: none;
	position: fixed;
	left: 50%;
	top: 50%;
	width: 60px;
	height: 60px;
	margin-left: -25px;
	margin-top: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	background: rgba(0, 0, 0, 0.7);
	border-radius: 4px;
	text-align: center;
	z-index: 99
}

.loading img {
	display: inline-block;
	margin: 0 auto;
	width: 20px;
	height: 20px;
}

.loading strong {
	display: inline-block;
	margin: 0 auto;
	width: 60px;
	height: 20px;
	line-height: 26px;
	font-size: 12px;
	font-weight: normal;
	color: #fff;
}

#loadhint:before {
	content: '';
	display: block;
	clear: both;
}

#loadhint {
	width: 100%;
	padding: 15px 0;
	text-align: center;
	color: #ccc;
	font-size: 15px;
}

#loadhint div {
	margin: 0 auto;
	width: 6em;
}

#loadhint img {
	width: auto;
	height: 1em;
	box-shadow: none;
}

/*~~~~~~~~~~book info~~~~~~~~~~*/
.basic_info {
	border-bottom: 1px solid #e5e5e5;
}

.basic_info .book_text {
	display: block;
	margin: 15px auto;
	padding: 0;
	width: 90%;
	vertical-align: top;
	box-sizing: border-box;
}

.basic_info .book_text .item {
	display: block;
	float: none;
	margin: 0;
	padding: 5px 0;
	width: 100%;
	box-sizing: border-box;
	font-size: 12px;
	color: #666;
	border-top: 1px dotted #c9c9c9;
}

.basic_info .book_text .item:first-child {
	padding: 0 0 10px;
	border: none;
}

.basic_info .book_text .item > div {
	display: block;
	height: 35px;
	clear: both;
	overflow: visible;
}

.basic_info .book_text .item dl {
	margin: 0;
}

.basic_info .book_text .name {
	display: block;
	margin: 0;
	line-height: 1.5em;
	font-size: 16px;
	font-weight: bold;
}

.basic_info .book_text .tpl_info {
	margin-bottom: 0;
	font-size: 14px;
	line-height: 25px;
	background-color: transparent;
	padding: 0;
}

.basic_info .book_text .tpl_info span {
	margin: 0 3px;
}

.basic_info .book_text .tpl_info .pic_num {
	color: #e22929;
}

.basic_info .book_text .tpl_describe {
	margin-bottom: 0;
	padding: 0;
	font-size: 12px;
	line-height: 1.8em;
	text-align: justify;
	min-height: 30px;
}

.basic_info .book_text dl dd {
	line-height: 30px;
}

.basic_info .book_text .price dt,
.basic_info .book_text .sold dt,
.basic_info .book_text .deliver dt {
	float: left;
	display: inline;
	width: 50px;
	line-height: 30px;
	font-size: 12px;
}

.basic_info .book_text .sold dd {
	float: left;
}

.basic_info .book_text .sold dt.cm_fl {
	margin-left: 25px;
}

.basic_info .book_text .price dd {
	float: left;
}

.basic_info .book_text .price dd strong,
.basic_info .book_text .price dd strong span {
	font-size: 16px;
	font-weight: bold;
	color: #e22929;
}

.basic_info .book_text .price dd i {
	display: inline-block;
	margin: -3px 2px 0 5px;
	padding: 0;
	width: 12px;
	height: 12px;
	background: url("../img/m/icon/red_bag.jpg") no-repeat center;
	background-size: cover;
	vertical-align: middle;
}

.basic_info .book_text .deliver dd span {
	font-size: 12px;
	color: #666;
}

.basic_info .book_text .price dl dd span {
	color: #f0754b;
	font-size: 12px;
}

.basic_info .book_text .sold span {
	color: #e22929;
}

.basic_info .book_text .page_num,
.basic_info .book_text .cover {
	margin: 5px 0;
}

.basic_info .book_text dl dt {
	float: left;
	line-height: 25px;
	font-weight: normal;
}

.basic_info .book_text .page_num dd,
.basic_info .book_text .cover dd,
.basic_info .book_text .size dd {
	float: left;
	line-height: 22px;
}

.basic_info .book_text .page_num dd,
.basic_info .book_text .cover dd,
.basic_info .book_text .size dd {
	position: relative;
	margin: 0 5px;
	width: 45px;
	height: 20px;
	font-size: 12px;
	text-align: center;
	border: 1px solid #ccc;
	cursor: pointer;
}

.basic_info .book_text .page_num dd {
	cursor: default;
	width: auto;
}

.basic_info .book_text .page_num .tips {
	width: auto;
	border: 0;
	line-height: 20px;
}

.basic_info .book_text .page_num .tips span {
	color: #e22929;
	font-size: 14px;
}

.basic_info .book_text .size dd,
.basic_info .book_text .cover dd {
	position: relative;
	width: 65px;
	box-sizing: content-box;
}

.basic_info .book_text .cover dd .bind_style,
.basic_info .book_text .size dd .print_size {
	display: none;
	position: absolute;
	bottom: 20px;
	z-index: 1;
	width: 75px;
	left: -7px;
}

.basic_info .book_text .cover dd .bind_style img,
.basic_info .book_text .size dd .print_size img {
	width: 100%;
	border-radius: 100%;
}

.basic_info .book_text .cover dd:hover .bind_style,
.basic_info .book_text .size dd:hover .print_size {
	display: block;
}

.basic_info .book_text .page_num dd:hover,
.basic_info .book_text .cover dd:hover,
.basic_info .book_text .size dd:hover {
	color: #000;
}

.basic_info .book_text .page_num dd.selected,
.basic_info .book_text .cover dd.selected,
.basic_info .book_text .size dd.selected {
	border: 2px solid #e22929;
	color: #000;
}

.basic_info .book_text dd .icon {
	display: none;
	position: absolute;
	border-left: 17px solid transparent;
	border-bottom: 14px solid #e22929;
	right: 0;
	bottom: 0;
	background: none;
	width: auto;
	height: auto;
	margin: 0;
}

.basic_info .book_text dd.selected .icon {
	display: block;
}

.basic_info .book_text dd .icon i {
	position: absolute;
	color: #fff;
	right: -1px;
	top: 4px;
	font-size: 12px;
}

.basic_info .book_text .item .num dd {
	margin: 0 5px;
}

/*~~~~~~~~~~ybcommon_counter~~~~~~~~~~*/
.ybcommon_counter_item {
	width: 85px;
	height: 25px;
	border: 1px solid #a9a9a9;
	line-height: 23px;
	box-sizing: border-box;
}

.ybcommon_counter_item a {
	float: left;
	width: 25px;
	height: 100%;
	text-align: center;
	font-size: 20px;
	color: #a9a9a9;
	line-height: 20px;
	font-weight: bold;
	text-decoration: none;
}

.ybcommon_counter_item a:hover {
	color: #000;
}

.ybcommon_counter_item input[type=text] {
	float: left;
	width: 33px;
	height: 100%;
	border: 0;
	font-size: 15px;
	text-align: center;
}

/*~~~~~~~~~~bottom switch to pc~~~~~~~~~~*/
.ft_pc {
	text-align: center;
	font-size: 12px;
	color: #666;
	margin: 5px 0 10px 0;
}

.ft_pc i {
	margin-right: 5px;
}

.ft_pc a {
	display: inline;
	color: #666;
	text-decoration: none;
}

.ft_pc a:active {
	color: #89c539;
}

/*~~~~~~~~~~my bookshelf list and tpl list~~~~~~~~~~*/
.mybookshelf_main_wrapper {
	padding: 0 0 1em 0;
	overflow: hidden;
	background: #fff;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.mybookshelf_main_wrapper li {
	float: left;
	margin: 1em 0.1em 0 0.1em;
	width: 100px;
	overflow: hidden;
}

.mybookshelf_main_wrapper li .cover {
	display: block;
	margin: 0 auto 8px;
	width: 90%;
	height: 119px;
	text-align: center;
	position: relative;
	overflow: hidden;
}

@media only screen and (min-width: 360px) and (max-width: 374px){
	.mybookshelf_main_wrapper li{
		margin: 1em .6em 0 .6em;
	}
}

@media only screen and (min-width: 375px) and (max-width: 413px) {
	.mybookshelf_main_wrapper li {
		margin: 1em 0.7em 0 0.7em;
	}
}

.mybookshelf_main_wrapper li a img {
	width: 100%;
	height: 100%;
	border-radius: 0.4em;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

.mybookshelf_main_wrapper li a span {
	display: block;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../img/m/booklist/autographbook_bg.png);
	background-size: cover;
	border-radius: 0.4em;
}

.mybookshelf_main_wrapper label {
	font-size: 0.9em;
	color: #676767;
	text-align: left;
	min-height: 20px;
	max-height: 40px;
	line-height: 1.5em;
	padding: 0 5px;
	overflow: hidden;
	display: block;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: normal;
}

.mybookshelf_main_wrapper li p {
	font-size: 0.6em;
	text-align: center;
}

.mybookshelf_main_wrapper li p span {
	color: red;
}

.mybookshelf_main_wrapper .ybwechat_list_btn {
	margin: 0.5em auto;
}

.ybwechat_list_btn {
	display: block;
	margin: 0 auto;
	padding: 0 0.3em;
	width: 5em;
	height: 2em;
	background: #92c153;
	line-height: 2em;
	color: #fff;
	text-align: center;
	font-size: 12px;
	box-sizing: content-box;
}

/*~~~~~~~~~~fixed footer preview share wrapper~~~~~~~~~~*/
.has_footer_nav {
	padding-bottom: 70px !important; /*3.4 footer nav*/
}

.more_fun_wrapper {
	position: fixed;
	left: 0;
	bottom: 0;
	padding: 0;
	width: 100%;
	height: 60px;
	font-size: 12px;
	color: #fff;
	background: rgba(0, 0, 0, .8);
	box-sizing: border-box;
}

.more_fun_wrapper div {
	height: 100%;
	box-sizing: border-box;
}

.more_fun_wrapper .cm_fl {
	padding: 12px 0;
	width: 80px;
	text-align: center;
}

.more_fun_wrapper .cm_fl i {
	display: block;
	margin: 0 0 3px;
	font-size: 16px;
}

.more_fun_wrapper .cm_fl a {
	color: #fff;
	text-decoration: none;
	font-size: 12px;
}

.more_fun_wrapper .cm_fl a:hover {
	color: #e7b54b;
}

.more_fun_wrapper .cm_fl a:active {
	color: #c09d54;
}

.more_fun_wrapper .cm_fr {
	width: 50%;
	height: 100%;
	line-height: 60px;
	text-align: center;
}

.more_fun_wrapper .cm_fr a {
	display: block;
	font-size: 18px;
	color: #fff;
	text-decoration: none;
	background: #df4622;
}

.more_fun_wrapper .cm_fr a:hover {
	background: #b02b1b;
}

.more_fun_wrapper .edit a {
	background: #e7b838;
}

.more_fun_wrapper .edit a:hover {
	background: #daad34;
}

.more_fun_wrapper .edit a:active {
	background: #cea430;
}

/*more product info*/
.detail_more li {
	width: 100%;
	margin: 0;
	padding: 0;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	color: #333;
	box-sizing: border-box;
	border-bottom: 1px solid #e5e5e5;
}

.detail_more li a {
	display: block;
	padding: 0 5%;
	color: #000;
	text-decoration: none;
}

.detail_more li a:hover {
	background-color: #f7f7f7;
	border-bottom: 1px solid #e5e5e5;
}

.detail_more li a i {
	display: inline-block;
	margin: 0 5px 0 0;
	min-width: 16px;
	text-align: center;
}

.detail_more li a i.cm_fr {
	margin: 0;
	line-height: 40px;
}

/*ia header*/
.user-header-photo {
	width: 50px;
	height: 50px;
	margin: 1.1em 0 0.8em 0.8em;
	border-radius: 100%;
	display: inline-block;
	vertical-align: middle;
}

/* 11.30 xx add */
.globalhint_wrapper{
	width: 100%;
	overflow: hidden;
	position: fixed;
	top: 0;
	z-index: 9;
}
.globalhint_wrapper .globalhint_inner_wrapper{
	margin: 0 auto;
	padding: 10px;
	background: rgba(0,0,0,0.6);
	color: #fff;
	text-align: center;
	position: relative;
}
.globalhint_wrapper .globalhint_inner_wrapper .globalhint_mainarticle_item{
	margin: 10px 0 10px 0;
	text-align: center;
}
.globalhint_wrapper .globalhint_inner_wrapper .globalhint_mainarticle_item span{
	color:#e67131;
	text-decoration :underline ;
}
.globalhint_wrapper .globalhint_inner_wrapper .globalhint_sidearticle_item{
	font-size: 13px;
}
.globalhint_wrapper .globalhint_inner_wrapper .globalhint_close_btn{
	padding: 0 0 1em 0;
	font-size: 25px;
	color: #ddd;
	position: absolute;
	top: 0;
	right: 10px;
	z-index: 1;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
}
/*~~~~~~~~~~loginpopup~~~~~~~~~~*/
.loginpopup_container{
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	z-index: 2;
}
.loginpopup_wrapper{
	margin: 20% auto 0;
	width: 80%;
	max-width: 640px;
	border-radius: 0.5rem;
	background-color: #fff;
	overflow: hidden;
}
.loginpopup_wrapper h1{
	padding: 1rem;
	text-align: center;
	font-size: 1.5rem;
	font-weight: normal;
}
.loginpopup_input_wrapper{
	padding: 0 8% 8% 8%;
	width: 84%
}
.loginpopup_input_wrapper li{
	margin: 1rem 0 0 0;
	padding: 0.3rem 0;
	width: 100%;
	height: 1.5rem;
	border-bottom: 1px solid #cecece;
}
.loginpopup_input_wrapper img{
	float: left;
	width: 8%;
}
.loginpopup_input_wrapper input{
	float: right;
	padding: 0;
	border: 0;
	height: 100%;
	line-height: 1rem;
	width: 90%;
}
.loginpopup_login_btn{
	display: block;
	margin: 0 auto;
	padding: 0.5rem 0;
	width: 90%;
	background-color: #90c24f;
	font-size: 1.2rem;
	color: #fff;
	text-align: center;
	border-radius: 0.5rem;
}
.loginpopup_register_wrapper{
	margin: 0 auto;
	padding: 1rem 0;
	width: 90%;
}
.loginpopup_register_wrapper a{
	color: #336699;
}
.loginpopup_register_wrapper a:last-child{
	float: right;
}
.loginpopup_ssologin_wrapper{
	padding: 1rem;
	overflow: hidden;
	background-color: #eee;
	border-top: 1px solid #cacaca;
}
.loginpopup_ssologin_wrapper p:before, .loginpopup_ssologin_wrapper p:after{
	content: '';
	float: left;
	margin: 0.5rem 0 0 0;
	width: 17%;
	height: 2px;
	background-color: #cacaca;
}
.loginpopup_ssologin_wrapper p:after{
	float: right;
}
.loginpopup_ssologin_wrapper p{
	color: #9a9a9a;
	text-align: center;
}
.loginpopup_ssologin_wrapper ul{
	padding: 1rem 0;
}
.loginpopup_ssologin_wrapper li{
	float: left;
	width: 33%;

}
.loginpopup_ssologin_wrapper li a{
	display: block;
	margin: 0 auto;
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	overflow: hidden;
}
.loginpopup_ssologin_wrapper li a img{
	display: block;
	margin: 20% auto 0;
	width: 50%;
}
.loginpopup_ssologin_wrapper .qq a{
	background: url(../ing/m/previewbook/loginpopup_qq_00000.png) #039dff;
}
.loginpopup_ssologin_wrapper .wechat a{
	background: url(../ing/m/previewbook/loginpopup_wechat_00000.png) #1bcb44;
}
.loginpopup_ssologin_wrapper .weibo a{
	background: url(../ing/m/previewbook/loginpopup_weibo_00000.png) #e42744;
}

/* 评论 输入框 */
.bp_sendcomment_container{
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
	z-index: 1;
}
.bp_sendcomment_wrapper{
	margin: 0 auto;
	padding: .2rem 0 ;
	width: 100%;
	border-top: 1px solid #d9d9d9;
	position: absolute;
	bottom: 0;
}
.bp_sendcommentbtn_wrapper{
	margin: .5rem auto;
	width: 90%;
	overflow: hidden;
}
.bp_sendcommentbtn_wrapper a{
	display: block;
	padding: 0.2rem 0.8rem;
	width: 2rem;
	background-color: #71cb5d;
	color: #fff;
	font-size: 0.9rem;
	border-radius: 0.4rem;
}

.bp_sendcommentbtn_wrapper .cancel{
	float: left;
	background-color: #efefef;
	color: #000;
}
.bp_sendcommentbtn_wrapper .send{
	float: right;
}
.bp_sendcommentbtn_wrapper .send:hover{
	background-color: #4C883F;
}
.bp_sendcommentbtn_wrapper .cancel{
	background-color: #aaa;
	color: #fff;
}
.bp_commentavatar_item{
	margin: 0 auto;
	padding: 0.5rem 0;
	width: 95%;
	overflow: hidden;
	border-top: 1px solid #d9d9d9;
}
.bp_commentavatar_item img{
	display: inline-block;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	vertical-align: middle;
}
.bp_commentavatar_item label{
	display: inline-block;
	font-size: 0.8rem;
}
.bp_sendcomment_wrapper textarea{
	display: block;
	margin: 0 auto;
	padding: 0.4rem;
	width: 95%;
	height: 5rem;
	font-size: 0.8rem;
	box-sizing: border-box;
}
