@charset "utf-8";
/*~~~~~~~~~~book space~~~~~~~~~~*/
.book_space {
    position: relative;
}

.book_space .ybwechatheader_wrapper {
    position: absolute;
    top: 0;
    background: transparent;
}

.book_space .share_btn {
    position: absolute;
    top: 0;
    width: 50px;
    box-sizing: border-box;
    background: url("../img/m/book_space/share_icon.png") no-repeat center 14px;
    background-size: 26px;
}

.book_space .book_cover {
    position: relative;
    width: 100%;
    height: 245px;
    background-size: cover;
    vertical-align: middle;
}

.photo_space .book_cover {
    background: url("../img/m/book_space/ph_space_bg.jpg") no-repeat center;
    background-size: cover;
}

.interact_space .book_cover {
    background: url("../img/m/book_space/in_space_bg.jpg") no-repeat center;
    background-size: cover;
}

.book_space .book_cover img {
    position: absolute;
    left: 50%;
    top: 60px;
    margin: 0 0 0 -52px;
    width: 104px;
    height: 146px;
    box-shadow: 0 3px 12px #827f7f;
}

.tpl_info {
    margin: 20px auto;
    width: 95%;
}

.tpl_info h4 {
    margin: 0 0 10px;
    font-size: 18px;
    line-height: inherit;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.tpl_info p,
.tpl_info div {
    margin: 0;
    font-size: 12px;
    color: #666;
    text-align: left;
    line-height: 24px;
}

.tpl_info div label {
    margin: 0;
    font-weight: normal;
}

.tpl_info p span {
    color: #ed5f3d;
}

.tool_wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #e5e5e5;
}

.photo_space .tool_wrapper .cm_fl {
    width: 33.3%;
    text-align: center;
}

.interact_space .tool_wrapper .cm_fl {
    width: 25%;
    text-align: center;
}

.tool_wrapper a {
    display: block;
    margin: 0 0 20px;
    font-size: 14px;
    color: #333;
    text-decoration: none;
}

.tool_wrapper a:hover {
    background: #eee;
    color: #333;
    border-radius: 4px;
}

.tool_wrapper a.disable {
    color: #a2a2a2;
    background: #fff;
}

.tool_wrapper .big_icon {
    display: block;
    margin: 0 auto 5px;
    width: 80px;
    height: 64px;
    background: url("../img/m/book_space/book_space_icons.png") no-repeat;
    background-size: 560px 64px;
}

.tool_wrapper .upload {
    background-position: 0 0;
}

.tool_wrapper .auto_layout {
    background-position: -80px 0;
}

.tool_wrapper .preview_share {
    background-position: -160px 0;
}

.tool_wrapper .trends {
    background-position: -240px 0;
}

.tool_wrapper .partner_manage {
    background-position: -320px 0;
}

.tool_wrapper .album_manage {
    background-position: -400px 0;
}

.tool_wrapper .invite_card {
    background-position: -480px 0;
}

.book_space .tips {
    margin: 20px auto;
    padding: 0 0 0 3em;
    text-indent: -3em;
    width: 90%;
    font-size: 14px;
    color: #999;
    text-align: left;
    box-sizing: border-box;
}

/*~~~~~~~~~~ia trands list ~~~~~~~~~~*/
/*vote result of table*/
.vote_list_result table {
    padding: 0;
    width: 980px;
    line-height: 13px;
    text-align: center;
    font-size: 13px;
}

.vote_list_result table tbody .active {
    background: #EAF7D6;
}

.vote_list_result table tr {
    height: 30px;
    cursor: pointer;
}

.vote_list_result table tr td {
    line-height: 30px;
}

.vote_list_result table tr th {
    margin: 0;
    line-height: 30px;
    background-color: #dcdddf;
    font-size: 13px;
    text-align: center;
    font-weight: normal;
}

.vote_list_result table tr .rank {
    width: 10%;
}

.vote_list_result table tr .name {
    width: 25%;
}

.vote_list_result table tr .votes {
    width: 15%;
}

.vote_list_result .progressbar {
    float: left;
    margin: 8px 0 0 0;
    width: 70%;
    height: 1em;
    border: 1px solid #a9bc2f;
    background: #fff;
    position: relative;
}
.vote_list_result .progressbar label {
    float: left;
    width: 20%;
    height: 100%;
    background: #8cd419;
}
.vote_list_result .progressbar label:hover{
    cursor: pointer;
}
.vote_list_result .progressbar i {
    font-style: normal;
}

/*vote result of ul*/
.vote_list_result ul li {
    width: 130px;
    border: 1px solid #e0e0e0;
    text-align: center;
    float: left;
    margin: 20px 0 0 22px;
    cursor: pointer;
    height: 210px;
    position: relative;
}
.vote_list_result ul .active {
    border: 1px solid #8cd419;
}
.vote_list_result ul li img {
    margin-top: 10px;
    width: 100px;
    height: 100px;
    overflow: hidden;
    vertical-align: baseline;
}
.vote_list_result .vote_title {
    margin: 5px 15px;
    font-size: 16px;
    text-overflow:ellipsis;
    overflow: hidden;
    white-space:nowrap;
}
.vote_list_result ul li .vote_info {
    width: 100%;
    height: 60px;
    border-top: 1px solid #efefef;
    position: absolute;
    bottom: 0;
}
.vote_list_result .vote_info_center {
    font-family: Arial;
    font-size: 24px;
    color: #308dda;
    margin: 5px 0 0 0;
}
.vote_list_result label {
    display: block;
    margin: 0 0 5px 0;
    font-size: 12px;
    color: #ccc;
    font-weight: normal;
}

/*timeline*/
.timeline_main_wrapper .bmindex_fadein {
    opacity: 1;
}

.timeline_main_wrapper > ul > li {
    margin: 60px 0 10px 0;
    position: relative;
    opacity: 1;
}

.timeline_main_wrapper > ul > li:first-child {
    margin: 0 0 10px 0;
    padding: 10px 0 0 0;
}

.timeline_main_wrapper li {
    position: relative;
}

.timeline_main_wrapper li:after {
    content: '';
    display: block;
    clear: both;
}

.timeline_line_wrapper:first-child {
    /*	margin: 0 0 0 2%;*/
}

.timeline_line_wrapper {
    float: left;
    width: 17%;
    height: 100px;
}

.bmindex_axis_wrapper {
    width: 17%;
    position: absolute;
    left: 0%;
}

.bmindex_axis_item {
    margin: 0 auto;
    width: 3px;
    background: #fff;
    box-shadow: 0 0 3px #ccc;
}

.timeline_line_wrapper div {
    margin: 15px auto;
    width: 40px;
    height: 40px;
    background-image: url(../img/imgsprite_yb3_wbl_00000.png);
    border: 3px solid #fff;
    border-radius: 50%;
    box-shadow: 0px 2px 3px #ccc;
    box-sizing: content-box;
}

.timeline_line_wrapper .vote {
    background-position: 0 -402px;
    background-color: #f7d477;
}

.timeline_line_wrapper .photo {
    background-position: -34px -404px;
    background-color: #5dd5d1;
}

.timeline_line_wrapper .topic {
    background-position: -67px -404px;
    background-color: #d28cd2;
}

.timeline_line_wrapper .friend {
    background-position: -102px -404px;
    background-color: #fc9c5b;
}

.timeline_line_wrapper .book {
    background-position: -135px -404px;
    background-color: #80c269;
}

.timeline_line_wrapper .message {
    background-position: -170px -404px;
    background-color: #75b4d9;
}

.timeline_line_wrapper .time {
    margin: 0 auto;
    width: 50px;
    height: 15px;
    background: #fff;
    box-shadow: 1px 1px 2px #bbb;
    border-radius: 0;
    color: #999;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    position: relative;
}

.timeline_title_wrapper {
    overflow: hidden;
}

.timeline_title_wrapper a {
    color: #63a02d;
}

.timeline_title_wrapper a:hover {
    text-decoration: underline;
}

.timeline_node_wrapper {
    float: left;
    margin: 0 0 0 2%;
    padding: 0.8em;
    width: 71%;
    max-height: 350px;
    background: #fff;
    box-shadow: 0 2px 5px #ccc;
    border-radius: 10px;
    position: relative;
    box-sizing: content-box;
}

.timeline_node_wrapper:before, .timeline_node_wrapper:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px;
    position: absolute;
    left: -20px;
}

.timeline_node_wrapper:before {
    border-color: transparent #fff transparent transparent;
    top: 30px;
    z-index: 1;
}

.timeline_node_wrapper:after {
    border-color: transparent #ccc transparent transparent;
    top: 32px;
}

.timeline_node_wrapper .avatar {
    vertical-align: middle;
    width: 15%;
    max-width: 50px;
    height: 15%;
    border-radius: 50%;
}

.timeline_node_wrapper h5 {
    display: inline-block;
    margin: 0 0 0 5px;
    width: 80%;
    font-size: 14px;
    vertical-align: middle;
}

.timeline_content_wrapper {
    position: relative;
    margin: 3% 0 0 10%;
}

.timeline_content_wrapper ul {
    overflow: hidden;
}

.timeline_content_wrapper ul li {
    float: left;
    margin: 8px;
}

.timeline_content_wrapper ul li a {
    display: block;
}

.timeline_content_wrapper ul li label {
    font-size: 12px;
    line-height: 15px;
    font-weight: normal;
    margin: 0;
}

.timeline_content_wrapper p {
    font-size: 12px;
}

.timeline_content_wrapper p a {
    color: #63a02d;
}

.timeline_content_wrapper p a:hover {
    text-decoration: underline;
}

.timeline_content_wrapper .gradient_btn {
    display: none;
    margin: 10px auto;
    min-width: 2em;
}

/*NEWYB 1271*/
.timeline_sharetrigger_btn {
    display: table;
    margin: 8px auto 0;
    width: 25px;
    height: 25px;
    background: url("../img/m/book_space/ia_trandslist_share_icon.png") no-repeat 0;
    background-size: cover;
}

.bmindex_normalvote_wrapper {
    margin: 0 0 15px 0;
    max-height: 240px;
    overflow: auto;
}

.bmindex_membervote_wrapper {
    max-height: 240px;
    overflow: auto;
}

.bmindex_membervote_wrapper li {
    float: left;
    width: 80px;
    height: 90px;
    border: 1px solid #ccc;
}

.bmindex_membervote_wrapper ul li a {
    display: block;
    padding: 0 0 75% 0;
    width: 100%;
    height: 0;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    position: absolute;
    top: 0;
}

.bmindex_membervote_wrapper ul li .choosen_icon {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
}

.bmindex_membervote_wrapper a .choosen_icon span {
    display: block;
    margin: 0 auto;
    width: 70px;
    height: 60px;
    background: url(../img/imgsprite_yb3_wbl_00000.png) -355px -24px;
}

.bmindex_membervote_wrapper ul .active a .choosen_icon {
    display: block;
}

.bmindex_membervote_wrapper label {
    display: block;
    padding: 5px 0;
    width: 100%;
    color: #222;
    text-align: center;
    font-size: 20px;
    position: absolute;
    bottom: 0;
}

.bmindex_uploadphoto_wrapper {
    max-height: 240px;
    overflow: auto;
}

.bmindex_uploadphoto_wrapper li {
    width: 80px;
    height: 60px;
}

.bmindex_uploadphoto_wrapper ul li a {
    display: block;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
}

.timeline_content_wrapper .vote_list_result {
    max-height: 250px;
    overflow: auto;
}

.timeline_content_wrapper .vote_head_title,
.timeline_content_wrapper .vote_head {
    margin: 0;
}

.timeline_content_wrapper .vote_head p {
    margin: 10px 0;
}

.timeline_content_wrapper .vote_list_result,
.timeline_content_wrapper .vote_list_result table {
    margin: 0;
    width: 100%;
    font-size: 13px;
    text-align: center;
}

.timeline_content_wrapper .vote_list_result ul li {
    margin: 5px;
    width: 85px;
    height: 150px;
}

.timeline_content_wrapper .vote_list_result ul li img {
    width: 55px;
    height: 55px;
}

.timeline_content_wrapper .vote_list_result ul li p {
    font-size: 13px;
}

.timeline_content_wrapper .vote_list_result .vote_info {
    height: 45px;
}

.tlnode_comment_item textarea {
    margin: 0 0 15px 0;
    padding: 5px 10px;
    width: 90%;
    min-height: 120px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: content-box;
}

.timeline_content_wrapper .tlnode_comment_item .gradient_btn {
    margin: 0 auto;
}