@charset 'utf-8';
/*~~~~~~~~~~makebook_editphoto_wrapper~~~~~~~~~~~*/
.makebook_editphoto_conatainer .ybwechatheader_wrapper
{
	position: fixed;

	background-color: #1b1b1b;
}
.makebook_editphoto_conatainer.viewmode_portrait p
{
	/*float: left;*/
	/*margin: 0;*/
	text-align: left;
}
.makebook_editphoto_conatainer .back_btn span
{
	font-size: 1rem;
}
.makebook_editphoto_wrapper
{
	position: relative;

	overflow: hidden;

	width: 100%;

	background-color: #232226;
}
.makebook_epeditarea_wrapper
{
	position: relative;

	overflow: hidden;

	width: auto;
	height: auto;
	margin: 0 auto;

	background-color: rgba(0,0,0,.5);
}
.makebook_editphoto_wrapper img
{
	display: block;

	width: 100%;
}
.makebook_eptools_wrapper
{
	position: fixed;
	bottom: 0;

	width: 100%;
}
.makebook_eptools_wrapper a
{
	font-size: 1.4rem;
	line-height: 2.4rem;

	float: left;

	height: 2rem;
	padding: 0 .5rem;

	color: #000;
}
.makebook_eptools_wrapper .zoomout
{
	position: absolute;
	z-index: 2;
	left: 0;

	margin: 0 10px;
}
.makebook_eptools_wrapper .zoomin
{
	position: absolute;
	z-index: 2;
	top: 0;
	right: 0;

	margin: 0 10px;
}

.makebook_eptoolbar_wrapper li a
{
	display: inline-block;
}
.makebook_epzomming_wrapper, .makebook_eptoolbar_wrapper
{
	overflow: hidden;

	height: 2.6rem;
}
.makebook_eptoolbar_wrapper
{
	text-align: center;

	background-color: #fff;
}
.makebook_eptoolbar_wrapper li
{
	display: inline-block;
}
.makebook_epscrollbar_item
{
	position: relative;

	width: 100%;
	height: 2px;
	margin: 1rem auto 0;
}
.makebook_epscrollbar_item label
{
	display: block;

	width: 80%;
	height: 100%;
	margin: 0 auto;

	background-color: #fff;
}
.makebook_epscrollbar_item span
{
	position: absolute;
	top: -.5rem;
	left: 8%;

	display: block;

	width: 1rem;
	height: 1rem;

	border-radius: 50%;
	background-color: #fff;
}
/*�б�ģʽ*/
.make_book_wrap
{
	position: relative;

	overflow: hidden;

	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.list_mode .page_wrap
{
	position: relative;

	float: left;

	box-sizing: border-box;
	width: 50%;
	margin: 5px 0;
	padding: 15px 0;

	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	background-color: #fff;
}

.list_mode .page_wrap .page
{
	position: relative;

	width: 9rem;
	height: 12.5rem;
}

.list_mode .page_wrap:nth-child(odd) .page
{
	float: right;

	padding-right: 5px;
}

.list_mode .page_wrap:nth-child(even) .page
{
	float: left;

	padding-left: 5px;
}

.list_mode .page_wrap .page img
{
	box-sizing: content-box;
	/*display: block;
	margin: 0 auto;*/
	width: 100%;
	height: 100%;

	border: 1px solid #ddd;
}

.page_wrap .page .page_num
{
	font-size: 14px;
	line-height: 24px;

	position: absolute;
	top: 5px;
	left: -8px;

	display: none;

	height: 24px;
	padding: 0 5px 0 8px;

	color: #fff;
	background-color: #89c27e;
}

.page_wrap:nth-child(odd) .page .page_num
{
	display: block;
}

.page_wrap .page .page_num::before
{
	position: absolute;
	top: 24px;
	left: 0;

	content: ' ';

	border-width: 8px 0 0 8px;
	border-style: solid;
	border-color: #333 transparent transparent transparent;
}

.page_wrap .page .page_num::after
{
	position: absolute;
	top: 0;
	right: -12px;

	content: ' ';

	border-width: 12px 0 12px 12px;
	border-style: solid;
	border-color: transparent transparent transparent #89c27e;
}

.page_wrap .page  a
{
	font-size: 14px;

	display: none;

	margin: 0 3px;
	padding: 0 5px;

	color: #71ca5e;
	border: 1px solid #71ca5e;
	border-radius: 2px;
	background-color: #fff;
}

.page_wrap:nth-child(even) .page a
{
	display: inline-block;
}

.page_wrap .page .delete
{
	font-size: 18px;
	line-height: 18px;

	position: absolute;
	top: -8px;
	right: -8px;

	width: 20px;
	height: 20px;
	margin: 0;
	padding: 0;

	text-align: center;

	color: #fff;
	border-radius: 100%;
	background-color: #71ca5e;
}

.page_wrap .page .change
{
	position: absolute;
	right: 10px;
	bottom: 8px;
}

.page_wrap .page .change:hover,
.page_wrap .page .change:active
{
	color: #e7b54b;
	border: 1px solid #e7b54b;
}

.page_wrap .page a i
{
	font-size: 14px;
}

.make_book_wrap > .btn_group
{
	position: fixed;
	bottom: 0;

	width: 100%;

	text-align: center;

	border-top: 2px solid #ddd;
	background-color: #fff;
}

.make_book_wrap > .btn_group a
{
	font-size: 18px;

	display: inline-block;

	box-sizing: border-box;
	width: 40%;
	margin: 10px;
	padding: 5px 10px;

	color: #f60;
	border: 1px solid #f60;
	border-radius: 4px;
	background-color: #fff;
}

.make_book_wrap > .btn_group a.print
{
	color: #fff;
	background-color: #f60;
}

.make_book_wrap > .btn_group a:active
{
	color: #fff;
	background-color: #e55f06;
}

.delete_page_tips
{
	position: fixed;
	z-index: 99;
	top: 0;
	bottom: 0;

	display: none;

	width: 100%;

	background: rgba(0,0,0,.6);
}

.delete_page_tips .tips
{
	position: absolute;
	top: 50%;
	left: 10%;

	overflow: hidden;

	width: 80%;
	margin-top: -78px;

	text-align: center;

	border-radius: 8px;
	background-color: #fff;
	box-shadow: 0 0 3px #333;
}

.delete_page_tips .tips h2
{
	font-size: 24px;

	margin: 15px 0 10px;

	color: #333;
}

.delete_page_tips .tips p
{
	font-size: 14px;
	line-height: 2;

	margin-bottom: 10px;

	color: #000;
}

.delete_page_tips .tips .btn_group
{
	line-height: 40px;

	overflow: hidden;

	width: 100%;
	height: 40px;

	border-top: 1px solid #ddd;
	border-radius: 0 0 8px 8px;
	background-color: #eee;
}

.delete_page_tips .tips .btn_group a
{
	font-size: 14px;

	float: left;

	box-sizing: border-box;
	width: 50%;

	color: #666;
}

.delete_page_tips .tips .btn_group a:first-child
{
	border-right: 1px solid #ddd;
}

.delete_page_tips .tips .btn_group a:active
{
	background-color: #ddd;
}

.add_page_container
{
	position: fixed;
	z-index: 99;
	top: 0;
	bottom: 0;

	display: none;

	width: 100%;

	background: rgba(0,0,0,.6);
}

.add_page_container .add_page
{
	position: absolute;
	bottom: 0;

	box-sizing: border-box;
	width: 100%;
	padding: 10px;

	background-color: #fff;
}

.add_page_container .add_page label
{
	font-size: 14px;
	line-height: 35px;
}

.add_page_container .add_page .ybcommon_counter_item
{
	display: inline-block;

	vertical-align: middle;
}

/*��ҳģʽ�±༭*/
.edit_book_con
{
	position: fixed;

	overflow: hidden;

	width: inherit;
	height: 100%;

	background: url('../img/m/makebook/makebook_bg.jpg') no-repeat 0;
	background-size: cover;
}

.edit_book_con .ybwechatheader_wrapper
{
	background-color: #251f1c;
}

.edit_book_con .make_book_wrap .print,
.edit_book_con .make_book_wrap .back
{
	font-size: .5rem;
	line-height: 1.2rem;

	position: absolute;
	top: .5rem;

	width: 2.5rem;
	height: 1.2rem;
	margin: 0;

	text-align: center;

	color: #fff;
	border-radius: 13px;
	background-color: #fe7100;
}

.edit_book_con .make_book_wrap .back
{
	left: 10px;
}

.edit_book_con .make_book_wrap .print
{
	right: 10px;
}

.make_book_wrap .single_mode
{
	position: relative;

	margin-left: auto;
}

.single_mode .tpl
{
	position: relative;

	width: 24.75rem;
	height: 16.875rem;
	margin: 0 auto;
}

.single_mode .tpl .double_con
{
	position: relative;

	box-sizing: border-box;
	width: 24.75rem;
	height: 100%;
}

.single_mode .tpl.cover .double_con
{
	width: 24.25rem;
	margin: 0 auto;

	background-color: #ccc;
}

.single_mode .tpl.double .double_con
{
	background: #fff url('../img/m/makebook/innerpage_bg.jpg') no-repeat center;
	background-size: cover;
}

.single_mode .tpl .double_con::after
{
	position: absolute;
	top: 0;
	left: 50%;

	width: 1.5rem;
	height: 100%;
	margin-left: -1.5rem;

	content: ' ';
}

.single_mode .tpl.cover .double_con::before
{
	position: absolute;
	bottom: -.875rem;
	left: 50%;

	width: .625rem;
	height: 1rem;
	margin-left: -.45rem;

	content: ' ';

	background: url(../img/m/makebook/ribbon.png) no-repeat 0;
	background-size: cover;
}

.single_mode .tpl.cover .double_con::after
{
	width: 2.375rem;
	height: 16.875rem;
	margin-left: -.9rem;

	background: url(../img/m/makebook/cover_spine.png) no-repeat 0;
	background-size: cover;
}

.single_mode .tpl.double .double_con::after
{
	background: url(../img/m/makebook/inner_page_shadow.png) no-repeat 0;
	background-size: cover;
}

.single_mode .tpl .double_con .page
{
	position: relative;

	float: left;
	overflow: hidden;

	width: 11.875rem;
	height: 16.875rem;
}

.single_mode .tpl .double_con .page.left
{
	margin-left: .5rem;
}

.single_mode .tpl.cover .double_con .page.left
{
	margin-left: .25rem;
}

.single_mode .swiper-button-prev,
.single_mode .swiper-button-next
{
	margin-top: -32px;
	padding: 10px;

	background-color: rgba(0,0,0,.6);
}

.single_mode .swiper-button-prev
{
	left: 0;

	border-radius: 0 6px 6px 0;
}

.single_mode .swiper-button-next
{
	right: 0;

	border-radius: 6px 0 0 6px;
}

.edit_book_con .swiper-pagination
{
	position: relative;

	display: inline-block;
}

.clickEdit
{
	font-size: 1rem;
	line-height: 3rem;

	position: absolute;
	z-index: 2;
	top: 50%;
	left: 45%;

	display: none;

	margin-top: -1.5rem;
	padding: 0 10px;

	white-space: nowrap;

	color: #fff;
	border-radius: 8px;
	background-color: rgba(0,0,0,.5);
}

.clickEdit a
{
	color: #fff;
}

.clickEdit::before
{
	position: absolute;
	top: 1rem;
	left: -1.75rem;

	width: 1rem;
	height: 1rem;

	content: ' ';

	border-radius: 100%;
	background-color: #fe7100;
}

.clickEdit::after
{
	position: absolute;
	top: .75rem;
	left: -.75rem;

	width: 0;
	height: 0;

	content: ' ';

	border-width: .8rem .8rem .8rem 0;
	border-style: solid;
	border-color: transparent rgba(0,0,0,.7) transparent transparent;
}

/*���ؽ�����*/
.load_progress_wrap
{
	position: fixed;
	z-index: 1;
	top: 0;
	bottom: 0;

	display: block;

	width: 100%;

	background: rgba(0,0,0,1);
}

.load_progress_wrap .load
{
	position: absolute;
	top: 50%;
	left: 50%;

	margin: -30px 0 0 -120px ;
}

.load_progress_wrap .reload
{
	font-size: 14px;

	position: absolute;
	top: 50%;
	left: 50%;

	display: none;

	width: 60px;
	margin: -30px 0 0 -30px;

	text-align: center;

	color: #fff;
}

.load_progress_wrap .reload span
{
	font-size: 36px;
	line-height: 60px;

	display: block;

	width: 100%;
	height: 60px;

	-webkit-transform: rotate(90deg);
		-ms-transform: rotate(90deg);
			transform: rotate(90deg);

	border-radius: 100%;
	background-color: #70ca5d;
}
/*~~~~~~~~~~定制流程选择群体booklist_ia3.9.html~~~~~~~~~~*/
.makebook_choosetype_container{
	width: 100%;
	background-color: rgba(0,0,0,0.6);
	position: fixed;
	top: 0;
	z-index: 11;
	overflow: auto;
}
.makebook_choosetype_wrapper .maintitle{
	margin: 2.5rem 0;
	text-align: center;
	color: #fff;
	font-size: 1.5rem;
}
.makebook_choosetype_wrapper .maintitle span{
	font-size: 1.7rem;
}
.makebook_choosetype_wrapper .subtitle{
	margin: 0 0 1rem 0;
	text-align: center;
	color: #fff;
	font-size: 1rem;
}
.makebook_choosetype_wrapper .subtitle span{
	display: inline-block;
	margin: 0 1rem;
	width: 3rem;
	height: 1px;
	background-color: #fff;
	vertical-align: middle;
}

.makebook_splist_wrapper>li {
	display: inline-block;
	margin: 0.57rem;
	width: 4rem;
	height: 4rem;
}

.makebook_splist_wrapper>li .title {
	display: inline-block;
	width: 100%;
	height: 100%;
	border: 2px solid #fff;
	text-align: center;
	position: relative;
	color: #fff;
	vertical-align: middle;
}

.makebook_splist_wrapper>.active .title {
	border: 2px solid #62c878;
}

.makebook_splist_wrapper .active .tips {
	color: #999;
}

.makebook_stepcomponentlist_wrapper{
	background-color: #fff;
}
.makebook_bookcomponent_item{
	padding: 0.3rem;
	width: 100%;
	border-bottom: 1px solid #d6d6d6;
	box-sizing: border-box;
	position: relative;
}
.makebook_stepmainbtn_wrapper{
	margin: 1rem 0 0 0;
	width: 100%;
	padding: 1rem 0;
	box-shadow: 0 -2px 5px #999;
	background-color: #fff;
}
.makebook_stepmainbtn_wrapper a{
	display: block;
	margin: 0 auto;
}
/*.makebook_bookcomponent_item>div{
	height: 1.5rem;
}*/
.makebook_bookcomponent_item .description{
	width: 13rem;
	color: #8b8b8b;
	font-size: 0.65rem;
}
.makebook_bookcomponent_item .common_switcher_item{
	float: right;
}
.makebook_bookcomponent_item .common_slider_wrapper{
	width: 10rem;
	position: absolute;
	top: 1rem;
	right: 0.8rem;
}
.makebook_bookcomponent_item .subtitle{
	margin: 0.3rem 0 0 0;
	padding: 0.3rem 0.3rem 0 0.3rem;
	width: 100%;
	box-sizing: border-box;
}
.makebook_bookcomponent_item .subtitle label{
	font-size: 0.7rem;
}
.makebook_bookcomponent_item .setupinvitcard.subtitle{
	display: none;
}
.makebook_bookcomponent_item .title h6{
	display: inline-block;
	font-size: 0.8rem;
	line-height: 1.5rem;
}
.makebook_bookcomponent_item .subtitle h6{
	display: inline-block;
	font-size: 0.8rem;
	line-height: 1.5rem;
}

.makebook_splist_wrapper .active .makebook_compicon_item span, .makebook_splist_wrapper .active .makebook_compicon_item i, .makebook_splist_wrapper .active .title label{
	color: #62c878;
}
.makebook_compicon_item {
	display: inline-block;
/*	margin: 0.2rem 0 0 0;*/
	font-size: 0.8rem;
	color: #404040;
	border-radius: 50%;
	text-align: center;
	line-height: 2rem;
	vertical-align: middle;
}

.makebook_compicon_item span {
	color: #fff;
}

.makebook_compicon_item .frame {
	display: block;
	margin: 0.5rem 0 0 0;
	color: #fff;
	vertical-align: middle;
	font-size: 1.8rem;
}



.makebook_splist_wrapper .title label {
	display: block;
/*	margin: 0.5rem 0 0 0;*/
	cursor: pointer;
	text-align: center;
	font-size: 0.5rem;
}

.makebook_mark_item {
	display: none;
	line-height: 0.7rem;
	font-size: 0.4rem;
}

.makebook_splist_wrapper .actived a {
	margin: 0;
	background-color: #90c132;
	border: 2px solid #90c132;
}

/*.title:hover {
	border: 1px solid #999999;
}*/

.makebook_splist_wrapper .actived .title:hover {
	border: 2px solid #90c132;
}

.makebook_splist_wrapper .actived .makebook_mark_item,
.makebook_splist_wrapper .actived .title:hover .makebook_mark_item {
	display: block;
	border-color: transparent #a6cc5b #a6cc5b transparent
}

.active>.makebook_mark_item {
	display: block;
	color: #fff;
	border-color: transparent #62c878 #62c878 transparent;
}

.makebook_choosetype_wrapper .makebook_splist_wrapper{
	padding: 0 0 0.5rem 0;
	border-bottom: 1px solid #bfbfbf;
}
.makebook_choosetype_wrapper .makebook_splist_wrapper .active:after{
	content: '';
	display: block;
	margin: 0.4rem auto 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0.4rem 0.4rem 0.4rem;
	border-color: transparent transparent #fff transparent;
}
.makebook_mark_item {
	display: none;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0.7rem;
	color: #fff;
}

.active .makebook_mark_item {
	display: block;
	color: #fff;
	border-color: transparent #8cc04e #8cc04e transparent;
}

.makebook_typedescribe_wrapper li{
	padding: 1rem;
	width: 100%;
	color: #fff;
	box-sizing: border-box;
}
.makebook_typedescribe_wrapper li p{
	font-size: 0.5rem;
}
.makebook_choosetype_wrapper .makebook_typedescribe_wrapper{
	min-height: 4rem;
	border-bottom: 1px solid #bfbfbf;
}
.makebook_choosetype_wrapper .makebook_typedescribe_wrapper li{
	display: none;
}
.makebook_choosetype_wrapper .makebook_typedescribe_wrapper .active{
	display: block;
}
.makebook_choosetype_wrapper .button{
	display: block;
	margin: 2rem auto 0.5rem;
}

/*~~~~~~~~~~makebook_step3_setup_3.13.html~~~~~~~~~~*/
.makebook_checktag_wrapper{
	overflow: hidden;
}
.makebook_checktag_item {
	float: left;
	min-width: 4.5rem;
	font-size: 0.75rem;
	background-color: #fff;
	overflow: hidden;
}

.makebook_checktag_item a {
	display: block;
	height: 1.5rem;
	line-height: 1.5rem;
	border: 1px solid #999;
	text-align: center;
	position: relative;
	transition: all 0.2s;
}

.makebook_checktag_item a:hover {
	border: 1px solid #999;
	transition: all 0.2s;
}

.makebook_checktag_item.active a {
	border: 1px solid #8cc04e;
	transition: all 0.2s;
}

.makebook_checktag_item span {
	display: block;
	line-height: 0.1rem;
	position: absolute;
	right: -0.3rem;
	bottom: -0.4rem;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0.8rem;
	border-color: transparent #8cc04e #8cc04e transparent;
	color: #fff;
	text-align: center;
	font-size:0.5rem;
	opacity: 0;
	transition: all 0.2s;
}

.makebook_checktag_item.active span {
	opacity: 1;
	transition: all 0.2s;
}
.makebook_checktag_item label {
	cursor: pointer;
	font-size: 0.7rem;
}
.makebook_checktag_item.disabled label{
	color: #bbb;
}
.makebook_checktag_wrapper .makebook_checktag_item{
	margin: 0.2rem 0.3rem;
}
.makebook_iccustomoption_wrapper .common_custonoption_item{
	margin: 0.5rem auto;
}

/*~~~~~~~~~~makebook_invitcardinfo_wrapper~~~~~~~~~~*/
.makebook_invitcardinfo_container{
	display: none;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 2;
}
.makebook_invitcardinfo_wrapper{
	margin: 10px auto;
	width: 14rem;
	height: 23rem;
	background-image: url(../img/m/makebook/invitcardevelop.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	font-size: 13px;
	position: relative;
}
.makebook_invitcardinfo_wrapper .title{
	padding: 3rem 0 0 0.5rem;
	text-align: center;
	font-size: 0.8rem;
	color: #aace68;
}
.makebook_invitcardinfo_wrapper .common_share_wrapper{
	margin: 2.5rem auto 0;
	width: 90%;
}
.makebook_invitcardinfo_wrapper .closebutton_img{
	left: 0;
	top: -0.4rem;
}
.makebook_invitcardinfo_wrapper .edit{
	position: absolute;
	top: 1.2rem;
	right: 2rem;
	color: #008bf7;
	font-size: 0.71rem;
}
.makebook_icilist_wrapper{
	margin: 0.5rem auto 0;
	width: 10.5rem;
	height: 11rem;
	overflow: auto;
}
.makebook_icilist_wrapper>li{
	margin: 0 auto;
	padding: 0.5rem 0;
	width: 100%;
	border-bottom: 1px dashed #999;
	color: #999;
	font-size: 0.4rem;
}
.makebook_icilist_wrapper li h5{
	display: inline-block;
	font-size: 0.4rem;
}
.makebook_icbasicinfotag_wrapper li{
	display: inline-block;
	margin: 0.25rem 0;
	padding: 0 0.5rem;
	height: 1rem;
	line-height: 1rem;
	background: #eeeeee;
	color: #1e1e1e;
	border-radius: 1rem;
	font-size: 0.5rem;
}
.makebook_icbasicinfo_wrapper{
	display: inline-block;
	vertical-align: top;
}
.makebook_icbasicinfo_wrapper li{
	display: block;
	margin: 0 0 0 0.5rem;

}
.makebook_icbasicinfo_wrapper li a{
	color: #55b9ec;
}
.makebook_icbasicinfo_wrapper li a:hover{
	color: #387C9E;
}



