@charset "utf-8";
/*~~~~~~~~~~usercenter~~~~~~~~~~*/
/*personal main*/
.userinfo_wrapper {
    width: 100%;
    margin: 0 0 1em 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    height: 6em;
}

.userinfo_wrapper a {
    display: block;
    height: 100%;
    background: #fff;
}

.userinfo_wrapper img {
    float: left;
    margin: 20px 10px 0 10px;
    border-radius: 50%;
}

.name_wrapper {
    float: left;
    margin: 20px 0 0 0;
    font-size: 14px;
    color: #3c3c3c;
}

.name_wrapper div {
    margin: 0.3em 0 0 0;
    font-size: 0.6em;
    color: #9e9e9e;
}

.rightarrow_item {
    float: right;
    margin: 0;
    padding: 0 1em 0 0;
    line-height: 40px;
}

.userinfo_wrapper .rightarrow_item{
    height: 6em;
    line-height: 6em;
    color: #9e9e9e;
}

.usercenter_tools_wrapper{
    margin: 0 0 3em 0;
}

.usercenter_tools_wrapper>ul>li{
    font-size: 14px;
    height: 40px;
    background: #fff;
    border: 1px solid #ddd;
}

.usercenter_tools_wrapper>ul>li:hover{
    background: #d1d1d1;
}

.usercenter_tools_wrapper>ul>li:first-child{
    margin: 1em 0;
}

.usercenter_tools_wrapper ul li a{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 40px;
    color: #000;
}
.usercenter_tools_wrapper ul li a>span{
    float: left;
    margin: 5px 10px;
    width: 30px;
    height: 30px;
    /*background-image: url(../img/m/img_sprite_00000.png);*/
}
.usercenter_tools_wrapper ul li a>span img{
    width: 30px;
    height: 30px;
    vertical-align: baseline;
}

.userbindicon_wrapper{
    float: right;
    margin: 10px 0 0 0;
    height: 20px;
}
.userbindicon_wrapper li{
    float: left;
    margin: 0 1px;
    width: 20px;
    height: 20px;
    position: relative;
}
.userbindicon_wrapper img{
    position: absolute;
    top: 0;
}
.userbindicon_wrapper li span{
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../img/m/icon-bind.png);
    background-size: 40px 140px;
}
.userbindicon_wrapper .phone_icon{
    background-position: 0 -2px;
}
.userbindicon_wrapper .email_icon{
    background-position: 0 -25px;
}
.userbindicon_wrapper .qq_icon{
    background-position: 0 -48px;
}
.userbindicon_wrapper .renren_icon{
    background-position: 0 -72px;
}
.userbindicon_wrapper .weibo_icon{
    background-position: 0 -95px;
}
.userbindicon_wrapper .wechat_icon{
    background-position: 0 -119px;
}
.userbindicon_wrapper .active{
    background-position-x:-60px;
}
/*personal info*/
.user-info-list li {
    border-left: none;
    border-right: none;
    border-radius: 0;
    box-sizing: content-box;
}


.user-header {
    width: 100%;
    height: 6em;
    border: 1px solid #DDDDDD;
    border-left: none;
    border-right: none;
    margin: 1em 0;
    background-color: #fff;
}

.user-header a {
    display: block;
    height: 100%;
    width: 100%;
}

.user-header p {
    float: right;
    line-height: 6em;
    margin-right: 1em;
}

.user-header ul {
    color: #3c3c3c;
    font-style: normal;
    vertical-align: middle;
    margin: 1.6em 0 0 0;
    padding: 0;
}

.user-header ul li.thin-float-cl {
    color: #9e9e9e;
    font-size: 0.6em;
    margin-top: .3em;
}

.user-info-list .user-header {
    height: 6em;
    line-height: 6em;
    margin: 1em 0;
    padding: 0 1em;
}

.user-header-photo {
    width: 50px;
    height: 50px;
    margin: 1.1em 0.8em 0.8em;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
}

.user-info-list a {
    display: block;
    color: #3c3c3c;
    font-size: .875em;
}

.user-info-list span:after {
    content: ">";
    padding-left: 0.5em;
}

.user-info-list form {
    width: 70%;
}

.user-info-list textarea {
    height: 10em;
}

.user-info-list li:hover {
    background-color: #C3C3C8;
}

.user-info-list li:hover a, .user-info-list li:hover span {
    color: #fff;
}

.user-info-list li:last-child {
    border-radius: 0;
    border-bottom: none;
    box-shadow: none;
}

.user-info-edit-header {
    height: 3em;
    text-align: center;
    padding: 0 0.2em;
    line-height: 3em;
}

.user-info-edit-header .header-cancel {
    float: left;
    font-size: .9em;
}

.user-info-edit-header .header-save {
    float: right;
    font-size: .9em;
}

.user_info_edit {
    position: relative;
}

.user_info_edit input {
    width: 100%;
    min-width: 8em;
    height: 3em;
    overflow: hidden;
    float: left;
    /*border: none;*/
    font-size: .875em;
    padding: 0 6px;
!important;
}

.user_info_edit textarea {
    width: 97%;
    height: 10em;
    margin: 0;
    /*border: none;*/
    font-size: .875em;
    padding: 1%;
!important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.user_info_edit span {
    float: right;
    position: absolute;
    top: 0;
    right: 6px;
    color: #3c3c3c;
    display: block;
    width: 10%;
    height: 3em;
    text-align: right;
    z-index: 100;
!important;
    text-align: center;
    line-height: 3em;
}

.user_info_edit span:focus {
    color: #3c3c3c;
    display: none;
}

.user_info_warning {
    margin: 1em;
}