@charset "utf-8";
/*personal main*/
.userinfo_wrapper {
    width: 100%;
    margin: 0 0 1em 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    height: 6em;
}

.userinfo_wrapper a {
    display: block;
    height: 100%;
    background: #fff;
}

.userinfo_wrapper img {
    float: left;
    margin: 20px 10px 0 10px;
    border-radius: 50%;
}

.name_wrapper {
    float: left;
    margin: 20px 0 0 0;
    font-size: 14px;
    color: #3c3c3c;
}

.name_wrapper div {
    margin: 0.3em 0 0 0;
    font-size: 0.6em;
    color: #9e9e9e;
}

.rightarrow_item {
    float: right;
    margin: 0;
    padding: 0 1em 0 0;
    line-height: 40px;
}

.userinfo_wrapper .rightarrow_item {
    height: 6em;
    line-height: 6em;
    color: #9e9e9e;
}

.usercenter_tools_wrapper {
    margin: 0 0 3em 0;
}

.usercenter_tools_wrapper > ul > li {
    font-size: 14px;
    height: 40px;
    background: #fff;
    border: 1px solid #ddd;
}

.usercenter_tools_wrapper > ul > li:hover {
    background: #d1d1d1;
}

.usercenter_tools_wrapper > ul > li:first-child {
    margin: 1em 0;
}

.usercenter_tools_wrapper ul li a {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 40px;
    color: #000;
}

.usercenter_tools_wrapper ul li a > span {
    float: left;
    margin: 5px 10px;
    width: 30px;
    height: 30px;
}

.usercenter_tools_wrapper ul li a > span img {
    width: 30px;
    height: 30px;
    vertical-align: baseline;
}

.userbindicon_wrapper {
    float: right;
    margin: 10px 0 0 0;
    height: 20px;
}

.userbindicon_wrapper li {
    float: left;
    margin: 0 1px;
    width: 20px;
    height: 20px;
    position: relative;
}

.userbindicon_wrapper img {
    position: absolute;
    top: 0;
}

.userbindicon_wrapper li span {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(../img/m/icon-bind.png);
    background-size: 40px 140px;
}

.userbindicon_wrapper .phone_icon {
    background-position: 0 -2px;
}

.userbindicon_wrapper .email_icon {
    background-position: 0 -25px;
}

.userbindicon_wrapper .qq_icon {
    background-position: 0 -48px;
}

.userbindicon_wrapper .renren_icon {
    background-position: 0 -72px;
}

.userbindicon_wrapper .weibo_icon {
    background-position: 0 -95px;
}

.userbindicon_wrapper .wechat_icon {
    background-position: 0 -119px;
}

.userbindicon_wrapper .active {
    background-position-x: -60px;
}

/*personal info*/
.user-info-list li {
    border-left: none;
    border-right: none;
    border-radius: 0;
    box-sizing: content-box;
}

.user-header {
    width: 100%;
    height: 6em;
    border: 1px solid #DDDDDD;
    border-left: none;
    border-right: none;
    margin: 1em 0;
    background-color: #fff;
}

.user-header a {
    display: block;
    height: 100%;
    width: 100%;
}

.user-header p {
    float: right;
    line-height: 6em;
    margin-right: 1em;
}

.user-header ul {
    color: #3c3c3c;
    font-style: normal;
    vertical-align: middle;
    margin: 1.6em 0 0 0;
    padding: 0;
}

.user-header ul li.thin-float-cl {
    color: #9e9e9e;
    font-size: 0.6em;
    margin-top: .3em;
}

.user-info-list .user-header {
    height: 6em;
    line-height: 6em;
    margin: 1em 0;
    padding: 0 1em;
}

.user-header-photo {
    width: 50px;
    height: 50px;
    margin: 1.1em 0.8em 0.8em;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
}

.user-info-list a {
    display: block;
    color: #3c3c3c;
    font-size: .875em;
}

.user-info-list span:after {
    content: ">";
    padding-left: 0.5em;
}

.user-info-list form {
    width: 70%;
}

.user-info-list textarea {
    height: 10em;
}

.user-info-list li:hover {
    background-color: #C3C3C8;
}

.user-info-list li:hover a, .user-info-list li:hover span {
    color: #fff;
}

.user-info-list li:last-child {
    border-radius: 0;
    border-bottom: none;
    box-shadow: none;
}

.user-info-edit-header {
    height: 3em;
    text-align: center;
    padding: 0 0.2em;
    line-height: 3em;
}

.user-info-edit-header .header-cancel {
    float: left;
    font-size: .9em;
}

.user-info-edit-header .header-save {
    float: right;
    font-size: .9em;
}

.user_info_edit {
    position: relative;
}

.user_info_edit input {
    width: 100%;
    min-width: 8em;
    height: 3em;
    overflow: hidden;
    float: left;
    /*border: none;*/
    font-size: .875em;
    padding: 0 6px;
!important;
}

.user_info_edit textarea {
    width: 97%;
    height: 10em;
    margin: 0;
    /*border: none;*/
    font-size: .875em;
    padding: 1%;
!important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: content-box;
}

.user_info_edit span {
    float: right;
    position: absolute;
    top: 0;
    right: 6px;
    color: #3c3c3c;
    display: block;
    width: 10%;
    height: 3em;
    text-align: right;
    z-index: 100;
!important;
    text-align: center;
    line-height: 3em;
}

.user_info_edit span:focus {
    color: #3c3c3c;
    display: none;
}

.user_info_warning {
    margin: 1em;
}
/*bind*/
.user-center-bind .list-group .list-group-item, .user-center-tool .list-group .list-group-item {
    border-left: none;
    border-right: none;
    border-radius: 0;
}

.user-center-bind .list-group .list-group-item span{
    font-size: .875em;
}

.user-center-bind li:hover, .user-center-tool li:hover {
    background-color: #C3C3C8;
}

.user-center-bind li:hover a, .user-center-tool li:hover a {
    color: #fff;
}

.user-center-bind li:hover span {
    color: #fff;
}

.user-center-bind a {
    color: #3c3c3c;
    display: block;
    font-size: .875em;
}
.bind {
    background: url("../img/m/icon-bind.png") no-repeat;
    width: 20px;
    height: 20px;
    float: left;
    margin: 2px;
    background-size: 40px 140px;
}

.bind.active {
    background-position-x: -20px;
}

.photo-icon {
    background-position: 0 -2px;
}

.email-icon {
    background-position: 0 -25px;
}

.qq-icon {
    background-position: 0 -48px;
}

.renren-icon {
    background-position: 0 -72px;
}

.weibo-icon {
    background-position: 0 -95px;
}

.wechat-icon {
    background-position: 0 -120px;
}



.set-username.form-group {
    margin: 2em;
}

.set-username p,
.change-ps-ok p{
    margin-bottom: 10px;
}



.bindsetcode_wrapper .container, .bindsetcode_wrapper .container-fluid {
    padding: 0;
}

.bindsetcode_wrapper .set-code form {
    margin: 0;
}

.bindsetcode_wrapper .set-username {
    margin: 2em 0;
}

.bindsetcode_wrapper .set-code label {
    margin: 1em 0;
}


.change-email {
    margin: 2em;
}

.change-email p{
    margin-bottom: 10px;
    font-size: 1em;
}



/*feedback*/
.feedback-reply {
    padding: 1em;
}

.feedback-reply ul li {
    border-left: solid #05a51e;
}

.feedback-reply .feedback-reply-system {
    border-left: solid #006ce5;
}

.feedback-reply .feedback-content {
    font-size: 0.75em;
    line-height: 1.5em;
    margin-bottom: 10px;
}

.feedback-reply .feedback-date {
    font-size: 0.6em;
    color: #BEBEBE;
}

/*my message*/
.message_list{
    margin: 15px 10px;
}
.message_list > li{
    margin-bottom: 10px;
    padding: 5px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 1px #e0e0e0;
}
.message_list > li .edit_btn{
    float: right;
    color: #d9d9d9;
    font-size: 16px;
    cursor: pointer;
}
.message_list > li .edit_btn:hover{
    color: #6ea11f;
}
.message_list > li .edit_btn.icon-trash{
    height: 30px;
    margin-top: -18px;
}
.message_list > li > h4{
    float: left;
    margin: 0;
    padding: 0 15px;
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    font-weight: bold;
    background: url("../img/m/time_line_circle_green.png") no-repeat 0;
    background-size: 18px 8px;
}
.message_list > li > h4 img{
    position: relative;
    top: -2px;
    left: 5px;
    width: 54px;
    border-radius: 4px;
}
.message_list > li > p{
    padding: 0 15px;
    margin-bottom: 10px;
    clear: both;
}
.message_list > li .time{
    float: left;
    font-size: 12px;
    line-height: 28px;
}
.message_list > li.read > h4{
    background: none;
}
/*my wallet*/
.wallet_wrapper .balance{
    width: 95%;
    height: 50px;
    /* line-height: 40px; */
    font-size: 20px;
    /* padding: 6px 12px; */
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    margin: 10px auto 20px;
    position: relative;
}

.wallet_wrapper .balance p{
    line-height: 50px;
}

.wallet_wrapper .balance p span{
    font-size: 24px;
    color: #fc6b52;
}

.wallet_wrapper .balance a{
    position: absolute;
    right: 0;
    top: 10px;
    font-size: 14px;
    line-height: normal;
}

.wallet_wrapper .balance a:hover{
    color: #e7b54b;
}

.coupon_switcher{
    margin: 10px auto;
    width: 80%;
    overflow: hidden;
    font-size: 18px;
}
.coupon_switcher li{
    float: left;
    /*width: 49%;*/
    width: 33%;
    height: 2.5em;
    line-height: 2.5em;
    text-align: center;
    background: #f6f6f6;
    color: #333;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    box-sizing: border-box;
}
.coupon_switcher li:first-child{
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}

.coupon_switcher li:last-child{
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.coupon_switcher li a{
    display: block;
    width: 100%;
    height: 100%;
    color: #acdb6f;
}
.coupon_switcher li .active{
    background: #fff;
    color: #fc6b52;
}

.coupon_list{
    display: none;
    margin: 0 auto;
    width: 95%;
}

.coupon_list li{
    position: relative;
    width:100%;
    height: 50px;
    margin: 15px auto;
    font-size: 16px;
    box-sizing: border-box;
    background: url("../img/m/wallet/coupon_bg.png") no-repeat;
    background-size: cover;
}

.coupon_list li .coupon_name{
    position: absolute;
    left: 4%;
    top: 5px;
}

.coupon_list li .coupon_name p{
    margin: 0;
}

.coupon_list li .coupon_name p:last-child{
    font-size: 12px;/*NEWYB-988*/
    line-height: 1.8em;
}

.coupon_list li .coupon_name p span{
    font-size: 12px;
}

.coupon_list li .coupon_money{
    float: right;
    width: 110px;
    height: 50px;
    color: #fff;
    text-align: center;
    margin-right: -2px;
}

.coupon_list li .coupon_money span{
    font-size: 20px;
    display: block;
    padding-top: 5px;
}

.coupon_list li .coupon_money.coupon_10{
    background: url("../img/m/wallet/coupon_10.png") no-repeat;
    background-size: cover;
}

.coupon_list li .coupon_money.coupon_20{
    background: url("../img/m/wallet/coupon_20.png") no-repeat;
    background-size: cover;
}

.coupon_list li .coupon_money.coupon_50{
    background: url("../img/m/wallet/coupon_50.png") no-repeat;
    background-size: cover;
}

.coupon_list li .coupon_money.coupon_failed{
    background: url("../img/m/wallet/coupon_failed.png") no-repeat;
    background-size: cover;
}