/*~~~~~~~~~~shop_introduction~~~~~~~~~~*/
.shop_introtitle_wrapper{
	width: 100%;
	height: 45rem;
	background-image: url(../img/m/shop/shop_introduce_titlebg_00000.jpg);
	background-position: 100% 0;
	background-size: 100%;
	overflow: hidden;
	position: relative;
}
.shop_introtitle_wrapper .shop_logo{
	display: block;
	margin: 4rem auto;
	width: 9rem;
}
.shop_introtitle_wrapper .logo{
	display: block;
	margin: 8rem auto 3rem;
	width: 10rem;
    background: none;
}
.shop_introtitle_wrapper h1, .shop_introtitle_wrapper p{
	width: 100%;
	text-align: center;
	color: #fff;
	font-weight: lighter;
	text-shadow: 2px 2px #222;
}
.shop_introtitle_wrapper h1{
	font-size: 3rem;
	line-height: 4rem;
	letter-spacing: 0.3rem;
}
.shop_introtitle_wrapper p{
	font-size: 1.5rem;
	letter-spacing: 0.15rem;
}
.shop_introtitle_wrapper a{
	display: block;
	margin: 6rem auto 0;
	padding: 0.5rem 5rem;
	width: 8rem;
	height: 2rem;
	line-height: 2rem;
	border-radius: 2rem;
	text-align: center;
	color: #fff;
	font-size: 1.8rem;
	background-color: #81ca51;
	position: relative;
	z-index: 1;
}
.shop_wave_item{
	width: 100%;
	position: absolute;
	bottom: -1px;
}
.shop_wave_item img{
	display: block;
	width: 100%;
}
.shop_serviceobject_wrapper{
	margin: 0 auto;
	padding: 1rem 0 4rem 0;
	width: 90%;
}
.shop_serviceobject_wrapper ul{
	height: 10rem;
}
.shop_serviceobject_wrapper li:first-child{
	float: left;
}
.shop_serviceobject_wrapper li{
	float: right;
	width: 50%;
	overflow: hidden;
}
.shop_serviceobject_wrapper li span{
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 5.3rem;
	height: 5rem;
	/*background: url(../img/sprite/shop_serviceobject_00000.png) no-repeat;*/
	background-size: 13rem;
    text-align: center;
}
.shop_serviceobject_wrapper li a div{
	display: block;
	text-align: center;
}
.shop_serviceobject_wrapper li h5{
	width: 100%;
	text-align: center;
	font-size: 1.8rem;
}
.shop_serviceobject_wrapper .personal h5{
	color: #2899d6;
}
.shop_serviceobject_wrapper .wechatsubscripton h5{
	color: #00ca5a;
}
.shop_serviceobject_wrapper .personal span{
	/*background-position: 1rem 0;*/
    color: #3497DB;
    font-size: 4.4rem;
    line-height: 4.4rem;
}
.shop_serviceobject_wrapper .wechatsubscripton span{
	/*background-position: -6rem  0;*/
    color: #1BCB44;
    font-size: 5.6rem;
    line-height: 4.75rem;
}
.shop_serviceobject_wrapper li p{
	padding: 5px 0;
	color: #999999;
	font-size: 1rem;
}
.shop_serviceobject_wrapper a{
	display: block;
	overflow: hidden;
}
.shop_subtitle_item{
	padding:  3rem 0;
	width: 100%;
	text-align: center;
	font-size: 2rem;
	overflow: hidden;
}
.shop_subtitle_item h5{
	display: inline-block;
	margin: 0 1rem;
	width: 8rem;
	color: #333;
}
.shop_subtitle_item span{
	display: inline-block;
	width: 4.5rem;
	height: 1px;
	line-height: 35px;
	background-color: #cecece;
	vertical-align: middle;
}

.shop_serviceintroduce_wrapper{
	margin: 0 auto;
	padding: 0 0 3rem 0;
	width: 100%;
	background-color: #edeff3;
	overflow: hidden;
}
.shop_serviceintroduce_wrapper img{
	float: left;
	margin: 0 60px 0 20px;
	width: 200px;
}
.shop_serviceintroduce_wrapper p{
	margin: 0 auto;
	width: 90%;
	min-height: 70px;
	line-height: 25px;
	color: #666666;
	font-size: 1rem;
}
.shop_serviceintroduce_wrapper a{
	display: block;
	margin: 4rem auto 0;
	width: 16rem;
	height: 3rem;
	line-height: 3rem;
	border: 2px solid #8cc64c;
	color: #8cc64c;
	text-align: center;
	border-radius: 0.5rem;
	font-size: 2rem;
}
.shop_serviceintroduce_wrapper a:hover{
	background-color: #90d394;
	color: #fff;
}
.shop_advantage_wrapper{
	width: 100%;
}
.shop_advantage_wrapper li{
	float: left;
	width: 50%;
	margin: 0 0 3rem 0;
}
.shop_advantage_wrapper li span{
	display: block;
	margin: 0 auto;
	width: 7.5rem;
	height: 7.5rem;
	background-image: url(../img/sprite/shop_advantage_00000.png);
	background-size: 30rem;
}
.shop_advantage_wrapper .zero span{
	background-position: 0.4rem -0.4rem;
}
.shop_advantage_wrapper .simple span{
	background-position: -7.2rem -0.4rem;
}
.shop_advantage_wrapper .diy span{
	background-position: -14.5rem -0.4rem;
}
.shop_advantage_wrapper .delivery span{
	background-position: -22.2rem -0.4rem;
}
.shop_advantage_wrapper ul{
	margin: 0 auto;
	width: 90%;
	overflow: hidden;
}
.shop_advantage_wrapper p{
	margin: 1rem 0 0 0 ;
	line-height: 1.5rem;
	text-align: center;
	font-size: 1.3rem
}
.shop_shareprofit_wrapper{
	background-color: #edeff3;
	overflow: hidden;
	padding: 0 0 3rem 0;
}
.shop_shareprofit_wrapper img{
	float: left;
	margin: 95px 45px 0 0;
}
.shop_shareprofit_wrapper table{
	margin: 0 auto;
	width: 90%;
	height: 300px;
	background-color: #fef0f0;
	text-align: center;
	border: 2px solid #fff;
	box-shadow: 15px 15px 40px #ccc;
}
.shop_shareprofit_wrapper tr{
	font-size: 1rem;
}
.shop_shareprofit_wrapper table td{
	border: 2px solid #fff;
	color: #ec7861;
	font-size: 1.5rem
}
.shop_shareprofit_wrapper table td:first-child{
	width: 180px;
	color: #333;
	font-size: 1.3rem;
}
.shop_shareprofit_wrapper  th{
	position: relative;
}
.shop_shareprofit_wrapper  th div{
	display: block;
	width: 100%;
	height: 50%;
	line-height: 26px;
}
.shop_shareprofit_wrapper label{
	display: block;
	width: 100%;
}
.shop_shareprofit_wrapper .salesvolume:after{
	content: '';
	display: block;
	height: 2px;
	background: #fff;
	transform: rotate(18deg);
	-webkit-transform: rotate(18deg);
	-moz-transform: rotate(18deg);
}
.shop_shareprofit_wrapper .salesvolume label{
	width: 90%;
	text-align: right;
}
.shop_shareprofit_wrapper .reservationmode label{
	float: right;
	width: 90%;
	text-align: left;
}
.shop_shareprofit_wrapper thead th{
	height: 55px;
	background-color: #e65434;
	border: 2px solid #fff;
	color: #fff;
	font-size: 0.9rem;
}

.shop_joinprocess_wrapper{
	padding: 0 0 1rem 0;
}
.shop_joinprocess_wrapper ul{
	padding: 0 0 30px 0;
	margin: 0 auto;
	width: 26rem;
	overflow: hidden;
}
.shop_joinprocess_wrapper ul li{
	float: left;
	margin: 0 0.6rem;
	width: 4rem;
	height: 6rem;
	position: relative;
}
.shop_joinprocess_wrapper ul li div{
	display: block;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	background-image: url(../img/m/sprite/shop_joinpeocedure_00000.png);
	background-size: 25rem;
	background-repeat: no-repeat;
	border-radius: 10px;
	overflow: hidden;
}
.shop_joinprocess_wrapper ul .bindcellphone div{
	background-position: 0 0.5rem;
}
.shop_joinprocess_wrapper ul .bindwechat div{
	background-position: -5.1rem 0.5rem;
}
.shop_joinprocess_wrapper ul .setupshop div{
	background-position: -9.5rem 0.5rem;
}
.shop_joinprocess_wrapper ul .sharehop div{
	background-position: -13.8rem 0.5rem;
}
.shop_joinprocess_wrapper ul .earnprofit div{
	background-position: -18.4rem 0.5rem;
}
.shop_joinprocess_wrapper ul li strong{
	display: block;
	width: 39px;
	height: 35px;
	position: absolute;
	right: -42px;
	top: 50px;
	font-size: 70px;
	color: #abaebe;
}
.shop_joinprocess_wrapper p{
	margin: 10px 0 0 0;
	text-align: center;
	font-size: 1rem;
}
.shop_joinprocess_wrapper .transitionbtn_68c96c{
	margin: 3rem auto;
}