@charset "utf-8";
/*~~~~~~~~~~encyclopedia and story~~~~~~~~~~*/
.ybarticle_ilustri_wrapper {
    margin: 20px auto;
    width: 197px;
    height: 153px;
}

.ybarticle_ilustri_wrapper img {
    width: 100%;
    height: 100%;
}

.ybarticle_article_item {
    margin: 0 15px 20px;
}

.ybarticle_article_item p {
    margin-bottom: 0;
    line-height: 25px;
    font-size: 14px;
    text-indent: 2em;
}

.ybarticle_article_item p a {
    color: #0880d7;
}

.ybarticle_article_item p a:hover {
    color: #e7b54b;
}

/*~~~~~~~~~~user protocol~~~~~~~~~~*/
.ua-wapper p{
    margin-bottom: 10px;
}

.ua-wapper h1 {
    font-size: 1.75em;
    margin: 20px 0 10px;
}

.ua-wapper h2 {
    font-size: 1.25em;
    margin: 20px 0 10px;
}

.ua-wapper ul {
    padding-left: 10px;
}

.ua-wapper ul li {
    padding: 0;
    font-size: .875em;
}

/*~~~~~~~~~~use_guide~~~~~~~~~~*/
.use_guide .choose_category {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 90%;
}

.use_guide .choose_category div {
    margin: 30px 0;
    width: 100%;
    text-align: center;
}

.use_guide .choose_category div a{
    text-decoration: none;
}

.use_guide .choose_category div a img {
    margin: 0 auto;
    width: 180px;
    height: 180px;
}

.use_guide .choose_category div a h1 {
    font-size: 18px;
    color: #333;
    /*line-height: 35px;*/
    font-weight: normal;
}

.use_guide .choose_category div a:hover h1 {
    color: #e7b54b;
}

/*~~~~~~~~~~photo and interact make~~~~~~~~~~*/
.step_caption{
    margin: 0;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid #e7e7e7;
}
.step_caption:first-child {
    border: 0;
}
.step_caption div {
    display: inline-block;
    vertical-align: middle;
    width: 35px;
    height: 33px;
    background: url("../img/m/help_center/step_fig/guide_step_icons.png") no-repeat;
    background-size: 140px 66px;
}
.step_caption h5 {
    display: inline-block;
    font-size: 16px;
}
.photo_pro .step_caption .choose_tpl{
    background-position: 0 0;
}
.photo_pro .step_caption .upload_img{
    background-position: -35px 0;
}
.photo_pro .step_caption .edit_online{
    background-position: -70px 0;
}
.photo_pro .step_caption .print{
    background-position: -105px 0;
}
.interact_pro .step_caption .choose_tpl{
    background-position: 0 -33px;
}
.interact_pro .step_caption .upload_img{
    background-position: -35px -33px;
}
.interact_pro .step_caption .edit_online{
    background-position: -70px -33px;
}
.interact_pro .step_caption .print{
    background-position: -105px -33px;
}
.detail_steps{
    margin: 0 auto;
    width: 95%;
}
.detail_steps .step h5 {
    margin: 0;
    text-align: center;
    color: #666;
    line-height: 1.5em;
}
.detail_steps .step .figure {
    margin: 10px 0;
    width: 100%;
    border: 1px solid #ebebeb;
}
.detail_steps .step .next {
    display: block;
    margin: 0 auto 15px;
    width: 18px;
    height: 25px;
    background: url("../img/use_guide/down_arrow.png") no-repeat center;
    background-size: cover;
}