@charset "utf-8";
/*~~~~~~~~~~encyclopedia~~~~~~~~~~*/
.ybarticle_ilustri_wrapper {
    margin: 20px auto;
    width: 197px;
    height: 153px;
}

.ybarticle_ilustri_wrapper img {
    width: 100%;
    height: 100%;
}

.ybarticle_article_item {
    margin: 0 15px 20px;
}

.ybarticle_article_item p {
    margin-bottom: 0;
    line-height: 25px;
    font-size: 14px;
    text-indent: 2em;
}

.ybarticle_article_item p a {
    color: #0880d7;
}

.ybarticle_article_item p a:hover {
    color: #e7b54b;
}