*
{
    margin: 0;
    padding: 0;
}

html, body
{
    height: 100%;
}

body
{
    font-family: 'microsoft yahei';
}

.swiper-container
{
    width: 100%;
    height: 100%;

    background: #000;
}

.swiper-slide
{
    width: 100%;
    height: 100%;

    background-color: #fff;
    background-size: 100% 100%;
}

.swiper-pagination-bullet
{
    width: 6px;
    height: 6px;

    opacity: .4;
    background: #fff;
}

.swiper-pagination-bullet-active
{
    opacity: 1;
}

@-webkit-keyframes start
{
    0%, 30%
    {
        -webkit-transform: translate(0, 10px);
                transform: translate(0, 10px);

        opacity: 0;
    }
    60%
    {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);

        opacity: 1;
    }
    100%
    {
        -webkit-transform: translate(0, -8px);
                transform: translate(0, -8px);

        opacity: 0;
    }
}

@keyframes start
{
    0%, 30%
    {
        -webkit-transform: translate(0, 10px);
                transform: translate(0, 10px);

        opacity: 0;
    }
    60%
    {
        -webkit-transform: translate(0, 0);
                transform: translate(0, 0);

        opacity: 1;
    }
    100%
    {
        -webkit-transform: translate(0, -8px);
                transform: translate(0, -8px);

        opacity: 0;
    }
}

.ani
{
    position: absolute;
}

.txt
{
    position: absolute;
}

#array
{
    position: absolute;
    z-index: 999;

    -webkit-animation: start 1.5s infinite ease-in-out;
}
