@media (max-width:1024px) {
	label.error,
	div.error {
		font-size: .4rem!important;
	}
	.transition_btn {
		transition: background-color .4s;
	}
	.cm_header_nav {
		display: none;
	}
	.footer {
		display: none;
	}
	.access_logininner_container {
		width: 100%;
	}
	.common_login_wrapper {
		width: 15rem;
	}
	.common_loginbtn_item {
		font-size: .7rem;
		line-height: 1.5rem;
		height: 1.5rem;
		margin: .5rem auto;
	}
	.common_logincheckbox_wrapper li {
		margin: 0 .2rem;
	}
	.common_logininput_wrapper li {
		height: 2.4rem;
		margin: .8rem 0 0 0;
	}
	.common_logincheckbox_wrapper a {
		font-size: .4rem;
	}
	.common_logininput_wrapper input {
		font-size: .6rem;
		width: 83%;
		height: 1.5rem;
		padding: 0 0 0 2rem;
		background-color: rgba(255, 255, 255, 0);
	}
	.common_logininput_wrapper span {
		font-size: 1rem;
		line-height: 1.5rem;
		width: 17%;
	}
	.common_loginheader_wrapper div {
		height: 2rem;
	}
	.common_loginheader_wrapper div span {
		font-size: 2rem;
	}
	.common_loginheader_wrapper div label {
		font-size: .7rem;
	}
	.common_logincheckbox_wrapper label {
		font-size: .4rem;
	}
	.access_ssologin_wrapper div,
	.common_triplelap_wrapper span {
		margin: 0 auto;
	}
	.access_ssologin_wrapper div {
		width: 60%;
		padding: .2rem 0;
		background: none;
	}
	.common_triplelap_wrapper span {
		background-color: rgba(255, 255, 255, .8);
	}
	.access_ssologin_wrapper p {
		font-size: .4rem;
		margin: .3rem 0;
	}
	.access_ssologin_wrapper ul {
		width: 100%;
	}
	.access_ssologin_wrapper ul li a span {
		font-size: .9rem;
		line-height: 1.5rem;
		width: 1.5rem;
		height: 1.5rem;
	}
	.common_loginproviso_item {
		font-size: .4rem;
		margin: .5rem 0;
	}
	.common_loginproviso_item a {
		font-size: .4rem;
	}
	/*.common_triplelap_wrapper{
		bottom: -0.4rem;
	}
	.common_triplelap_wrapper .first{
		bottom: 0.1rem;
	}
	.common_triplelap_wrapper .second{
		bottom: 0.7rem;
	}*/
}

@media (max-width:1920px) {
	/*~~~~~~~~~~makebook_step_popup.html~~~~~~~~~~*/
	.makebook_spmain_wrapper {
		padding: 0.5rem 1rem;
	}
	.makebook_steppopup_wrapper .makebook_steptitle_wrapper {
		padding: 0 0 0.5rem 0;
	}
	.makebook_steppopup_wrapper .makebook_steptitle_item {
		padding: 0;
		font-size: 18px;
		color: #333;
		font-weight: bold;
	}
	.makebook_steppopup_wrapper .makebook_stepdesc_wrapper {
		margin: 0 0 0 10px;
	}
	.makebook_spchoosetype_wrapper .makebook_steptitle_wrapper {
		padding: 0 0 30px 0;
	}
	.makebook_spchoosetype_wrapper {
		width: 660px;
	}
	.makebook_splist_wrapper {
		overflow: hidden;
	}
	.makebook_splist_wrapper>li {
		float: left;
		margin: 10px;
		width: 185px;
	}
	.makebook_splist_wrapper>li .title {
		display: block;
		margin: 2px;
		width: 100%;
		height: 180px;
		border: 1px dashed #bbbbbb;
		text-align: center;
		position: relative;
		color: #bbbbbb;
	}
	.makebook_splist_wrapper>.active .title,
	.makebook_splist_wrapper>.active .title:hover {
		margin: 0;
		border: 3px solid #90c132;
	}
	.makebook_splist_wrapper .active .tips {
		color: #999;
	}
	.makebook_splist_wrapper .title:hover {
		border: 1px solid #999999;
	}
	.makebook_splist_wrapper .title .makebook_compicon_item {
		display: block;
		margin: 35px auto 0;
		height: 80px;
	}
	.makebook_splist_wrapper .active .makebook_compicon_item span,
	.makebook_splist_wrapper .active .makebook_compicon_item i {
		color: #90c132;
	}
	.makebook_splist_wrapper .makebook_compicon_item span {
		color: #999999;
	}
	.makebook_splist_wrapper .makebook_compicon_item .frame {
		color: #999999;
	}
	.makebook_splist_wrapper .actived .makebook_compicon_item .frame,
	.makebook_splist_wrapper .actived .title label {
		color: #fff;
	}
	.makebook_splist_wrapper .title label {
		display: block;
		cursor: pointer;
		text-align: center;
	}
	.makebook_splist_wrapper .makebook_mark_item {
		display: none;
		line-height: 16px;
	}
	.makebook_splist_wrapper .actived a {
		margin: 0;
		background-color: #90c132;
		border: 2px solid #90c132;
	}
	.makebook_splist_wrapper .actived .title:hover {
		border: 2px solid #90c132;
	}
	.makebook_splist_wrapper .actived .makebook_mark_item,
	.makebook_splist_wrapper .actived .title:hover .makebook_mark_item {
		display: block;
		border-color: transparent #a6cc5b #a6cc5b transparent
	}
	.makebook_splist_wrapper .active .makebook_mark_item {
		display: block;
		color: #fff;
		border-color: transparent #90c132 #90c132 transparent;
	}
	.makebook_splist_wrapper .title:hover .makebook_mark_item {
		display: block;
		color: #fff;
		border-color: transparent #999 #999 transparent;
	}
	.makebook_splist_wrapper .active .title:hover .makebook_mark_item {
		border-color: transparent #90c132 #90c132 transparent;
	}
	.makebook_splist_wrapper .tips {
		padding: 30px 0 0 0;
		color: #cccccc;
	}
	.makebook_splist_wrapper .tips li {
		display: inline-block;
		margin: 3px 0px;
		padding: 1px 3px;
		border-radius: 5px;
		border: 1px solid #ddd;
		font-size: 12px;
		text-align: center;
	}
	.makebook_splist_wrapper .tips li:last-child {
		border: 0;
	}
	.makebook_splist_wrapper .tips p {
		font-size: 14px;
	}
	.makebook_spclosebtn_item {
		padding: 5px;
		background-color: #666666;
		color: #fff;
		position: absolute;
		top: 0;
		right: -26px;
	}
	.makebook_spassemble_wrapper {
		width: 860px;
	}
	.makebook_spassemble_wrapper .makebook_splist_wrapper {
		padding: 0 0 10px 0;
	}
	.makebook_spnav_wapper {
		width: 100%;
		padding: 5px 30px;
		background-color: #eee;
		overflow: hidden;
		box-sizing: border-box;
	}
	.makebook_spnav_wapper .makebook_stepbacklink_item {
		float: left;
	}
	.makebook_spnextlink_btn {
		float: right;
		padding: 5px 25px;
		min-width: 60px;
		border: 2px solid #ff8800;
		color: #ff8800;
		text-align: center;
		border-radius: 3px;
		background-color: #fff;
		transition: all 0.3s;
	}
	.makebook_spnextlink_btn:hover {
		background-color: #ff8800;
		color: #fff;
		transition: all 0.3s;
	}
	.makebook_spchoosemethod_wrapper {
		width: 690px;
	}
	.makebook_spchoosemethod_wrapper ul li {
		margin: 0 27px 40px 27px;
		width: 260px;
	}
	.makebook_spchoosemethod_wrapper .makebook_teamnumber_wrapper {
		margin: 10px 30px;
	}
	.makebook_spsetup_wrapper {
		width: 840px;
	}
	.makebook_spsetup_wrapper .makebook_setupinvitcard_wrapper {
		margin: 0.5rem 0 0 0;
		padding: 0.5rem 0;
	}
	/*.makebook_spsetup_wrapper .personalinfo li {
	margin: 10px 15px;
	width: 115px;
}*/
	.makebook_spsetup_wrapper .personalinfo, .makebook_spsetup_wrapper .personaloption, .makebook_spsetup_wrapper .makebook_iccustomoption_wrapper {
		padding: 5px 0 0 50px;
	}
	.makebook_spsetup_wrapper .makebook_resetandsave_wrapper {
		margin: 20px 0 0 0;
	}
	.makebook_spsetup_wrapper .makebook_setupshare_wrapper {
		margin: 0;
	}
	.makebook_spsetup_wrapper .makebook_setupshare_wrapper>a {
		margin: 10px 0;
		padding: 5px;
	}
	.makebook_spsetup_wrapper .makebook_setupshare_wrapper>div{
		margin: 5px 0 0 30px;
	}
	.makebook_spsetup_wrapper .makebook_setupshare_wrapper>div>div {
		margin: 0;
	}
	.makebook_spsetup_wrapper .makebook_setupshare_wrapper>div>div>span {
		float: left;
		margin: 6px 0 0 80px;
		font-size: 35px;
	}
	.makebook_spsetup_wrapper .makebook_setupshare_wrapper>div>div label {
		float: left;
		margin: 8px 0 0 0;
		width: 2em;
	}
	.makebook_spsetup_wrapper .makebook_setupshare_wrapper>div li {
		width: 30px;
		height: 30px;
	}
	.makebook_spsetup_wrapper .makebook_setupshare_wrapper>div li a {
		font-size: 25px;
		color: #ababab;
		background: none;
	}
	.makebook_sprecommend_wrapper {
		width: 940px;
	}
	.makebook_sprecommend_wrapper .makebook_recommend_wrapper .title .bookname {
		width: 100%;
	}
	.makebook_sprecommend_wrapper .makebook_recommend_wrapper .pages {
		margin: 0 10px 0 20px;
		font-size: 12px;
	}
	.makebook_sprecommend_wrapper .makebook_recommend_wrapper .info {
		text-align: left;
	}
	.makebook_sprecommend_wrapper .makebook_recommend_wrapper li {
		width: 145px;
	}
	.makebook_sprecommend_wrapper .makebook_recommend_wrapper li .bookcover {
		box-shadow: none;
		transition: all 0.3s;
	}
	.makebook_sprecommend_wrapper .makebook_recommend_wrapper li:hover .bookcover {
		border: 2px solid #999;
		box-shadow: 0 0 8px #999;
		transition: all 0.3s;
	}
	.makebook_sprecommend_wrapper .makebook_recommend_wrapper .active .backcover,
	.makebook_sprecommend_wrapper .makebook_recommend_wrapper .active:hover .backcover {
		border: 2px solid #8cc04e;
		box-shadow: 0 0 8px #999;
	}
	.makebook_sprecommend_wrapper .makebook_recommend_wrapper li:hover .makebook_mark_item {
		display: block;
		border-color: transparent #999999 #999999 transparent;
	}
	.makebook_sprecommend_wrapper .makebook_recommend_wrapper .active .bookcover,
	.makebook_sprecommend_wrapper .makebook_recommend_wrapper .active:hover .bookcover {
		border: 2px solid #8cc04e;
		box-shadow: 0 0 8px #999;
	}
	.makebook_sprecommend_wrapper .makebook_recommend_wrapper .active:hover .makebook_mark_item {
		border-color: transparent #8cc04e #8cc04e transparent;
	}
	.makebook_spprogress_container {
		width: 100%;
	}
	.makebook_spprogress_wrapper {
		margin: 30px auto 10px;
		width: 320px;
		height: 20px;
	}
	.makebook_spprogress_wrapper li {
		float: left;
	}
	.makebook_spprogressbar_wrapper {
		display: block;
	}
	.makebook_spprogress_wrapper .actived .progressbar_head {
		background-color: rgba(144, 193, 59, 0.8);
	}
	.makebook_spprogress_wrapper .active .progressbar_head {
		background-color: #fff;
		position: relative;
	}
	.makebook_spprogress_wrapper .active .progressbar_head i {
		display: block;
		background-color: rgba(255, 255, 255, 0.5);
		width: 100%;
		height: 100%;
		padding: 8px;
		border-radius: 50%;
		position: absolute;
		left: -8px;
		top: -8px;
	}
	.makebook_spprogress_wrapper .progressbar_head {
		float: left;
		width: 15px;
		height: 15px;
		line-height: 20px;
		border-radius: 50%;
		background-color: rgba(0, 0, 0, 0.5);
	}
	.makebook_spprogress_wrapper .progressbar_middle {
		float: left;
		margin: 6px 0 0 0;
		width: 50px;
		height: 4px;
		line-height: 20px;
		background-color: rgba(0, 0, 0, 0.5);
	}
	.makebook_spprogress_wrapper .actived .progressbar_middle {
		background-color: rgba(144, 193, 59, 0.8);
	}
	.makebook_sphint_wrapper {
		font-size: 14px;
		color: #999999;
	}
	.makebook_sphint_wrapper span {
		color: #ccc;
		vertical-align: middle;
		max-height: 100%;
	}
	.makebook_sphint_wrapper p {
		display: inline-block;
	}
}