@media (max-width:1024px)
{
    label.error, div.error
    {
        font-size: .4rem!important;
    }
    .transition_btn
    {
        transition: background-color .4s;
    }
    .cm_header_nav
    {
        display: none;
    }
    .footer
    {
        display: none;
    }
    .access_logininner_container
    {
        width: 100%;
    }
    .common_login_wrapper
    {
        width: 15rem;
    }
    .common_loginbtn_item
    {
        font-size: .7rem;
        line-height: 1.5rem;

        height: 1.5rem;
        margin: .5rem auto;
    }
    .common_logincheckbox_wrapper li
    {
        margin: 0 .2rem;
    }
    .common_logininput_wrapper li
    {
        height: 2.4rem;
        margin: .8rem 0 0 0;
    }
    .common_logincheckbox_wrapper a
    {
        font-size: .4rem;
    }
    .common_logininput_wrapper input
    {
        font-size: .6rem;

        width: 83%;
        height: 1.5rem;
        padding: 0 0 0 2rem;

        background-color: rgba(255,255,255,0);
    }
    .common_logininput_wrapper span
    {
        font-size: 1rem;
        line-height: 1.5rem;

        width: 17%;
    }
    .common_loginheader_wrapper div{
        height: 2rem;
    }
    .common_loginheader_wrapper div span
    {
        font-size: 2rem;
    }
    .common_loginheader_wrapper div label
    {
        font-size: .7rem;
    }
    .common_logincheckbox_wrapper label
    {
        font-size: .4rem;
    }
    .access_ssologin_wrapper div, .common_triplelap_wrapper span
    {
        margin: 0 auto;
    }
    .access_ssologin_wrapper div
    {
        width: 60%;
        padding: .2rem 0;

        background: none;
    }
    .common_triplelap_wrapper span
    {
        background-color: rgba(255,255,255,.8);
    }
    .access_ssologin_wrapper p
    {
        font-size: .4rem;

        margin: .3rem 0;
    }

    .access_ssologin_wrapper ul
    {
        width: 100%;
    }
    .access_ssologin_wrapper ul li a span
    {
        font-size: .9rem;
        line-height: 1.5rem;

        width: 1.5rem;
        height: 1.5rem;
    }
    .common_loginproviso_item
    {
        font-size: .4rem;

        margin: .5rem 0;
    }
    .common_loginproviso_item a
    {
        font-size: .4rem;
    }
    /*.common_triplelap_wrapper{
        bottom: -0.4rem;
    }
    .common_triplelap_wrapper .first{
        bottom: 0.1rem;
    }
    .common_triplelap_wrapper .second{
        bottom: 0.7rem;
    }*/
}
