.main_content_container {
	width: 100%;
	background-color: #f0f0f0;
	min-width: 1260px;
	overflow: hidden;
}
.main_content_container a {
	color: #3C3C3C;
}
.left_content_container {
	display: inline-block;
	width: 80%;
	background-color: #fff;
	border-right: 1px solid #d9d9d9;
	padding-top: 2px;
	box-sizing: border-box;
	float: left;
}
.personal_list_box {
	display: inline-block;
	position: relative;
	width: 22%;
	z-index: 1;
	box-sizing: border-box;
	float: left;
}
.personal_info {
	padding: 25px 0;
}
.personal_info .personal_head {
	width: 99%;
	height: 115px;
}
.personal_info .personal_head img {
	width: 115px;
	height: 115px;
	border-radius: 50%;
}
.personal_info > h5 {
	height: 30px;
	font-size: 14px;
}
.personal_info > span {
	display: block!important;
	width: 100%!important;
	font-size: 14px!important;
}
.personal_list_box > ul > li {
	text-align: center;
	line-height: 50px;
	border-right: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
}
.personal_list_box > ul > li.active, .personal_list_box > ul > li:hover {
	background-color: #f5f6f7;
	border-right: none;
}
.personal_list_box > ul > li span {
	margin-right: 10px;
	display: inline-block;
	width: 30px;
	height: 30px;
	vertical-align: middle;
}
.myBookshelf_icon {
	background: url("../img/personal_center/personal_list_icon.png") no-repeat center -32px;
}
.personal_list_box > ul > li:hover .myBookshelf_icon, .personal_list_box li.active .myBookshelf_icon {
	background: url("../img/personal_center/personal_list_icon.png") no-repeat center -1px;
}
.myMessage_icon {
	background: url("../img/personal_center/personal_list_icon.png") no-repeat center -92px;
}
.personal_list_box li:hover .myMessage_icon, .personal_list_box li.active .myMessage_icon {
	background: url("../img/personal_center/personal_list_icon.png") no-repeat center -62px;
}
.ybWallet_icon {
	background: url("../img/personal_center/personal_list_icon.png") no-repeat center -151px;
}
.personal_list_box li:hover .ybWallet_icon, .personal_list_box li.active .ybWallet_icon {
	background: url("../img/personal_center/personal_list_icon.png") no-repeat center -120px;
}
.account_security_icon {
	background: url("../img/personal_center/personal_list_icon.png") no-repeat center -212px;
}
.personal_list_box li:hover .account_security_icon, .personal_list_box li.active .account_security_icon {
	background: url("../img/personal_center/personal_list_icon.png") no-repeat center -182px;
}
.feedback_icon {
	background: url("../img/personal_center/personal_list_icon.png") no-repeat center -270px;
}
.personal_list_box li:hover .feedback_icon, .personal_list_box li.active .feedback_icon {
	background: url("../img/personal_center/personal_list_icon.png") no-repeat center -240px;
}
.personal_list_box li a {
	font-size: 13px;
	color: #3C3C3C;
}
.personal_list_box li:hover a, .personal_list_box li.active a {
	color: #6ea11f;
}
.personal_content_box {
	display: inline-block;
	float: left;
	padding: 25px;
	width: 78%;
	background-color: #f5f6f7;
	border-left: 1px solid #d9d9d9;
	position: relative;
	left: -1px;
	min-height: 800px;
	box-sizing: border-box;
	font-size: 14px;
	color: #333;
}
.personal_content_box > a, .right_content_container > a {
	display: inline-block;
	padding-left: 20px;
	font-size: 14px;
}
.personal_content_box > a {
	cursor: default;
}
.right_content_container > a:first-child {
	cursor: default;
}
.personal_content_box .edit_icon_group {
	display: inline-block;
	position: absolute;
	right: 20px;
	top: 25px;
}
.edit_icon_group a > span {
	margin: 0 10px;
	color: #92c153;
	font-size: 20px;
}
.joinBycode_btn >span {
	display: inline-block;
}
.edit_icon_group a:hover > span, .edit_icon_group a.active > span {
	color: #e7b54b;
}
.hr div.green {
	display: inline-block;
	width: 13%;
	border-top: 1px solid #91c31e;
	position: absolute;
	z-index: 1;
}
.hr div.gray {
	display: block;
	width: 100%;
	border-top: 1px solid #b4b4b4;
	position: absolute;
}
.filter_btn_group {
	margin: 10px 0;
}
.filter_btn_group button {
	width: 90px;
	height: 30px;
	padding: 0 12px;
}
.filter_btn_group span {
	margin-left: -18px;
	background-color: #fff;
	height: 30px;
	width: 20px;
	font-size: 14px;
}
.filter_btn_group > select {
	padding-left: 20px;
	width: 90px;
	height: 25px;
}
.filter_btn_group > select >option {
	padding-left: 20px;
}
.filter_btn_group > label {
	margin: 0 15px;
	font-weight: normal;
}
.filter_btn_group > label > div {
	margin-left: 5px;
}
.filter_time_container {
	display: inline-block;
	width: 10%;
	min-width: 85px;
	padding: 10px 0 0 10px;
}
.filter_time_line {
	display: inline-block;
	position: relative;
	z-index: 1;
}
.filter_time_line > li {
	height: 35px;
	width: 60px;
	background: url("../img/personal_center/time_line_circle_gray.png") no-repeat 30px 2px;
	cursor: pointer;
}
.filter_time_line > li.current {
	background: url("../img/personal_center/time_line_circle_green.png") no-repeat 30px 2px;
}
.vertical_line {
	display: inline-block;
	position: relative;
	left: 53px;
	margin-top: 5px;
	height: 135px;
	border-left: 1px solid #b4b4b4;
	z-index: 1;
	vertical-align: top;
}
.bookshelf_list {
	display: inline-block;
	width: 85%;
	padding-left: 10px;
	vertical-align: top;
}
.bookshelf_list > li {
	display: inline-block;
	padding: 20px;
	margin-left: -5px;
	border-bottom: 1px solid #b4b4b4;
}
.bookshelf_list .book_figure > img, .more_books_list.max > img {
	width: 125px;
	height: 165px;
	border-radius: 12px;
	padding: 0;
	border: 1px solid #ddd;
	box-sizing: border-box;
}
.book_figure .edit_icon, .more_books_list .edit_icon {
	background: rgba(60, 60, 60, 0.4) none repeat scroll 0 0;
	color: #fff;
	height: 28px;
	line-height: 26px;
	margin-top: -32px;
	position: absolute;
	text-align: center;
	width: 125px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	display: none;
}
.book_figure:hover .edit_icon, .more_books_list:hover .edit_icon {
	display: block;
}
.book_figure .edit_icon > span, .more_books_list .edit_icon > span {
	margin: 0 8px;
	cursor: pointer;
	font-size: 16px;
}
.book_figure .edit_icon > span:hover, .more_books_list .edit_icon > span:hover {
	color: #a0d350;
}
.icon_book {
	display: inline-block;
	background: url("../img/personal_center/icon_book_min.png") no-repeat center -2px;
	width: 20px;
	height: 20px;
	vertical-align: middle;
}
.icon_book:hover {
	background: url("../img/personal_center/icon_book_min_green.png") no-repeat center -2px;
}
.bookshelf_list .book_name {
	margin-top: 10px;
	text-align: center;
}
.bookshelf_list .book_name span {
	display: block;
	margin: 0 auto;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100px;
}
.bookshelf_list .divider {
	width: 610px;
	display: block;
	height: 0;
	border-bottom: 1px solid #b4b4b4;
	margin: 0;
	padding: 0
}
.right_content_container {
	display: inline-block;
	padding: 25px 0 0 15px;
	width: 18%;
	vertical-align: top;
}
.right_content_container .hr div.green {
	width: 30%;
}
.right_content_container .hr div.gray {
	width: 100%;
}
.right_content_container > a.more {
	float: right;
	color: #999;
	font-weight: normal;
}
.right_content_container > a.more:hover {
	color: #6ea11f;
}
.more_books_container.max {
	text-align: center;
	position: relative;
}
.more_books_container.max .book_name {
	margin: 6px auto 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100px;
}
.book_carousel {
	width: 125px;
	margin: 0 auto!important;
}
.book_carousel > li {
	width: 125px;
	font-size: 14px;
	padding-bottom: 5px;
	margin: 0;
}
.myMessage_container .btn_group {
	margin: 15px;
}
.myMessage_container .btn_group > button {
	display: inline-block;
	margin: 0 5px;
	width: 100px;
	height: 25px;
	background-color: #fff;
	color: #646464;
	border: 1px solid #b4b4b4;
	border-radius: 4px;
	font-size: 12px;
	vertical-align: middle;
}
.myMessage_container .btn_group > button:hover, .myMessage_container .btn_group > button.selected {
	color: #6ea11f;
	border: 1px solid #6ea11f;
	background-color: #fff;
}
.message_list {
	margin: 15px;
}
.message_list > li {
	margin-bottom: 10px;
	padding: 5px 8px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 1px 1px 1px #e0e0e0;
}
.message_list > li .edit_btn {
	float: right;
	color: #d9d9d9;
	font-size: 16px;
	cursor: pointer;
}
.message_list > li .edit_btn:hover {
	color: #6ea11f;
}
.message_list > li .edit_btn.icon-star-empty, .message_list > li .edit_btn.icon-star {
	height: 30px;
	padding-top: 5px;
}
.message_list > li .edit_btn.icon-star {
	color: #6ea11f;
}
.message_list > li .edit_btn.icon-trash {
	height: 30px;
	margin-top: -18px;
}
.message_list > li > h4 {
	padding-left: 18px;
	height: 30px;
	line-height: 30px;
	font-size: 15px;
	font-weight: bold;
	background: url("../img/personal_center/time_line_circle_green.png") no-repeat -10px 7px;
}
.message_list > li > h4 img {
	position: relative;
	top: -1px;
	left: 5px;
}
.message_list > li > p, .message_list > li > .time {
	padding: 0 18px;
	margin-bottom: 10px;
}
.message_list > li.read > h4 {
	background: none;
}
.key_label {
	background: url("../img/personal_center/key_icon_gray.png") no-repeat 0 center;
	height: 25px;
	width: 25px;
	padding: 10px 10px 10px 25px;
	font-size: 12px!important;
}
.key_label:hover {
	background: url("../img/personal_center/key_icon_green.png") no-repeat 0 center;
}
.security_container {
	padding: 15px;
}
.binding_mode > li {
	display: inline-block;
	padding: 5px 15px;
	margin: 0 10px 20px 0;
	width: 48%;
	line-height: 50px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 1px 1px 1px #e0e0e0;
	box-sizing: border-box;
}
.binding_mode > li a div {
	display: inline-block;
	margin-right: 5px;
	width: 45px;
	text-align: center;
	height: 40px;
	vertical-align: middle;
}
.binding_mode > li a> span:last-child {
	color: #6ea11f;
	float: right;
}
.top-gradation {
	display: inline;
	width: 80%;
	padding-left: 20px;
}
.top-gradation > li {
	display: inline;
	font-size: 14px;
}
.top-gradation > li.current a {
	color: #6ea11f;
}
.change_password_container, .bind_mobile_container {
	margin: 20px auto;
	padding: 25px 0;
	width: 95%;
	height: 305px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 1px 1px 1px #e0e0e0;
}
.change_password_container .form-group {
	margin: 0 auto 10px;
	width: 460px;
}
.change_password_container .form-group > label.password_label {
	display: inline-block;
	height: 40px;
	text-align: right;
	font-size: 14px;
	font-weight: normal;
	line-height: 40px;
	width: 100px;
}
.change_password_container .form-group > label.error {
	margin: 0 0 0 15px;
	text-align: left;
}
.change_password_container .form-group input {
	display: inline-block;
	width: 205px;
	height: 40px;
}
.form-group .icon {
	font-size: 16px;
}
.form-group .icon-ok {
	color: #A0D350;
}
.form-group .icon-remove {
	display: none;
	color: #ff0000;
}
.form-group .icon-eye-open {
	margin: 0 10px 0 -30px;
	color: #A2A2A2;
}
.change_password_container .btn_group, .feedback_container .btn_group {
	position: relative;
	margin-top: 40px;
	text-align: center;
}
.change_password_container .btn_group > button, .feedback_container .btn_group > button, .info_details .btn_group > button {
	width: 110px;
	height: 40px;
	background-color: #f5f6f7;
	color: #666;
	font-size: 16px;
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	font-weight: bold;
	cursor: pointer;
}
.btn_group > button.selected {
	background-color: #a0d350;
	border: 1px solid #50a000;
	margin-right: 15px;
	color: #fff;
}
.btn_group > button.selected:hover {
	background: #e7b54b;
	border: 1px solid #dcbb37;
}
.btn_group > button.selected:active {
	color: #a97913;
}
.feedback_container {
	margin: 20px auto;
	padding: 20px 15px;
	width: 95%;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 1px 1px 1px #e0e0e0;
}
.feedback_container > h4 {
	margin: 10px 0;
	font-size: 14px;
	font-weight: bold;
}
.feedback_container > p {
	text-indent: 2em;
	margin-bottom: 10px;
}
.form-group {
	margin-bottom: 10px;
}
.contact .form-group > label {
	font-weight: normal;
	text-indent: 2em;
	display: inline-block;
	margin-right: 5px;
}
.form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	box-sizing: border-box;
}
.form-control:focus {
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}
.contact .form-group > input {
	display: inline;
	width: 200px;
	height: 40px;
}
.contact .form-group .help-block {
	display: inline;
}
.contact .form-group textarea {
	display: block;
	margin-left: 25px;
	width: 90%;
	height: 185px;
	resize: none;
}
.message_type {
	display: inline-block;
	margin-bottom: 5px;
}
.message_type > label {
	font-weight: normal;
	margin-left: 10px;
}
.message_type > label div {
	margin-right: 5px;
}
.user_msg_box {
	margin: 35px 25px 0 25px;
	color: #646464;
}
.user_msg_box .message_list {
	position: relative;
}
.user_msg_box .user_info {
	padding-left: 1em;
}
.user_msg_box .user_info img {
	border-radius: 50%;
	height: 30px;
	width: 30px;
}
.user_msg_box .user_name {
	font-weight: bold;
	line-height: 30px;
	margin-left: 10px;
	vertical-align: top;
}
.user_msg_box .time {
	position: absolute;
	right: 10px;
}
.feedback_msg {
	background-color: #f7f7f7;
	border: 1px solid #c3c3c3;
	border-radius: 2px;
	margin: 15px auto;
	padding: 5px;
	width: 95%;
	position: relative;
}
.feedback_msg p {
	margin-left: 52px;
}
.feedback_msg::before {
	border-color: transparent transparent #c3c3c3;
	top: -9px;
}
.feedback_msg::before, .feedback_msg .cart {
	border-style: solid;
	content: "";
	display: block;
	height: 0;
	left: 45px;
	margin: 0 auto;
	position: absolute;
	border-width: 0 8px 8px;
}
.feedback_msg .cart {
	border-color: transparent transparent #f7f7f7;
	top: -7px;
}
.step_nav {
	position: relative;
	margin: 20px auto;
	width: 405px;
	height: 10px;
	background-color: #f0f0f0;
	text-align: center;
	box-shadow: 0 -1px 0 #dadada;
}
.step_nav div {
	display: inline-block;
	margin-top: -25px;
	width: 50px;
	height: 50px;
	background-color: #f0f0f0;
	color: #A2A2A2;
	font-size: 24px;
	font-weight: bold;
	line-height: 50px;
	border-radius: 25px;
	box-shadow: -1px -1px 0 #dadada;
}
.step_nav > div.step1 {
	position: relative;
	left: -130px;
}
.step_nav > div.step3 {
	position: relative;
	right: -130px;
}
.step_nav > div > div.current {
	width: 42px;
	height: 42px;
	line-height: 42px;
	background-color: #A0D350;
	color: #fff;
	border-radius: 21px;
}
.step_nav > div p {
	position: absolute;
	width: 80px;
	height: 40px;
	line-height: 40px;
	margin-left: -15px;
	font-size: 12px;
	font-weight: normal;
	color: #666;
}
.bind_mobile_container .form-group > label {
	width: auto;
}
.bind_mobile_container .input_mobile {
	text-align: center;
	position: relative;
	top: 65px;
	color: #666;
	width: 340px;
	height: 135px;
	margin: 0 auto;
}
.bind_mobile_container .btn {
	width: 110px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	border-radius: 4px;
	font-size: 16px;
	display: inline-block;
	background-color: #f5f6f7;
	color: #666;
	border: 1px solid #d9d9d9;
}
.bind_mobile_container .next, .bind_mobile_container .selected {
	margin: 10px auto;
	background-color: #a0d350;
	color: #fff;
	border: 1px solid #6ea11f;
}
.bind_mobile_container .selected:hover {
	background-color: #e7b54b;
	border: 1px solid #e9a81d;
}
.bind_mobile_container .selected:active {
	color: #a97913;
}
.input_mobile .help-block {
	margin-bottom: 20px;
}
.input_mobile .help-block.align_left {
	text-align: left;
	padding-left: 28px;
	margin-bottom: 10px;
}
.btn_group div.again {
	width: 160px;
	font-weight: normal;
	margin-left: 10px;
}
.input_mobile > h4 {
	position: relative;
	top: 25px;
	text-align: center;
	font-size: 18px;
}
.input_mobile .form-group {
	width: 340px;
}
.info_details {
	margin: 40px auto;
	width: 90%;
}
.change_head {
	position: relative;
	float: right;
	text-align: center;
}
.change_head div img {
	width: 115px;
	height: 115px;
}
.change_head > button {
	margin-top: 20px;
	height: 30px;
	background-color: #A0D350;
	border: none;
	border-radius: 4px;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	padding: 0 12px;
}
.change_head > button:hover {
	background: #e7b54b;
}
.change_head > button:active {
	color: #a97913;
}
.info_details .form-group label {
	text-align: left;
	font-size: 16px;
	font-weight: normal;
}
.info_details .form-group .title {
	width: 90px;
	text-align: right;
	display: inline-block;
	line-height: 35px;
	margin-right: 5px;
}
.info_details .form-group input {
	display: inline-block;
	width: 200px;
	height: 40px;
	font-size: 16px;
}
.info_details .form-group input[readonly] {
	background-color: #fff;
}
.info_details .form-group select {
	width: 75px;
	display: inline-block;
	font-size: 16px;
	padding: 0 0 0 6px;
	height: 30px;
}
.info_details .form-group select option {
	padding: 0 12px;
}
.info_details .form-group textarea {
	display: inline-block;
	width: 425px;
	height: 105px;
	resize: none;
	vertical-align: middle;
}
.info_details .form-group .btn {
	background-color: #fff;
	background-image: linear-gradient(to bottom, #fff 0px, #e0e0e0 100%);
	background-repeat: repeat-x;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset, 0 1px 1px rgba(0, 0, 0, 0.075);
	height: 25px;
	margin-left: 5px;
	width: 50px;
	cursor: pointer;
	color: #333;
	text-align: center;
	line-height: 25px;
	display: inline-block;
}
.info_details .form-group .btn:hover {
	color: #89c539;
}
.info_details .btn_group {
	margin-left: 180px;
	margin-top: 25px;
}
.book_figure {
	position: relative;
}
.book_figure .del_btn {
	position: absolute;
	top: 3px;
	right: -20px;
	color: #b4b4b4;
}
.chooseBirthday img {
	position: relative;
	left: 10px;
	top: 5px;
	width: 50px;
	height: 25px;
	opacity: 0;
	cursor: pointer;
}
.chooseBirthday .btn {
	margin-left: -45px!important;
}
.more_books_container.max .hd .prev, .more_books_container.max .hd .next {
	cursor: pointer;
	display: block;
	height: 17px;
	overflow: hidden;
	width: 23px;
	z-index: 9999;
	clear: both;
}
.more_books_container.max .hd .prev {
	background: rgba(0, 0, 0, 0) url("../img/prev_btn2.png") no-repeat scroll 0 0;
	margin: 15px auto;
}
.more_books_container.max .hd .prev.prevStop {
	background: rgba(0, 0, 0, 0) url("../img/prev_btn2_light.png") no-repeat scroll 0 0;
	cursor: default;
}
.more_books_container.max .hd .next {
	background: rgba(0, 0, 0, 0) url("../img/next_btn2.png") no-repeat scroll 0 0;
	margin: 0 auto;
}
.more_books_container.max .hd .next.nextStop {
	background: rgba(0, 0, 0, 0) url("../img/next_btn2_light.png") no-repeat scroll 0 0;
	cursor: default;
}
.order_icon {
	background: url("../img/personal_center/personal_list_icon.png") no-repeat center -330px;
}
.hr {
	padding: 10px 0;
	position: relative;
}
.personal_list_box li:hover .order_icon, .personal_list_box li.active .order_icon {
	background: url("../img/personal_center/personal_list_icon.png") no-repeat center -300px;
}
.binding_mode .user_name input {
	display: inline-block;
	width: 160px;
	height: 25px;
	border: none;
	box-shadow: none;
	padding: 0 6px;
	background-color: #fff;
}
.binding_mode .user_name input.active {
	border: 1px solid #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}
/*~~~~~~~~~~aaaaa~~~~~~~~~~*/
.reset_password_container{
    padding: 50px 0 250px;
    background: url("../img/index_GB.jpg") repeat center center;
    min-width: 1260px;/*NEWYB 905*/
}
.reset_password{
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 15px 20px;
    width: 1080px;
    height: 570px;
    background-color: #fff;
    border: 1px solid #d0d1d2;
}
.reset_password .bread_nav{
    padding-bottom: 15px;
    color: #3C3C3C;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #d0d1d2;
}
.reset_password .close{
    position: absolute;
    right: 15px;
    top: 0;
    color: #3c3c3c;
    font-size: 30px;
}
.reset_password .close:hover,
.reset_password .close:focus{
    color: #a8d361;
    outline: none;
}
.reset_nav{
    margin: 40px auto;
    width: 690px;
    height: 34px;
}
.reset_nav .nav li{
    box-sizing: border-box;
    display: inline-block;
    float: left;
    padding-top: 6px;
    height: 34px;
    width: 230px;
    text-align: center;
    font-size: 14px;
    color: #aaa;
    background-color: #eee;
}
.reset_nav .nav li div{
    display: inline-block;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #aaa;
    color: #fff;
    vertical-align: middle;
}
.nav li.current{
    color: #609c01;
}
.nav li.current > div{
    background-color: #a0d350;
}
.nav li.current.special_bg{
    background: #dcefbe url("../img/right_green_arrow.jpg") no-repeat right center;
}
.nav li.gray_bg{
    background: #eee url("../img/right_gray_arrow.jpg") no-repeat right center;
}
.nav li.gray_arrow{
    background: #eee url("../img/right_gray_arrow1.jpg") no-repeat right center;
}
.nav li.finished{
    background-color: #dcefbe;
}
.reset_password .form_group{
    width: 210px;
    margin: 0 415px;
}
.reset_password .form_group input{
    border: 1px solid #ccc;
    border-radius: 2px;
    box-shadow: 0 1px 3px #ddd inset;
    box-sizing: border-box;
    display: inline-block;
    font-size: 14px;
    color: #919191;
    max-width: none ;
    padding: 12px 10px 11px;
    resize: none;
    width: 205px;
    height: 45px;
}
.reset_password .form_group input#auth_code{
    width: 65px;
    height: 40px;
}
.reset_password .form_group input:focus{
    color: #3C3C3C;
}
.reset_password .btn{
    width: 110px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
}
.reset_password .next,
.reset_password .success{
    margin: 40px auto;
    background-color: #a0d350;
    color: #fff;
    border: 1px solid #6ea11f;
}
.reset_password .next:hover{
	background-color: #e7b54b;
	border: 1px solid #e9a81d;
}
.reset_password .next:active{
	color:#a97913;
}
.reset_password .success:hover{
	background-color: #e7b54b;
	border: 1px solid #e9a81d;
}
.reset_password .success:active{
	color:#a97913;
}
.mail_check{
    display: none;
}
.mobile_check,
.mail_check{
    margin: 0 400px 10px;
    width: 335px;
    font-size: 14px;
}
.mobile_check li,
.mail_check li{
    height: 40px;
}
li.method{
    font-weight: bold;
}
.form_group.inline{
    width: 335px;
}
.form_group.inline form{
    display: inline-block;
    margin-right: 12px;
}
.send_identifying_code{
    display: inline-block;
    font-size: 12px;
    background-color: #eee;
    color: #919191;
    height: 40px !important;
}
.reset_password .gray_line{
    margin: 30px auto;
    width: 100%;
    border-top: 1px solid #d0d1d2;
}
.change_method{
    margin-left: 15px;
}
.change_method a{
    text-decoration: underline;
}
.change_method a:focus{
    outline: none;
}
.set_new_password{
    position: relative;
    margin: 0 auto;
    width: 335px;
    font-size: 14px;
}
.set_new_password .form_group{
    margin: 0 auto;
    width: 100%;
}
.form_group .input_inline{
    margin: 25px 0;
}
.form_group .input_inline label{
    display: inline-block;
}
.form_group .input_inline input{
    display: inline-block;
}
.set_new_password .help_block{
    color: #919191;
    font-size: 12px;
    left: 290px;
    position: absolute;
    top: 50px;
    width: 250px;
}
.reset_password a:focus{
    outline: none;
}
.success_info{
    text-align: center;
    height: 35px;
    line-height: 35px;
}
.success_info a{
    color: #6ea11f;
    text-decoration: underline;
}
.success_info img{
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

/*~~~~~~~~~~bbbbb~~~~~~~~~~*/
@charset "utf-8";
/*忆尔钱包*/
.user_name{
	margin: 20px 0;
}
.user_name h2{
	font-size: 1.2em;
}
.balance{
	box-sizing: border-box;
	padding: 10px;
	width: 100%;
	height: 100px;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-shadow: 0px 0px 1px #e0e0e0;
	background-color: #f7f8f9;
}
.available_balance{
	display: inline-block;
	margin:5px 0 0 10px;
	width: 49%;
	font-size: 16px;
	position: relative;
	line-height: 1.8em;
}
.available_balance span{
	font-size: 24px;
	color: #444;
}
.balance .btn,
.query_date .btn{
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	height: 25px;
	outline: 0 none;
	border-radius: 6px;
	background-image: linear-gradient(hsla(0, 0%, 100%, 0.4), hsla(0, 0%, 100%, 0) 25px);
}
.balance .btn:hover,
.query_date .query:hover{
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
}
.available_balance .recharge{
	background-color: #36ad53;
	border: 1px solid #0c8b2b;
	position: absolute;
	right: 25px;
	top: 16px;
	width: 65px;
	line-height: 30px;
	padding: 0;
	height: 30px;
}
.balance .vertical_line{
	border-left: 1px dashed #ddd;
	height: 70px;
	left: 50%;
	position: absolute;
}
.conversion{
	box-sizing: border-box;
	display: inline-block;
	padding: 15px 0 0 15px;
	vertical-align: middle;
	width: 49%;
	float: right;
}
.conversion input{
	display: inline-block;
	width: 61%;
	height: 45px;
	min-width: 180px;
}
.conversion .exchange{
	background-color: #f88f1f;
	border: 1px solid #eaa14b;
	margin-left: 15px;
	min-width: 85px;
	font-size: 14px;
	/*line-height: 1.5em;*/
	height: 30px;
	padding: 0;
	line-height: 30px;
}
.transaction_detail{
	margin: 25px 0;
	padding-bottom: 10px;
	width: 100%;
	background-color: #fff;
}
.transaction_detail .title{
	margin-left: -1px;
	width: 100%;
	height: 40px;
	line-height: 40px;
	background-color: #f9fafb;
	border: 1px solid #e5e5e5;
	background-image: linear-gradient(hsla(0, 0%, 100%, 0.6), hsla(0, 0%, 100%, 0) 30px);
}
.title h4{
	font-size: 16px;
	font-weight: bold;
	margin-left: 15px;
}
.query_date{
	margin: 10px 0 10px 15px;
	color: #666;
}
.query_date input{
	display: inline-block;
	width: 160px;
	height: 30px;
}
.query_date .query{
	width: 50px;
	border: 1px solid #e5e5e5;
	color: #666;
	margin-left: 10px;
	background-color: #e2e2e2;
	line-height: 1.6em;
	padding: 0;
}
.transaction_detail .detail_list > ul{
	margin-bottom: 10px;
	min-height: 155px;
}
.transaction_detail .detail_list > ul > li,
.coupon_list > li{
	margin: 0 15px;
	padding: 0 8px;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px dashed #ddd;
}
.transaction_detail .detail_list li li{
	display: inline-block;
	font-weight: bold;
	width: 11.5%;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.transaction_detail .detail_list li li:first-child{
	/*text-align: left;*/
	width: 14%;
}
.transaction_detail .detail_list li li:last-child{
	width: 13%;
}
.transaction_detail .detail_list li li.abstract{
	width: 22%;
}
.transaction_detail .detail_list li.list{
	color: #f88f1c;
	font-size: 12px;
}
.transaction_detail .detail_list li.list:hover{
	background-color: #f5f6f7;
}
.transaction_detail .detail_list li.caption{
	color: #3C3C3C;
}
nav .pagination{
	width: 36%;
	height: auto;
	margin: 10px auto;
}
nav .pagination li{
	display: inline-block;
	height: 25px;
	line-height: 25px;
	border: 1px solid #ddd;
	padding: 0 6px;
	font-size: 12px;
	font-weight: bold;
}
nav .pagination li a,
nav .pagination li a:hover,
nav .pagination li a:active{
	color: #999;
	border: none;
	margin: 0;
	padding: 0;
	background-color: #fff;
}
.coin_certificate .coupon_slidebox .hd ul{
	border-bottom: 3px solid #427d38;
}
.coin_certificate .coupon_slidebox .hd ul > li{
	display: inline-block;
	width: 120px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border: 1px solid #ddd;
	background-color: #fff;
	color: #999;
	box-sizing: border-box;
	border-bottom: none;
	cursor: pointer;
}
.coin_certificate .coupon_slidebox .hd ul > li.on{
	background-color: #519247;
	border: 1px solid #519247;
	border-bottom: none;
	color: #fff;
}
.coin_certificate .coupon_slidebox .bd{
	background-color: #fff;
	padding-bottom: 10px;
}
.coupon_list{
	min-height: 200px;
}
.coupon_list > li{
	padding: 0;
}
.coupon_list > li.list:hover{
	background-color: #f5f6f7;
}
.coupon_list li li{
	display: inline-block;
	text-align: center;
	width: 22%;
	font-size: 12px;
	font-weight: bold;
	color: #444;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.coupon_list li.caption li{
	overflow: visible;
}
.coupon_list li li:last-child{
	width: 8%;
}
.coupon_list li.caption{
	border-bottom: none;
	padding: 8px 0 4px;
}
.coupon_list li.caption ul{
	background-color: #f6f6f6;
}
.coupon_list.used li{
	color: #999;
}
.coupon_list.used li.caption li{
	color: #444;
}
/*我要下单 书册预览*/
.place_order{
	text-align: center;
	margin-top: 5px;
}
.place_order a{
	width: 6em;
	background-color: #92c153;
	color: #fff;
	display: block;
	font-size: 12px;
	margin: 10px auto;
	/*padding: 5px;*/
}
.place_order_container{
	display: none;
}
.place_order_container .order_nav{
	margin: 0 0 10px;
	width: 495px;
}
.place_order_container .order_nav li{
	width: 165px;
}
.preview_book .swiper-container {
	width: 490px;
	margin-left: auto;
	margin-right: auto;
}
.preview_book .gallery-top .swiper-slide .img_container{
	margin: 0 auto;
	width: 370px;
}
.preview_book .gallery-top .swiper-wrapper .swiper-slide img {
	display: inline-block;
	margin: 0 auto;
	max-height: 240px;
	vertical-align: middle;
	box-shadow: 0 0 10px #d5d5d5;
}
.preview_book .gallery-top {
	margin-bottom: 10px;
	height: 240px;
	width: 490px;
}
.preview_book .gallery-thumbs {
	position: relative;
}
.preview_book .gallery-thumbs .swiper-slide {
	width: 140px;
	margin-right: 10px;
}
.preview_book .gallery-thumbs .swiper-slide .img_container{
	/*margin-bottom: 5px;*/
	width: 140px;
	border: 1px solid #d5d5d5;
	box-sizing: border-box;
}
.preview_book .gallery-thumbs .swiper-slide img{
	display: inline-block;
	max-height: 88px;
}
.preview_book .gallery-thumbs .swiper-slide-active {
	opacity: 1;
	border-bottom: 4px solid #fad643;
	z-index: 2;
}
.preview_book .gallery-thumbs .hr{
	border-top: 3px solid #83c8c1;
	margin: -3px 0 20px;
}
.confirm_next .tip{
	font-size: 14px;
	color: #999;
	width: 66%;
	display: inline-block;
}
.confirm_next .next{
	display: inline-block;
	width: 160px !important;
	/*height: 30px;
	line-height: 30px;*/
	text-align: center;
	background-color: #89c539;
	border-radius: 2px;
}
.confirm_next .next a {
	display: inline-block;
	width: 160px !important;
	color: #fff;
	font-size: 16px;
	margin:0;
	height: 30px;
	line-height: 30px;
}
.confirm_next .next:hover{
	background-color: #e7b54b;
}
/*忆尔钱包 账户充值*/
.account_recharge .hd ul{
	border-bottom: 2px solid #A0D350;
}
.account_recharge .hd ul li{
	width: 125px;
	height: 33px;
	background-color: #a0d350;
	color: #fff;
	text-align: center;
	line-height: 35px;
}
.account_recharge .bd{
	background-color: #fff;
	padding: 10px 20px 40px;
	font-size: 14px;
	position: relative;
}
.recharge_con{
	position: relative;
}
.account_recharge .bd .recharge_con li{
	line-height: 50px;
}
.recharge_con .account_balance{
	font-size: 20px;
}
.recharge_con .input_money{
	display: inline-block;
	width: 160px;
	height: 25px;
}
.recharge_con .payment{
	display: inline-block;
	vertical-align: top;
	padding-left: 10px;
}
.recharge_con .payment label{
	display: block;
}
.recharge_con .payment label img{
	vertical-align: middle;
	padding-left: 10px;
}
.recharge_con .go_recharge {
	border-top: 1px dashed #ddd;
	margin-top: 25px;
	padding-right: 10px;
	text-align: right;
}
.recharge_con .go_recharge div{
	display: inline-block;
	width: 160px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #ecac3c;
	border-radius: 2px;
	font-size: 16px;
	margin-top: 25px;
	cursor: pointer;
}
.recharge_con .go_recharge div a{
	color: #fff;
	display: block;
}
.recharge_con .go_recharge div a:hover{
	box-shadow: none;
	color: #aa7d2d;
}
.recharge_con .go_recharge div a:active{
	color: #5a4520;
}
.pay_tip h3,
.pay_fail h3{
	border-bottom: 1px solid #dcdcdc;
	font-size: 20px;
	height: 45px;
	text-align: center;
	width: 460px;
}
.pay_tip p,
.pay_fail p{
	text-align: center;
	font-size: 12px;
	margin: 25px 0 30px;
}
.pay_tip .btn_group,
.pay_fail .btn_group{
	padding: 0 30px;
	height: 30px;
	margin: 10px 0;
}
.pay_tip .btn_group a,
.pay_fail .btn_group a{
	width: 150px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	background-color: #A0D350;
	border: 0;
	font-weight: bold;
	font-size: 14px;
	border-radius: 2px;
	text-align: center;
}
.pay_tip .btn_group a.success{
	float: left;
}
.pay_tip .btn_group a.fail{
	float: right;
	background-color: #E69D3D;
}
.pay_fail .btn_group a.confirm{
	background-color: #E69D3D;
	margin: 0 auto;
	display: block;
}
/*我要下单 订单确认*/
.order_con{
	font-size: 14px;
	margin-bottom: 15px;
}
.order_con > a{
	color: #333;
}
.pages_list > li{
	height: 25px;
	line-height: 25px;
	font-size: 12px;
}
.pages .pages_list li ul > li,
.accessories .pages_list li ul > li{
	display: inline-block;
	width: 18%;
	text-align: center;
	margin: 0 3px;
}
.pages_list > li.caption{
	color: #999;
}
.accessories .pages_list select{
	width: 100%;
}
.size .pages_list li ul > li{
	display: inline-block;
	width: 18%;
	text-align: center;
	margin: 0 3px;
}
.size .pages_list li ul > li:last-child{
	margin-left: 25%;
	width: 50%;
}
.book_unit_price{
	text-align: right;
	padding-right: 5px;
	margin-bottom: 10px;
	font-size: 14px;
	color: #999;
}
.sum_money{
	font-size: 14px;
	color: #999;
	margin: 20px 0;
}
.sum_money div{
	display: inline-block;
	width: 49%;
}
.sum_money .num input{
	width: 55px;
	height: 20px;
	display: inline-block;
	margin: 0 5px 0 10px;
	padding: 0;
	text-align: center;
}
.sum_money .money{
	text-align: right;
}
.sum_money .money p > span{
	color: #ff0000;
	font-size: 16px;
	font-weight: bold;
}
/*我的订单*/
.query_group div{
	display: inline-block;
}
.status_query{
	float: right;
	margin: 10px;
}
.status_query .chosen-container{
	text-align: center;
}
.order_list{
	width: 100%;
	background-color: #fff;
	padding-bottom: 10px;
}
.order_list > ul > li{
	border-bottom: 1px dashed #ddd;
	padding: 10px 0;
	margin: 0 15px;
}
.order_list > ul > li:hover{
	background-color: #f5f6f7;
}
.order_list > ul > li.caption{
	background-color: #f9fafb;
	background-image: linear-gradient(hsla(0, 0%, 100%, 0.6), hsla(0, 0%, 100%, 0) 30px);
	border: 1px solid #e5e5e5;
	margin-left: -1px;
	width: 100%;
}
.order_list > ul > li.caption ul{
	padding: 0 15px;
}
.order_list li li {
	display: inline-block;
	width: 15%;
	text-align: center;
	vertical-align: middle;
	word-break: break-all;
}
.order_list li li.illustration{
	width: 20%;
}
.order_list li li.illustration img{
	width: 125px;
	height: 165px;
	border-radius: 8px;
	border: 1px solid #ddd;
}
li.action ul li{
	display: block;
	width: 100%;
	height: 45px;
	line-height: 45px;
}
li.action ul li a:focus{
	outline: none;
}
li.status .not_paid{
	color: #c01e1e;
}
li.status .making{
	color: #6ea11f;
}
li.status .finish{
	color: #2c81ad;
}
li.action div{
	width: 65px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	margin: 0 auto;
	color: #fff;
	background: #e59a0a linear-gradient(hsla(0, 0%, 100%, 0.4), hsla(0, 0%, 100%, 0) 25px);
	border: 1px solid #d3b24d;
	border-radius: 4px;
}
li.action div:hover{
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
}
/*我的订单 订单详情*/
.order_info{
	margin-bottom: 25px;
}
.order_info .top-gradation{
	font-weight: bold;
}
.order_info > a{
	padding-left: 20px;
	font-weight: bold;
}
.receive_address {
	position: relative;
}
.receive_address .edit_icon_group{
	display: inline-block;
	position: absolute;
	right: 20px;
	top: 0;
}
.order_details{
	padding-bottom: 20px;
}
.order_details li li{
	width: 10%;
}
.order_details li li.number{
	width: 16%;
}
.order_details li li.size{
	width: 18%;
}
.order_details li li.time{
	width: 12%;
}
.new_address{
	font-size: 14px;
	color: #999;
}
.new_address .icon-plus{
	margin-right: 5px;
}
.address_list li {
	display: inline-block;
	text-align: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.address_list > label{
	display: block;
	padding-left: 20px;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
}
.address_list .address{
	width: 45%;
}
.address_list .recipients{
	width: 17%;
}
.address_list .mobile{
	width: 24%;
}
.address_list .edit,
.address_list .delete{
	width: 25px;
	cursor: pointer;
	font-size: 14px;
}
.address_list .edit span:hover,
.address_list .delete span:hover{
	color: #6ea11f;
}
.logistics_list > ul > li{
	padding-left: 20px;
	height: 30px;
	line-height: 30px;
	font-size: 12px;
}
.logistics_list > ul > li.caption{
	font-size: 14px;
}
.logistics_list li li{
	display: inline-block;
	width: 30%;
	text-align: left;

}
.logistics_list li li:first-child{
	width: 5%;
}
.invoice label{
	padding: 0 20px;
	font-size: 12px;
}
.invoice label div{
	margin-right: 25px;
}
.invoice .invoice_info li{
	font-size: 12px;
	padding-left: 20px;
	height: 25px;
	line-height: 25px;
}
.coupon div p{
	padding-left: 20px;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
}
.coupon div p select{
	height: 20px;
	text-align: center;
}
.coupon div p input{
	display: inline-block;
	width: 70px!important;
	height: 25px;
	padding: 0 6px;
	text-align: center;
}
.coupon div p button{
	background: #e2e2e2 linear-gradient(hsla(0, 0%, 100%, 0.6), hsla(0, 0%, 100%, 0) 25px);;
	border: 1px solid #bbb;
	margin-left: 10px;
	/*width: 35px;*/
	height: 25px;
	border-radius: 6px;
	cursor: pointer;
	padding: 0 12px;
	line-height: 25px;
}
.coupon div p button:hover{
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
}
.amount_payable div p{
	padding-left: 20px;
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	position: relative;
}
.amount_payable div p .total_pay{
	position: absolute;
	right: 0;
	font-size: 14px;
}
.amount_payable .total_pay b{
	color: #db4040;
	font-size: 18px;
}
.go_pay{
	float: right;
	background-color: #ecac3c;
	border-radius: 2px;
	cursor: pointer;
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	width: 160px;
}
.go_pay a{
	color: #fff;
	display: block;
}
.go_pay a:hover{
	color: #aa7d2d;
}
.go_pay a:active{
	color: #5a4520;
}
.add_new_address{
	width: 600px;
	font-size: 14px;
}
.add_new_address .item{
	width: 100%;
	margin: 0;
	float: none;
}
.add_new_address label{
	display: inline-block;
	height: 45px;
	line-height: 45px;
	width: 85px;
	text-align: right;
}
.add_new_address .form-control{
	display: inline-block;
	width: 230px;
	height: 30px;
}
.add_new_address label b{
	color: #ff0000;
}
#detail_place{
	width: 360px!important;
}
.add_new_address .btn{
	margin: 20px 90px;
	width: 160px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #ecac3c;
	border-radius: 2px;
}
.add_new_address .btn a{
	color: #fff;
}
.add_new_address button{
	background: #e2e2e2 linear-gradient(hsla(0, 0%, 100%, 0.6), hsla(0, 0%, 100%, 0) 25px) repeat scroll 0 0;
	border: 1px solid #bbb;
	border-radius: 6px;
	cursor: pointer;
	height: 25px;
	margin-left: 10px;
	/*width: 35px;*/
	padding: 0 12px;
	line-height: 25px;
}
.add_new_address button:hover,
.recharge_con li a:hover{
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125) inset;
}
.invoice_info{
	width: 500px;
	font-size: 14px;
}
.invoice_info .hd{
	height: 40px;
	padding: 0;
	border-bottom: 2px solid #427d38;
}
.invoice_info .hd ul{
	height: 40px!important;
	position: relative;
	left: 0;
}
.invoice_info .hd li{
	display: inline-block;
	background-color: #fff!important;
	border:1px solid #ddd!important;
	border-bottom: none!important;
	box-sizing: border-box;
	color: #999;
	cursor: pointer;
	height: 40px!important;
	line-height: 40px!important;
	text-align: center;
	width: 120px;
}
.invoice_info .hd li.on{
	background-color: #519247!important;
	color: #fff!important;
	border: none!important;
	border-top: 1px solid #ddd!important;
}
.invoice_info .bd{
	padding: 15px 0;
}
.invoice_info .bd li{
	height: 35px;
	line-height: 35px;
}
.invoice_info .bd .form-control{
	display: inline-block;
	width: 230px;
	height: 28px;
}
.invoice_info .bd li span{
	display: inline-block;
	width: 110px;
	text-align: right;
}
.invoice_info .bd li span b{
	color: #ff0000;
}
.invoice_info .bd li div{
	margin-right: 5px;
}
/*我要付款*/
.for_pay.order_info> ul > li{
	background-color: #fff;
	padding: 25px 15px;
}
.for_pay.order_info .caption{
	background-color: #f9fafb;
	background-image: linear-gradient(hsla(0, 0%, 100%, 0.6), hsla(0, 0%, 100%, 0) 30px);
	border: 1px solid #e5e5e5;
	margin-left: -1px;
	width: 100%;
	padding: 0;
}
.for_pay.order_info .caption li{
	display: inline-block;
	padding: 10px;
}
.for_pay.order_info .caption li span{
	margin: 0 8px;
}
.for_pay.order_info .caption li.time{
	float: right;
}
.for_pay .book_info{
	border-bottom: 1px dashed #ddd;
}
.for_pay .book_info > div,
.for_pay .book_info > ul{
	display: inline-block;
	vertical-align: top;
}
.for_pay .book_info > div{
	width: 165px;
	text-align: center;
}
.for_pay .book_info > div img{
	width: 125px;
	height: 165px;
	border: 1px solid #eee;
	border-radius: 12px;
}
.for_pay .book_info > ul li{
	font-size: 12px;
	height: 28px;
	line-height: 28px;
	padding-left: 15px;
}
.for_pay .total_pay a{
	color: #999;
	font-size: 12px;
}
.for_pay .total_pay span{
	float: right;
}
.for_pay .total_pay span b{
	color: #db4040;
	font-size: 18px;
}
.recharge_con > li > a{
	display: inline-block;
	margin-left: 25px;
	width: 50px;
	height: 25px;
	line-height: 25px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	border: 1px solid #8dbe3f;
	background: #a0d350 linear-gradient(hsla(0, 0%, 100%, 0.4), hsla(0, 0%, 100%, 0) 25px);
	border-radius: 6px;
	cursor: pointer;
}
/*我的书架 弹出输入邀请码*/
.input_invitation_code{
	text-align: center;
	width: 400px;
}
.input_invitation_code .creatalbum_window_form{
	width: 400px;
}
#modal_con_del_book .creatalbum_window_form{
	width: auto;
}
.input_invitation_code .creatalbum_window_form label,
#modal_con_del_book .creatalbum_window_form label{
   float: none;
}
.input_invitation_code h4{
	height: 40px;
}
.input_invitation_code .heads {
	margin: 0 auto;
	width: 220px;
	height: 220px;
	position: relative;
}
.input_invitation_code .form-control{
	display: inline-block;
	width: 220px;
	height: 40px;
}
.input_invitation_code .tip{
	margin: 20px auto 0;
	width: 280px;
	text-align: center;
	color: #88c281;
	font-size: 12px;
	line-height: 2em;
}
.transport_info_box{
	width: 300px;
}
.transport_info_box ul li{
	line-height: 45px;
	font-size: 14px;
}
.transport_info_box ul li span{
	margin-right: 15px;
}
.transport_info_box ul li b{
	margin-left: 5px;
	color: #6ea11f;
}
.transport_info_box p{
	margin: 15px 0;
	color: #6ea11f;
	font-size: 12px;
	text-align: center;
}
/*保存发票信息*/
.invoice_info_saved{
	margin-top: 20px;
}
.invoice_info_saved li li{
	display: inline-block;
	width: 11%;
	text-align: center;
}
.vat_invoice .widmin{
	width: 8%;
}
.vat_invoice .num{
	width: 12%;
}
.vat_invoice .modify{
	width: 6%;
}
.vat_invoice .modify.btn{
	cursor: pointer;
}
.vat_invoice .modify.btn:hover{
	color: #6ea11f;
}

/*~~~~~~~~~~~ordermanagement~~~~~~~~~~~*/
.opd_wrapper{
	margin: 0 auto 100px;
	width: 1000px;
}
.opd_procedure_wrapper{
	margin: 40px auto 20px;
	width: 100%;
	height: 50px;
}
.opd_procedure_wrapper ul li{
	float: left;
	width: 300px;
	position: relative;
}
.opd_procedure_wrapper ul li:after{
	content: '';
	display: block;
	clear: both;
}
.opd_procedure_wrapper ul li:first-child{
	width: 6em;
}
.opd_procedure_wrapper ul .already span{
	background-color: #76bd23;
}
.opd_procedure_wrapper ul .active span{
	background-color: #ff9800;
}

.opd_procedure_wrapper ul li span{
	display: block;
	margin: 0 auto;
	width: 10px;
	height: 10px;
	background-color: #e6e6e6;
	border-radius: 50%;
}
.opd_procedure_wrapper ul li label{
	display: block;
	margin: 10px 0 0 0;
	font-size: 13px;
	text-align: center;
	color: #999;
}
.opd_procedure_wrapper ul .active label{
	color: #000;
}
.opdnode_text_item{
	float: right;
	width: 6em;
}
.opdnode_dash_item{
	float: left;
	width: 286px;
	height: 1px;
	background-color: #e6e6e6;
	position: absolute;
	top: 5px;
	right: 55px;
}
.opd_checklist_wrapper, .opd_checklist_wrapper table{
	width: 100%;
}
.opd_checklist_wrapper{
	border: 1px solid #efefef;
}
.opd_checklist_wrapper thead tr{
	height: 40px;
	background-color: #efefef;
}
.opd_checklisttotalprice_item{
	width: 120px;
}
.opd_checklist_wrapper tbody td{
	text-align: center;
}
.opd_sketch_item{
	padding: 10px 0;
}
.opd_sketch_item select{
	width: 150px;
}
.opd_sketch_item select, .opd_sketch_item label, .opd_sketch_item img{
	margin: 10px auto;
	display: block;
	text-align: center;
}
.opd_sketch_item img{
	width: 145px;
}
.opd_sketch_item label{
	color: #555;
	font-size: 15px;
}

.opd_sketch_item label>a{
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url(../img/imgsprite_yb3_wbl_00000.png) -220px -180px;
	position: relative;
	top: 3px;
	cursor: pointer;
}
.opd_checklist_wrapper .ybcommon_counter_item{
	margin: 0 auto;
}
.opd_summarize_wrapper{
	width: 100%;
	border-left: 1px solid #efefef;
	border-right: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
}
.opd_preferential_wrapper{
	float: left;
	padding: 20px 30px;
	width: 560px;
	border-top: 1px solid #efefef;
	font-size: 14px;
	color: #777;
}
.opd_privilege_wrapper li{
	padding: 10px 0 0 0;
}
.opd_privilege_wrapper ul li label{
	color: #E16905;
}
.opd_privilege_wrapper ul{
	margin: 0 0 0 25px;
}
.opd_privilege_wrapper p a{
	display: inline-block;
	margin: 0 5px;
	width: 18px;
	height: 18px;
	border: 1px solid #999;
	text-align: center;
	color: #000;
}
.opd_privilege_wrapper p a:hover{
	border: 1px solid #555;
}
.opd_coupon_wrapper{
	padding: 10px 0 0 25px;
}
.opd_coupon_wrapper>div{
	margin: 10px 0;
	position: relative;
}
.opd_coupon_wrapper select{
	min-width: 283px;
}
.opd_coupon_wrapper .common_btn{
	margin: 0 10px;
}
.opd_coupon_wrapper .chosen-container{
	min-width:80px;
}
.opd_coupon_wrapper .ybcommon_queryicon_item{
	position: absolute;
	top: 3px;
	left: -20px;
}
.opd_coupon_wrapper .ybcommon_queryicon_item span{
	left: 2px;
}
.opd_subtotal_wrapper{
	float: right;
	padding: 15px 0;
	width: 200px;
}
.opd_subtotal_wrapper ul li{
	margin: 20px 0 0 0;
}
.opd_subtotal_wrapper ul li label{
	display: inline-block;
	width: 6em;
	text-align: right;
	font-size: 13px;
}
.opd_mercprice_item strong{
	display: inline-block;
	color: #FF2101;
}
.opd_privprice_item strong{
	display: inline-block;
	color: #E16905;
}
.opd_subtotalprice_item strong{
	display: inline-block;
	color: #FF2101;
	font-size: 20px;
}
.opd_confirm_wrapper{
	width: 100%;
	height: 60px;
	background-color: #efefef;
}
.opd_advice_wrapper span{
	opacity: 0.65;
}
.opd_advice_wrapper{
	float: left;
	margin: 0 35px;
	font-size: 13px;
	color: #ababab;
	line-height: 60px;
}
.opd_advice_wrapper .ybcommon_queryicon_item span{
	left: 2px;
}
.opd_notyetbtn_item{
	float: left;
	font-size: 14px;
	color: #ababab;
	line-height: 60px;
}
.opd_notyetbtn_item:hover{
	text-decoration: underline;
}
.opd_confirmbtn_wrapper{
	float: right;
	width: 300px;
}
.opd_confirm_item{
	float: right;
	margin: 10px;
	width: 145px;
	height: 40px;
	line-height: 40px;
	background-color: #e15454;
	color: #fff;
	text-align: center;
}
.opd_confirm_item:hover{
	background-color: #a44040;
}
.opd_confirm_item span{
	display: inline-block;
	margin: 0 0 0 5px;
	width: 12px;
	height: 10px;
	background: url(../img/imgsprite_yb3_wbl_00000.png) -50px -91px;
}
.opd_header_item{
	padding: 10px 0;
	width: 100%;
	background-color: #efefef;
	border: 1px solid #efefef;
	position: relative;
}
.opd_header_item p{
	margin: 0 20px;
	font-size: 15px;
}
.opd_addnewaddress_item{
	font-size: 13px;
	color: #676767;
	position: absolute;
	top: 10px;
	right: 20px;
}
.opd_addnewaddress_item:hover{
	color: #111;
}
.opd_addnewaddress_item span{
	padding: 0 3px;
	font-size: 16px;
}
.opd_orderinfo_wrapper{
	width: 100%;
	padding: 10px 0;
	overflow: hidden;
	font-size: 13px;
	border-bottom: 1px solid #e9e9e9;
}
.opd_orderinfo_wrapper div{
	float: right;
	padding: 0 20px;
}
.opd_orderinfo_wrapper div:first-child{
	float: left;
}
.opd_bookinfo_wrapper{
	overflow: hidden;
}
.opd_bookinfo_wrapper img{
	float: left;
	margin: 60px 70px;
	width: 135px;
	height: 192px;
}
.opd_bookinfo_wrapper ul{
	float: left;
	margin: 20px 10px 0 0;
	width: 700px;
}
.opd_bookinfo_wrapper ul li{
	margin: 20px 10px;
	width: 100%;
	font-size: 12px;
	overflow: hidden;
}
.opd_bookinfo_wrapper ul li label{
	float: left;
	width: 11%;
	text-align: right;
}
.opd_bookinfo_wrapper ul li span{
	float: left;
	width: 89%;
}
.opd_modeofpayment_wrapper{
	width: 100%;
	overflow: hidden;
	border: 1px solid #efefef;
}
.opd_modeofpayment_wrapper>ul{
	margin: 20px auto;
	width: 820px;
}
.opd_modeofpayment_wrapper>ul>li{
	overflow: hidden;
}
.opd_modeofpayment_wrapper>ul>li>label{
	float: left;
	margin: 15px 0 0 0;
	font-size: 13px;
}
.opd_modeofpayment_wrapper li span{
	float: left;
	margin: 15px 0 0 0;
	line-height: 19px;
}
.opd_modeofpayment_wrapper li:first-child{
	margin: 0 0 10px 0;
}
.opd_modeofpayment_wrapper li:first-child span{
	font-size: 18px;
	
}
.opd_modeofpayment_wrapper li ul{
	float: left;
	width: 200px;
}
.opd_modeofpayment_wrapper li ul li{
	margin: 0 0 10px 0;
	overflow: hidden;
}
.opd_modeofpayment_wrapper li ul li label{
	display: inline-block;
	vertical-align: middle;
}
.opd_modeofpayment_wrapper li ul li input{
	float: left;
	margin: 18px 10px 0 10px;
}
.opd_addressandmode_wrapper{
	width: 100%;
	border: 1px solid #efefef;
}
.opd_addressandmode_wrapper table{
	margin: 10px auto;
	width: 95%;
}
.opd_addressandmode_wrapper td{
	padding: 10px 0;
}
.opd_addressandmode_wrapper td:first-child{
	width: 50%;
}
.opd_addressandmode_wrapper label, .opd_addressandmode_wrapper span{
	vertical-align: middle;
	font-size: 13px;
}
.opd_addressandmode_wrapper thead{
	font-size: 14px;
}
.opd_editaddress_wrapper div{
	margin: 0 auto;
	width: 53px;
}
.opd_editaddress_wrapper a{
	display: inline-block;
	margin: 4px;
	width: 1em;
	text-align: center;
	color: #888;
}
.opd_editaddress_wrapper a:hover{
	color: #000;
}
.opd_receivingaddress_wrapper{
	width: 100%;
}
.opd_ifneedinvoice_wrapper{
	width: 100%;
	overflow: hidden;
	border: 1px solid #efefef;
}
.opd_ifneedinvoice_wrapper ul{
	margin: 10px auto;
	width: 95%;
	overflow: hidden;
}
.opd_ifneedinvoice_wrapper li{
	float: left;
	width: 150px;
}
.opd_ifneedinvoice_wrapper li label{
	vertical-align: middle;
	font-size: 13px;
}
.opd_productlist_wrapper{
	border: 1px solid #efefef;
	font-size: 13px;
}
.opd_productlist_wrapper table{
	width: 100%;
	text-align: center;
}
.opd_productlist_wrapper thead{
	border-bottom: 1px solid #efefef;
}
.opd_productlist_wrapper td{
	padding: 10px;
}
.opd_productlist_wrapper tbody td{
	line-height: 40px;
}
.opd_productimg_item img{
	width: 135px;
}
.opd_productlist_wrapper a{
	color: #000;
}
.opd_productlist_wrapper a:hover{
	text-decoration: underline;
}
.opd_orderinfoprice_item{
	color: red;
	font-size: 25px;
}
.opd_paymentsuccess_wrapper, .opd_paymentfailed_wrapper{
	overflow: hidden;
}
.opd_paymentsuccess_wrapper .opd_paymentresult_wrapper{
	float: left;
}
.opd_paymentfailed_wrapper .opd_paymentresult_wrapper{
	margin: 20px auto;
}
.opd_paymentresult_wrapper{
	display: block;
	margin: 20px 30px;
	width: 380px;
	text-align: center;
}
.opd_paymentresult_wrapper h2{
	margin: 30px 0;
	color: red;
	font-size: 33px;
	font-weight: bold;
}
.opd_paymentresult_wrapper p{
	line-height: 56px;
	font-size: 14px;
}
.opd_paymentsuccess_wrapper .opd_paymentresult_wrapper span{
	display: block;
	margin: 20px 0 10px 60px;
	width: 215px;
	height: 100px;
	background: url(../img/imgsprite_yb3_wbl_00000.png) -207px -240px;
}
.opd_successbind_wrapper{
	float: left;
	margin: 60px 30px;
	padding: 35px 35px;
	width: 370px;
	height: 200px;
	border: 1px solid #e2e2e2;
	background-color: #ffffd6;
}
.opd_successbind_wrapper p{
	font-size: 12px;
	color: #999;
}
.opd_successbind_wrapper ul{
	margin: 60px auto;
	width: 340px;
	overflow: hidden;
}
.opd_successbind_wrapper ul li a{
	float: left;
	width: 100%;
	color: #007dcc;
	font-size: 18px;
	text-align: center;
}
.opd_successbind_wrapper ul li a:hover label{
	text-decoration: underline;
	cursor: pointer;
}
.opd_successbind_wrapper ul li span{
	width: 1em;
	height: 30px;
	font-size: 21px;
	vertical-align: middle;
}
.opd_successbind_wrapper ul li label{
	line-height: 36px;
	vertical-align: middle;
}
.opd_revieworderlist_item{
	display: block;
	margin: 0 auto;
	width: 90px;
	font-size: 13px;
	color: #aaa;
}
.opd_paymentfailed_wrapper .opd_revieworderlist_item{
	margin: 30px auto;
	width: 110px;
	color: #76bd23;
}
.opd_revieworderlist_item:hover label{
	display: inline-block;
	text-decoration: underline;
	cursor: pointer;
}
.opd_revieworderlist_item span{
	display: inline-block;
	margin: 0 5px;
	font-size: 15px;
}
.personal_content_box .opd_paymentresult_wrapper, .personal_content_box .opd_successbind_wrapper{
	margin: 0 auto 30px;
	float: none;
}
.opd_invoicedetial_wrapper{
	margin: 0 auto;
	width: 95%;
}
.opd_invoicedetial_wrapper table{
	margin: 20px 0 0 0;
	width: 100%;
	font-size: 14px;
}
.opd_invoicedetial_wrapper td{
	padding: 10px 0;
	word-break:break-all;
	text-align:center;
}
.opd_invoicedetial_wrapper thead{
	border-bottom: 1px solid #ccc;
}
.opd_invoicedetial_wrapper thead tr{
	background-color: #efefef;
}
.opd_invoicedetial_wrapper tbody td{
	font-size: 12px;
}
.opd_invoicedetial_wrapper a{
	color: #555;
}
.opd_invoicedetial_wrapper a:hover{
	color: #000;
	text-decoration: underline;
}
.opd_tdn_item{
	width: 13%;
}
.opd_registeredaddress_item{
	width: 20%;
}
.opd_bankaccount_item{
	width: 18%;
}