.photoprint_index_container{
	background-color: #e1e0d1;
}
.photoprint_indexbanner_container{
	width: 100%;
	height: 470px;
}
.photoprint_indexmain_wrapper{
	margin: 0 auto;
	width: 1200px;
	/*overflow: hidden;*/
	position: relative;
	bottom: 35px;
}
.photoprint_printtypetab_wrapper{
	width: 100%;
	height: 138px;
	/*overflow: hidden;*/
}
.photoprint_printtypetab_wrapper:after{
	content: '';
	display: block;
	clear: both;
}
.photoprint_printtypetab_wrapper li{
	float: left;
	width: 25%;
	height: 135px;
	text-align: center;
	background-color: #eeeeee
}
.photoprint_printtypetab_wrapper .fujisuede{
	border-top: 5px solid #09aeee;
}
.photoprint_printtypetab_wrapper .fujiglaze{
	border-top: 5px solid #f54775;
}
.photoprint_printtypetab_wrapper .kodaksuede{
	border-top: 5px solid #fdf01b;
}
.photoprint_printtypetab_wrapper .kodakglaze{
	border-top: 5px solid #000;
}
.photoprint_printtypetab_wrapper .active, .photoprint_printtypetab_wrapper .active:hover{
	height: 139px;
	background-color: #fff;
	position: relative;
	bottom: 5px;
}
.photoprint_printtypetab_wrapper li:hover{
	background-color: #ddd;
	transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
}
.photoprint_printtypetab_wrapper span{
	display: block;
	margin: 20px 0;
	font-size: 25px;
}
.photoprint_printtypetab_wrapper p{
	font-size: 13px;
}
.photoprint_printtypecontent_wrapper{
	width: 96%;
	margin: 0 0 25px 0;
	padding: 2%;
	background-color: #fff;
	border: 1px solid #ddd;
}
.photoprint_printtypecontent_wrapper:last-child{
	background-color: #eeeeee;
	border-top: 2px solid #60a897;
}
.photoprint_sizehint_wrapper{
	float: left;
	padding: 18px;
}
.photoprint_sizehint_wrapper p, .photoprint_sizehint_wrapper img{
	float: left;
}
.photoprint_sizehint_wrapper p{
	width: 70px;
	font-size: 26px;
	line-height: 29px;
	font-weight: bold;
	color: #cccccc;
}
.photoprint_speclist_wrapper{
	float: left;
	margin: 0 30px;
	width: 480px;
}
.photoprint_speclist_wrapper table {
	width: 100%;
}
.photoprint_speclist_wrapper table tr{
	height: 40px;
	text-align: center;
	border-bottom: 1px solid #ddd;
}
.photoprint_speclist_wrapper table thead{
	background-color: #666666;
	color: #fff;
}
.photoprint_speclist_wrapper a{
	margin: 40px auto;
	width: 300px;
	height: 50px;
	line-height: 45px;
	font-size: 28px;
	color: #fff;
	background-color: #fa4574;
}
.photoprint_speclist_wrapper a:hover{
	background-color: #e24470;
}
.photoprint_speclist_wrapper a:active{
	background-color: #d9406b;
}
.photoprint_paperfeature_wrapper{
	width: 100%;
	padding: 2% 0 0 0;
	border-top: 1px solid #ddd;
	overflow: hidden;
}
.photoprint_paperfeature_wrapper img{
	float: left;
}
.photoprint_paperfeature_wrapper ul{
	float: left;
	width: 480px;
}
.photoprint_paperfeature_wrapper li{
	margin: 15px 0;
	overflow: hidden;
}
.photoprint_paperfeature_wrapper li label{
	float: left;
	padding: 1px;
	width: 9%;
	text-align: center;
	color: #fff;
	background-color: #666666;
}
.photoprint_paperfeature_wrapper li p{
	float: left;
	margin: 0 0 0 2%;
	width: 85%;
}
.photoprint_polaroidintro_wrapper{
	position: relative;
}
.photoprint_polaroidintro_wrapper p{
	width: 400px;
	line-height: 20px;
	font-size: 14px;
	position: absolute;
	right: 80px;
	bottom: 70px;
	text-align: center;
}
.photoprint_polaroidintro_wrapper p span{
	display: block;;
	margin: 10px 0 0 0;
	color: #fa4574;
}
.photoprint_printprocess_wrapper{
	padding: 30px 0;
	width: 100%;
	background-color: #fff;
	border-top: 1px solid #93c200;
}
.photoprint_printprocess_wrapper img{
	display: block;
	margin: 0 auto;
}
.photoprint_advantage_wrapper{
	width: 100%;
	height: 170px;
	background-image: url(../img/photoprint/photoprint_advantage_00000.png); 
	background-repeat: no-repeat;
	background-position: 50% -20%;
}
.photoprint_advantage_wrapper p{
	text-align: center;
	position: absolute;
	bottom: 30px;
	font-size: 18px;
}
.photoprint_advantage_wrapper .one{
	left: 380px;
}
.photoprint_advantage_wrapper .two{
	left: 840px;
}
.photoprint_index_container .footer_menu_container{
	background: #8cc04e;
}





