@charset "utf-8";
/*~~~~~~~~~~sem_parenting.html~~~~~~~~~~*/
.sem_main_container{
	width: 100%;
	min-width: 1150px;
}
.sem_banner_wrapper{
	width: 100%;
	overflow: hidden;
}
.sem_banner_wrapper img{
	display: block;
	width: 100%;
}
.sem_title_wrapper{
	width: 100%;
	height: 400px;
	position: relative;
}
.sem_title_wrapper img{
	width: 100%;
}
.sem_mainlist_container{
	width: 100%;
	position: relative;;
}
.sem_mainlist_wrapper{
	margin: 0 auto;
	padding: 0 0 160px 0;
	width: 100%;
	height: auto;
	overflow: hidden;
	position: relative;
}
.sem_mainlist_wrapper ul{
	margin: 0 auto;
	width: 1000px;
	z-index: 1;
	position: relative;
}
.sem_mainlist_wrapper ul:after{
	content: '';
	display: block;
	clear: both;
}
.sem_mainlist_wrapper li{
	float: left;
	margin: 15px;
	padding: 10px;
	width: 200px;
	background-color: #fff;
	box-shadow: 0 0 15px #aaa;
	overflow: hidden;
	position: relative;
}
.sem_mainlist_wrapper li img{
	display: block;
	width: 200px;
	height: 200px;
}
.sem_parenting_container .sem_mainlist_wrapper li>a{
	display: block;
	width: 100%;
	height: 100%;
	background: url(../img/sem/sem_bookbg_1_00000.jpg);
}
.sem_mainlist_wrapper li div{
	margin: 10px 0;
	position: relative;
}

.sem_mainlist_wrapper li div a{
	display: block;

}
.sem_bookname_item{
	margin: 10px 0;
	font-size: 15px;
	overflow: hidden;
}
.sem_bookname_item:hover{
	text-decoration: underline;
}
.sem_eye_item{
	font-size: 30px;
	color: #ff9b36;
	position: absolute;
	right: 0;
	top: 8px;
}
.sem_eye_item:hover{
	color: #DE7307;
}

.sem_mainlist_wrapper li div span{
	display: block;
	color: #999999;
	font-size: 12px;
}
.sem_listbg_item{
	display: block;
	width: 100%;
	height: 1600px;
	overflow: hidden;
	position: absolute;
	bottom: 0;
	left: 0;
}
.sem_listbg_item div{
	width: 300%;
	height: 50px;
	bottom: 0;
	position: absolute;
	overflow: hidden;
	background: #fff;
}
.sem_listbg_item .parenting{
	display: block;
	margin: 0 auto;
	width: 1320px;
	height: 1520px;
	background:url(../img/sem/sem_bubble_1_00000.png) 0 0;
	background-size: contain;
	background-repeat: no-repeat;
}
.sem_moretpl_btn{
	display: block;
	margin: 80px auto 0;
	width: 300px;
	height: 60px;
	line-height: 60px;
	font-size: 30px;
	color: #fff;
	border-radius: 10px;
/*	border: 3px solid #fff;*/
	background-color: #ee688f;
	text-align: center;
	position: relative;
	z-index: 1;
}
.sem_moretpl_btn:hover{
	background: #EA4978;
}
.sem_moretpl_btn:active{
	background: #AD4764;
}
.sem_deliverguarantee_wrapper{
	width: 100%;
	height: 450px;
	background-color: #efefeb;
	overflow: hidden;
}
.sem_deliverguarantee_wrapper h5{
	margin: 60px auto 0;
	width: 750px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	font-size: 55px;
	font-weight: bold;
	color: #aac000;
}
.sem_deliverguarantee_wrapper h5 span{
	display: block;
	width: 120px;
	height: 95px;
	background:url(../img/icon/oliveleavesandheart_1_00000.png);
	background-repeat: no-repeat;
}
.sem_deliverguarantee_wrapper h5 .left{
	float: left;
	transform:rotateY(180deg);
	-webkit-transform:rotateY(180deg);
	-moz-transform:rotateY(180deg);
	-ms-transform:rotateY(180deg);
}
.sem_deliverguarantee_wrapper .right{
	float: right;
}
.sem_deliverguarantee_wrapper div{
	margin: 10px auto;
	width: 500px;
	height: 30px;
	line-height: 30px;
	color: #fff;
	text-align: center;
	background-color: #a9bf00;
	position: relative;
}
.sem_deliverguarantee_wrapper div p{
	position: absolute;
	width: 100%;
}
.sem_deliverguarantee_wrapper div span{
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
}
.sem_deliverguarantee_wrapper div .left{
	float: left;
	border-width: 15px 0 15px 15px;
	border-color: transparent transparent transparent #efefeb;
}
.sem_deliverguarantee_wrapper div .right {
	float: right;
	border-width: 15px 15px 15px 0;
	border-color: transparent #efefeb transparent transparent;
}
.sem_deliverguarantee_wrapper img{
	display: block;
	margin: 60px auto;
}
.sem_actvity_wrapper{
	margin: 0 auto;
	padding: 0 0 70px 0;
	width: 1000px;
}
.sem_actvity_wrapper:after{
	content: '';
	display: block;
	clear: both;
}
.sem_actvity_item h5{
	padding: 45px 0 15px 0;
	font-size: 24px;
}
.sem_actvity_item{
	float: left;
	width: 450px;
}
.sem_actvity_item div{
	height: 300px;
}
.sem_actvity_item:first-child{
	margin: 0 10% 0 0;
}
.sem_actvity_item>div{
	position: relative;
}
.sem_actvity_item img{
	display: block;
	width: 450px;
	height: 300px;
	border-top: 4px solid #a7be4a;
}
.sem_actvity_item p{
	margin: 20px 0 0 0;
	font-size: 13px;
	line-height: 30px;
}
.sem_actvity_item span{
	display: block;
	width: 115px;
	height: 115px;
	font-size: 140px;
	color: rgba(255,0,0,0.4);
	position: absolute;
	right: -60px;
	top: -60px;
	transform:rotate(60deg);
}
/*~~~~~~~~~~footer_menu_container~~~~~~~~~~*/
.footer_menu_container{
	width: 100%;
	height: 400px;
	background: url(../img/footer_menu_bg_1_00000.jpg);
}
.footer_menu_wrapper{
	margin: 0 auto;
	padding: 80px 0;
	width: 1000px;
	height: 210px;
	overflow: hidden;
}
.footer_menu_item{
	float: left;
	margin: 0 35px;
	color: #fff;
}
.footer_menu_item ul{
	margin: 20px 0 0 0;
}
.footer_menu_item li{
	line-height: 33px;
	font-family: 'songti';
	font-size: 14px;
}
.footer_menu_item li img{
	display: inline-block;
	vertical-align: middle;
}
.footer_menu_item .triangle{
	display: inline-block;
	margin: 0 0 0 5px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 7px 5px 0px 5px;
	border-color: #fff transparent transparent transparent;
	vertical-align: middle;
}
.footer_menu_item li a:hover{
	color: #ccc;
}
.footer_menu_item li a span:hover{
	color: #ff855e;
}
.footer_menu_item li a{
	color: #fff;
}
.footer_menu_container .copyright{
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 12px;
}


/*sem party and family*/
.party_family_con .party_con,
.party_family_con .family_con{
    background-color: #f1f1f1;
}

.party_family_con .party_con .sem_mainlist_wrapper,
.party_family_con .family_con .sem_mainlist_wrapper{
    padding: 0 0 80px 0;
}

.party_family_con .family_con{
    border-bottom: 1px solid #ddd;
}

.party_family_con .footer_menu_container{
    background: url("../img/sem/sem_footer_party_00000.jpg") no-repeat;
    background-size: cover;
}

.party_con .sem_moretpl_btn{
    margin: 60px auto 0;
    background-color: #e34a87;
    border: 0;
}

.party_con .sem_moretpl_btn:hover{
    background: #f24c7c;
}

.party_con .sem_moretpl_btn:active{
    background: #AD4764;
}

.family_con .sem_moretpl_btn{
    margin: 60px auto 0;
    background-color: #ff6600;
    border: 0;
}

.family_con .sem_moretpl_btn:hover{
    background: #ec6002;
}

.family_con .sem_moretpl_btn:active{
    background: #bd4d02;
}

.party_family_con .sem_mainlist_wrapper li > a{
    position: relative;
    display: block;
    width: 200px;
    height: 200px;
    background: url("../img/sem/sem_bookbg_2_00000.jpg") no-repeat center;
    border: 1px solid #ddd;
}

.party_family_con .sem_mainlist_wrapper li > a img{
	display: block;
    width: 200px;
    height: 200px;
}

.party_family_con .sem_actvity_wrapper{
    height: 510px;
    overflow: visible;
}

.party_family_con .sem_actvity_item{
    position: relative;
}

.party_family_con .sem_actvity_item .ybiconfont {
    position: absolute;
    top: 35px;
    right: -45px;
    width: 124px;
    height: 124px;
    font-size: 124px;
    color: #fbbfbf;
    z-index: 1;
}

/*~~~~~~~~~~sem_tourism.html~~~~~~~~~~*/
.sem_tourism_container{
	background: url(../img/sem/sem_tourism_bg_00000.jpg);
	background-position: center top;
	background-repeat: no-repeat;
}
.sem_tourismbg_wrapper{
	width: 100%;
	background: url(../img/sem/sem_tourism_banner_00000.jpg);
}
.sem_parenting_container 
.sem_tourism_container .sem_mainlist_wrapper li>a{
	display: block;
	width: 100%;
	height: 100%;
	background: url(../img/sem/sem_bookbg_2_00000.jpg);
}
.sem_listbg_item .tourism{
	display: block;
	margin: 0 auto;
	width: 1320px;
	height: 1520px;
	background:url(../img/sem/sem_touism_bg_00000.png) 0 0;
	background-size: contain;
	background-repeat: no-repeat;
}
.sem_tourism_container .sem_title_wrapper{
	height: 570px;
	font-size: 60px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	line-height: 485px;
}
.sem_listbg_item .toursim{
	display: block;
	margin: 0 auto;
	width: 1320px;
	height: 1520px;
	background:url(../img/sem/sem_touism_bg_00000.png) 0 0;
	background-size: contain;
	background-repeat: no-repeat;
}

.sem_tourism_container .sem_mainlist_wrapper li{
	border-radius: 10px;
	box-shadow: none;
}

.sem_tourism_container .sem_moretpl_btn{
	width: 250px;
	height: 50px;
	line-height: 50px;
	background-color: #fff;
	color: #77cb47;
	box-shadow: 3px 3px #888;
	position: relative;
	top: 0;
	left: 0;
	-webkit-transition:all 0.1s;
	-moz-transition:all 0.1s;
	-ms-transition:all 0.1s;
}
.sem_tourism_container .sem_moretpl_btn:hover{
	color: #96d6c6;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.1s;
	-ms-transition:all 0.1s;
}
.sem_tourism_container .sem_moretpl_btn:active{
	box-shadow: none;
	top: 3px;
	left: 3px;
	-webkit-transition:all 0.1s;
	-moz-transition:all 0.1s;
	-ms-transition:all 0.1s;
}
.sem_tourism_container .sem_deliverguarantee_wrapper h5 {
	color: #000;
	font-weight: bold;
}
.sem_tourism_container .sem_deliverguarantee_wrapper div{
	background-color: #30976b;
	font-weight: lighter;
}
.sem_tourism_container .sem_mainlist_wrapper li>a{
	display: block;
	width: 100%;
	height: 100%;
	background: url(../img/sem/sem_bookbg_2_00000.jpg);
}
.footer_menu_container.sem_tourism{
	background: url(../img/sem/sem_footer_tourism_00000.jpg);
	background-position: center;
}
/*~~~~~~~~~~sem_loveandportrait.html~~~~~~~~~~*/
.sem_love_container{
	background:url(../img/sem/sem_love_bg.jpg);
	position: relative;
}
.sem_love_container .sem_mainlist_wrapper li>a{
	display: block;
	width: 100%;
	height: 100%;
	background: url(../img/sem/sem_bookbg_2_00000.jpg);
}
.sem_love_container .sem_moretpl_btn{
	width: 290px;
	height: 60px;
	line-height: 60px;
	background-color: #e74984;
	color: #fff;
	box-shadow: 3px 3px #888;
	position: relative;
	top: 0;
	left: 0;
	-webkit-transition:all 0.1s;
	-moz-transition:all 0.1s;
	-ms-transition:all 0.1s;
}
.sem_love_container .sem_moretpl_btn:hover{
	color: #eee;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.1s;
	-ms-transition:all 0.1s;
}
.sem_love_container .sem_moretpl_btn:active{
	box-shadow: none;
	top: 3px;
	left: 3px;
	-webkit-transition:all 0.1s;
	-moz-transition:all 0.1s;
	-ms-transition:all 0.1s;
}
.sem_listbg_item div i{
	display: inline-block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: relative;
}
.sem_love_container .sem_listbg_item div i{
	box-shadow: 3px 3px #ccc;
	background: url(../img/sem/sem_love_bg.jpg);
}
.sem_portrait_container .sem_listbg_item div i{
	box-shadow: 3px 3px #ccc;
	background: url(../img/sem/sem_portrait_bg.jpg);
}
.sem_portrait_container .sem_banner_wrapper{
	position: relative;
	z-index: 2;
}
.sem_portrait_container .sem_mainlist_wrapper li>a{
	display: block;
	width: 100%;
	height: 100%;
	background: url(../img/sem/sem_bookbg_2_00000.jpg);
}

.sem_portrait_container .sem_moretpl_btn{
	width: 290px;
	height: 60px;
	line-height: 60px;
	background-color: #5ec7fe;
	color: #fff;
	box-shadow: 3px 3px #888;
	position: relative;
	top: 0;
	left: 0;
	-webkit-transition:all 0.1s;
	-moz-transition:all 0.1s;
	-ms-transition:all 0.1s;
}
.sem_portrait_container .sem_moretpl_btn:hover{
	color: #eee;
	-webkit-transition:all 0.3s;
	-moz-transition:all 0.1s;
	-ms-transition:all 0.1s;
}
.sem_portrait_container .sem_moretpl_btn:active{
	box-shadow: none;
	top: 3px;
	left: 3px;
	-webkit-transition:all 0.1s;
	-moz-transition:all 0.1s;
	-ms-transition:all 0.1s;
}
.sem_portrait_container .sem_mainlist_container{
	background: url(../img/sem/sem_portrait_bg.jpg);
	bottom: 50px;
}
.sem_portrait_container .sem_mainlist_wrapper ul{
	padding: 40px 0 0 0;
}
.sem_portrait_container .sem_mainlist_wrapper{
	background: url(../img/sem/sem_bubble_2_00000.png);
	background-repeat: no-repeat;
	background-position: bottom;
}
.footer_menu_container.sem_love{
	background: url(../img/sem/sem_footer_love_00000.jpg);
	background-position: center;
}
.sem_portrait_container .sem_deliverguarantee_wrapper h5{
	color: #666666;
}
	