.shop_banner_wrapper{
	width: 100%;
	height: 540px;
	overflow: hidden;
	position: relative;
}
.shop_banner_wrapper img{
	display: block;
	height: 100%;
	position: absolute;
	top: 0;
}
.shop_content_wrapper{
	margin: 0 auto;
	width: 900px;
}
.shop_bannertitle_wrapper{
	width: 100%;
	text-align: center;
	z-index: 1;
	position: relative;
}
.shop_bannertitle_wrapper h1{
	margin: 145px 0 0 0;
	font-size: 80px;
	color: #fff;
	text-shadow: 2px 3px #333;
}
.shop_bannertitle_wrapper p{
	color: #fff;
	text-shadow: 2px 3px #333;
	font-size: 35px;
	font-weight: lighter;
	letter-spacing: 5px;
}

.shop_serviceobject_wrapper{
	margin: 0 auto;
	padding: 80px 0;
	width: 830px;
	height: 100px;
}
.shop_serviceobject_wrapper li:first-child{
	float: left;
}
.shop_serviceobject_wrapper li{
	float: right;
	width: 250px;
	overflow: hidden;
}
.shop_serviceobject_wrapper li span{
	float: left;
	padding: 0;
	width: 100px;
	height: 80px;
	background: url(../img/sprite/shop_serviceobject_00000.png) no-repeat;
}
.shop_serviceobject_wrapper li a div{
	float: left;
	padding: 0 0 0 15px;
	text-align: center;
}
.shop_serviceobject_wrapper li h5{
	font-size: 33px;
}
.shop_serviceobject_wrapper .personal h5{
	color: #2899d6;
}
.shop_serviceobject_wrapper .wechatsubscripton h5{
	color: #00ca5a;
}
.shop_serviceobject_wrapper .personal span{
	background-position: 15px 0;
}
.shop_serviceobject_wrapper .wechatsubscripton span{
	background-position: -96px 0;
}
.shop_serviceobject_wrapper li p{
	padding: 5px 0;
	color: #333;
	font-size: 18px;
}

.shop_sotitle_item{
	margin: 0 auto;
	width: 200px;
	height: 80px;
	font-size: 30px;
}
.shop_sotitle_item span{
	float: left;
	width: 0;
	height: 0;
	border-style: solid;
}
.shop_sotitle_item span{
	border-width: 40px 40px 40px 0;
	border-color: transparent #cccccc transparent transparent;
}
.shop_sotitle_item span:last-child{
	border-width: 40px 0 40px 40px;
	border-color: transparent transparent transparent #cccccc;
}
.shop_sotitle_item h5{
	float: left;
	margin: 0 20px;
	text-align: center;
	font-size: 35px;
	color: #333;
	position: relative;
	bottom: 8px;
}
.shop_serviceintroduce_wrapper{
	margin: 0 auto;
	padding: 95px 0;
	width: 100%;
	background-color: #edeff3;
	overflow: hidden;
}
.shop_serviceintroduce_wrapper img{
	float: left;
	margin: 0 60px 0 20px;
	width: 200px;
}
.shop_serviceintroduce_wrapper p{
	margin: 45px 0 0 0;
	width: 585px;
	min-height: 70px;
	line-height: 25px;
}

.shop_serviceintroduce_wrapper h5{
	font-size: 35px;
}
.shop_serviceintroduce_wrapper a{
	display: block;
	margin: 90px auto 0;
	width: 235px;
	height: 40px;
	line-height: 40px;
	border: 2px solid #90d394;
	color: #90d394;
	text-align: center;
	border-radius: 5px;
	font-size: 
}
.shop_serviceintroduce_wrapper a:hover{
	background-color: #90d394;
	color: #fff;
}
.shop_siarticle_wrapper{
	float: left;
	width: 580px;
}
.shop_advantage_wrapper{
	width: 100%;
	height: 620px;
}
.shop_advantage_wrapper li{
	float: left;
	margin: 0 30px;
}
.shop_advantage_wrapper li span{
	display: block;
	width: 150px;
	height: 160px;
	background-image: url(../img/sprite/shop_advantage_00000.png);
}
.shop_advantage_wrapper .zero span{
	background-position: 0 -7px;
}
.shop_advantage_wrapper .simple span{
	background-position: -160px -7px;
}
.shop_advantage_wrapper .diy span{
	background-position: -320px -7px;
}
.shop_advantage_wrapper .delivery span{
	background-position: -480px -7px;
}
.shop_advantage_wrapper ul{
	width: 860px;
	overflow: hidden;
}
.shop_subtitle_item{
	width: 100%;
}
.shop_subtitle_item h5{
	display: inline-block;
	margin: 0 15px;
	width: 280px;
	color: #333;
}
.shop_subtitle_item{
	padding:  60px 0 0 0;
	text-align: center;
	font-size: 35px;
	overflow: hidden;
}
.shop_subtitle_item span{
	display: inline-block;
	width: 205px;
	height: 1px;
	line-height: 35px;
	background-color: #cecece;
	vertical-align: middle;
}
.shop_advantage_wrapper ul{
	padding: 110px 0 0 0;
}
.shop_advantage_wrapper ul li p{
	margin: 45px 0 0 0;
	font-size: 18px;
	text-align: center;
	line-height: 30px;
	color: #666;
}
.shop_shareprofit_wrapper{
	background-color: #edeff3;
	overflow: hidden;
	padding: 0 0 100px 0;
}
.shop_shareprofit_wrapper img{
	float: left;
	margin: 95px 45px 0 0;
}
.shop_shareprofit_wrapper table{
	float: left;
	margin: 65px 0 0 0;
	width: 530px;
	height: 300px;
	background-color: #fef0f0;
	text-align: center;
	border: 2px solid #fff;
	box-shadow: 15px 15px 40px #ccc;
}
.shop_shareprofit_wrapper table td{
	border: 2px solid #fff;
	color: #ec7861;
}
.shop_shareprofit_wrapper table td:first-child{
	width: 180px;
	color: #333;
	font-size: 18px;
}
.shop_shareprofit_wrapper  th{
	position: relative;
}
.shop_shareprofit_wrapper  th div{
	display: block;
	width: 100%;
	height: 50%;
	line-height: 26px;
}
.shop_shareprofit_wrapper label{
	display: block;
	width: 100%;
}
.shop_shareprofit_wrapper .salesvolume:after{
	content: '';
	display: block;
	height: 2px;
	background: #fff;
	transform: rotate(18deg);
	-webkit-transform: rotate(18deg);
	-moz-transform: rotate(18deg);
}
.shop_shareprofit_wrapper .salesvolume label{
	width: 90%;
	text-align: right;
}
.shop_shareprofit_wrapper .reservationmode label{
	float: right;
	width: 90%;
	text-align: left;
}
.shop_shareprofit_wrapper thead th{
	height: 55px;
	background-color: #e65434;
	border: 2px solid #fff;
	color: #fff;
}

.shop_joinprocess_wrapper{
	padding: 0 0 80px 0;
}
.shop_joinprocess_wrapper ul{
	padding:30px;
	overflow: hidden;
}
.shop_joinprocess_wrapper ul li{
	float: left;
	margin: 0 14px;
	width: 140px;
	height: 190px;
	position: relative;
}
.shop_joinprocess_wrapper ul li div{
	display: block;
	margin: 0 auto;
	width: 115px;
	height: 155px;
	background-color: #3d95e1;
	border-radius: 10px;
	overflow: hidden;
}
.shop_joinprocess_wrapper ul li div label{
	display: block;
	width: 55px;
	height: 55px;
	background-image: url(../img/sprite/shop_joinprocess_00000.png);
	background-color: #3d95e1;
	border-radius: 50%;
	border: 2px solid #fff;
	position: absolute;
	top: -20px;
	left: -10px;
}
.shop_joinprocess_wrapper ul li div span{
	display: block;
	margin: 0 auto;
	width: 80px;
	height: 70px;
	background-image: url(../img/sprite/shop_joinprocess_00000.png);
	position: relative;
	top: 45px;
}
.shop_joinprocess_wrapper ul .bindcellphone div span{
	background-position: 0 -45px;
}
.shop_joinprocess_wrapper ul .bindwechat div span{
	background-position: -80px -45px;
}
.shop_joinprocess_wrapper ul .setupshop div span{
	background-position: -160px -45px;
}
.shop_joinprocess_wrapper ul .sharehop div span{
	background-position: -240px -45px;
}
.shop_joinprocess_wrapper ul .earnprofit div span{
	background-position: -320px -45px;
}
.shop_joinprocess_wrapper ul .bindcellphone div label{
	background-position: 12px 8px;
}
.shop_joinprocess_wrapper ul .bindwechat div label{
	background-position: -25px 8px;
}
.shop_joinprocess_wrapper ul .setupshop div label{
	background-position: -68px 8px;
}
.shop_joinprocess_wrapper ul .sharehop div label{
	background-position: -110px 8px;
}
.shop_joinprocess_wrapper ul .earnprofit div label{
	background-position: -150px 8px;
}
.shop_joinprocess_wrapper ul li strong{
	display: block;
	width: 39px;
	height: 35px;
	position: absolute;
	right: -42px;
	top: 50px;
	font-size: 70px;
	color: #abaebe;
}
.shop_joinprocess_wrapper p{
	margin: 10px 0 0 0;
	text-align: center;
}
.shop_joinprocess_wrapper .transitionbtn_68c96c{
	width: 200px;
}