@charset "utf-8";

/*~~~~~~~~~~use_guide~~~~~~~~~~*/

.use_guide_banner {
	width: 100%;
	height: 210px;
	background: url('../img/banner/bookcreate_banner.jpg') no-repeat center bottom;
}

.use_guide_banner h1 {
	width: 100%;
	line-height: 210px;
	font-size: 30px;
	color: #fff;
	text-align: center;
}

.use_process_main {
	position: relative;
	width: 100%;
	background-color: #fff;
}

.use_process_main .choose_category {
	position: relative;
	margin: 0 auto;
	width: 960px;
	min-height: 650px;
	overflow: hidden;
	clear: both;
}

.use_process_main .choose_category div {
	margin: 100px 0 0;
	width: 358px;
	text-align: center;
}

.use_process_main .choose_category div a img {
	margin: 0 0 65px;
	width: 100%;
}

.use_process_main .choose_category div a h1 {
	font-size: 30px;
	color: #333;
}

.use_process_main .choose_category div a:hover h1 {
	color: #e7b54b;
}

.use_process {
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	min-width: 1280px;
	background: #f9f9f9;
}

.use_process .photo_pro,
.use_process .interact_pro {
	position: relative;
	margin: 0 auto;
	padding: 20px 0 0;
	width: 1280px;
}

.use_process .caption h4 {
	width: 100%;
	margin: 15px 0;
	font-size: 18px;
	color: #333;
	text-align: left;
}

.use_process .caption img {
	display: block;
	margin: 0 25px;
	width: 70px;
	height: 70px;
}

.use_process .process {
	position: relative;
	padding: 0 0 0 25px;
	width: 100%;
	box-sizing: border-box;
	overflow: hidden;
}

.use_process .process::before {
	position: absolute;
	top: 0;
	left: 57px;
	content: " ";
	width: 6px;
	background: #ddd;
}

.use_process .photo_pro .process::before {
	height: 64%;
}

.use_process .interact_pro .process::before {
	height: 73%;
}

.use_process .process .title {
	position: relative;
	float: left;
	margin: 85px 0;
}

.use_process .process .title div {
	float: left;
	width: 70px;
	height: 66px;
	background: url("../img/use_guide/guide_step_icons.png") no-repeat;
}

.use_process .photo_pro .process .title .choose_tpl {
	background-position: 0 0;
}

.use_process .photo_pro .process .title .upload_img {
	background-position: -70px 0;
}

.use_process .photo_pro .process .title .edit_online {
	background-position: -140px 0;
}

.use_process .photo_pro .process .title .print {
	background-position: -210px 0;
}

.use_process .interact_pro .process .title .choose_tpl {
	background-position: 0 -66px;
}

.use_process .interact_pro .process .title .upload_img {
	background-position: -70px -66px;
}

.use_process .interact_pro .process .title .edit_online {
	background-position: -140px -66px;
}

.use_process .interact_pro .process .title .print {
	background-position: -210px -66px;
}

.use_process .process .title h5 {
	position: relative;
	float: left;
	margin: 0 0 0 10px;
	line-height: 62px;
	font-size: 14px;
	color: #666;
}

.use_process .process .title h5::after {
	position: absolute;
	margin: 31px 0 0 10px;
	content: " ";
	width: 80px;
	height: 1px;
	background-color: #eaeaea;
}

.use_process .process .detail_steps {
	position: relative;
	padding: 0 0 25px 0;
	margin: 0 0 35px 226px;
	width: 1026px;
	border-bottom: 1px solid #e7e7e7;
}

.use_process .process .detail_steps.last_child {
	border-bottom: 0;
}

.use_process .detail_steps .step h5 {
	margin: 0 0 15px;
	font-size: 14px;
	color: #666;
	text-align: center;
}

.process .detail_steps .step img {
	margin: 10px 0;
	width: 1024px;
	height: 200px;
	border: 1px solid #eaeaea;
}

.process .detail_steps .step .next {
	display: block;
	margin: 5px auto 20px;
	width: 26px;
	height: 36px;
	background: url("../img/use_guide/down_arrow.png") no-repeat center;
}


/*~~~~~~~~~~.user_protocol~~~~~~~~~~*/

.user_protocol_box {
	background: #fff url("../img/index_GB.jpg") repeat fixed center center;
}

.user_protocol,
.privacy_statement {
	position: relative;
	width: 1080px;
	margin: 0 auto;
	min-width: 1024px;
	background-color: #fff;
	border: 1px solid #d0d1d2;
	padding: 30px;
	box-sizing: border-box;
	color: #3c3c3c;
}

.user_protocol .close,
.privacy_statement .close {
	cursor: pointer;
	font-size: 36px;
	position: absolute;
	right: 30px;
	top: 0;
}

.user_protocol .title,
.privacy_statement .title {
	height: 40px;
	border-bottom: 1px solid #d0d1d2;
}

.agreeCont {
	height: 430px;
	overflow: auto;
	box-sizing: border-box;
}

.agreeCont h5 {
	margin-top: 15px;
	font-weight: bold;
}

.agreeCont p {
	font-size: 14px;
	line-height: 25px;
	margin: 0;
	padding: 0 20px 0 35px;
	text-align: justify;
}

.agreeCont p a {
	color: #0000ff;
	text-decoration: underline;
}

.agree_btn,
.back_btn {
	width: 320px;
	/*height: 40px;
	line-height: 40px;*/
	margin: 40px auto 0;
	text-align: center;
	background-color: #6ba72b;
	cursor: pointer;
	border-radius: 2px;
}

.agree_btn a,
.back_btn a {
	width: 320px;
	color: #fff!important;
	font-size: 18px;
}

.ellipsis p {
	cursor: pointer;
	margin-left: 35px;
	padding: 0;
	width: 75px;
}


/*~~~~~~~~~~ybarticle~~~~~~~~~~*/

.ybarticle_container {
	width: 100%;
	background-color: #f0f0f0;
    min-width: 1150px;
}

.ybarticle_wrapper {
	margin: 0 auto;
	width: 750px;
	overflow: hidden;
}

.ybarticle_crumbs_wrapper {
	padding: 25px 0;
}

.ybarticle_crumbs_wrapper:after {
	content: '';
	display: block;
	clear: both;
}

.ybarticle_crumbs_wrapper ul li {
	float: left;
	font-family: 'songti';
}

.ybarticle_crumbs_wrapper ul li a {
	color: #666;
	font-size: 13px;
}

.ybarticle_crumbs_wrapper ul li a:hover {
	text-decoration: underline;
}

.ybarticle_crumbs_wrapper ul li span {
	display: inline-block;
	margin: 0 8px;
	font-size: 12px;
	line-height: 13px;
}

.ybarticle_main_wrapper {
	margin: 0 0 60px 0;
	padding: 30px;
	background-color: #fff;
}

.ybarticle_title_item {
	margin: 0 0 15px 0;
	font-size: 24px;
}

.ybarticle_ilustri_wrapper {
	margin: 15px 0;
}

.ybarticle_ilustri_wrapper img {
	display: block;
	margin: 0 auto;
}

.ybarticle_article_item {
	margin: 30px 0;
	line-height: 25px;
	font-size: 14px;
}

.ybarticle_article_item p {
	text-indent: 2em;
}

.ybarticle_articleguide_wrapper {
	margin: 20px 0;
	overflow: hidden;
}

.ybarticle_articleguide_wrapper ul li,
.ybarticle_articleguide_wrapper ul li a {
	color: #999;
	font-size: 14px;
}

.ybarticle_articleguide_wrapper ul li a:hover {
	text-decoration: underline;
}

.ybarticle_articleguide_wrapper .prev {
	float: left;
}

.ybarticle_articleguide_wrapper .next {
	float: right;
}


/*~~~~~~~~~~user_protocol~~~~~~~~~~*/

.user_protocol_box {
	background: #fff url("../img/index_GB.jpg") repeat fixed center center;
}

.user_protocol,
.privacy_statement {
	position: relative;
	width: 1080px;
	margin: 0 auto;
	min-width: 1024px;
	background-color: #fff;
	border: 1px solid #d0d1d2;
	padding: 30px;
	box-sizing: border-box;
	color: #3c3c3c;
}

.user_protocol .close,
.privacy_statement .close {
	cursor: pointer;
	font-size: 36px;
	position: absolute;
	right: 30px;
	top: 0;
}

.user_protocol .title,
.privacy_statement .title {
	height: 40px;
	border-bottom: 1px solid #d0d1d2;
}

.agreeCont {
	height: 430px;
	overflow: auto;
	box-sizing: border-box;
}

.agreeCont h5 {
	margin-top: 15px;
	font-weight: bold;
}

.agreeCont p {
	font-size: 14px;
	line-height: 25px;
	margin: 0;
	padding: 0 20px 0 35px;
	text-align: justify;
}

.agreeCont p a {
	color: #0000ff;
	text-decoration: underline;
}

.agree_btn,
.back_btn {
	width: 320px;
	/*height: 40px;
	line-height: 40px;*/
	margin: 40px auto 0;
	text-align: center;
	background-color: #6ba72b;
	cursor: pointer;
	border-radius: 2px;
}

.agree_btn a,
.back_btn a {
	width: 320px;
	color: #fff!important;
	font-size: 18px;
}

.ellipsis p {
	cursor: pointer;
	margin-left: 35px;
	padding: 0;
	width: 75px;
}

/*~~~~~~~~~~helpcenter~~~~~~~~~~*/

.in_describe p a.public_num img {
	display: none;
	border: 10px solid #ccf8f0;
	margin: 0 6px;
	vertical-align: top;
}

.in_describe p a.public_num:hover img {
	display: inline-block;
}

.help_center_container,
.join_error_container {
	padding-top: 40px;
	background: url("../img/index_GB.jpg") repeat fixed center center;
	min-width: 1260px;
}

.help_center {
	width: 1080px;
	margin: 0 auto;
	color: #666;
	background-color: #fafafa;
	border-radius: 2px;
	overflow: hidden;
}

/*left nav*/

.help_center .help_nav {
	float: left;
	width: 250px;
}

.help_nav .submenu{
    display: none;
}

.help_nav .submenu li a {
	display: block;
	padding-left: 20px;
	height: 50px;
	line-height: 50px;
	background-color: #fafafa;
	border-bottom: 1px solid #eee;
	border-left: 4px solid #fafafa;
	font-size: 14px;
	color: #666;
}

.help_nav .submenu li a.cur,
.help_nav .submenu li a:hover {
	color: #666;
	background-color: #fff;
	font-weight: bold;
	border-left: 4px solid #B2D459;
}

.help_nav .submenu li a.cur::after,
.help_nav .submenu li a:hover::after {
	float: right;
	margin: 19px 15px 0 0;
	content: " ";
	border-left: solid 6px #B2D459;
	border-top: solid 6px rgba(0, 0, 0, 0);
	border-bottom: solid 6px rgba(0, 0, 0, 0);
}

.help_nav .link{
    padding-left: 20px;
    height: 50px;
    line-height: 50px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    font-weight: bold;
    color: #45A6DE;
    cursor: pointer;
    display: block;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.help_nav .link:hover{
    background-color: #fafafa;
    color: #333;
}

.help_nav li.open .link {
    color: #fff;
    background-color: #B2D459;
}

.help_nav li .link i {
    position: absolute;
    top: 16px;
    right: 12px;
    left: auto;
    font-size: 18px;
    font-weight: bold;
    color: #45A6DE;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.help_nav .link:hover i{
    color: #333;
}

.help_nav li.open .link i {
    color: #fff;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

/*right content*/

.content_box {
	float: right;
	width: 830px;
	background-color: #fff;
	border-left: 1px solid #eee;
	min-height: 715px;
	box-sizing: border-box;
}

.content_box .title {
	padding-left: 20px;
	height: 50px;
	line-height: 50px;
	font-weight: bold;
	border-bottom: 1px solid #eee;
}


/*yb story*/

.content_box .content article {
	margin: 25px 0;
}

.content_box .content article p {
	text-align: center;
	color: #333;
	font-size: 14px;
	line-height: 2em;
}


/*yb common question*/

.content {
	position: relative;
}

.content .tips p {
	padding-left: 70px;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
}

.content .tips p a {
	color: #45A6DE;
}

.content .tips span {
	position: absolute;
	top: 16px;
	left: 20px;
	padding-left: 2px;
	font-size: .5em;
	font-weight: bold;
	color: #fff;
	background-color: #999;
	box-shadow: -1px 1px 3px #aaa;
}

.content .tips span::after {
	content: " ";
	border-left: solid 8px #999;
	border-top: solid 8px rgba(0, 0, 0, 0);
	border-bottom: solid 8px rgba(0, 0, 0, 0);
	position: absolute;
	top: 0;
}

.content .question_container {
	padding: 10px 20px;
	border-top: 1px solid #eee;
}

.question_container h4 {
	height: 30px;
	font-weight: bold;
	color: #999;
}

.question_container h4,
.question_container .question,
.question_container .answer {
	font-size: 14px;
	line-height: 30px;
}

.question_container .question {
	color: #45A6DE;
	cursor: pointer;
}

.question_container .question:hover {
	background-color: #fafafa;
}

.question_container .answer {
	display: none;
	padding: 5px 10px;
	background-color: #fff3d5;
	border: 1px solid #fee7ac;
	color: #5e5e5e;
}

.question_container .answer p:first-child {
	/*text-indent: 1em;*/
	text-align: justify;
	padding: 0 8px;
}

.question_container .answer p:not(:first-child) {
	text-indent: 2em;
	text-align: justify;
	padding: 0 8px;
}

.question_container .answer p span {
	text-indent: 0;
	margin: 0 5px;
}

.question_container .answer p a {
	color: #45A6DE;
}


/*pay way*/

.in_describe {
	padding: 10px 20px;
}

.content_caption {
	position: relative;
	padding-left: 20px;
	height: 40px;
	line-height: 40px;
	font-weight: bold;
	color: #45A6DE;
}

.content_caption::before {
	content: " ";
	width: 6px;
	height: 6px;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 17px;
	background-color: #45a6de;
}

.in_describe p {
	font-size: 14px;
	line-height: 30px;
	text-indent: 2em;
}

.in_describe p a {
	color: #45a6de;
	text-decoration: underline;
}

.in_describe > img {
	display: block;
	margin: 10px auto 15px;
}

.in_describe.size > img {
	border: 1px solid #eaeaea;
}

.in_describe .size_fig img {
	display: inline-block;
	margin: 15px 0 15px 5px;
	width: 49%;
}


/*dispatching*/

.dispatching_info {
	margin: 10px 0;
	width: 100%;
	font-size: 14px;
	border: 1px solid #fee7ac;
	border-collapse: separate;
}

.dispatching_info td {
	height: 30px;
	line-height: 30px;
	padding: 0 5px;
	background: #fafafa;
	text-align: left;
	border-bottom: 1px solid #eee;
	border-left: 1px solid #eee;
}

.dispatching_info th.wid01 {
	width: 150px;
}

.dispatching_info th.wid02 {
	width: 200px;
}

.dispatching_info th {
	height: 30px;
	line-height: 30px;
	background: #fff3d5;
	border-left: 1px solid #fee7ac;
	border-bottom: 1px solid #fee7ac;
	color: #5e5e5e;
	text-align: center;
}

.dispatching_info th.wid02 {
	border-left: none;
}

.in_describe p span {
	color: #45a6de;
}


/*service*/

.in_describe p.al_center {
	text-align: center;
}

.in_describe p span.warn {
	display: block;
	font-size: 18px;
}

.in_describe p b {
	display: block;
	font-size: 18px;
	color: #333;
}


/*secret*/

.in_describe h5 {
	font-size: 14px;
	font-weight: bold;
	line-height: 40px;
	text-indent: 2em;
}


/*course*/

.help_center .course > img {
	display: block;
	margin: 0 auto;
}

.help_center .step_caption {
	margin: 20px auto 0;
	padding: 20px 0;
	width: 95%;
	text-align: center;
	border-top: 1px solid #e7e7e7;
}

.help_center .step_caption:first-child {
	border: 0;
	margin: 0 auto;
}

.help_center .step_caption h5 {
	display: inline-block;
}

.help_center .step_caption div {
	display: inline-block;
	vertical-align: middle;
	width: 70px;
	height: 66px;
	background: url("../img/use_guide/guide_step_icons.png") no-repeat;
}

.help_center .photo_pro .step_caption .choose_tpl {
	background-position: 0 0;
}

.help_center .photo_pro .step_caption .upload_img {
	background-position: -70px 0;
}

.help_center .photo_pro .step_caption .edit_online {
	background-position: -140px 0;
}

.help_center .photo_pro .step_caption .print {
	background-position: -210px 0;
}

.help_center .interact_pro .step_caption .choose_tpl {
	background-position: 0 -66px;
}

.help_center .interact_pro .step_caption .upload_img {
	background-position: -70px -66px;
}

.help_center .interact_pro .step_caption .edit_online {
	background-position: -140px -66px;
}

.help_center .interact_pro .step_caption .print {
	background-position: -210px -66px;
}

.help_center .detail_steps {
	margin: 0 auto;
	width: 95%;
}

.help_center .detail_steps .step h5 {
	margin: 0 0 10px;
	text-align: center;
	color: #666;
}

.help_center .detail_steps .step .figure {
	margin: 10px 0;
	width: 100%;
	border: 1px solid #ebebeb;
}

.help_center .detail_steps .step .next {
	display: block;
	margin: 5px auto 20px;
	width: 26px;
	height: 36px;
	background: url("../img/use_guide/down_arrow.png") no-repeat center;
}


/*online_introduction*/

.content .introduction {
	text-align: center;
	border-bottom: 1px solid #eee;
}

.content .introduction:last-child {
	border-bottom: none;
}

.content .introduction h2 {
	font-size: 24px;
	color: #45A6DE;
	margin: 20px 0;
}

.content .introduction p {
	font-size: 14px;
	line-height: 1.8em;
	text-indent: 2em;
	text-align: justify;
	margin: 15px auto;
	width: 520px;
}


/*static_hc_company_profile.html*/

.contact_information {
	padding-left: 20px;
	border-top: 1px solid #eee;
}

.contact_information > h4 {
	width: 100%;
	line-height: 40px;
	font-weight: bold;
}

.contact_information p {
	font-size: 14px;
	line-height: 30px;
	text-indent: 2em;
}

/*～～～～～～～～～～static_list.html～～～～～～～～～～*/
.static_list_container{
	width: 100%;
	background-color: #f0f0f0;
}
.static_list_wrapper{
	margin: 0 auto 0;
	padding: 20px 0;
	width: 735px;
}
.static_crumbs_wrapper{
	width: 100%;
	height: 35px;
	line-height: 35px;
	font-size: 12px;
	color: #333;
}
.static_crumbs_wrapper li{
	float: left;
	margin: 0 10px 0 0;
}
.static_mainlist_wrapper{
	border: 1px solid #e2e3e3;
	background-color: #ffffff;
}
.static_listtitle_wrapper{
	padding: 8px 15px;
	background: -webkit-linear-gradient(#fff,#fafafa,#f5f5f5,#f0f0f0);
	background: -moz-linear-gradient(#fff,#fafafa,#f5f5f5,#f0f0f0);
	background: -ie-linear-gradient(#fff,#fafafa,#f5f5f5,#f0f0f0);
	border-bottom: 1px solid #e2e3e3;
}
.static_listcontent_wrapper li{
	height: 35px;
	overflow: hidden;
	font-size: 12px;
	color: #333;
	border-bottom: 1px dashed #e0e0e0;
	font-family: 'sonti'
}
.static_listcontent_wrapper li a{
	float: left;
	padding: 0 10px;
	color: #333;
	line-height: 35px;
}
.static_listcontent_wrapper li a:hover{
	text-decoration: underline;
}
.static_listcontent_wrapper li label{
	float: right;
	padding: 0 10px;
	line-height: 35px;
}
.static_pagination_wrapper{
	margin: 20px auto;
	width: 370px;
	overflow: hidden;
}
.static_pagination_wrapper ul{
	float: left;
	overflow: hidden;
}
.static_pagination_wrapper li{
	float: left;
	margin: 0 5px;
}
.static_pagination_wrapper li a, .static_turnpage_btn{
	display: block;
	padding: 0 6px;
	min-width: 15px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #ffa349;
	background-color: #fff;
	color: #ffa349;
}
.static_pagination_wrapper li .active, .static_pagination_wrapper a:hover{
	background-color: #ffa349;
	color: #fff;
}
.static_turnpage_btn{
	float: left;
}
.static_pagination_wrapper .ellipsis{
	margin: 0 5px;
}

/*ybshop share profit ratio*/
.share_profit_ratio{
    margin: 0 auto 10px;
    width: 530px;
    height: 300px;
    font-size: 14px;
    background-color: #fafafa;
    text-align: center;
    border: 1px solid #fee7ac;
    border-collapse: separate;
}

.share_profit_ratio thead th {
    height: 55px;
    background-color: #fff3d5;
    border-bottom: 1px solid #fee7ac;
    border-left: 1px solid #fee7ac;
    color: #5e5e5e;
}

.share_profit_ratio thead th:first-child{
    border-left: 0;
}

.share_profit_ratio th div {
    display: block;
    width: 100%;
    height: 50%;
    line-height: 26px;
}

.share_profit_ratio .salesvolume label {
    display: block;
    width: 90%;
    text-align: right;
}

.share_profit_ratio .salesvolume:after {
    content: '';
    display: block;
    height: 1px;
    background: #fee7ac;
    transform: rotate(16deg);
    -webkit-transform: rotate(16deg);
    -moz-transform: rotate(16deg);
}

.share_profit_ratio .reservationmode label {
    float: right;
    width: 90%;
    text-align: left;
}

.share_profit_ratio tr td {
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    color: #5e5e5e;
}

.share_profit_ratio tr td:first-child {
    width: 180px;
    color: #333;
    font-size: 16px;
}
