@charset 'utf-8';
.tplshowcase_wrapper
{
    position: relative;

    overflow: hidden;

    width: 100%;
    margin: 0;
    padding: 0;

    background-color: #f4f4f4;
}

.tplshowcase_con
{
    width: 1280px;
    margin: 0 auto;
}

.tplshowcase_con .tpl_tab
{
    position: relative;

    overflow-x: hidden;
    overflow-y: visible;

    width: 100%;
    margin: 20px 0;
    padding-bottom: 5px;
}

.tplshowcase_con .tpl_tab .classify
{
    font-size: 18px;
    line-height: 60px;

    position: relative;
    z-index: 1;

    box-sizing: border-box;
    width: 100%;
    height: 60px;
    margin: 0;
    padding: 0 20px;

    color: #333;
    border-width: 1px;
    border-style: solid;
    border-color: #ddddda #ddddda #ededed #ddddda;
    background-color: #fff;
}


.tpl_tab .classify ul
{
    display: inline-block;

    height: 100%;

    vertical-align: top;
}

.tpl_tab .classify li
{
    float: left;

    width: 80px;

    text-align: center;
}

.tpl_tab .classify li a
{
    font-size: 15px;

    padding: 3px 10px;

    color: #333;
    border-radius: 4px;
}

.tpl_tab .classify li.on a,
.tpl_tab .classify li a:hover
{
    color: #fff;
    background-color: #b2d265;
}

.tpl_tab .selected_tpl
{
    position: relative;

    box-sizing: border-box;
    width: 100%;
    height: 60px;
    padding: 0 20px;

    border-right: 1px solid #ddddda;
    border-left: 1px solid #ddddda;
    background-color: #fafafa;
    box-shadow: 0 0 5px #aaa;
}

.tpl_tab .selected_tpl > span
{
    font-size: 18px;
    line-height: 60px;

    display: inline-block;

    width: 126px;

    text-align: right;
    vertical-align: top;

    color: #333;
}

.selected_tpl .tpl_label
{
    display: inline-block;
}

.selected_tpl .tpl_label .option
{
    font-size: 14px;
    line-height: 30px;

    position: relative;

    float: left;

    box-sizing: border-box;
    width: auto;
    height: 30px;
    margin: 15px 10px;
    padding: 0 5px;

    cursor: default;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    color: #9ac600;
    border: 1px solid #9ac600;
    border-radius: 2px;
}

.selected_tpl .tpl_label .option a
{
    font-size: 12px;
    line-height: 13px;

    position: absolute;
    top: -5px;
    right: -5px;

    width: 13px;
    height: 13px;

    text-align: center;

    color: #fff;
    border-radius: 100%;
    background-color: #9ac600;
}

.tplshowcase_list_wrapper
{
    width: 100%;
    margin: 0 auto;
}

.tplshowcase_list_wrapper:after
{
    display: block;
    clear: both;

    content: '';
}

.tplshowcase_list_item
{
    float: left;

    width: 300px;
    margin: 0 5px 20px 5px;

    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    background: #fdfdfd;
    box-shadow: 0 3px 6px -2px rgba(0,0,0,.3);
}
.tplshowcase_list_item .tpl_info
{
    line-height: 58px;

    height: 58px;

    border-bottom: 1px solid #ededef;
}

.tplshowcase_list_item .tpl_info .type
{
    font-size: 14px;
    line-height: 28px;

    float: left;

    width: 28px;
    height: 28px;
    margin: 14px 10px 14px 14px;

    text-align: center;

    color: #fff;
    border-radius: 100%;
    background-color: #b2d265;
}

.tplshowcase_list_item .tpl_info .num
{
    font-size: 14px;

    float: left;
    overflow: hidden;

    width: 125px;

    text-align: left;
    white-space: nowrap;
       text-overflow: ellipsis;
    word-break: keep-all;

    color: #333;

    -o-text-overflow: ellipsis;
}

.tplshowcase_list_item .tpl_info .chose
{
    font-size: 14px;
    line-height: 26px;

    float: right;

    width: 52px;
    height: 26px;
    margin: 16px 16px 16px 0;

    text-align: center;
    letter-spacing: 3px;

    color: #8aaf07;
    border: 1px solid #8aaf07;
    border-radius: 3px;
    background: none;
}


.tplshowcase_list_item .img
{
    position: relative;

    display: block;
    overflow: hidden;

    width: 100%;
}

.tplshowcase_list_item .img:after
{
    display: block;
    clear: both;
    overflow: hidden;

    content: '';
}

.tplshowcase_list_item.doubleimg .img img
{
    float: left;

    width: 50%;
}

.tplshowcase_list_item.singleimg .img img
{
    float: left;

    width: 100%;
}

.tplshowcase_list_item .img span
{
    position: absolute;
    top: 0;

    display: block;

    width: 100%;
    height: 100%;
}

.tplshowcase_list_item .img span:hover
{
    background-color: rgba(255, 255, 255, .2);
}

.tplshowcase_list_item .actbar
{
    line-height: 54px;

    height: 54px;

    border-top: 1px solid #ededef;
}

.tplshowcase_list_item .actbar a
{
    float: left;
    overflow: hidden;

    margin: 0 10px;

    color: #aaadbc;
}

.tplshowcase_list_item .actbar .share
{
    float: right;
}

.tplshowcase_list_item .actbar a i
{
    font-size: 20px;

    margin: 0 5px;
}

.t.tplshowcase_list_item .actbar a span
{
    display: inline-block;

    width: 3em;
}
